Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

fix git name for some files
  website/src/components/features.tsx
  website/src/components/header.tsx
  website/src/components/users.tsx
Labels: none

fix lint
  website/.remarkrc.mjs
Labels: none

minor improvements for texts
  website/src/components/features.tsx
  website/src/components/lingui-workflow.tsx
Labels: none

cleanup
  eslint.config.js
  website/docusaurus.config.ts
Labels: none

minor style improvements
  eslint.config.js
  website/src/components/header.tsx
  website/src/css/custom.scss
Labels: none

minor fixes
  website/src/components/lingui-workflow.tsx
  website/src/components/ui/button.tsx
Labels: none

fix(loader): update peer dependencies for @rsbuild/core and @rspack/core
  packages/loader/package.json
  yarn.lock
Labels: :package: loader

feat(vite-plugin): Vite 8 compatibility + linguiTransformerBabelPreset (#2487)
  packages/core/macro/browser.mjs
  packages/core/macro/index.mjs
  packages/react/macro/browser.mjs
  packages/react/macro/index.mjs
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/linguiTransformerPreset.ts
  packages/vite-plugin/src/optionalTypes.d.ts
  packages/vite-plugin/test/lingui-transformer-preset.test.ts
  packages/vite-plugin/test/run-vite.ts
  packages/vite-plugin/test/transformer-babel-preset/custom-macro-id.lingui.config.js
  packages/vite-plugin/test/transformer-babel-preset/entrypoint.js
  packages/vite-plugin/test/transformer-babel-preset/lingui.config.js
  packages/vite-plugin/test/vite-plugin.test.ts
  packages/vite-plugin/tsconfig.json
  yarn.lock
Labels: :package: core, :package: react

docs: use Tailwind CSS for the main page, layout and styles improvements (#2488)
  eslint.config.js
  website/.remarkrc.mjs
  website/docusaurus.config.ts
  website/package.json
  website/postcss.config.cjs
  website/src/components/Button.tsx
  website/src/components/Code.tsx
  website/src/components/Features.module.scss
  website/src/components/Features.tsx
  website/src/components/Header.module.scss
  website/src/components/Header.tsx
  website/src/components/PartnerBanner.module.scss
  website/src/components/PartnerBanner.tsx
  website/src/components/Users.module.scss
  website/src/components/Workflow.tsx
  website/src/components/call-to-action.tsx
  website/src/components/code.tsx
  website/src/components/features.tsx
  website/src/components/header.tsx
  website/src/components/lingui-workflow.tsx
  website/src/components/partner-banner.tsx
  website/src/components/site-footer.tsx
  website/src/components/ui/button.tsx
  website/src/components/users.tsx
  website/src/css/custom.scss
  website/src/definitions.d.ts
  website/src/pages/index.tsx
  website/src/theme/Footer/index.js
  website/tsconfig.json
  website/yarn.lock
Labels: none

chore(release): published v6.0.0-next.3
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.0.0-next.3 (#2491)
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore: improve public package descriptions and keywords
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix: support braces in catalog pathname
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

Restored overwritten tests
  packages/cli/src/api/catalog/getCatalogs.test.ts
Labels: :package: cli

fix: support braces in catalog pathname (#2495)
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

fix: support braces in catalog pathname (#2495)
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

test(cli): align brace path tests with next after cherry-pick
  packages/cli/src/api/catalog/getCatalogs.test.ts
Labels: :package: cli

fix(vite-plugin): add missing peer deps for rolldown babel
  packages/vite-plugin/package.json
  yarn.lock
Labels: none

chore(release): published v5.9.5 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.9.5 [skip ci] (#2499)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: improve public package descriptions and keywords (#2493)
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix(react): preserve non-React interpolation values in Trans
  packages/react/src/Trans.test.tsx
  packages/react/src/TransNoContext.tsx
Labels: :package: react

fix(react): clarify comment to preserve non-React values in Trans
  packages/react/src/TransNoContext.tsx
Labels: :package: react

fix(core,react): narrow interpolation values and preserve non-React Trans values
  packages/core/__typetests__/index.tst.ts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/react/__typetests__/index.tst.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/TransNoContext.tsx
Labels: :package: core, :package: react

feat: update macro typings when widening supported `Trans` values
  packages/core/macro/__typetests__/index.tst.ts
  packages/core/macro/index.d.mts
  packages/react/macro/__typetests__/index.tst.tsx
  packages/react/macro/index.d.mts
Labels: :package: core, :package: react

fix: preserve boolean values in `Trans` interpolation
  packages/react/src/Trans.test.tsx
  packages/react/src/TransNoContext.tsx
Labels: :package: react

chore: reuse types for plural, select and MessagePlaceholderValue
  packages/core/macro/index.d.mts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/react/macro/__typetests__/index.tst.tsx
  packages/react/macro/index.d.mts
  packages/react/src/TransNoContext.tsx
Labels: :package: core, :package: react

chore: add more tests
  packages/core/__typetests__/index.tst.ts
  packages/react/__typetests__/index.tst.tsx
  packages/react/src/Trans.test.tsx
Labels: :package: core, :package: react

style: update var naming for types and guards
  packages/react/src/TransNoContext.tsx
Labels: :package: react

docs: update outdated formatjs polyfill links
  website/docs/tutorials/react-native.md
Labels: none

docs: update outdated formatjs polyfill links (#2504)
  website/docs/tutorials/react-native.md
Labels: none

docs: update outdated formatjs polyfill links (#2504)
  website/docs/tutorials/react-native.md
Labels: none

fix: remove MessageValue type alias from i18n
  packages/core/src/i18n.ts
  packages/core/src/index.ts
Labels: :package: core

fix: update Trans interpolation to omit boolean values and adjust type checks
  packages/react/src/Trans.test.tsx
  packages/react/src/TransNoContext.tsx
Labels: :package: react

fix: collapsed similar cases in tests
  packages/core/__typetests__/index.tst.ts
  packages/core/macro/__typetests__/index.tst.ts
  packages/react/__typetests__/index.tst.tsx
  packages/react/macro/__typetests__/index.tst.tsx
  packages/react/src/Trans.test.tsx
Labels: :package: core, :package: react

fix: update MessagePlaceholder types for consistency in macro definitions
  packages/core/macro/index.d.mts
  packages/react/macro/index.d.mts
Labels: :package: core, :package: react

fix: update TransProps components type to use TransComponents for consistency
  packages/react/src/TransNoContext.tsx
Labels: :package: react

fix: make logic more straightforward
  packages/react/src/TransNoContext.tsx
Labels: :package: react

fix: update TransComponents type to use React.ReactElement for better type safety
  packages/react/src/TransNoContext.tsx
Labels: :package: react

style: delete unused import
  packages/react/src/TransNoContext.tsx
Labels: :package: react
