Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

fix(macro types): mark `other` as required for ChoiceOptions
  packages/macro/index.d.ts
Labels: :package: macro

Add type tests
  packages/macro/__typetests__/index.test-d.tsx
Labels: :package: macro

fix(macro types): mark `other` as required for ChoiceOptions (#1527)
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/index.d.ts
Labels: :package: macro

feat(vite): support different extensions for catalogs. Improve coverage
  packages/vite-plugin/README.md
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/.linguirc
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/default-vite.config.ts
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/json-format/.linguirc
  packages/vite-plugin/test/json-format/entrypoint.js
  packages/vite-plugin/test/json-format/locale/en.json
  packages/vite-plugin/test/json-format/vite.config.ts
  packages/vite-plugin/test/locale/en/messages.po
  packages/vite-plugin/test/po-format/.linguirc
  packages/vite-plugin/test/po-format/entrypoint.js
  packages/vite-plugin/test/po-format/locale/en.po
  packages/vite-plugin/test/po-format/vite.config.ts
  website/docs/ref/vite-plugin.md
  yarn.lock
Labels: none

feat(vite): build packages before test
  .github/workflows/main-suite.yml
Labels: none

refactor(snowpack)!: delete snowpack plugin
  jest.config.js
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/README.md
  packages/snowpack-plugin/index.js
  packages/snowpack-plugin/package.json
  packages/snowpack-plugin/src/index.ts
  packages/snowpack-plugin/test/.linguirc
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
  packages/snowpack-plugin/test/index.ts
  packages/snowpack-plugin/test/locale/cs/messages.po
  packages/snowpack-plugin/test/locale/en/messages.po
  scripts/build/bundles.ts
  website/docs/ref/snowpack-plugin.md
  website/sidebars.ts
  yarn.lock
Labels: none

Apply suggestions from code review
  website/docs/ref/loader.md
Labels: none

refactor(snowpack)!: delete snowpack plugin (#1532)
  jest.config.js
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/README.md
  packages/snowpack-plugin/index.js
  packages/snowpack-plugin/package.json
  packages/snowpack-plugin/src/index.ts
  packages/snowpack-plugin/test/.linguirc
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
  packages/snowpack-plugin/test/index.ts
  packages/snowpack-plugin/test/locale/cs/messages.po
  packages/snowpack-plugin/test/locale/en/messages.po
  scripts/build/bundles.ts
  website/docs/ref/snowpack-plugin.md
  website/sidebars.ts
  yarn.lock
Labels: none

Apply suggestions from code review
  packages/vite-plugin/README.md
  website/docs/ref/vite-plugin.md
Labels: none

fix(webpack-loader): support json catalogs. Improve coverage (#1525)
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/utils.ts
  packages/loader/package.json
  packages/loader/src/webpackLoader.ts
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/compiler.ts
  packages/loader/test/json-format/.linguirc
  packages/loader/test/json-format/entrypoint.js
  packages/loader/test/json-format/locale/en.json
  packages/loader/test/loader.test.ts
  packages/loader/test/locale/es/messages.po
  packages/loader/test/po-format/.linguirc
  packages/loader/test/po-format/entrypoint.js
  packages/loader/test/po-format/locale/en.po
  website/docs/ref/loader.md
  yarn.lock
Labels: :package: cli, :package: loader

feat(vite-plugin): support different extensions for catalogs. Improve coverage (#1526)
  .github/workflows/main-suite.yml
  packages/vite-plugin/README.md
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/.linguirc
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/default-vite.config.ts
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/json-format/.linguirc
  packages/vite-plugin/test/json-format/entrypoint.js
  packages/vite-plugin/test/json-format/locale/en.json
  packages/vite-plugin/test/json-format/vite.config.ts
  packages/vite-plugin/test/locale/en/messages.po
  packages/vite-plugin/test/po-format/.linguirc
  packages/vite-plugin/test/po-format/entrypoint.js
  packages/vite-plugin/test/po-format/locale/en.po
  packages/vite-plugin/test/po-format/vite.config.ts
  website/docs/ref/vite-plugin.md
  yarn.lock
Labels: none

chore(release): published v4.0.0-next.2
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

refactor(cli): make getFormats asynchronous, prepare for ESM
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/__snapshots__/getCatalogs.test.ts.snap
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
  packages/loader/src/webpackLoader.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/tsconfig.json
Labels: :package: cli, :package: loader

docs: update v4 announcement link
  website/docusaurus.config.js
Labels: none

docs: update v4 announcement link (#1534)
  website/docusaurus.config.js
Labels: none

refactor(cli): make getFormats asynchronous, prepare for ESM (#1533)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/__snapshots__/getCatalogs.test.ts.snap
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
  packages/loader/src/webpackLoader.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/tsconfig.json
Labels: :package: cli, :package: loader

docs: update I18nProvider docs and v4 changes
  website/docs/ref/react.md
  website/docs/releases/migration-4.md
Labels: none

refactor: remove react.Fragment
  packages/react/src/I18nProvider.test.tsx
Labels: :package: react

docs: fix lint
  website/docs/releases/migration-4.md
Labels: none

docs: fix headings
  website/docs/ref/react.md
Labels: none

docs: change useLingui link
  website/docs/releases/migration-4.md
Labels: none

fix: do not remount children of I18nProvider (#1501)
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  packages/react/src/index.ts
  website/docs/ref/react.md
  website/docs/releases/migration-4.md
  website/sidebars.ts
Labels: :package: react

docs(formats): add docs for extracted formatters
  packages/conf/src/types.ts
  packages/format-csv/README.md
  packages/format-json/README.md
  packages/format-json/src/json.ts
  packages/format-po-gettext/README.md
  packages/format-po/README.md
  packages/format-po/src/po.ts
  website/docs/guides/custom-formatter.md
  website/docs/ref/conf.md
  website/sidebars.ts
Labels: :package: conf

Apply suggestions from code review
  packages/format-csv/README.md
  packages/format-csv/package.json
  packages/format-json/README.md
  packages/format-json/src/json.ts
  packages/format-po-gettext/README.md
  website/docs/ref/conf.md
Labels: none

doc(format-po-gettext): add warnings to readme
  packages/format-po-gettext/README.md
  packages/format-po-gettext/package.json
Labels: none

refactor(formatter-po): ability to disable lingui-id, make it false by default
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-template-po-format/expected/messages.pot
  packages/cli/test/extractor-experimental-clean/expected/about.page.en.po
  packages/cli/test/extractor-experimental-clean/expected/about.page.pl.po
  packages/cli/test/extractor-experimental-clean/expected/index.page.en.po
  packages/cli/test/extractor-experimental-clean/expected/index.page.pl.po
  packages/cli/test/extractor-experimental-template/expected/about.page.messages.pot
  packages/cli/test/extractor-experimental-template/expected/index.page.messages.pot
  packages/cli/test/extractor-experimental/expected/about.page.en.po
  packages/cli/test/extractor-experimental/expected/about.page.pl.po
  packages/cli/test/extractor-experimental/expected/index.page.en.po
  packages/cli/test/extractor-experimental/expected/index.page.pl.po
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po/README.md
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

refactor(formatter-po): ability to disable lingui-id, make it false by default (#1540)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-template-po-format/expected/messages.pot
  packages/cli/test/extractor-experimental-clean/expected/about.page.en.po
  packages/cli/test/extractor-experimental-clean/expected/about.page.pl.po
  packages/cli/test/extractor-experimental-clean/expected/index.page.en.po
  packages/cli/test/extractor-experimental-clean/expected/index.page.pl.po
  packages/cli/test/extractor-experimental-template/expected/about.page.messages.pot
  packages/cli/test/extractor-experimental-template/expected/index.page.messages.pot
  packages/cli/test/extractor-experimental/expected/about.page.en.po
  packages/cli/test/extractor-experimental/expected/about.page.pl.po
  packages/cli/test/extractor-experimental/expected/index.page.en.po
  packages/cli/test/extractor-experimental/expected/index.page.pl.po
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po/README.md
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

feat(core): add i18n.setCatalogAndActivate for easier nextjs integration
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core

feat(core): add i18n.setCatalogAndActivate for easier nextjs integration (#1541)
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core

ref(cli): extend formatters api with source lang
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/formats/formatterWrapper.test.ts
  packages/cli/src/api/formats/formatterWrapper.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/tests.ts
  packages/conf/src/types.ts
  packages/format-json/src/json.test.ts
  website/docs/guides/custom-formatter.md
Labels: :package: cli, :package: conf

ref(cli): extend formatters api with source lang (#1542)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/formats/formatterWrapper.test.ts
  packages/cli/src/api/formats/formatterWrapper.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/tests.ts
  packages/conf/src/types.ts
  packages/format-json/src/json.test.ts
  website/docs/guides/custom-formatter.md
Labels: :package: cli, :package: conf

fix: correct json bundle packageName
  scripts/build/bundles.ts
Labels: none

fix: correct json bundle packageName (#1543)
  scripts/build/bundles.ts
Labels: none

chore(release): published v4.0.0-next.3
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: fix type mismatch between formatter and conf/CatalogFormatter
  packages/conf/src/types.ts
  packages/format-po/src/po.ts
Labels: :package: conf

add tests
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/package.json
  yarn.lock
Labels: :package: conf

fix(formatters): fix typing inconsistency and add tsd test for each package
  packages/format-csv/__typetests__/index.test-d.ts
  packages/format-csv/__typetests__/tsconfig.json
  packages/format-csv/package.json
  packages/format-json/__typetests__/index.test-d.ts
  packages/format-json/__typetests__/tsconfig.json
  packages/format-json/package.json
  packages/format-po-gettext/__typetests__/index.test-d.ts
  packages/format-po-gettext/__typetests__/tsconfig.json
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/__typetests__/index.test-d.ts
  packages/format-po/__typetests__/tsconfig.json
  packages/format-po/package.json
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  yarn.lock
Labels: none

fix(formatters): fix typing inconsistency and add tsd test for each package (#1547)
  packages/format-csv/__typetests__/index.test-d.ts
  packages/format-csv/__typetests__/tsconfig.json
  packages/format-csv/package.json
  packages/format-json/__typetests__/index.test-d.ts
  packages/format-json/__typetests__/tsconfig.json
  packages/format-json/package.json
  packages/format-po-gettext/__typetests__/index.test-d.ts
  packages/format-po-gettext/__typetests__/tsconfig.json
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/__typetests__/index.test-d.ts
  packages/format-po/__typetests__/tsconfig.json
  packages/format-po/package.json
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  yarn.lock
Labels: none

docs: improve formats documentation
  website/docs/guides/custom-formatter.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
Labels: none

docs: improve formats documentation (#1548)
  website/docs/guides/custom-formatter.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
Labels: none
