Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: bump version in examples
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  examples/js/package.json
  examples/js/yarn.lock
  examples/nextjs-babel/package.json
  examples/nextjs-babel/yarn.lock
  examples/nextjs-swc/package.json
  examples/nextjs-swc/yarn.lock
  examples/react-native/package.json
  examples/react-native/yarn.lock
  examples/vite-project-react-babel/package.json
  examples/vite-project-react-babel/yarn.lock
Labels: none

chore: bump version in examples (#1621)
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  examples/js/package.json
  examples/js/yarn.lock
  examples/nextjs-babel/package.json
  examples/nextjs-babel/yarn.lock
  examples/nextjs-swc/package.json
  examples/nextjs-swc/yarn.lock
  examples/react-native/package.json
  examples/react-native/yarn.lock
  examples/vite-project-react-babel/package.json
  examples/vite-project-react-babel/yarn.lock
Labels: none

docs: add Examples page
  website/docs/misc/examples.md
  website/docusaurus.config.js
Labels: none

docs: add Examples page (#1670)
  website/docs/misc/examples.md
  website/docusaurus.config.js
Labels: none

fix(webpack + vite): fix dependency watching in loader
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.ts
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/compiler.ts
  packages/loader/test/loader.test.ts
  packages/loader/test/po-format/entrypoint.js
  packages/loader/test/po-format/locale/messages.pot
Labels: :package: cli, :package: loader

fix(webpack + vite): fix dependency watching in loader
  packages/loader/test/loader.test.ts
Labels: :package: loader

Update packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
Labels: :package: cli

fix(webpack + vite): fix dependency watching in loader (#1671)
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.ts
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/compiler.ts
  packages/loader/test/loader.test.ts
  packages/loader/test/po-format/entrypoint.js
  packages/loader/test/po-format/locale/messages.pot
Labels: :package: cli, :package: loader

feat(po-format): add `explicitIdAsDefault` for po-format for easier migration
  packages/format-po/README.md
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  website/docs/releases/migration-4.md
Labels: none

docs: add lazy translations migrations notes
  website/docs/releases/migration-4.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
Labels: none

examples: migrate examples to v4
  examples/create-react-app/src/App.tsx
  examples/nextjs-swc/README.md
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/components/Developers.tsx
  examples/nextjs-swc/src/locales/en.po
  examples/nextjs-swc/src/locales/es.po
  examples/nextjs-swc/src/locales/pseudo.po
  examples/nextjs-swc/src/locales/sr.po
  examples/nextjs-swc/src/pages/index.tsx
  examples/nextjs-swc/yarn.lock
Labels: none

feat(po-format): add `explicitIdAsDefault` for po-format for easier migration (#1672)
  packages/format-po/README.md
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  website/docs/releases/migration-4.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
Labels: none

examples: migrate examples to v4 (#1674)
  examples/create-react-app/src/App.tsx
  examples/nextjs-swc/README.md
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/components/Developers.tsx
  examples/nextjs-swc/src/locales/en.po
  examples/nextjs-swc/src/locales/es.po
  examples/nextjs-swc/src/locales/pseudo.po
  examples/nextjs-swc/src/locales/sr.po
  examples/nextjs-swc/src/pages/index.tsx
  examples/nextjs-swc/yarn.lock
Labels: none

feat(xliff): initial implementation of xliff format
  jest.config.js
  packages/format-xliff/README.md
  packages/format-xliff/package.json
  packages/format-xliff/src/__snapshots__/xliff.test.ts.snap
  packages/format-xliff/src/xliff.test.ts
  packages/format-xliff/src/xliff.ts
  yarn.lock
Labels: none

chore(release): published v4.2.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(extractor): support jsx in js files
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/fixtures/collect-typescript-jsx/jsx-in-js.js
Labels: :package: cli

fix(extractor): support jsx in js files (#1678)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/fixtures/collect-typescript-jsx/jsx-in-js.js
Labels: :package: cli

test(verdacio-integration): fix 3
  .github/workflows/release-test.yml
Labels: none

test(verdacio-integration): use yarn berry command to update lingui deps (#1658)
  .github/verdaccio/config.yaml
  .github/workflows/release-test.yml
  scripts/verdaccio-integration.ts
Labels: none

docs(format-po): fix import in v4 migration
  website/docs/releases/migration-4.md
Labels: none

docs(format-po): fix import in v4 migration (#1680)
  website/docs/releases/migration-4.md
Labels: none

docs(examples): add Vite + SWC example
  examples/vite-project-react-swc/.gitignore
  examples/vite-project-react-swc/README.md
  examples/vite-project-react-swc/index.html
  examples/vite-project-react-swc/lingui.config.ts
  examples/vite-project-react-swc/package.json
  examples/vite-project-react-swc/public/vite.svg
  examples/vite-project-react-swc/src/App.css
  examples/vite-project-react-swc/src/App.tsx
  examples/vite-project-react-swc/src/assets/lingui-logo.svg
  examples/vite-project-react-swc/src/assets/react.svg
  examples/vite-project-react-swc/src/i18n.ts
  examples/vite-project-react-swc/src/index.css
  examples/vite-project-react-swc/src/locales/en.po
  examples/vite-project-react-swc/src/locales/pl.po
  examples/vite-project-react-swc/src/main.tsx
  examples/vite-project-react-swc/src/vite-env.d.ts
  examples/vite-project-react-swc/tsconfig.json
  examples/vite-project-react-swc/tsconfig.node.json
  examples/vite-project-react-swc/vite.config.ts
  examples/vite-project-react-swc/yarn.lock
  website/docs/misc/examples.md
Labels: none

docs(examples): add Vite + SWC example (#1684)
  examples/vite-project-react-swc/.gitignore
  examples/vite-project-react-swc/README.md
  examples/vite-project-react-swc/index.html
  examples/vite-project-react-swc/lingui.config.ts
  examples/vite-project-react-swc/package.json
  examples/vite-project-react-swc/public/vite.svg
  examples/vite-project-react-swc/src/App.css
  examples/vite-project-react-swc/src/App.tsx
  examples/vite-project-react-swc/src/assets/lingui-logo.svg
  examples/vite-project-react-swc/src/assets/react.svg
  examples/vite-project-react-swc/src/i18n.ts
  examples/vite-project-react-swc/src/index.css
  examples/vite-project-react-swc/src/locales/en.po
  examples/vite-project-react-swc/src/locales/pl.po
  examples/vite-project-react-swc/src/main.tsx
  examples/vite-project-react-swc/src/vite-env.d.ts
  examples/vite-project-react-swc/tsconfig.json
  examples/vite-project-react-swc/tsconfig.node.json
  examples/vite-project-react-swc/vite.config.ts
  examples/vite-project-react-swc/yarn.lock
  website/docs/misc/examples.md
Labels: none

feat(cli): add migration command for catalogs
  packages/cli/src/lingui-migrate.ts
  packages/cli/test/index.test.ts
  packages/cli/test/migrate-catalog-v4/expected/en.po
  packages/cli/test/migrate-catalog-v4/expected/pl.po
  packages/cli/test/migrate-catalog-v4/fixtures/file-a.ts
  packages/cli/test/migrate-catalog-v4/fixtures/locales/en.po
  packages/cli/test/migrate-catalog-v4/fixtures/locales/pl.po
Labels: :package: cli

docs(swc-plugin): add compatibility note
  website/docs/ref/swc-plugin.md
Labels: none

docs(swc-plugin): add compatibility note (#1688)
  website/docs/ref/swc-plugin.md
Labels: none

fix(core): don't crash on escaped unicode symbols in messages
  package.json
  packages/core/package.json
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  yarn.lock
Labels: :package: core

chore: fix verdaccio integration test
  .github/verdaccio/.yarnrc.yml
  .github/verdaccio/config.yaml
  .github/workflows/release-test.yml
  package.json
  scripts/verdaccio-integration.ts
Labels: none

chore: fix verdaccio integration test (#1693)
  .github/verdaccio/.yarnrc.yml
  .github/verdaccio/config.yaml
  .github/workflows/release-test.yml
  package.json
  scripts/verdaccio-integration.ts
Labels: none

fix(core): don't crash on escaped unicode symbols in messages (#1692)
  package.json
  packages/core/package.json
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  yarn.lock
Labels: :package: core

chore(release): published v4.2.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: fix import in migration v4
  website/docs/releases/migration-4.md
Labels: none

docs: fix import in migration v4 (#1696)
  website/docs/releases/migration-4.md
Labels: none

chore: configure redirects
  vercel.json
Labels: none

chore: configure redirects (#1699)
  vercel.json
Labels: none

docs: memoization docs update
  examples/react-native/.eslintrc.js
  examples/react-native/package.json
  examples/react-native/yarn.lock
  website/docs/tutorials/react-patterns.md
Labels: none

docs: memoization docs update
  website/docs/tutorials/react-patterns.md
Labels: none

docs: memoization docs update
  website/docs/tutorials/react-patterns.md
Labels: none

docs: memoization docs update (#1701)
  examples/react-native/.eslintrc.js
  examples/react-native/package.json
  examples/react-native/yarn.lock
  website/docs/tutorials/react-patterns.md
Labels: none

Add Intl.Relativedate support
  packages/core/src/formats.ts
Labels: :package: core

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
