Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

refactor(cli/catalog): decouple catalog type from Po message shape
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/conf/src/types.ts
  packages/format-json/src/__snapshots__/json.test.ts.snap
  packages/format-json/src/json.test.ts
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli, :package: conf

refactor(cli/catalog): decouple catalog type from Po message shape (#1549)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/conf/src/types.ts
  packages/format-json/src/__snapshots__/json.test.ts.snap
  packages/format-json/src/json.test.ts
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli, :package: conf

docs(examples): update examples
  examples/nextjs-babel/.babelrc
Labels: none

Update lingui import statement in setup-vite.md
  website/docs/tutorials/setup-vite.md
Labels: none

Update lingui import statement in setup-vite.md (#1552)
  website/docs/tutorials/setup-vite.md
Labels: none

docs(examples): update examples
  .eslintignore
  tsconfig.json
Labels: none

docs(examples): update js example
  examples/js/package.json
  examples/js/src/locale/cs/messages.js
  examples/js/src/locale/cs/messages.po
  examples/js/src/locale/en/messages.js
  examples/js/src/locale/en/messages.po
  examples/js/yarn.lock
Labels: none

docs: ✏️ fix small typos in excluding build file docs
  website/docs/guides/excluding-build-files.md
Labels: none

docs: ✏️ fix small typos in excluding build file docs (#1554)
  website/docs/guides/excluding-build-files.md
Labels: none

chore(): update contributing guide
  .yarnrc.yml
  CONTRIBUTING.md
Labels: none

docs(vite-setup): add missing dependencies and show ts configuration
  website/docs/tutorials/setup-vite.md
Labels: none

docs(vite-setup): add missing dependencies and show ts configuration (#1556)
  website/docs/tutorials/setup-vite.md
Labels: none

feat(extractor): use message as default for id in i18n._
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

fix: fix size-limit
  package.json
Labels: none

fix: fix size-limit (#1561)
  package.json
Labels: none

fix(conf): support cjs extension for config and process ESM in js file by Jiti
  packages/conf/src/getConfig.ts
Labels: :package: conf

docs(): add vite-react-babel example
  examples/vite-project-react-babel/.gitignore
  examples/vite-project-react-babel/index.html
  examples/vite-project-react-babel/lingui.config.ts
  examples/vite-project-react-babel/package.json
  examples/vite-project-react-babel/public/vite.svg
  examples/vite-project-react-babel/src/App.css
  examples/vite-project-react-babel/src/App.tsx
  examples/vite-project-react-babel/src/assets/lingui-logo.svg
  examples/vite-project-react-babel/src/assets/react.svg
  examples/vite-project-react-babel/src/i18n.ts
  examples/vite-project-react-babel/src/index.css
  examples/vite-project-react-babel/src/locales/en.po
  examples/vite-project-react-babel/src/locales/pl.po
  examples/vite-project-react-babel/src/main.tsx
  examples/vite-project-react-babel/src/vite-env.d.ts
  examples/vite-project-react-babel/tsconfig.json
  examples/vite-project-react-babel/tsconfig.node.json
  examples/vite-project-react-babel/vite.config.ts
  examples/vite-project-react-babel/yarn.lock
Labels: none

docs(): add vite-react-babel example (#1558)
  examples/vite-project-react-babel/.gitignore
  examples/vite-project-react-babel/index.html
  examples/vite-project-react-babel/lingui.config.ts
  examples/vite-project-react-babel/package.json
  examples/vite-project-react-babel/public/vite.svg
  examples/vite-project-react-babel/src/App.css
  examples/vite-project-react-babel/src/App.tsx
  examples/vite-project-react-babel/src/assets/lingui-logo.svg
  examples/vite-project-react-babel/src/assets/react.svg
  examples/vite-project-react-babel/src/i18n.ts
  examples/vite-project-react-babel/src/index.css
  examples/vite-project-react-babel/src/locales/en.po
  examples/vite-project-react-babel/src/locales/pl.po
  examples/vite-project-react-babel/src/main.tsx
  examples/vite-project-react-babel/src/vite-env.d.ts
  examples/vite-project-react-babel/tsconfig.json
  examples/vite-project-react-babel/tsconfig.node.json
  examples/vite-project-react-babel/vite.config.ts
  examples/vite-project-react-babel/yarn.lock
  packages/conf/src/getConfig.ts
Labels: :package: conf

docs(): fix react pattern docs
  website/docs/tutorials/react-patterns.md
Labels: none

docs(): fix react pattern docs (#1562)
  website/docs/tutorials/react-patterns.md
Labels: none

docs: add a pre-release note to the Readme
  README.md
Labels: none

docs: add a pre-release note to the Readme (#1563)
  README.md
Labels: none

chore(release): published v4.0.0-next.4
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: improve deprecation messages
  packages/core/src/i18n.ts
Labels: :package: core

fix(trans): align render callback and 'component' prop
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

refactor: use jest.spyOn
  packages/react/src/Trans.test.tsx
Labels: :package: react

refactor: use arrow functions
  packages/react/src/Trans.test.tsx
Labels: :package: react

chore: better types
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

refactor: use mockConsole
  packages/react/package.json
  packages/react/src/Trans.test.tsx
  yarn.lock
Labels: :package: react

refactor(build): build `@lingui/cli` with SWC
  packages/cli/index.js
  packages/cli/package.json
  packages/cli/src/.swcrc
  packages/cli/src/api/pseudoLocalize.ts
  scripts/build/bundles.ts
  yarn.lock
Labels: :package: cli

refactor(build): remove legacy build system
  .github/workflows/release-test.yml
  .gitignore
  CONTRIBUTING.md
  babel.config.js
  package.json
  packages/react/package.json
  scripts/build/babel.config.js
  scripts/build/babel.ts
  scripts/build/bundles.ts
  scripts/build/custom.ts
  scripts/build/index.ts
  scripts/build/noop.ts
  scripts/build/packaging.ts
  scripts/build/rollup.ts
  scripts/build/utils.ts
  scripts/migrate/2-packages-scope.js
  scripts/test.ts
  scripts/verdaccio-integration.ts
  scripts/verdaccio-release.ts
  tsconfig.json
  yarn.lock
Labels: :package: react

refactor(build): create internal `message-utils` to resolve circular-deps
  jest.config.js
  packages/cli/package.json
  packages/cli/src/api/compile.ts
  packages/cli/src/api/index.ts
  packages/core/build.config.ts
  packages/core/compile.js
  packages/core/package.json
  packages/core/src/compile.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/package.json
  packages/format-po/src/po.ts
  packages/macro/package.json
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
  packages/message-utils/README.md
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.ts
  packages/message-utils/src/generateMessageId.test.ts
  packages/message-utils/src/generateMessageId.ts
  packages/message-utils/src/index.ts
  packages/remote-loader/package.json
  packages/remote-loader/src/browserCompiler.ts
  test/node-api/index.js
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: core, :package: macro

fix(trans): align render callback and 'component' prop (#1539)
  packages/core/src/i18n.ts
  packages/react/package.json
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  yarn.lock
Labels: :package: core, :package: react

docs: update custom extractor docs
  website/docs/guides/custom-extractor.md
Labels: none

docs: update custom extractor docs (#1568)
  website/docs/guides/custom-extractor.md
Labels: none

refactor(build): fix @lingui/message-utils package
  packages/cli/src/api/compile.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.test.ts
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/package.json
  packages/format-po/src/po.ts
  packages/loader/package.json
  packages/macro/package.json
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
  packages/message-utils/package.json
  packages/message-utils/src/index.ts
  packages/remote-loader/src/browserCompiler.ts
  packages/vite-plugin/package.json
  tsconfig.json
Labels: :package: cli, :package: core, :package: loader, :package: macro

fix(core): improve MessageDescriptor typings. id is always present
  packages/core/src/i18n.ts
  packages/macro/global.d.ts
Labels: :package: core, :package: macro

fix(core): improve MessageDescriptor typings. id is always present (#1570)
  packages/core/src/i18n.ts
  packages/macro/global.d.ts
Labels: :package: core, :package: macro

refactor(build): fix @lingui/message-utils package (#1569)
  packages/cli/src/api/compile.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.test.ts
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/package.json
  packages/format-po/src/po.ts
  packages/loader/package.json
  packages/macro/package.json
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
  packages/message-utils/package.json
  packages/message-utils/src/index.ts
  packages/remote-loader/src/browserCompiler.ts
  packages/vite-plugin/package.json
  tsconfig.json
Labels: :package: cli, :package: core, :package: loader, :package: macro

fix(po-formatter): save explicit id flag in comments instead of flags
  examples/js/src/locale/cs/messages.po
  examples/js/src/locale/en/messages.po
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/fixtures/messages.po
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-template-po-format/expected/messages.pot
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/fixtures/messages_plural-4-letter.po
  packages/format-po-gettext/src/fixtures/messages_plural.po
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/fixtures/messages.po
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
