Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

migrate message-utils package
  packages/message-utils/build.config.ts
  packages/message-utils/compileMessage.js
  packages/message-utils/generateMessageId.js
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/generateMessageId.test.ts
  packages/message-utils/tsconfig.json
  packages/message-utils/vitest.config.ts
Labels: none

esm only for vite plugin
  packages/conf/src/getConfig.ts
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/__snapshots__/vite-plugin.test.ts.snap
  packages/vite-plugin/test/default-vite.config.ts
  packages/vite-plugin/test/vite-plugin.test.ts
  packages/vite-plugin/tsconfig.json
  packages/vite-plugin/vitest.config.ts
  yarn.lock
Labels: :package: conf

remove tsconfig path aliases
  tsconfig.json
Labels: none

migrate metro transformer
  packages/metro-transformer/package.json
  packages/metro-transformer/test/metroTransformer.test.ts
  packages/metro-transformer/vitest.config.ts
Labels: none

migrate format-json package
  packages/format-json/package.json
  packages/format-json/src/__snapshots__/json.test.ts.snap
  packages/format-json/src/json.test.ts
  packages/format-json/tsconfig.json
  packages/format-json/vitest.config.ts
  yarn.lock
Labels: none

migrate extractor-vue
  packages/extractor-vue/package.json
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/tsconfig.json
  packages/extractor-vue/vitest.config.ts
Labels: none

remove stub functionality
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
Labels: :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

migrate loader
  packages/loader/package.json
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/compiler.ts
  packages/loader/test/loader.cjs
  packages/loader/test/loader.test.ts
  packages/loader/tsconfig.json
  packages/loader/vitest.config.ts
Labels: :package: loader

migrate detect locale
  packages/detect-locale/package.json
  packages/detect-locale/src/detectors/__snapshots__/fromUrl.test.ts.snap
  packages/detect-locale/src/index.test.ts
  packages/detect-locale/src/utils/query-string.test.ts
  packages/detect-locale/vitest.config.ts
  yarn.lock
Labels: none

migrate babel-plugin-extract-messages
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/test/__snapshots__/extract-messages.test.ts.snap
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-extract-messages/vitest.config.ts
Labels: :package: plugin-extract

fixes
  package.json
  packages/cli/src/api/pseudoLocalize.ts
  packages/macro/tsconfig.json
  vitest.config.ts
  yarn.lock
Labels: :package: cli, :package: macro

migrate jest-mocks
  packages/jest-mocks/index.ts
  packages/jest-mocks/tsconfig.json
  packages/jest-mocks/vitest.config.ts
Labels: none

mskip remote loader tests
  packages/remote-loader/test/index.ts
Labels: none

docs: remove announcementBar
  website/docusaurus.config.ts
Labels: none

docs: remove announcementBar (#2367)
  website/docusaurus.config.ts
Labels: none

fix tests
  packages/cli/src/api/catalog.test.ts
  packages/loader/test/compiler.ts
  packages/metro-transformer/package.json
  vitest.config.ts
Labels: :package: cli, :package: loader

vitest plugin test fixes
  packages/vite-plugin/test/default-vite.config.ts
  packages/vite-plugin/test/dynamic-macro-error/vite.config.ts
  packages/vite-plugin/test/fail-on-compile-errors/failOnCompileErrorFalse.vite.config.ts
  packages/vite-plugin/test/fail-on-compile-errors/vite.config.ts
  packages/vite-plugin/test/fail-on-missing-pseudo/vite.config.ts
  packages/vite-plugin/test/fail-on-missing/vite.config.ts
  packages/vite-plugin/test/json-format/vite.config.ts
  packages/vite-plugin/test/macro-usage/vite.config.ts
  packages/vite-plugin/test/no-macro-error/vite.config.ts
  packages/vite-plugin/test/po-format/vite.config.ts
  packages/vite-plugin/test/vite-plugin.test.ts
Labels: none

setup coverage
  package.json
  vitest.config.ts
  yarn.lock
Labels: none

delete jest test runner
  babel.config.js
  jest.config.js
  package.json
  packages/cli/package.json
  packages/cli/test/index.test.ts
  packages/format-po-gettext/package.json
  yarn.lock
Labels: :package: cli

fixes
  packages/babel-plugin-lingui-macro/test/jsx-select.test.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/tsconfig.json
  packages/conf/vitest.config.ts
  packages/detect-locale/src/detectors/fromHtmlTag.test.ts
  packages/detect-locale/tsconfig.json
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: :package: conf

disable windows
  .github/workflows/main-suite.yml
Labels: none

remove __dirname
  packages/cli/src/lingui.ts
Labels: :package: cli

fix CRA test
  examples/create-react-app/package.json
  examples/vite-project-react-babel/package.json
Labels: none

fix wf
  .github/workflows/main-suite.yml
Labels: none

prettier
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
Labels: :package: cli

rewrite jest-mocks to work in strict mode
  packages/jest-mocks/index.test.ts
  packages/jest-mocks/index.ts
  packages/jest-mocks/tsconfig.json
Labels: none

add check-type command, fix type issues
  .github/workflows/main-suite.yml
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-extract-messages/tsconfig.json
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/babel-plugin-lingui-macro/tsconfig.json
  packages/cli/package.json
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/extract-experimental/buildIncludeDepsFilter.test.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/extractor-experimental-clean/package.json
  packages/cli/test/extractor-experimental-template/package.json
  packages/cli/test/extractor-experimental/package.json
  packages/cli/test/index.test.ts
  packages/conf/package.json
  packages/conf/tsconfig.json
  packages/core/__typetests__/tsconfig.json
  packages/core/macro/__typetests__/index.tst.ts
  packages/core/macro/__typetests__/tsconfig.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/metro-transformer/tsconfig.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

test
  .github/workflows/main-suite.yml
Labels: none

try to fix build
  .github/workflows/main-suite.yml
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/conf/tsconfig.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/__typetests__/tsconfig.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/__typetests__/tsconfig.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/metro-transformer/tsconfig.json
  packages/react/macro/__typetests__/tsconfig.json
  packages/react/package.json
  packages/react/tsconfig.json
  packages/vite-plugin/package.json
  tsconfig.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fixes
  packages/cli/package.json
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: :package: cli

fixes
  test/typescript-nodenext-resolution/package.json
  test/typescript-nodenext-resolution/tsconfig.json
  yarn.lock
Labels: none

fix(macro): recrawl scope only if useLingui was used
  packages/babel-plugin-lingui-macro/src/index.ts
Labels: none

fix(macro): recrawl scope only if useLingui was used (#2370)
  packages/babel-plugin-lingui-macro/src/index.ts
Labels: none

chore(release): published v5.6.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.6.1 [skip ci] (#2372)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(cli): allow using PO formatter function with Translation.IO
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

Improve readability
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

Fix format extension
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

feat: add support for customizable file header directives during compilation
  packages/cli/src/api/compile.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

refactor: rename `fileHeaderDirective` to `lintDirective` for clarity and consistency
  packages/cli/src/api/compile.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/lingui-compile.ts
Labels: :package: cli
