Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(macro): throw useful error message if macro used without a plugin
  packages/macro/src/index.ts
  packages/macro/test/index.ts
Labels: :package: macro

docs(): replace defaults -> message
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/tutorials/react.md
Labels: none

chore(verdaccio): more obvious way of clean working tree before verdaccio release (#1356)
  scripts/verdaccio-release.js
Labels: none

OG metadata
  website/docusaurus.config.js
  website/src/components/Header.tsx
  website/static/img/og-image.png
Labels: none

Add Community item to the navbar
  website/docusaurus.config.js
Labels: none

feat(macro): throw useful error message if macro used without a plugin (#1355)
  packages/macro/src/index.ts
  packages/macro/test/index.ts
Labels: :package: macro

Update paths to jest configs
  CONTRIBUTING.md
  package.json
Labels: none

docs(): replace defaults -> message (#1369)
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/tutorials/react.md
Labels: none

chore(verdaccio): setup verdaccio integration test on PR + fix execution
  .github/workflows/release-test.yml
  scripts/verdaccio-release.js
Labels: none

Resolve discussions
  packages/cli/src/lingui-extract.ts
  packages/conf/README.md
  packages/core/README.md
  packages/loader/README.md
  packages/react/README.md
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: react

chore(verdaccio): setup verdaccio integration test on PR + fix execution (#1371)
  .github/workflows/release-test.yml
  scripts/verdaccio-release.js
Labels: none

test(): properly resolve path to macro in tests
  packages/babel-plugin-extract-messages/test/index.ts
  packages/macro/test/index.ts
Labels: :package: macro, :package: plugin-extract

chore: improve PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: none

docs(): various refinements (#1370)
  CONTRIBUTING.md
  README.md
  examples/next-js/pages/index.tsx
  package.json
  packages/babel-plugin-extract-messages/README.md
  packages/cli/README.md
  packages/cli/src/lingui-add-locale.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/README.md
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
  packages/core/README.md
  packages/loader/README.md
  packages/macro/README.md
  packages/react/README.md
  packages/remote-loader/src/index.ts
  packages/snowpack-plugin/README.md
  website/docs/introduction.md
  website/docs/tutorials/react.md
  website/docusaurus.config.js
  website/src/components/Header.tsx
  website/static/img/og-image.png
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(): improve contributing guide
  CONTRIBUTING.md
Labels: none

docs: add Twitter meta tags
  website/src/components/Header.tsx
Labels: none

chore: improve PR template (#1374)
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: none

docs: add Twitter meta tags (#1376)
  website/src/components/Header.tsx
Labels: none

chore(): package.json properly expose TS typings for dual packages
  .github/workflows/main-suite.yml
  lerna.json
  package.json
  packages/core/package.json
  packages/react/package.json
  test/node-api/index.js
  test/node-api/package.json
  test/typescript-nodenext-resolution/index.ts
  test/typescript-nodenext-resolution/package.json
  test/typescript-nodenext-resolution/tsconfig.json
  yarn.lock
Labels: :package: core, :package: react

docs: fix Lighthouse warnings
  website/docusaurus.config.js
  website/src/components/Features.tsx
  website/src/components/Header.tsx
  website/src/components/Users.tsx
  website/static/img/features/clean-and-readable.png
  website/static/img/features/tooling.png
  website/static/img/features/universal.png
  website/static/img/users/ansible.png
  website/static/img/users/fider.png
  website/static/img/users/linkerd.png
  website/static/img/users/uniswap.png
  website/static/img/users/zipkin.png
Labels: none

docs: fix Lighthouse warnings (#1377)
  website/docusaurus.config.js
  website/src/components/Features.tsx
  website/src/components/Header.tsx
  website/src/components/Users.tsx
  website/static/img/features/clean-and-readable.png
  website/static/img/features/tooling.png
  website/static/img/features/universal.png
  website/static/img/users/ansible.png
  website/static/img/users/fider.png
  website/static/img/users/linkerd.png
  website/static/img/users/uniswap.png
  website/static/img/users/zipkin.png
Labels: none

chore(): improve contributing guide (#1375)
  CONTRIBUTING.md
Labels: none

fix: types declaration inside package entrypoints
  packages/core/package.json
  packages/detect-locale/package.json
  packages/react/package.json
  packages/remote-loader/package.json
Labels: :package: core, :package: react

chore(): package.json properly expose TS typings for dual packages (#1366)
  .github/workflows/main-suite.yml
  lerna.json
  package.json
  packages/core/package.json
  packages/react/package.json
  test/node-api/index.js
  test/node-api/package.json
  test/typescript-nodenext-resolution/index.ts
  test/typescript-nodenext-resolution/package.json
  test/typescript-nodenext-resolution/tsconfig.json
  yarn.lock
Labels: :package: core, :package: react

test(): properly resolve path to macro in tests (#1372)
  packages/babel-plugin-extract-messages/test/index.ts
  packages/macro/test/index.ts
Labels: :package: macro, :package: plugin-extract

implement @lingui/vite-plugin
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/README.md
  packages/vite-plugin/index.js
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/.linguirc
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/locale/cs/messages.po
  packages/vite-plugin/test/locale/en/messages.po
  scripts/build/bundles.ts
  website/docs/ref/vite-plugin.md
  yarn.lock
Labels: none

chore: build node package with tsc to produce typings
  packages/cli/api.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/tsconfig.json
  scripts/build/bundles.ts
  scripts/build/custom.ts
  scripts/build/index.ts
Labels: :package: cli

feat: add plural rule into compiled catalogs
  packages/cli/api.d.ts
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/lingui-compile.ts
  packages/loader/src/webpackLoader.ts
  packages/snowpack-plugin/src/index.ts
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
Labels: :package: cli, :package: loader

docs: improve contributing guidelines
  CONTRIBUTING.md
Labels: none

docs: improve contributing guidelines (#1382)
  CONTRIBUTING.md
Labels: none

ci: fix code coverage
  .github/workflows/main-suite.yml
Labels: none

ci: fix code coverage (#1383)
  .github/workflows/main-suite.yml
Labels: none

fix pr comments
  packages/vite-plugin/README.md
  packages/vite-plugin/package.json
  scripts/build/bundles.ts
  scripts/build/custom.ts
  scripts/build/index.ts
  website/docs/ref/vite-plugin.md
  website/sidebars.ts
Labels: none

feat: implement @lingui/vite-plugin (#1306)
  packages/cli/api.ts
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/README.md
  packages/vite-plugin/index.js
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/.linguirc
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/locale/cs/messages.po
  packages/vite-plugin/test/locale/en/messages.po
  packages/vite-plugin/tsconfig.json
  scripts/build/bundles.ts
  scripts/build/custom.ts
  scripts/build/index.ts
  website/docs/ref/vite-plugin.md
  website/sidebars.ts
  yarn.lock
Labels: :package: cli

fix(conf): proper typescript cosmiconfig loader
  packages/conf/package.json
  packages/conf/src/fixtures/fallback-locales/.linguirc
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
  yarn.lock
Labels: :package: conf

chore: move pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

fix(conf): proper typescript cosmiconfig loader (#1386)
  packages/conf/package.json
  packages/conf/src/fixtures/fallback-locales/.linguirc
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
  yarn.lock
Labels: :package: conf

chore: move pull request template (#1387)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

fix(macro): JS macros don't strip non-essential props in production
  packages/macro/src/macroJs.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-t.ts
  website/docs/ref/macro.md
Labels: :package: macro

Move stripping of props to processDescriptor()
  packages/macro/src/macroJs.ts
Labels: :package: macro

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
