Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v3.13.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(examples): update cra example to latest lingui version
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
Labels: none

docs: improved English in markdown files
  CONTRIBUTING.md
  README.md
Labels: none

docs: Fix a typo in a babel plugin name
  docs/guides/dynamic-loading-catalogs.rst
Labels: none

docs: Fix a typo in a babel plugin name (#1204)
  docs/guides/dynamic-loading-catalogs.rst
Labels: none

Add failing test to point out the issue
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages.po
  packages/cli/src/api/formats/po.test.ts
Labels: :package: cli

Update showroom.rst
  docs/misc/showroom.rst
Labels: none

docs: update showroom.rst (#1210)
  docs/misc/showroom.rst
Labels: none

Fix missing closing tag in jsx example
  docs/ref/react.rst
Labels: none

docs: Use placeholder in selectOrdinal's examples
  docs/ref/macro.rst
  docs/ref/message-format.rst
  packages/macro/global.d.ts
  packages/macro/index.d.ts
Labels: :package: macro

test: Use placeholder in selectOrdinal's test cases
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/core/src/dev/compile.test.ts
  packages/macro/test/types.ts
Labels: :package: cli, :package: core, :package: macro

test: documenting quoted JSX attributes failing
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix: quoted JSX attributes handling
  packages/macro/src/macroJsx.ts
Labels: :package: macro

fix: specify children for react v18 types
  packages/macro/index.d.ts
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.tsx
Labels: :package: macro, :package: react

fix(types): change children to ReactNode only
  packages/macro/index.d.ts
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.tsx
Labels: :package: macro, :package: react

docs: add Crowdin tool
  docs/tools/Crowdin__js-lingui-cli.png
  docs/tools/Crowdin__js-lingui-vcs.png
  docs/tools/crowdin.rst
  docs/tools/introduction.rst
Labels: none

Handle qoutes in message
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix: specify children for react v18 types (#1230)
  packages/macro/index.d.ts
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.tsx
Labels: :package: macro, :package: react

docs: Fix missing closing tag in jsx example (#1220)
  docs/ref/react.rst
Labels: none

docs: Use placeholder in selectOrdinal's examples and test cases (#1222)
  docs/ref/macro.rst
  docs/ref/message-format.rst
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/core/src/dev/compile.test.ts
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/macro/test/types.ts
Labels: :package: cli, :package: core, :package: macro

fix: JSX attribute parsing issue when using double quotes (#1226)
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix: @lingui/react compatible with React 18
  packages/react/package.json
Labels: :package: react

chore(release): published v3.13.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Handle html entities in macro
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

Update test expectations
  packages/macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
  packages/macro/test/jsx-selectOrdinal.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

update python version for docs
  docs/Pipfile
  docs/Pipfile.lock
Labels: none

Add Crowdin CLI setup guide
  docs/index.rst
  docs/tools/crowdin.rst
Labels: none

Fix error read properties of undefined
  packages/cli/src/api/catalog.ts
Labels: :package: cli

docs: Fix Crowdin Enterprise Link
  docs/tools/crowdin.rst
Labels: none

docs: Fix Crowdin Enterprise Link (#1241)
  docs/tools/crowdin.rst
Labels: none

feat: pass render props to defaultComponent
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

Replace Spectrum and Gitter with Discord
  README.md
  docs/index.rst
  docs/misc/react-intl.rst
Labels: none

docs: add I18nProvider.defaultComponent example
  docs/ref/react.rst
Labels: none

add Fider to showroom
  docs/misc/showroom.rst
Labels: none

docs: add Fider to showroom (#1245)
  docs/misc/showroom.rst
Labels: none

Switch from @endemolshinegroup/cosmiconfig-typescript-loader to cosmiconfig-typescript-loader
  packages/conf/package.json
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/fixtures/valid/custom.config.ts
  packages/conf/src/index.test.ts
  yarn.lock
Labels: :package: conf

fix: output .mjs files while bundling esm
  packages/core/npm/esm/dev.mjs
  packages/core/npm/esm/index.mjs
  packages/core/package.json
  packages/detect-locale/npm/esm/index.mjs
  packages/detect-locale/package.json
  packages/react/npm/esm/index.mjs
  packages/react/package.json
  scripts/build/rollup.js
Labels: :package: core, :package: react

add note about metro config
  docs/tutorials/react-native.rst
Labels: none

Update react-native.rst
  docs/tutorials/react-native.rst
Labels: none

docs: add note about metro config (#1257)
  docs/tutorials/react-native.rst
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
