Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: bump @lingui/native-tools to 0.1.5
  packages/cli/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli

chore: bump @lingui/native-tools to 0.1.5 (#2691)
  packages/cli/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli

fix(format-po-gettext): write one msgstr per plural form of locale (#2690)
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

docs: document the native macro transform for Vite and extract-experimental
  packages/vite-plugin/README.md
  website/docs/guides/message-extraction.md
  website/docs/installation.mdx
  website/docs/ref/vite-plugin.md
Labels: none

add blog post
  website/blog/2026-10-01-native-macro-transform/index.md
  website/blog/2026-10-01-native-macro-transform/social-card.png
  website/docs/guides/message-extraction.md
  website/docs/ref/vite-plugin.md
Labels: none

docs: document the native macro transform for Vite and extract-experimental (#2689)
  packages/vite-plugin/README.md
  website/blog/2026-10-01-native-macro-transform/index.md
  website/blog/2026-10-01-native-macro-transform/social-card.png
  website/docs/guides/message-extraction.md
  website/docs/installation.mdx
  website/docs/ref/vite-plugin.md
Labels: none

chore(release): published v6.9.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.9.0 [skip ci] (#2695)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix(format-csv): read catalogs that end with a line break
  packages/format-csv/src/csv.test.ts
  packages/format-csv/src/csv.ts
Labels: none

refactor(babel-plugin-lingui-macro): build nodes with the host Babel's types
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/icu.test.ts
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/linguiDirective.ts
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.test.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/src/types.ts
  packages/babel-plugin-lingui-macro/test/lingui-directive.test.ts
  yarn.lock
Labels: none

fix(babel-plugin-lingui-macro): type-check against Babel 8
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
Labels: none

ci: run the macro plugin's types and tests on Babel 8
  .github/workflows/main-suite.yml
Labels: none

fix(message-utils): use noble hashes for browser ids
  packages/message-utils/package.json
  packages/message-utils/src/generateMessageId.ts
  yarn.lock
Labels: none

chore(format-csv): bump papaparse and address review
  packages/format-csv/package.json
  packages/format-csv/src/csv.test.ts
  packages/format-csv/src/csv.ts
  yarn.lock
Labels: none

fix(vite-plugin): strip query from module id before native macro transform
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/vite-plugin.test.ts
Labels: none

fix(vite-plugin): strip the query from the module id before the native transform
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/__snapshots__/vite-plugin.test.ts.snap
  packages/vite-plugin/test/macro-id-with-query/entrypoint.js
  packages/vite-plugin/test/macro-id-with-query/lingui.config.js
  packages/vite-plugin/test/macro-id-with-query/locale/en.po
  packages/vite-plugin/test/macro-id-with-query/route.tsx
  packages/vite-plugin/test/vite-plugin.test.ts
Labels: none

fix(format-csv): read catalogs that end with a line break (#2696)
  packages/format-csv/package.json
  packages/format-csv/src/csv.test.ts
  packages/format-csv/src/csv.ts
  yarn.lock
Labels: none

docs: adopt next/root-params in the Next.js RSC example and tutorial
  examples/nextjs-swc/README.md
  examples/nextjs-swc/next-env.d.ts
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/initLingui.tsx
  examples/nextjs-swc/src/proxy.ts
  examples/nextjs-swc/tsconfig.json
  examples/nextjs-swc/yarn.lock
  website/docs/tutorials/react-rsc.md
Labels: none

test(vite-plugin): cover query-string module ids with a runVite fixture
  packages/vite-plugin/test/query-id/entrypoint.js
  packages/vite-plugin/test/query-id/lingui.config.js
  packages/vite-plugin/test/query-id/locale/en.po
  packages/vite-plugin/test/query-id/route.tsx
  packages/vite-plugin/test/vite-plugin.test.ts
Labels: none

test(vite-plugin): drop redundant issue links
  packages/vite-plugin/test/query-id/entrypoint.js
  packages/vite-plugin/test/vite-plugin.test.ts
Labels: none

fix(vite-plugin): strip query from module id before native macro transform (#2703)
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/query-id/entrypoint.js
  packages/vite-plugin/test/query-id/lingui.config.js
  packages/vite-plugin/test/query-id/locale/en.po
  packages/vite-plugin/test/query-id/route.tsx
  packages/vite-plugin/test/vite-plugin.test.ts
Labels: none

docs: document the native extractor from @lingui/native-tools
  website/docs/guides/custom-extractor.md
  website/docs/ref/conf.md
  website/docs/ref/vite-plugin.md
Labels: none

fix(vite-plugin): fail early when native transform is used with Solid
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/solid-runtime-error/entrypoint.js
  packages/vite-plugin/test/solid-runtime-error/lingui.config.js
  packages/vite-plugin/test/solid-runtime-error/locale/en.po
  packages/vite-plugin/test/vite-plugin.test.ts
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/solid.md
Labels: none

docs: document the native extractor from @lingui/native-tools (#2707)
  website/docs/guides/custom-extractor.md
  website/docs/ref/conf.md
  website/docs/ref/vite-plugin.md
Labels: none

fix(vite-plugin): fail early when native transform is used with Solid (#2708)
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/solid-runtime-error/entrypoint.js
  packages/vite-plugin/test/solid-runtime-error/lingui.config.js
  packages/vite-plugin/test/solid-runtime-error/locale/en.po
  packages/vite-plugin/test/vite-plugin.test.ts
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/solid.md
Labels: none

docs: pin @lingui/swc-plugin and stop tracking next-env.d.ts
  examples/nextjs-swc/.gitignore
  examples/nextjs-swc/next-env.d.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/yarn.lock
Labels: none

feat(loader): add native macro transform loader
  packages/loader/README.md
  packages/loader/package.json
  packages/loader/src/macro.ts
  packages/loader/src/macroLoader.ts
  yarn.lock
Labels: :package: loader

test(loader): cover the native macro transform loader
  packages/loader/test/compiler.ts
  packages/loader/test/loader.test.ts
  packages/loader/test/macro-transform-solid/entrypoint.js
  packages/loader/test/macro-transform-solid/lingui.config.js
  packages/loader/test/macro-transform-solid/no-macro.js
  packages/loader/test/macro-transform/entrypoint.js
  packages/loader/test/macro-transform/lingui.config.js
  packages/loader/test/macro-transform/no-macro.js
  packages/loader/test/macroLoader.cjs
Labels: :package: loader

docs: recommend the native macro transform for Next.js
  website/docs/installation.mdx
  website/docs/ref/loader.md
  website/docs/ref/swc-plugin.md
Labels: none

docs: refresh website typography, code blocks and homepage spacing
  website/docusaurus.config.ts
  website/package.json
  website/src/components/call-to-action.tsx
  website/src/components/code.tsx
  website/src/components/faq.tsx
  website/src/components/features.tsx
  website/src/components/lingui-workflow.tsx
  website/src/components/partner-banner.tsx
  website/src/components/site-footer.tsx
  website/src/components/ui/section.tsx
  website/src/components/users.tsx
  website/src/css/custom.scss
  website/src/pages/index.tsx
  website/yarn.lock
Labels: none

docs: adopt next/root-params in the Next.js RSC example and tutorial (#2706)
  examples/nextjs-swc/.gitignore
  examples/nextjs-swc/README.md
  examples/nextjs-swc/next-env.d.ts
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/initLingui.tsx
  examples/nextjs-swc/src/proxy.ts
  examples/nextjs-swc/tsconfig.json
  examples/nextjs-swc/yarn.lock
  website/docs/tutorials/react-rsc.md
Labels: none

docs(examples): bring nextjs-babel up to the same standard
  examples/nextjs-babel/.gitignore
  examples/nextjs-babel/.yarnrc.yml
  examples/nextjs-babel/README.md
  examples/nextjs-babel/lingui.config.ts
  examples/nextjs-babel/next-env.d.ts
  examples/nextjs-babel/package.json
  examples/nextjs-babel/src/components/Layout.module.css
  examples/nextjs-babel/src/components/Layout.tsx
  examples/nextjs-babel/src/components/LocaleSwitcher.tsx
  examples/nextjs-babel/src/components/PluralExample.tsx
  examples/nextjs-babel/src/i18n.ts
  examples/nextjs-babel/src/locales/cs.po
  examples/nextjs-babel/src/locales/en.po
  examples/nextjs-babel/src/locales/pseudo.po
  examples/nextjs-babel/src/pages/_app.tsx
  examples/nextjs-babel/src/pages/api/hello.ts
  examples/nextjs-babel/src/pages/examples.tsx
  examples/nextjs-babel/src/pages/index.tsx
  examples/nextjs-babel/tsconfig.json
  examples/nextjs-babel/yarn.lock
Labels: none

docs(examples): make nextjs-swc an App Router-only example
  examples/nextjs-swc/.eslintrc.json
  examples/nextjs-swc/.gitignore
  examples/nextjs-swc/README.md
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/about/page.tsx
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/app/[lang]/page.tsx
  examples/nextjs-swc/src/appRouterI18n.ts
  examples/nextjs-swc/src/components/AboutText.tsx
  examples/nextjs-swc/src/components/Developers.tsx
  examples/nextjs-swc/src/components/HomePage.tsx
  examples/nextjs-swc/src/components/Switcher.tsx
  examples/nextjs-swc/src/locales/en.po
  examples/nextjs-swc/src/locales/es.po
  examples/nextjs-swc/src/locales/pseudo.po
  examples/nextjs-swc/src/locales/sr.po
  examples/nextjs-swc/src/pages/[lang]/pages-router-demo/index.tsx
  examples/nextjs-swc/src/pages/_app.tsx
  examples/nextjs-swc/src/pagesRouterI18n.ts
  examples/nextjs-swc/src/styles/Index.module.css
  examples/nextjs-swc/src/styles/Page.module.css
  examples/nextjs-swc/src/styles/globals.css
  examples/nextjs-swc/yarn.lock
Labels: none

docs(examples): align the two Next.js examples
  examples/nextjs-babel/README.md
  examples/nextjs-babel/package.json
  examples/nextjs-babel/yarn.lock
  examples/nextjs-swc/package.json
  examples/nextjs-swc/yarn.lock
  website/docs/examples.md
Labels: none

docs: load Inter with the optical-size axis and drop manual heading tracking
  website/docusaurus.config.ts
  website/src/components/ui/section.tsx
  website/src/css/custom.scss
Labels: none

docs: import the Inter font from custom.scss instead of clientModules
  website/docusaurus.config.ts
  website/src/css/custom.scss
Labels: none

docs: refresh website typography, code blocks and homepage spacing (#2711)
  website/package.json
  website/src/components/call-to-action.tsx
  website/src/components/code.tsx
  website/src/components/faq.tsx
  website/src/components/features.tsx
  website/src/components/lingui-workflow.tsx
  website/src/components/partner-banner.tsx
  website/src/components/site-footer.tsx
  website/src/components/ui/section.tsx
  website/src/components/users.tsx
  website/src/css/custom.scss
  website/src/pages/index.tsx
  website/yarn.lock
Labels: none

chore: bump native-tools to 0.1.6
  packages/cli/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli

perf(cli): write experimental extractor catalogs in worker pool
  packages/cli/src/api/stats.ts
  packages/cli/src/api/typedPool.ts
  packages/cli/src/api/workerPools.ts
  packages/cli/src/extract-experimental/workers/extractWorker.ts
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.jiti.js
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.prod.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

perf(cli): write experimental extractor catalogs in worker pool
  packages/cli/src/api/stats.ts
  packages/cli/src/api/typedPool.ts
  packages/cli/src/api/workerPools.ts
  packages/cli/src/extract-experimental/workers/extractWorker.ts
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.jiti.js
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.prod.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
