Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(cli): update esbuild
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

fix(cli): update esbuild (#2187)
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

Update metro-transformer.mdx
  website/docs/ref/metro-transformer.mdx
Labels: none

Setup lingui
  examples/tanstack-start/app.config.ts
  examples/tanstack-start/lingui.config.ts
  examples/tanstack-start/package.json
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/ssr.tsx
Labels: none

Translating App
  examples/tanstack-start/src/components/DefaultCatchBoundary.tsx
  examples/tanstack-start/src/components/NotFound.tsx
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.mo
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/_pathlessLayout.tsx
  examples/tanstack-start/src/routes/_pathlessLayout/_nested-layout.tsx
  examples/tanstack-start/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/tanstack-start/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/tanstack-start/src/routes/deferred.tsx
  examples/tanstack-start/src/routes/index.tsx
  examples/tanstack-start/src/routes/posts.$postId.tsx
  examples/tanstack-start/src/routes/posts.index.tsx
  examples/tanstack-start/src/routes/posts_.$postId.deep.tsx
  examples/tanstack-start/src/routes/users.$userId.tsx
  examples/tanstack-start/src/routes/users.index.tsx
Labels: none

Add translation with the `t` macro
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/routes/posts.route.tsx
  examples/tanstack-start/src/routes/users.$userId.tsx
  examples/tanstack-start/src/routes/users.route.tsx
Labels: none

URL locale is checked first
  examples/tanstack-start/src/ssr.tsx
Labels: none

Update README.md
  examples/tanstack-start/README.md
Labels: none

Delete messages.mo
  examples/tanstack-start/src/locales/fr/messages.mo
Labels: none

Commit yarn.lock
  examples/tanstack-start/.gitignore
  examples/tanstack-start/yarn.lock
Labels: none

Add Tanstack Start example to the examples docs page
  website/docs/examples.md
Labels: none

Move devDependencies
  examples/tanstack-start/package.json
  examples/tanstack-start/yarn.lock
Labels: none

Apply Prettier
  examples/tanstack-start/app.config.ts
  examples/tanstack-start/lingui.config.ts
  examples/tanstack-start/src/api.ts
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/components/DefaultCatchBoundary.tsx
  examples/tanstack-start/src/components/NotFound.tsx
  examples/tanstack-start/src/components/PostError.tsx
  examples/tanstack-start/src/components/UserError.tsx
  examples/tanstack-start/src/global-middleware.ts
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/_pathlessLayout.tsx
  examples/tanstack-start/src/routes/_pathlessLayout/_nested-layout.tsx
  examples/tanstack-start/src/routes/_pathlessLayout/_nested-layout/route-a.tsx
  examples/tanstack-start/src/routes/_pathlessLayout/_nested-layout/route-b.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/deferred.tsx
  examples/tanstack-start/src/routes/index.tsx
  examples/tanstack-start/src/routes/posts.$postId.tsx
  examples/tanstack-start/src/routes/posts.index.tsx
  examples/tanstack-start/src/routes/posts.route.tsx
  examples/tanstack-start/src/routes/posts_.$postId.deep.tsx
  examples/tanstack-start/src/routes/redirect.tsx
  examples/tanstack-start/src/routes/users.$userId.tsx
  examples/tanstack-start/src/routes/users.index.tsx
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/ssr.tsx
  examples/tanstack-start/src/utils/loggingMiddleware.tsx
  examples/tanstack-start/src/utils/posts.tsx
  examples/tanstack-start/src/utils/seo.ts
  examples/tanstack-start/src/utils/users.tsx
Labels: none

Use different strategy for API i18n
  .prettierignore
  examples/tanstack-start/src/api.ts
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/users.$userId.tsx
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/ssr.tsx
Labels: none

Reset .prettierignore changes
  .prettierignore
Labels: none

chore(examples): fix tanstack-start example on API & SSR requests (#2210)
  examples/tanstack-start/src/api.ts
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/users.$userId.tsx
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/ssr.tsx
Labels: none

chore(docs): fix 'internalization' typo on home page
  website/src/components/Header.tsx
Labels: none

chore(docs): fix 'internalization' typo on home page (#2217)
  website/src/components/Header.tsx
Labels: none

feat(macro): make select macro choices strictly typed
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/core/macro/index.d.ts
Labels: :package: core

feat(macro): make select macro choices strictly typed
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/core/macro/index.d.ts
  packages/react/macro/__typetests__/index.test-d.tsx
  packages/react/macro/index.d.ts
Labels: :package: core, :package: react

chore: bump typescript es target
  tsconfig.json
Labels: none

feat: add list format convenience wrapper
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core

docs(macro): add docs for exhaustive select macro
  website/docs/ref/macro.mdx
Labels: none

Remove lodash.get dependency in conf package
  packages/conf/package.json
  yarn.lock
Labels: :package: conf

build(conf): remove lodash.get dependency (#2225)
  packages/conf/package.json
  yarn.lock
Labels: :package: conf

chore(release): published v5.3.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.3.1 [skip ci] (#2227)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: update react-native example to Expo SDK 53
  examples/react-native/metro.config.js
  examples/react-native/package.json
  examples/react-native/yarn.lock
Labels: none

fix: support React Native 0.79
  packages/react/package.json
Labels: :package: react

chore: use TSTyche for type testing
  .github/workflows/main-suite.yml
  jest.config.types.js
  package.json
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/package.json
  packages/core/__typetests__/index.test-d.tsx
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/core/macro/__typetests__/tsconfig.json
  packages/core/package.json
  packages/format-csv/__typetests__/index.test-d.ts
  packages/format-csv/__typetests__/tsconfig.json
  packages/format-csv/package.json
  packages/format-json/__typetests__/index.test-d.ts
  packages/format-json/__typetests__/tsconfig.json
  packages/format-json/package.json
  packages/format-po-gettext/__typetests__/index.test-d.ts
  packages/format-po-gettext/__typetests__/tsconfig.json
  packages/format-po-gettext/package.json
  packages/format-po/__typetests__/index.test-d.ts
  packages/format-po/__typetests__/tsconfig.json
  packages/format-po/package.json
  packages/macro/package.json
  packages/react/macro/__typetests__/index.test-d.tsx
  packages/react/package.json
  tstyche.config.json
  yarn.lock
Labels: :package: conf, :package: core, :package: macro, :package: react

clean up
  packages/core/macro/__typetests__/tsconfig.json
Labels: :package: core

format
  packages/core/__typetests__/index.test-d.tsx
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/react/macro/__typetests__/index.test-d.tsx
Labels: :package: core, :package: react

imports
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/react/macro/__typetests__/index.test-d.tsx
Labels: :package: core, :package: react

fix: update metro config
  examples/react-native/app.json
  examples/react-native/metro.config.js
  examples/react-native/src/MainScreen.tsx
Labels: none

fix(cli): catalogsMergePath generates only one compiled locale
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

fix(cli): catalogsMergePath generates only one compiled locale (#2238)
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

clean up
  packages/react/macro/__typetests__/index.test-d.tsx
Labels: :package: react

fix: use makePathRegexSafe with globSync
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: use makePathRegexSafe with globSync (#2242)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

update example and docs
  examples/react-native/metro.config.js
  examples/react-native/package.json
  examples/react-native/yarn.lock
  website/docs/tutorials/react-native.md
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
