Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Fix initI8n
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
Labels: none

Use global start context
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
Labels: none

Apply prettier
  examples/tanstack-start/src/functions/origin.ts
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/start.ts
  examples/tanstack-start/vite.config.ts
Labels: none

examples(tanstack-start): add missing translations
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
Labels: none

Upgrade lingui
  examples/tanstack-start/README.md
  examples/tanstack-start/package.json
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/vite.config.ts
  examples/tanstack-start/yarn.lock
Labels: none

examples(tanstack-start): parse cookie only when needed
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
Labels: none

examples(tanstack-start): add content navigation
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/routes/$lang/content-bis.tsx
  examples/tanstack-start/src/routes/$lang/route.tsx
  examples/tanstack-start/src/routes/__root.tsx
Labels: none

Upgrade dependencies
  examples/tanstack-start/package.json
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/tsconfig.json
  examples/tanstack-start/yarn.lock
Labels: none

support common chunks
  packages/cli/src/extract-experimental/buildChunkGraph.ts
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  packages/cli/src/extract-experimental/extractFromBundleAndWrite.ts
  packages/cli/src/extract-experimental/extractFromChunk.ts
  packages/cli/src/extract-experimental/workers/extractWorker.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/conf/src/types.ts
Labels: :package: cli, :package: conf

fixes
  .prettierignore
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  packages/cli/test/extractor-experimental/expected-rolldown/about.page.en.js
  packages/cli/test/extractor-experimental/expected-rolldown/about.page.pl.js
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.en.js
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.pl.js
  packages/conf/src/types.ts
Labels: :package: cli, :package: conf

snapshots
  .prettierignore
  eslint.config.js
  packages/cli/test/extractor-experimental/expected-rolldown/about.page.en.js
  packages/cli/test/extractor-experimental/expected-rolldown/about.page.pl.js
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.en.js
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.pl.js
Labels: :package: cli

Update version and add changelog
  packages/solid/CHANGELOG.md
  packages/solid/package.json
Labels: none

try fix windows
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
Labels: :package: cli

chore(release): published v6.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.4.0 [skip ci] (#2575)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(ci): replace docs deploy workflow with Algolia reindex
  .github/workflows/reindex-docs.yml
  .github/workflows/release-docs.yml
  .github/workflows/release.yml
Labels: none

chore(ci): replace docs deploy workflow with Algolia reindex (#2576)
  .github/workflows/reindex-docs.yml
  .github/workflows/release-docs.yml
  .github/workflows/release.yml
Labels: none

code review fixes
  packages/cli/src/extract-experimental/buildChunkGraph.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.en.js
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.en.po
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.pl.js
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.pl.po
  packages/conf/src/types.ts
  website/docs/guides/message-extraction.md
Labels: :package: cli, :package: conf

code review fixes
  website/docs/guides/message-extraction.md
Labels: none

add unit test
  packages/cli/src/extract-experimental/buildChunkGraph.test.ts
Labels: :package: cli

improve esbuild bundler
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/constants.ts
Labels: :package: cli

docs: highlight native SolidJS support across landing and README
  README.md
  website/docs/introduction.md
  website/src/components/features.tsx
  website/src/components/header.tsx
Labels: none

add more docs
  website/docs/guides/message-extraction.md
Labels: none

add more output for command
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

add webp to excluded
  packages/cli/src/extract-experimental/constants.ts
Labels: :package: cli

inline babel plugin into rolldown bundler
  packages/cli/package.json
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  website/docs/guides/message-extraction.md
  yarn.lock
Labels: :package: cli

inline babel plugin into esbuild bundler
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
Labels: :package: cli

add stdout in case of error in verdacio script
  scripts/verdaccio-release.ts
Labels: none

update text
  website/src/components/header.tsx
Labels: none

docs: highlight native SolidJS support across landing and README (#2577)
  README.md
  website/docs/introduction.md
  website/src/components/features.tsx
  website/src/components/header.tsx
Labels: none

fix: respect corePackage/jsxPackage setting in experimental extractor
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  packages/cli/test/extractor-experimental-custom-macro/expected/index.page.en.po
  packages/cli/test/extractor-experimental-custom-macro/fixtures/pages/index.page.tsx
  packages/cli/test/extractor-experimental-custom-macro/lingui.config.ts
  packages/cli/test/extractor-experimental-custom-macro/macros.ts
  packages/cli/test/extractor-experimental-custom-macro/package.json
  packages/cli/test/index.test.ts
Labels: :package: cli

Fix copilot review
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/tsconfig.json
Labels: none

consistent docs
  website/docs/guides/message-extraction.md
Labels: none

fix: don't warn about missing id when a spread is present
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
Labels: :package: plugin-extract

add pseudolocalize options
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/pseudoLocalize.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/services/translationIO.ts
  packages/conf/__typetests__/index.tst.ts
  packages/conf/src/getPseudoLocale.test.ts
  packages/conf/src/getPseudoLocale.ts
  packages/conf/src/index.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/loader/src/webpackLoader.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/vite-plugin/src/index.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf, :package: loader

Document lingui-rr integration for React Router v8
  website/docs/misc/tooling.md
Labels: none

feat: define strings with generated ids using `/* i18n-s */` comments
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  yarn.lock
Labels: :package: plugin-extract

apply and normalize config in the makeConfig
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/services/translationIO.ts
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/getPseudoLocale.test.ts
  packages/conf/src/getPseudoLocale.ts
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/loader/src/webpackLoader.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/vite-plugin/src/index.ts
Labels: :package: cli, :package: conf, :package: loader

Update website/docs/ref/conf.md
  website/docs/ref/conf.md
Labels: none

change lingui-rr order
  website/docs/misc/tooling.md
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
