Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

chore: fix prettier and eslint warnings (#2137)
  package.json
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

chore(deps): update size-limit
  package.json
  yarn.lock
Labels: none

chore(deps): update size-limit (#2138)
  package.json
  yarn.lock
Labels: none

docs: better communicate macro usage restrictions
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react.md
Labels: none

docs: better communicate macro usage restrictions (#2139)
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react.md
Labels: none

docs: update dependencies
  website/.eslintrc
  website/docs/tutorials/react-rsc.md
  website/eslint.config.mjs
  website/package.json
  website/yarn.lock
Labels: none

docs: update dependencies (#2140)
  website/.eslintrc
  website/docs/tutorials/react-rsc.md
  website/eslint.config.mjs
  website/package.json
  website/yarn.lock
Labels: none

Update LICENSE, fix license year
  LICENSE
Labels: none

Fixed build for examples/nextjs-swc.
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/app/[lang]/page.tsx
  examples/nextjs-swc/src/locales/en.po
  examples/nextjs-swc/src/locales/es.po
  examples/nextjs-swc/src/locales/pseudo.po
  examples/nextjs-swc/src/locales/sr.po
  examples/nextjs-swc/yarn.lock
Labels: none

fix(react): remove children property from runtime Trans
  packages/react/src/TransNoContext.tsx
Labels: :package: react

chore: remove integration tests
  .github/workflows/main-suite.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  jest.config.integration.js
  package.json
Labels: none

fix(react): remove children property from runtime Trans (#2151)
  packages/react/src/TransNoContext.tsx
Labels: :package: react

refactor: remove ramda
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
  packages/cli/src/api/pseudoLocalize.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/format-json/package.json
  packages/format-json/src/json.ts
  packages/remote-loader/package.json
  packages/remote-loader/src/index.ts
  packages/remote-loader/src/minimalParser.ts
  yarn.lock
Labels: :package: cli

set type for a labeled expression
  packages/core/macro/index.d.ts
Labels: :package: core

skip vite tests on windows, because they are flaky
  packages/vite-plugin/test/index.ts
Labels: none

chore: remove integration tests (#2153)
  .github/workflows/main-suite.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  jest.config.integration.js
  package.json
  packages/core/macro/index.d.ts
  packages/vite-plugin/test/index.ts
Labels: :package: core

refactor: remove ramda (#2155)
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
  packages/cli/src/api/pseudoLocalize.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/format-json/package.json
  packages/format-json/src/json.ts
  packages/remote-loader/package.json
  packages/remote-loader/src/index.ts
  packages/remote-loader/src/minimalParser.ts
  yarn.lock
Labels: :package: cli

examples: update nextjs example. Fix build
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/app/[lang]/page.tsx
  examples/nextjs-swc/src/components/HomePage.tsx
  examples/nextjs-swc/src/locales/en.po
  examples/nextjs-swc/src/locales/es.po
  examples/nextjs-swc/src/locales/pseudo.po
  examples/nextjs-swc/src/locales/sr.po
  examples/remix-vite-babel/app/modules/lingui/lingui.tsx
  examples/remix-vite-babel/app/routes/_index.tsx
Labels: none

feat(react): preserve newlines during string formatting
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

feat(react): preserve newlines during string formatting (#2158)
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

docs: fix import statement in the code sample
  website/docs/tutorials/react.md
Labels: none

docs: add Twenty project
  website/docs/misc/showroom.md
  website/src/components/Users.tsx
  website/static/img/users/twenty.png
Labels: none

docs: fix import statement in the code sample (#2162)
  website/docs/tutorials/react.md
Labels: none

docs: add Twenty project (#2163)
  website/docs/misc/showroom.md
  website/src/components/Users.tsx
  website/static/img/users/twenty.png
Labels: none

docs: add linguito tool to the Third-Party Modules page
  website/docs/misc/tooling.md
Labels: none

docs: add linguito tool to the Third-Party Modules page (#2164)
  website/docs/misc/tooling.md
Labels: none

docs: Use valid locale for proposed pseudo locale
  website/docs/guides/pseudolocalization.md
Labels: none

fix(core): remove runtime whitespace trimming aligned with v5
  packages/core/src/i18n.test.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

docs: Use valid locale for proposed pseudo locale (#2170)
  website/docs/guides/pseudolocalization.md
Labels: none

fix(core): remove runtime whitespace trimming aligned with v5 (#2169)
  packages/core/src/i18n.test.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

docs: fix mobile view of the main page
  website/src/components/Features.module.scss
Labels: none

docs: fix mobile view of the main page (#2171)
  website/src/components/Features.module.scss
Labels: none

chore(release): published v5.2.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.2.0 [skip ci] (#2172)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: improve issue templates
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/stale.yml
Labels: none

improvements
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

test
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
Labels: none

chore: replace legacy .md issue templates with YAML-based forms (#2174)
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/stale.yml
Labels: none

Add strip non essential fields option to SWC plugin doc
  website/docs/ref/swc-plugin.md
Labels: none

Address PR feedback
  website/docs/ref/swc-plugin.md
Labels: none
