Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat: extract multiple comments per translation ID (#854)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/collect/componentA/index.js
  packages/cli/src/api/formats/__snapshots__/lingui.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli, :package: plugin-extract

fix: windows pattern glob search
  examples/create-react-app/src/locales/cs/messages.po
  examples/create-react-app/src/locales/en/messages.po
  examples/next-js/locale/cs/messages.po
  examples/next-js/locale/en/messages.po
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore: po files
  examples/create-react-app/src/locales/cs/messages.po
  examples/create-react-app/src/locales/en/messages.po
Labels: none

chore: improved config of cra
  examples/create-react-app/lingui.config.js
Labels: none

chore: fix windows test
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore: improve logic
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: absolute rootDir on Windows (#853)
  examples/create-react-app/lingui.config.js
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  examples/next-js/locale/cs/messages.po
  examples/next-js/locale/en/messages.po
  examples/next-js/package.json
  examples/next-js/yarn.lock
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore(release): published v3.2.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

replace logical or `||`, with null-coalescing `??` to allow empty strings
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore: release v3.2.1
  package.json
Labels: none

ci: deploy from build inside each package
  .github/workflows/deploy-main-docs.yml
  .gitignore
  lerna.json
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  scripts/build/packaging.js
  scripts/integration.js
  scripts/jest/config.integration.js
  scripts/jest/config.unit.js
  scripts/release.js
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: parse template strings in t and defineMessage macros
  packages/macro/src/macroJs.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

Update migration-3.rst
  docs/releases/migration-3.rst
Labels: none

docs: suggest removal of types in migration docs (#864)
  docs/releases/migration-3.rst
Labels: none

fix: parse template strings in t and defineMessage macros (#862)
  packages/macro/src/macroJs.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

chore: verdaccio
  .github/verdaccio/config.yaml
  .github/workflows/release-test.yml
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/App.tsx
  scripts/integration.js
  scripts/release.js
  scripts/verdaccio-integration.js
  scripts/verdaccio-release.js
Labels: none

chore: verdaccio
  .github/workflows/release-test.yml
  examples/create-react-app/src/App.test.tsx
  scripts/verdaccio-integration.js
  scripts/verdaccio-release.js
Labels: none

chore: fix tests :)
  examples/create-react-app/src/App.test.tsx
Labels: none

chore: added githubci badges to readme
  README.md
Labels: none

chore(release): published v3.2.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
Labels: :package: macro

chore: fix workflow versioning
  .github/workflows/release.yml
Labels: none

chore: update all packages always
  package.json
Labels: none

chore: reverted commit
  CHANGELOG.md
  lerna.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
Labels: :package: macro

fix: locale not present in catalogs warn
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: fallbackLocales overriden if parent found
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
Labels: :package: conf

docs: remove add-locale from documentation
  docs/tutorials/setup-react.rst
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

docs: create pseudolocalization guide
  docs/guides/pseudolocalization.rst
  docs/tutorials/cli.rst
Labels: none

Fix typos
  docs/guides/pseudolocalization.rst
Labels: none

Add ps to menu
  docs/index.rst
Labels: none

Update react.rst
  docs/ref/react.rst
Labels: none

chore: improve dx warn on undefined id
  packages/babel-plugin-extract-messages/src/index.ts
  packages/core/src/dev/loadLocaleData.test.ts
Labels: :package: core, :package: plugin-extract

docs: testing guide improved
  docs/guides/testing.rst
Labels: none

docs: correct syntax error in I18nProvider example (#870)
  docs/ref/react.rst
Labels: none

docs: remove add-locale from documentation (#872)
  docs/tutorials/setup-react.rst
Labels: none

docs: testing guide improved (#875)
  docs/guides/testing.rst
Labels: none

Fix links
  docs/guides/pseudolocalization.rst
  docs/tutorials/cli.rst
Labels: none

docs: create pseudolocalization guide (#873)
  docs/guides/pseudolocalization.rst
  docs/index.rst
  docs/tutorials/cli.rst
Labels: none

chore: improve dx warn on undefined id (#874)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/core/src/dev/loadLocaleData.test.ts
Labels: :package: core, :package: plugin-extract

chore(release): published v3.2.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Export TransRenderProps from @lingui/react
  packages/react/src/index.ts
Labels: :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
