Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(cli): use shortened version of pnpm commands in suggestions
  packages/cli/src/api/help.ts
Labels: :package: cli

fix(cli): use caret range for `micromatch` dependency
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore: clean up yarn.lock packages affected by `micromatch` caret range
  yarn.lock
Labels: none

fix(cli): use caret range for `micromatch` dependency (#2020)
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

fix: run type tests in test:all (#2017)
  package.json
Labels: none

fix: return a single node when applicable (#2016)
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

chore(release): published v4.11.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: go from 4.8.0-next.1 to 5.0.0-next.0
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  packages/vue/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: Add Rove.me to showroom
  website/docs/misc/showroom.md
Labels: none

docs: Add Rove.me to showroom (#2027)
  website/docs/misc/showroom.md
Labels: none

feat: allow to use useLingui with only i18n (#2006)
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
Labels: none

chore(release): published v5.0.0-next.1
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat: metro-transformer
  jest.config.integration.js
  jest.config.js
  package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/README.md
  packages/metro-transformer/package.json
  packages/metro-transformer/src/expo/index.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/metro-transformer/src/react-native/index.ts
  packages/metro-transformer/src/types.ts
  packages/metro-transformer/test/__fixtures__/test-project/lingui.config.js
  packages/metro-transformer/test/__fixtures__/test-project/locales/cs/messages.po
  packages/metro-transformer/test/__fixtures__/test-project/locales/en/messages.po
  packages/metro-transformer/test/metroTransformer.test.ts
  yarn.lock
Labels: none

refactor: changes in other packages
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
  packages/conf/src/getConfig.ts
  packages/loader/src/webpackLoader.ts
Labels: :package: cli, :package: conf, :package: loader

docs: update docs
  website/docs/ref/cli.md
  website/docs/ref/loader.md
  website/docs/ref/metro-transformer.mdx
  website/docs/tutorials/react-native.md
  website/sidebars.ts
Labels: none

docs: fix lint
  website/docs/ref/metro-transformer.mdx
Labels: none

docs: fix prettier
  website/docs/ref/metro-transformer.mdx
Labels: none

docs: change wording
  website/docs/tutorials/react-native.md
Labels: none

docs: add announcement bar about the v5 pre-release
  website/docusaurus.config.ts
Labels: none

docs: add announcement bar about the v5 pre-release (#2029)
  website/docusaurus.config.ts
Labels: none

fix: unicode parsing
  packages/core/src/i18n.test.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

remove the test case which is covered by the nearby test
  packages/core/src/i18n.test.ts
Labels: :package: core

Update showroom.md
  website/docs/misc/showroom.md
Labels: none

Update showroom.md
  website/docs/misc/showroom.md
Labels: none

fix: unicode parsing (#2030)
  packages/core/src/i18n.test.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

Update Users.tsx
  website/src/components/Users.tsx
Labels: none

Delete website/static/img/users/uniswap.png
  website/static/img/users/uniswap.png
Labels: none

chore: update showroom.md (#2031)
  website/docs/misc/showroom.md
  website/src/components/Users.tsx
  website/static/img/users/uniswap.png
Labels: none

move Flow to Lingui Configuration
  vercel.json
  website/docs/guides/flow.md
  website/docs/ref/conf.md
  website/sidebars.ts
Labels: none

move Excluding build files
  vercel.json
  website/docs/guides/excluding-build-files.md
  website/docs/ref/cli.md
  website/sidebars.ts
Labels: none

mode Explicit vs Generated IDs to guides
  vercel.json
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/introduction.md
  website/docs/ref/macro.mdx
  website/docs/releases/migration-4.md
  website/sidebars.ts
Labels: none

improve Catalog Formats
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
Labels: none

fix formatting
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/ref/macro.mdx
  website/sidebars.ts
Labels: none

update SWC Plugin page
  website/docs/ref/swc-plugin.md
Labels: none

blog tweaks
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/blog/2023-12-12-4k-stars/index.md
Labels: none

fixes
  website/docs/ref/catalog-formats.md
Labels: none

fix issue after merge with `next`
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/vue/src/compiler/transformer.test.ts
  packages/vue/src/extractor/__snapshots__/extractor.test.ts.snap
Labels: none

sidebar tweaks
  website/sidebars.ts
Labels: none

improve Tooling
  website/docs/ref/eslint-plugin.md
  website/docs/ref/vite-plugin.md
  website/sidebars.ts
Labels: none

docs: various improvements (#2034)
  vercel.json
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/blog/2023-12-12-4k-stars/index.md
  website/docs/guides/excluding-build-files.md
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/flow.md
  website/docs/introduction.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/eslint-plugin.md
  website/docs/ref/macro.mdx
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/releases/migration-4.md
  website/sidebars.ts
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
