Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

chore: Added tsconfig paths for type-checking any issues on macro types (#1142)
  packages/macro/global.d.ts
  packages/macro/test/types.ts
  packages/react/src/Trans.test.tsx
  tsconfig.json
Labels: :package: macro, :package: react

Proofread documentation (`introduction.rst` and `translation-io.rst`)
  docs/tools/introduction.rst
  docs/tools/translation-io.rst
Labels: none

docs: Proofread documentation (`introduction.rst` and `translation-io.rst`) (#1144)
  docs/tools/introduction.rst
  docs/tools/translation-io.rst
Labels: none

feat: msgctxt support (#1094)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/duplicate-id.js
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/js-without-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-with-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-without-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-without-trans.js
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/macro/index.d.ts
  packages/macro/src/constants.ts
  packages/macro/src/macroJsx.ts
  packages/react/src/Trans.tsx
Labels: :package: cli, :package: core, :package: macro, :package: plugin-extract, :package: react

Update showroom.rst
  docs/misc/showroom.rst
Labels: none

docs: add mapflow.ai
  docs/misc/showroom.rst
Labels: none

feat: add the ability to extract concatenated comments
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-without-macros.js
Labels: :package: plugin-extract

Don't (attempt to) push pseudoLocale to tranlation.io
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

docs: the mentioned message id should be "msg.docs"
  docs/misc/react-intl.rst
Labels: none

Allow pseudoLocalize to work in @lingui/loader
  packages/cli/src/api/compile.ts
Labels: :package: cli

fix(cli): extract with --overwrite should fallback to key
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
Labels: :package: cli

Make extract CLI cmd async
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extract.test.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

Pin cli-table to 0.3.6
  packages/cli/package.json
Labels: :package: cli

fix: don't push pseudoLocale to translation.io provider (#1161)
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

feat: add the ability to extract concatenated comments (#1152)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-without-macros.js
Labels: :package: plugin-extract

docs: the mentioned message id should be "msg.docs" (#1163)
  docs/misc/react-intl.rst
Labels: none

fix: Allow pseudoLocalize to work in @lingui/loader (#1165)
  packages/cli/src/api/compile.ts
Labels: :package: cli

docs: add mapflow.ai (#1156)
  docs/misc/showroom.rst
Labels: none

fix(cli): extract with --overwrite should fallback to key (#1166)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
Labels: :package: cli

feat(cli): make extract cmd asynchronous execution (#1170)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extract.test.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

fix: pin cli-table to 0.3.6 (#1172)
  packages/cli/package.json
Labels: :package: cli

chore(ci): fixes for bundling
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  scripts/build/rollup.js
  yarn.lock
Labels: :package: cli

chore: updated example to latest version
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
Labels: none

chore(release): published v3.13.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Fix service provider importation on case-sensitive filesystems
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

Better variable name
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

Better variable name (again)
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

fix: cloud service `import()` on case-sensitive filesystems (#1174)
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

Update showroom.rst
  docs/misc/showroom.rst
Labels: none

Remove the obsolete `defineMessages` function from the typings.
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/macro/src/index.ts
Labels: :package: macro

fix: i18n.activate should load instantly new messages
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/react/src/I18nProvider.test.tsx
Labels: :package: core, :package: react

fix: remove the obsolete `defineMessages` function from the typings. (#1179)
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/macro/src/index.ts
Labels: :package: macro

docs: Update showroom.rst (#1176)
  docs/misc/showroom.rst
Labels: none

Update react.rst
  docs/tutorials/react.rst
Labels: none

docs: fix typo in docs (#1184)
  docs/tutorials/react.rst
Labels: none

fix(macro): add lingui peer dependencies
  packages/macro/package.json
Labels: :package: macro

fix: i18n.activate should load instantly new messages (#1182)
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/react/src/I18nProvider.test.tsx
Labels: :package: core, :package: react

fix(): add lingui core to macro peer dependencies (#1187)
  packages/macro/package.json
Labels: :package: macro

chore(release): published v3.13.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(): localeData interpolation broken
  packages/core/src/i18n.ts
Labels: :package: core
