Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

use pkgUp.sync to localize the package.json
  packages/cli/package.json
  packages/cli/src/api/detect.ts
  yarn.lock
Labels: :package: cli

mention Plurals in react docs
  docs/ref/react.rst
Labels: none

fix: @lingui/cli type error when catalog is missing
  packages/cli/src/api/catalog.ts
Labels: :package: cli

also fix 3 typos
  docs/tutorials/setup-cra.rst
Labels: none

docs: Use defineMessage for lazy translations
  docs/tutorials/react-patterns.rst
Labels: none

fix: Report correct number of missing messages in strict mode
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix: Report correct number of missing messages in strict mode (#992)
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

docs: Use defineMessage macro for lazy translations (#991)
  docs/tutorials/react-patterns.rst
Labels: none

fix: use pkgUp.sync to localize package.json (#985)
  packages/cli/package.json
  packages/cli/src/api/detect.ts
  yarn.lock
Labels: :package: cli

fix: @lingui/cli type error when catalog is missing (#988)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

docs: Plurals without macros in react docs (#987)
  docs/ref/react.rst
  docs/tutorials/setup-cra.rst
Labels: none

Raise event on missing translation
  docs/ref/core.rst
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

Explain config in the Setup tutorial
  docs/tutorials/react.rst
Labels: none

fix: macro components should omit key prop #994
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
Labels: :package: macro

docs: explain locales config in the Setup tutorial (#995)
  docs/tutorials/react.rst
Labels: none

feat: raise event on missing translation (#993)
  docs/ref/core.rst
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

chore(release): published v3.7.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Fix formating in docs
  docs/tutorials/react.rst
Labels: none

Small fixes to packages.json for react-native compat
  packages/core/package.json
  packages/detect-locale/package.json
  packages/macro/package.json
Labels: :package: core, :package: macro

fix: exports attribute on package.json, expo compat (#997)
  packages/core/package.json
  packages/detect-locale/package.json
  packages/macro/package.json
Labels: :package: core, :package: macro

docs: fix formating in react section (#996)
  docs/tutorials/react.rst
Labels: none

chore(release): published v3.7.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

include conf build folder in npm
  packages/conf/.npmignore
  packages/conf/package.json
Labels: :package: conf

fix: webpack 5 issue with jest @lingui/loader #999
  packages/loader/src/index.js
Labels: :package: loader

fix: lingui extract ignores custom directories as args #998
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

chore: changed size-limit action
  .github/workflows/size-limit.yml
  package.json
  yarn.lock
Labels: none

chore: changed size-limit action (#1004)
  .github/workflows/size-limit.yml
  package.json
  yarn.lock
Labels: none

chore(release): published v3.7.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat: allow to disable lineNumbers
  docs/ref/conf.rst
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

Fix typo
  docs/ref/macro.rst
Labels: none

Fix syntax of `plural` in docs
  docs/tutorials/javascript.rst
Labels: none

soca: fix syntax of `plural` in docs (#1010)
  docs/tutorials/javascript.rst
Labels: none

feat: allow to disable lineNumbers (#1007)
  docs/ref/conf.rst
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix: selectOrdinal pseudolocalize insensitive
  packages/cli/src/api/pseudoLocalize.ts
Labels: :package: cli

chore(release): published v3.8.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: fallback locales default not overwritten
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
Labels: :package: conf

chore(release): published v3.8.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: added t macro test
  packages/macro/test/js-t.ts
Labels: :package: macro

fix: Trans type accepts values
  packages/macro/index.d.ts
Labels: :package: macro

chore(release): published v3.8.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react
