Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

revert yarn config
  .github/verdaccio/.yarnrc.yml
  .github/workflows/release-test.yml
Labels: none

fix
  .github/workflows/release-test.yml
Labels: none

fixes + prettier
  examples/vite-project-react-babel/.prettierrc.json
  examples/vite-project-react-babel/lingui.config.ts
  examples/vite-project-react-babel/package.json
  examples/vite-project-react-babel/src/App.test.tsx
  examples/vite-project-react-babel/src/App.tsx
  examples/vite-project-react-babel/src/MsgExample.tsx
  examples/vite-project-react-babel/src/PluralExample.tsx
  examples/vite-project-react-babel/src/i18n.ts
  examples/vite-project-react-babel/src/main.tsx
  examples/vite-project-react-babel/vite.config.ts
  examples/vite-project-react-babel/yarn.lock
Labels: none

proper extension for macro subpaths
  packages/core/package.json
  packages/react/package.json
Labels: :package: core, :package: react

chore: remove CRA, write tests for vite-babel example, correct macro exports (#2432)
  .github/workflows/release-test.yml
  examples/create-react-app/.babelrc
  examples/create-react-app/.env
  examples/create-react-app/.gitignore
  examples/create-react-app/README.md
  examples/create-react-app/lingui.config.js
  examples/create-react-app/package.json
  examples/create-react-app/public/index.html
  examples/create-react-app/src/App.css
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/App.tsx
  examples/create-react-app/src/i18n.ts
  examples/create-react-app/src/index.css
  examples/create-react-app/src/index.tsx
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/en.po
  examples/create-react-app/src/logo.svg
  examples/create-react-app/src/react-app-env.d.ts
  examples/create-react-app/src/serviceWorker.ts
  examples/create-react-app/src/setupTests.ts
  examples/create-react-app/tsconfig.json
  examples/create-react-app/yarn.lock
  examples/vite-project-react-babel/.prettierrc.json
  examples/vite-project-react-babel/lingui.config.ts
  examples/vite-project-react-babel/package.json
  examples/vite-project-react-babel/src/App.test.tsx
  examples/vite-project-react-babel/src/App.tsx
  examples/vite-project-react-babel/src/MsgExample.tsx
  examples/vite-project-react-babel/src/PluralExample.tsx
  examples/vite-project-react-babel/src/i18n.ts
  examples/vite-project-react-babel/src/locales/en.po
  examples/vite-project-react-babel/src/locales/pl.po
  examples/vite-project-react-babel/src/main.tsx
  examples/vite-project-react-babel/tsconfig.json
  examples/vite-project-react-babel/tsconfig.node.json
  examples/vite-project-react-babel/vite.config.ts
  examples/vite-project-react-babel/yarn.lock
  packages/core/package.json
  packages/react/package.json
Labels: :package: core, :package: react

chore: explicit "type" field in package.json and alignment for "exports" (#2430)
  eslint.config.js
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/.vitest/serializer.ts
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/vitest.config.ts
  packages/cli/.vitest/serializer.ts
  packages/cli/package.json
  packages/cli/vitest.config.ts
  packages/conf/__typetests__/tsconfig.json
  packages/conf/package.json
  packages/core/build.config.ts
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/compileMessage.js
  packages/message-utils/generateMessageId.js
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/test-utils/package.json
  packages/vite-plugin/package.json
  scripts/jest/env.js
  scripts/jest/setupTimezone.js
  scripts/jest/stripAnsiSerializer.js
  scripts/verdaccio-release.ts
  test/node-api/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

proper macro browser shim
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/test/index.ts
  packages/core/macro/browser.cjs
  packages/core/package.json
  packages/format-json/package.json
  packages/react/macro/browser.cjs
  packages/react/macro/index.d.cts
  packages/react/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/no-macro-error/entrypoint.js
  packages/vite-plugin/test/vite-plugin.test.ts
Labels: :package: core, :package: react

packages and lock file
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: none

switch macro plugin to esm
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/tsconfig.json
  packages/core/macro/index.cjs
  packages/react/macro/index.cjs
  yarn.lock
Labels: :package: core, :package: react

fixes
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/core/macro/index.cjs
  packages/react/macro/index.cjs
Labels: :package: core, :package: react

fixes
  packages/babel-plugin-lingui-macro/package.json
  yarn.lock
Labels: none

adds to examples page
  website/docs/examples.md
Labels: none

Ignore JSX comments when generating message ids
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

fix `_t` type
  packages/react/macro/index.d.cts
Labels: :package: react

fix `_t` type
  packages/react/macro/index.d.cts
Labels: :package: react

refactor: proper macro browser shim (#2433)
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/test/index.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/babel-plugin-lingui-macro/tsconfig.json
  packages/core/macro/browser.cjs
  packages/core/macro/index.cjs
  packages/core/package.json
  packages/format-json/package.json
  packages/react/macro/browser.cjs
  packages/react/macro/index.cjs
  packages/react/macro/index.d.cts
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/no-macro-error/entrypoint.js
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: :package: core, :package: react

chore: set the minimum required node version to 22.19
  .github/workflows/docs-suite.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  .github/workflows/release-docs.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/version-bump.yml
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/test-utils/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix: add missing comma in generic type definition for EventEmitter
  packages/core/src/eventEmitter.ts
Labels: :package: core

update nvmrc
  .nvmrc
Labels: none

fix: improve type safety in EventEmitter methods
  packages/core/__typetests__/eventEmitter.tst.ts
  packages/core/src/eventEmitter.ts
Labels: :package: core

fix: update EventEmitter type test examples
  packages/core/__typetests__/eventEmitter.tst.ts
Labels: :package: core

Update website/blog/2025-12-17-deprecating-intl-wrappers/index.md
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

chore: request community contributions for codemod to automate migration from Intl wrappers
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

chore: update deprecation timeline for Intl wrappers in documentation
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

docs: move const objects out of func
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

docs: make some optimizations for code examples
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

fix: correct formatting
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

docs: the blog post has been rewritten from scratch
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

chore: update documentation to replace deprecated Intl wrappers with native Intl methods
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/ref/core.md
  website/docs/tutorials/react.md
Labels: none

docs: update migration instruction
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

chore: update social card image for deprecating Intl wrappers blog post
  website/blog/2025-12-17-deprecating-intl-wrappers/social-card.jpg
Labels: none

chore: replace picocolors with node:util for styling in CLI
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/messages.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  packages/conf/src/makeConfig.ts
  scripts/verdaccio-release.ts
  yarn.lock
Labels: :package: cli, :package: conf

feat!: use base64 urlsafe alphabet for id
  packages/message-utils/src/generateMessageId.node.ts
  packages/message-utils/src/generateMessageId.test.ts
  packages/message-utils/src/generateMessageId.ts
Labels: none

update snapshots
  packages/babel-plugin-extract-messages/test/__snapshots__/extract-messages.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental-template/expected/index.page.en.js
  packages/cli/test/extractor-experimental-template/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
Labels: :package: cli, :package: plugin-extract

fix: cli inline sourcemap parsing
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/fixtures/collect-inline-sourcemaps-charset/componentB.jsx
  packages/cli/src/api/fixtures/collect-inline-sourcemaps-multiple/componentB.jsx
  yarn.lock
Labels: :package: cli

chore: delete unused deps across monorepo
  package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/format-po/package.json
  packages/metro-transformer/package.json
  packages/remote-loader/package.json
  yarn.lock
Labels: :package: cli

chore: replace glob with node:fs glob
  packages/cli/package.json
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/extract-experimental/getEntryPoints.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
  yarn.lock
Labels: :package: cli

chore: replace es-main with import.meta.main
  packages/cli/package.json
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  yarn.lock
Labels: :package: cli

chore: replace picocolors with node:util for styling in CLI (#2437)
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/messages.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  packages/conf/src/makeConfig.ts
  scripts/verdaccio-release.ts
  yarn.lock
Labels: :package: cli, :package: conf

use node-version-file
  .github/workflows/main-suite.yml
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
Labels: none
