Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs(packages): rewrite the npm READMEs and align package descriptions
  packages/babel-plugin-extract-messages/README.md
  packages/babel-plugin-lingui-macro/README.md
  packages/cli/README.md
  packages/cli/package.json
  packages/conf/README.md
  packages/core/README.md
  packages/core/package.json
  packages/detect-locale/README.md
  packages/detect-locale/package.json
  packages/extractor-vue/README.md
  packages/extractor-vue/package.json
  packages/format-csv/README.md
  packages/format-csv/package.json
  packages/format-json/README.md
  packages/format-json/package.json
  packages/format-po-gettext/README.md
  packages/format-po-gettext/package.json
  packages/format-po/README.md
  packages/format-po/package.json
  packages/loader/README.md
  packages/loader/package.json
  packages/message-utils/README.md
  packages/metro-transformer/README.md
  packages/metro-transformer/package.json
  packages/react/README.md
  packages/react/package.json
  packages/solid/README.md
  packages/solid/package.json
  packages/vite-plugin/README.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

docs: add robots.txt and context7.json, and name the llms.txt sections
  context7.json
  website/docusaurus.config.ts
  website/static/robots.txt
Labels: none

docs(conf): format pseudolocale option table
  website/docs/ref/conf.md
Labels: none

docs(conf): align pseudolocale option table
  website/docs/ref/conf.md
Labels: none

docs: apply the final review fixes to the README, docs, FAQ and Context7 rules
  README.md
  context7.json
  packages/babel-plugin-lingui-macro/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/format-po/README.md
  packages/react/README.md
  website/docs/installation.mdx
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/ref/loader.md
  website/docs/releases/migration-3.md
  website/docs/tools/crowdin.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/react-rsc.md
  website/docusaurus.config.ts
  website/src/components/faq.tsx
Labels: :package: cli, :package: core, :package: react

docs(conf): fix pseudolocale table formatting
  website/docs/ref/conf.md
Labels: none

docs: add guide for using individual markdown documentation pages and escape JSON-LD script tags
  website/docs/ai-tools.md
  website/src/pages/index.tsx
Labels: none

fix(core): look up select choices and message ids as own properties
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

feat(conf): support pseudolocale extend character (#2651)
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/conf/__typetests__/index.tst.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

build(deps): update Lerna
  package.json
  yarn.lock
Labels: none

build(deps): update Lerna (#2633)
  package.json
  yarn.lock
Labels: none

fix(core): look up select choices and message ids as own properties (#2664)
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

fix: make orderBy handling consistent
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
Labels: :package: cli, :package: conf

test: address orderBy review feedback
  packages/cli/src/api/catalog.ts
  packages/conf/src/index.test.ts
Labels: :package: cli, :package: conf

feat(cli): add rightToLeft option to pseudoLocale
  CONTRIBUTING.md
  packages/cli/package.json
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/conf/__typetests__/index.tst.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
  yarn.lock
Labels: :package: cli, :package: conf

feat(conf): support array of pseudolocales in pseudoLocale config
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/test/compile.test.ts
  packages/conf/__typetests__/index.tst.ts
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/loader/src/webpackLoader.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/vite-plugin/src/index.ts
  website/docs/guides/pseudolocalization.md
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf, :package: loader

docs: update outdated lint and format commands in CONTRIBUTING.md
  CONTRIBUTING.md
  packages/conf/src/makeConfig.ts
Labels: :package: conf

docs: document and advertise no-unnamed-tag-placeholders rule
  website/docs/ref/conf.md
  website/docs/ref/eslint-plugin.md
  website/docs/ref/macro.mdx
  website/docs/tutorials/react.md
  website/docs/tutorials/solid.md
Labels: none

docs: rewrite the monorepo setup guide
  website/docs/guides/monorepo.md
Labels: none

docs: document and advertise no-unnamed-tag-placeholders rule (#2666)
  website/docs/ref/conf.md
  website/docs/ref/eslint-plugin.md
  website/docs/ref/macro.mdx
  website/docs/tutorials/react.md
  website/docs/tutorials/solid.md
Labels: none

Export types from @lingui/conf in index.ts
  packages/cli/src/index.ts
Labels: :package: cli

docs: clarify context files and add guidance on the AI tools page
  website/docs/ai-tools.md
Labels: none

docs: clarify context files and add guidance on the AI tools page (#2669)
  website/docs/ai-tools.md
Labels: none

test(cli): add a crash test for when entryDir pattern has multiple files
  packages/cli/test/extractor-experimental-crash-shared-output/existing/fixtures/pages/messages.en.po
  packages/cli/test/extractor-experimental-crash-shared-output/existing/fixtures/pages/messages.pl.po
  packages/cli/test/extractor-experimental-crash-shared-output/expected/fixtures/pages/messages.en.po
  packages/cli/test/extractor-experimental-crash-shared-output/expected/fixtures/pages/messages.pl.po
  packages/cli/test/extractor-experimental-crash-shared-output/fixtures/pages/about.page.ts
  packages/cli/test/extractor-experimental-crash-shared-output/fixtures/pages/index.page.ts
  packages/cli/test/extractor-experimental-crash-shared-output/package.json
  packages/cli/test/index.test.ts
Labels: :package: cli

fix(cli): skip writing shared output catalogs when a sibling entry fails to extract
  packages/cli/src/lingui-extract-experimental.ts
Labels: :package: cli

refactor(cli): fold per-entry failure guard into the shared output check
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/lingui-extract-experimental.ts
Labels: :package: cli

address feedback (format)
  packages/conf/src/makeConfig.ts
  website/docs/guides/pseudolocalization.md
  website/docs/ref/conf.md
Labels: :package: conf

feat(cli,conf): add RTL pseudolocale and allow multiple pseudolocales (#2652)
  CONTRIBUTING.md
  packages/cli/package.json
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/test/compile.test.ts
  packages/conf/__typetests__/index.tst.ts
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/loader/src/webpackLoader.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/vite-plugin/src/index.ts
  website/docs/guides/pseudolocalization.md
  website/docs/ref/conf.md
  yarn.lock
Labels: :package: cli, :package: conf, :package: loader

fix: make orderBy handling consistent (#2665)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
Labels: :package: cli, :package: conf

chore(release): published v6.7.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.7.0 [skip ci] (#2670)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix: update worker thread descriptions and improve sync check behavior
  packages/cli/src/api/catalog/translations.ts
  packages/cli/src/api/check/sync.ts
  packages/cli/src/api/check/types.ts
  packages/cli/src/api/findings.ts
  packages/cli/src/lingui-check.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/check-cli.test.ts
  packages/cli/src/test/check-sync.test.ts
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  website/blog/2026-04-22-announcing-lingui-6.0/index.md
  website/docs/ref/cli.md
Labels: :package: cli

fix(cli): export all types that are part of the public API (#2668)
  packages/cli/src/index.ts
Labels: :package: cli

fix: address catalog check review feedback
  packages/cli/src/api/check/index.ts
  packages/cli/src/api/check/sync.ts
  packages/cli/src/api/messages.test.ts
  packages/cli/src/api/messages.ts
  packages/cli/src/test/check-registry.test.ts
  packages/cli/src/test/check-sync.test.ts
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  website/docs/ref/cli.md
Labels: :package: cli

test: increase timeout for multithread compilation tests
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

test: increase timeout for multithread compilation tests to improve stability
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

fix: harden PO parsing and catalog checks
  packages/cli/src/api/catalog/translations.ts
  packages/cli/src/api/check/missing.ts
  packages/cli/src/api/check/sync.ts
  packages/cli/src/api/workerPools.ts
  packages/cli/src/test/check-missing.test.ts
  packages/cli/src/test/check-sync.test.ts
  packages/cli/src/workers/missingWorker.ts
  packages/cli/src/workers/missingWorkerWrapper.jiti.js
  packages/cli/src/workers/missingWorkerWrapper.prod.ts
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

fix: ensure worker pool is created only with valid pool size and config path
  packages/cli/src/api/check/sync.ts
  packages/cli/src/test/check-sync.test.ts
Labels: :package: cli

revert: "feat(cli): add support for `BatchExtractor` (#2562)"
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/collectWithBatchExtractor.test.ts
  packages/cli/src/api/catalog/extractFromFiles.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/fixtures/collect/componentF.ts
  packages/cli/src/api/fixtures/collect/componentG.vue
  packages/conf/__typetests__/index.tst.ts
  packages/conf/src/types.ts
  packages/extractor-vue/src/vue-extractor.ts
Labels: :package: cli, :package: conf

revert: "feat(cli): add support for `BatchExtractor` (#2562)" (#2673)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/collectWithBatchExtractor.test.ts
  packages/cli/src/api/catalog/extractFromFiles.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/fixtures/collect/componentF.ts
  packages/cli/src/api/fixtures/collect/componentG.vue
  packages/conf/__typetests__/index.tst.ts
  packages/conf/src/types.ts
  packages/extractor-vue/src/vue-extractor.ts
Labels: :package: cli, :package: conf
