Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: escaped curly-braces doesn't preserve in development mode (#1901)
  packages/core/src/i18n.ts
Labels: :package: core

docs: remove dead links from showroom
  website/docs/misc/showroom.md
Labels: none

docs: add https://lefun.fun to showroom
  website/docs/misc/showroom.md
Labels: none

chore(macro): snapshot testing (#1912)
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-defineMessage.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.expected.js
  packages/babel-plugin-lingui-macro/test/index.ts
  packages/babel-plugin-lingui-macro/test/js-defineMessage.test.ts
  packages/babel-plugin-lingui-macro/test/js-defineMessage.ts
  packages/babel-plugin-lingui-macro/test/js-plural.test.ts
  packages/babel-plugin-lingui-macro/test/js-plural.ts
  packages/babel-plugin-lingui-macro/test/js-select.test.ts
  packages/babel-plugin-lingui-macro/test/js-select.ts
  packages/babel-plugin-lingui-macro/test/js-selectOrdinal.test.ts
  packages/babel-plugin-lingui-macro/test/js-selectOrdinal.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.ts
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-plural.ts
  packages/babel-plugin-lingui-macro/test/jsx-select.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-select.ts
  packages/babel-plugin-lingui-macro/test/jsx-selectOrdinal.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-selectOrdinal.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
Labels: none

docs: add https://lefun.fun to showroom (#1917)
  website/docs/misc/showroom.md
Labels: none

feat(react): native support react RSC
  packages/core/src/i18n.ts
  packages/react/package.json
  packages/react/src/TransRsc.tsx
  packages/react/src/index-rsc.ts
  packages/react/src/server.ts
Labels: :package: core, :package: react

refactor(macro): use message descriptor for Trans
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
Labels: none

feat(react): native support react RSC (#1914)
  packages/core/src/i18n.ts
  packages/react/package.json
  packages/react/src/TransRsc.tsx
  packages/react/src/index-rsc.ts
  packages/react/src/server.ts
Labels: :package: core, :package: react

update snapshots
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-defineMessage.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.expected.js
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

introduce MsgDescriptorPropKey enum
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
Labels: none

fixes
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-plural-select-nested.expected.js
Labels: :package: plugin-extract

chore(release): published v4.9.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v4.10.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

refactor: fix prettier warn 🎨
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

Update react-native.md, Unify code format style
  website/docs/tutorials/react-native.md
Labels: none

docs: update react-native.md, Unify code format style (#1918)
  website/docs/tutorials/react-native.md
Labels: none

test: fix e2e cli test regex
  test/cli-version/index.js
Labels: none

test: fix e2e cli test regex (#1919)
  test/cli-version/index.js
Labels: none

refactor: minor improvements to RSC
  packages/react/src/TransRsc.tsx
  packages/react/src/index-rsc.ts
  packages/react/src/server.ts
Labels: :package: react

refactor: return current from getI18n
  packages/react/src/TransRsc.tsx
  packages/react/src/index-rsc.ts
  packages/react/src/server.ts
Labels: :package: react

refactor: minor improvements to RSC (#1920)
  packages/react/src/TransRsc.tsx
  packages/react/src/index-rsc.ts
  packages/react/src/server.ts
Labels: :package: react

docs: update docusaurus
  website/package.json
  website/src/components/Header.tsx
  website/yarn.lock
Labels: none

docs: update docusaurus (#1922)
  website/package.json
  website/src/components/Header.tsx
  website/yarn.lock
Labels: none

chore: rspack with lingui swc plugin
  examples/rspack/package.json
  examples/rspack/rspack.config.js
  examples/rspack/src/Inbox.tsx
  examples/rspack/yarn.lock
Labels: none

chore: remove reduntant dependenices
  examples/rspack/package.json
  examples/rspack/yarn.lock
Labels: none

chore: format rspack config file
  examples/rspack/rspack.config.js
Labels: none

docs: replace rspack babel reference with swc-loader
  examples/rspack/README.md
Labels: none

docs: add macros ref in rspack examples readme
  examples/rspack/README.md
Labels: none

docs: mention swc plugin version compatibility
  examples/rspack/README.md
Labels: none

docs: fix typo is rspack example readme
  examples/rspack/README.md
Labels: none

chore(examples): rspack with lingui swc plugin (#1923)
  examples/rspack/README.md
  examples/rspack/package.json
  examples/rspack/rspack.config.js
  examples/rspack/src/Inbox.tsx
  examples/rspack/yarn.lock
Labels: none

feat: vue extractor error reporting
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/vue-extractor.ts
Labels: none

test: vue extractor error reporting
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/fixtures/test-compile.vue
  packages/extractor-vue/src/fixtures/test-parse.vue
Labels: none

chore: update error logging for vue extractor
  packages/extractor-vue/src/vue-extractor.ts
Labels: none

docs: Update examples.md
  website/docs/misc/examples.md
Labels: none

feat: add @lingui/vue
  jest.config.js
  packages/vue/README.md
  packages/vue/package.json
  packages/vue/src/common/Trans.test.ts
  packages/vue/src/common/Trans.ts
  packages/vue/src/common/predicates.test.ts
  packages/vue/src/common/predicates.ts
  packages/vue/src/common/types.ts
  packages/vue/src/common/vt.test.ts
  packages/vue/src/common/vt.ts
  packages/vue/src/compiler/babel-macros.ts
  packages/vue/src/compiler/index.ts
  packages/vue/src/compiler/transformer.test.ts
  packages/vue/src/compiler/transformer.ts
  packages/vue/src/components/Trans.ts
  packages/vue/src/components/format.ts
  packages/vue/src/components/vt.ts
  packages/vue/src/extractor/extractor.ts
  packages/vue/src/extractor/index.ts
  packages/vue/src/extractor/transformer.test.ts
  packages/vue/src/extractor/transformer.ts
  packages/vue/src/index.ts
  packages/vue/src/plugins/lingui.ts
  packages/vue/src/test/utils.ts
  packages/vue/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: none

chore: add verbose vue error logs
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/vue-extractor.ts
Labels: none

fix: escaped curly-braces doesn't preserve in development mode (#1913)
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/react/src/Trans.test.tsx
Labels: :package: core, :package: react

fix pound symbol being replaced outside plural and selectordinal
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

docs: og image for examples page
  website/docs/misc/examples.md
  website/static/img/og-image-examples.png
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
