Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: update source-map to latest stable non-deprecated version
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

docs: document `--lint-directive` option for the `compile` command and add examples
  website/docs/ref/cli.md
Labels: none

test: add unit tests for `lintDirective` option in `compile` command
  packages/cli/src/api/compile.test.ts
Labels: :package: cli

test: add unit tests for `lintDirective` option in `compile` command
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

test: add unit tests for handling Polish translations in `compile` command
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

format: reformat assertions in `compile` command tests for Prittier
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

format: reformat docs for Prittier
  website/docs/ref/cli.md
Labels: none

chore: update source-map to latest stable non-deprecated version (#2378)
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

refactor: rename `lintDirective` to `outputPrefix` and update related docs and tests
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
  website/docs/ref/cli.md
Labels: :package: cli

feat(po-gettext): use the pluralize_on for merged items
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

update doc and use $var
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  website/docs/ref/catalog-formats.md
Labels: none

prettier fix
  website/docs/ref/catalog-formats.md
Labels: none

feat(cli): add --output-prefix option to customize compiled file headers (#2377)
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
  website/docs/ref/cli.md
Labels: :package: cli

fix(cli): allow using PO formatter function with Translation.IO (#2375)
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

fix: Gettext formatter merges duplicate plural entries (#2347)
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  website/docs/ref/catalog-formats.md
Labels: none

docs: add build step to local development setup
  CONTRIBUTING.md
Labels: none

refactor: migrate from pofile to pofile-ts
  .gitignore
  jest.config.js
  packages/cli/package.json
  packages/cli/src/services/translationIO.ts
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/package.json
  packages/format-po/src/po.ts
  yarn.lock
Labels: :package: cli

fix: removed non-required change
  jest.config.js
Labels: none

chore: upgrade pofile-ts to v3.0.0
  packages/cli/package.json
  packages/cli/src/services/translationIO.ts
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/package.json
  packages/format-po/src/po.ts
  yarn.lock
Labels: :package: cli

refactor(format-po): remove unnecessary type cast
  packages/format-po/src/po.ts
Labels: none

feat(format-po): add foldLength and compactMultiline options
  packages/cli/package.json
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/package.json
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.ts
  yarn.lock
Labels: :package: cli

fix: test
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
Labels: none

fix: auto format
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

chore(release): published v5.7.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.7.0 [skip ci] (#2382)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Add bun-plugin-lingui-macro to third-party modules
  website/docs/misc/tooling.md
Labels: none

chore: deprecate Intl wrapper helpers and document removal
  packages/core/src/formats.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core

Move bun-plugin-lingui-macro position in tooling.md
  website/docs/misc/tooling.md
Labels: none

Fix formatting.
  website/docs/misc/tooling.md
Labels: none

chore: update deprecation notices for Intl wrapper helpers
  packages/core/src/formats.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core

docs: Add bun-plugin-lingui-macro to third-party modules (#2384)
  website/docs/misc/tooling.md
Labels: none

chore: add blog post on deprecating Intl wrappers and update documentation
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
  website/blog/2025-12-17-deprecating-intl-wrappers/social-card.jpg
  website/blog/authors.yml
  website/docs/ref/core.md
Labels: none

chore: fix description formatting in deprecation blog post
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

chore: add missing semicolons in Intl wrapper deprecation documentation
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
  website/docs/ref/core.md
Labels: none

fix(tsconfig): update jsx option to use react-jsx
  tsconfig.json
Labels: none

fix(types): change component and render types to never in TransRenderCallbackOrComponent
  packages/react/src/TransNoContext.tsx
Labels: :package: react

test(formatElements): add test case for handling array of elements
  packages/react/src/format.test.tsx
Labels: :package: react

Revert "test(formatElements): add test case for handling array of elements"
  packages/react/src/format.test.tsx
Labels: :package: react

fix(types): update defaultComponent type to use React.ComponentType
  packages/react/src/I18nProvider.tsx
  packages/react/src/TransNoContext.tsx
Labels: :package: react

fix(types): add type annotation for _translation variable in TransNoContext
  packages/react/src/TransNoContext.tsx
Labels: :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
