Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

test: add tests and refactor I18nProvider
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

chore: release v3.0.0-18
  package.json
Labels: none

feat: fail gracefully for wrong use of elements in translation (#675)
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

docs: improve React related docs (#654)
  docs/tutorials/react.rst
  docs/tutorials/setup-cra.rst
Labels: none

Add option to merge catalogs to single file
  docs/tutorials/cli.rst
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix: use path.basename to get catalog name
  packages/cli/src/api/catalog.ts
Labels: :package: cli

Use system agnostic PATHSEP and fix types #568
  packages/cli/src/api/catalog.ts
  packages/conf/index.d.ts
Labels: :package: cli, :package: conf

Add Notos to showroom
  docs/misc/showroom.rst
Labels: none

docs: add Notos to showroom (#755)
  docs/misc/showroom.rst
Labels: none

feat: introduced withI18n
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

chore: removed unused code
  packages/react/src/I18nProvider.tsx
Labels: :package: react

refactor: rewritten to a functional component
  packages/react/src/I18nProvider.tsx
Labels: :package: react

docs: remove withI18n component is removed
  docs/releases/migration-3.rst
Labels: none

fix: testing suite
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

feat: introduce withI18n for backward compatibility (#756)
  docs/releases/migration-3.rst
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

fix: trailing whitespace inside Plural
  packages/macro/src/macroJsx.ts
Labels: :package: macro

Update react-native.rst
  docs/tutorials/react-native.rst
Labels: none

feat: rename mergePath to catalogsMergePath
  docs/tutorials/cli.rst
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

docs: remove obsolete defineMessages from ref
  docs/ref/macro.rst
Labels: none

docs: add auto translation tool to tooling.rst
  docs/misc/tooling.rst
Labels: none

fix: return only elements from Trans component
  examples/next-js/yarn.lock
  packages/react/src/Trans.tsx
Labels: :package: react

fix: fix children with same key, uniqueId
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

chore: prefix autocomplete
  packages/react/src/format.ts
Labels: :package: react

chore: removed unused cosed
  packages/react/src/format.test.tsx
Labels: :package: react

fix: render from prop #607
  packages/react/src/Trans.tsx
Labels: :package: react

fix: i18n.load typescript inference
  packages/core/src/i18n.ts
Labels: :package: core

fix: build
  packages/core/src/context.ts
  packages/core/src/dev/compile.ts
Labels: :package: core

fix: i18n.load typescript inference (#765)
  packages/core/src/context.ts
  packages/core/src/dev/compile.ts
  packages/core/src/i18n.ts
Labels: :package: core

chore: changed how internally works
  packages/react/src/format.ts
Labels: :package: react

chore: refactored to a complete solution
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

chore: improved type of dom element
  packages/react/src/Trans.tsx
Labels: :package: react

refactor: to match latest spec
  docs/ref/react.rst
  docs/releases/migration-2.rst
  docs/releases/migration-3.rst
  docs/tutorials/react-native.rst
  packages/macro/index.d.ts
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: macro, :package: react

chore: improved type
  packages/react/src/Trans.tsx
Labels: :package: react

chore: fix whitespace
  packages/react/src/Trans.tsx
Labels: :package: react

chore: improved fallback
  packages/react/src/Trans.tsx
Labels: :package: react

fix: set unique key to Trans children (#762)
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

chore: reverted bad docs
  docs/ref/react.rst
  docs/releases/migration-2.rst
Labels: none

docs: add Trans `render` and `component` props to migration guide
  docs/releases/migration-3.rst
Labels: none

chore: refactor validation and rendering of Trans component
  package.json
  packages/react/src/Trans.tsx
Labels: :package: react

chore: release v3.0.0-20
  package.json
Labels: none
