Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(core): add bigint to MessagePlaceholder type
  packages/core/macro/index.d.ts
Labels: :package: core

docs: update rspack example, add @lingui/loader to example
  examples/rspack/README.md
  examples/rspack/package.json
  examples/rspack/rspack.config.js
  examples/rspack/src/Inbox.tsx
  examples/rspack/src/LocaleSwitcher.tsx
  examples/rspack/src/i18n.ts
  examples/rspack/src/locales/en/messages.d.ts
  examples/rspack/src/locales/en/messages.po
  examples/rspack/src/locales/en/messages.ts
  examples/rspack/src/locales/fr/messages.d.ts
  examples/rspack/src/locales/fr/messages.po
  examples/rspack/src/locales/fr/messages.ts
  examples/rspack/src/main.tsx
  examples/rspack/src/react-env.d.ts
  examples/rspack/yarn.lock
Labels: none

fix(cli): align strict missing semantics with extract
  packages/cli/src/api/catalog/getTranslationsForCatalog.test.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/fail-on-missing-fallback/entrypoint.js
  packages/loader/test/fail-on-missing-fallback/lingui.config.js
  packages/loader/test/fail-on-missing-fallback/locale/en-GB.po
  packages/loader/test/fail-on-missing-fallback/locale/en-US.po
  packages/loader/test/loader.test.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/fail-on-missing-fallback/entrypoint.js
  packages/vite-plugin/test/fail-on-missing-fallback/lingui.config.js
  packages/vite-plugin/test/fail-on-missing-fallback/locale/en-GB.po
  packages/vite-plugin/test/fail-on-missing-fallback/locale/en-US.po
  packages/vite-plugin/test/vite-plugin.test.ts
Labels: :package: cli, :package: loader

docs(cli): clarify behavior of --strict option in command and documentation
  packages/cli/src/lingui-compile.ts
  website/docs/ref/cli.md
Labels: :package: cli

fix(po-format): remove duplicated references when lineNumbers is false
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: none

fix(po-format): remove duplicated references when lineNumbers is false (#2509)
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: none

feat!: Consolidate Metadata Transformation Options into descriptorFields
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  website/docs/guides/optimizing-bundle-size.md
  website/docs/ref/swc-plugin.md
Labels: :package: cli

fix
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  website/docs/guides/optimizing-bundle-size.md
Labels: :package: plugin-extract

fix: call getCatalogTranslation once
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
Labels: :package: cli

docs: add missing mention about compilation errors
  packages/cli/src/lingui-compile.ts
  website/docs/ref/cli.md
Labels: :package: cli

chore: del rsbuild and rspack from peerDependencies
  packages/loader/package.json
  yarn.lock
Labels: :package: loader

fix(loader): make webpack peer dependency optional and update Rspack example (#2475)
  examples/rspack/README.md
  examples/rspack/package.json
  examples/rspack/rspack.config.js
  examples/rspack/src/Inbox.tsx
  examples/rspack/src/LocaleSwitcher.tsx
  examples/rspack/src/i18n.ts
  examples/rspack/src/locales/en/messages.d.ts
  examples/rspack/src/locales/en/messages.po
  examples/rspack/src/locales/en/messages.ts
  examples/rspack/src/locales/fr/messages.d.ts
  examples/rspack/src/locales/fr/messages.po
  examples/rspack/src/locales/fr/messages.ts
  examples/rspack/src/main.tsx
  examples/rspack/src/react-env.d.ts
  examples/rspack/yarn.lock
  packages/loader/package.json
  website/docs/ref/loader.md
  yarn.lock
Labels: :package: loader

feat: add optional configurable JSX placeholder naming
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-placeholder.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-placeholder.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: conf

fix tests
  packages/babel-plugin-lingui-macro/test/jsx-placeholder.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  website/docs/ref/conf.md
Labels: none

fix tests on windows
  packages/babel-plugin-lingui-macro/test/macroTester.ts
Labels: none

fix: add additional jsx placeholder attribute validation
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-placeholder.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-placeholder.test.ts
Labels: none

fix: make jsx placeholder attribute deduplication handle spreads
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-placeholder.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-placeholder.test.ts
Labels: none

prettier
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/conf/src/types.ts
Labels: :package: conf

fix: Allow `.-` in the middle of placeholder names
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-placeholder.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-placeholder.test.ts
Labels: none

feat(cli): add lingui check command for sync and missing validations
  packages/cli/src/api/catalog/translations.ts
  packages/cli/src/api/check/index.ts
  packages/cli/src/api/check/missing.ts
  packages/cli/src/api/check/sync.ts
  packages/cli/src/api/check/types.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/findings.ts
  packages/cli/src/api/formats/formatterWrapper.test.ts
  packages/cli/src/api/formats/formatterWrapper.ts
  packages/cli/src/api/resolveWorkersOptions.test.ts
  packages/cli/src/api/resolveWorkersOptions.ts
  packages/cli/src/api/runBounded.ts
  packages/cli/src/lingui-check.ts
  packages/cli/src/lingui.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/check-cli.test.ts
  packages/cli/src/test/check-missing.test.ts
  packages/cli/src/test/check-registry.test.ts
  packages/cli/src/test/check-sync.test.ts
  packages/cli/src/test/checkTestUtils.ts
  packages/cli/test/extract-partial-consistency/expected/en.po
  packages/cli/test/extractor-experimental-clean/expected/about.page.en.po
  packages/cli/test/extractor-experimental-clean/expected/about.page.pl.po
  packages/cli/test/extractor-experimental-clean/expected/index.page.en.po
  packages/cli/test/extractor-experimental-clean/expected/index.page.pl.po
  packages/cli/test/extractor-experimental/expected/about.page.en.po
  packages/cli/test/extractor-experimental/expected/about.page.pl.po
  packages/cli/test/extractor-experimental/expected/index.page.en.po
  packages/cli/test/extractor-experimental/expected/index.page.pl.po
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  website/docs/ref/cli.md
Labels: :package: cli

fix(cli): address copilot feedback for check output, workers help, and formatter reads
  packages/cli/src/api/check/sync.ts
  packages/cli/src/api/formats/formatterWrapper.test.ts
  packages/cli/src/api/formats/formatterWrapper.ts
  packages/cli/src/lingui-check.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/check-sync.test.ts
Labels: :package: cli

add runtime validation
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/test/descriptor-fields-validation.test.ts
Labels: none

feat!: Consolidate Metadata Transformation Options into descriptorFields (#2513)
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/descriptor-fields-validation.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  website/docs/guides/optimizing-bundle-size.md
  website/docs/ref/swc-plugin.md
Labels: :package: cli, :package: plugin-extract

chore(release): published v6.0.0-next.4
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

feat: add optional configurable JSX placeholder naming (#2505)
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-placeholder.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-placeholder.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: conf

chore(release): published v6.0.0-next.4 (#2521)
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

ci: pin npm to 11.10.0 to avoid promise-retry failure on Node 22.22.2
  .github/workflows/release.yml
Labels: none

ci: pin npm to 11.10.0 to avoid promise-retry failure on Node 22.22.2 (#2522)
  .github/workflows/release.yml
Labels: none

move post
  website/blog/2026-04-10-announcing-lingui-6.0/deps-dark.png
  website/blog/2026-04-10-announcing-lingui-6.0/deps-light.png
  website/blog/2026-04-10-announcing-lingui-6.0/index.md
  website/blog/2026-04-10-announcing-lingui-6.0/social-card.png
Labels: none

docs: update migration guide for v6
  website/docs/releases/migration-6.md
Labels: none

Enhance Vite plugin documentation and blog post with new features and migration details
  website/blog/2026-04-10-announcing-lingui-6.0/index.md
  website/docs/ref/vite-plugin.md
  website/docs/releases/migration-6.md
Labels: none

update
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

update blog post
  website/blog/2026-02-25-announcing-lingui-6.0/deps.png
  website/blog/2026-03-20-announcing-lingui-6.0/deps-dark.png
  website/blog/2026-03-20-announcing-lingui-6.0/deps-light.png
  website/blog/2026-03-20-announcing-lingui-6.0/index.md
  website/blog/2026-03-20-announcing-lingui-6.0/social-card.png
Labels: none

Refine documentation on message IDs and rich-text support
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/introduction.md
  website/src/components/features.tsx
Labels: none

update
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

update
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

prefer i18n.t over i18n._ in examples
  website/docs/guides/lazy-translations.md
  website/docs/guides/message-extraction.md
  website/docs/ref/core.md
  website/docs/ref/macro.mdx
  website/docs/tutorials/react-native.md
Labels: none

updates
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
  website/blog/2026-02-25-announcing-lingui-6.0/social-card.png
  website/docs/ref/macro.mdx
Labels: none

LocaleData
  website/docs/releases/migration-6.md
Labels: none

docs: add i18n with AI section to documentation
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
  website/docs/ai-tools.md
  website/docs/introduction.md
  website/sidebars.ts
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
