Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

Inadvertently commited previous change
  website/docs/ref/swc-plugin.md
Labels: none

Lint
  website/docs/ref/swc-plugin.md
Labels: none

This is embarassing
  website/docs/ref/swc-plugin.md
Labels: none

docs: add strip non essential fields option to SWC plugin doc (#2175)
  website/docs/ref/swc-plugin.md
Labels: none

Optional children for TransProps
  packages/react/macro/index.d.ts
Labels: :package: react

docs: date and time MessageFormat syntax
  website/docs/ref/core.md
Labels: none

docs: add comment to examples
  README.md
  website/src/components/Code.tsx
Labels: none

chore: minor refactoring of blog social images
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/blog/2023-04-26-announcing-lingui-4.0/social-card.png
  website/blog/2023-12-12-4k-stars/index.md
  website/blog/2023-12-12-4k-stars/social-card.png
Labels: none

docs: various minor updates (#2177)
  README.md
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/blog/2023-04-26-announcing-lingui-4.0/social-card.png
  website/blog/2023-12-12-4k-stars/index.md
  website/blog/2023-12-12-4k-stars/social-card.png
  website/docs/ref/core.md
  website/src/components/Code.tsx
Labels: none

ci: use changesets for versioning and publishing
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .github/workflows/version-next.yml
  .github/workflows/version.yml
  CHANGELOG.md
  CONTRIBUTING.md
  lerna.json
  package.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/conf/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/extractor-vue/CHANGELOG.md
  packages/format-csv/CHANGELOG.md
  packages/format-json/CHANGELOG.md
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po/CHANGELOG.md
  packages/jest-mocks/CHANGELOG.md
  packages/jest-mocks/package.json
  packages/loader/CHANGELOG.md
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/metro-transformer/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  scripts/verdaccio-release.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(cli): update esbuild
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

update to 5.0
  examples/create-react-app/.babelrc
  examples/create-react-app/package.json
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/en.po
  examples/create-react-app/yarn.lock
Labels: none

enable setting strict to true when compiling catalogs
  packages/vite-plugin/src/index.ts
Labels: none

test strict true in vite
  packages/vite-plugin/test/default-vite.config.ts
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/strict-true/.linguirc
  packages/vite-plugin/test/strict-true/entrypoint.js
  packages/vite-plugin/test/strict-true/locale/en.po
  packages/vite-plugin/test/strict-true/vite.config.ts
Labels: none

fix: make example buildable and replace deprecated code
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/app/[lang]/page.tsx
  examples/nextjs-swc/src/components/HomePage.tsx
  examples/nextjs-swc/src/locales/en.po
  examples/nextjs-swc/src/locales/es.po
  examples/nextjs-swc/src/locales/pseudo.po
  examples/nextjs-swc/src/locales/sr.po
  examples/nextjs-swc/yarn.lock
Labels: none

feat(babel-plugin-lingui-macro): allow to configure macro packages
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/conf/package.json
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  yarn.lock
Labels: :package: conf

fix tests
  packages/conf/src/__snapshots__/index.test.ts.snap
Labels: :package: conf

fix tests
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/conf/package.json
  packages/conf/src/makeConfig.ts
  yarn.lock
Labels: :package: conf

support macro config in vite plugin
  packages/vite-plugin/src/index.ts
Labels: none

add `failOnMissing` option for webpack/vite plugins
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/missingMessage.ts
  packages/cli/src/lingui-compile.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/compiler.ts
  packages/loader/test/fail-on-missing-pseudo/entrypoint.js
  packages/loader/test/fail-on-missing-pseudo/lingui.config.js
  packages/loader/test/fail-on-missing-pseudo/locale/en.po
  packages/loader/test/fail-on-missing-pseudo/locale/pseudo.po
  packages/loader/test/fail-on-missing/entrypoint.js
  packages/loader/test/fail-on-missing/lingui.config.js
  packages/loader/test/fail-on-missing/locale/en.po
  packages/loader/test/loader.test.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/default-vite.config.ts
  packages/vite-plugin/test/fail-on-missing-pseudo/entrypoint.js
  packages/vite-plugin/test/fail-on-missing-pseudo/lingui.config.js
  packages/vite-plugin/test/fail-on-missing-pseudo/locale/en.po
  packages/vite-plugin/test/fail-on-missing-pseudo/locale/pseudo.po
  packages/vite-plugin/test/fail-on-missing-pseudo/vite.config.ts
  packages/vite-plugin/test/fail-on-missing/entrypoint.js
  packages/vite-plugin/test/fail-on-missing/lingui.config.js
  packages/vite-plugin/test/fail-on-missing/locale/en.po
  packages/vite-plugin/test/fail-on-missing/vite.config.ts
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/po-format/.linguirc
  packages/vite-plugin/test/po-format/lingui.config.js
  packages/vite-plugin/test/strict-true/.linguirc
  packages/vite-plugin/test/strict-true/vite.config.ts
Labels: :package: cli, :package: loader

tests
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
Labels: :package: cli

feat: implement failOnCompileError for loaders / cli
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/messages.test.ts
  packages/cli/src/api/messages.ts
  packages/cli/src/api/missingMessage.ts
  packages/cli/src/lingui-compile.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/fail-on-compile-errors/entrypoint.js
  packages/loader/test/fail-on-compile-errors/lingui.config.js
  packages/loader/test/fail-on-compile-errors/locale/en.po
  packages/loader/test/loader.test.ts
  packages/message-utils/src/compileMessage.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/fail-on-compile-errors/entrypoint.js
  packages/vite-plugin/test/fail-on-compile-errors/failOnCompileErrorFalse.vite.config.ts
  packages/vite-plugin/test/fail-on-compile-errors/lingui.config.js
  packages/vite-plugin/test/fail-on-compile-errors/locale/en.po
  packages/vite-plugin/test/fail-on-compile-errors/vite.config.ts
  packages/vite-plugin/test/index.ts
Labels: :package: cli, :package: loader

add `failOnMissing` option for webpack/vite plugins
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/missingMessage.ts
  packages/cli/src/lingui-compile.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/compiler.ts
  packages/loader/test/fail-on-missing-pseudo/entrypoint.js
  packages/loader/test/fail-on-missing-pseudo/lingui.config.js
  packages/loader/test/fail-on-missing-pseudo/locale/en.po
  packages/loader/test/fail-on-missing-pseudo/locale/pseudo.po
  packages/loader/test/fail-on-missing/entrypoint.js
  packages/loader/test/fail-on-missing/lingui.config.js
  packages/loader/test/fail-on-missing/locale/en.po
  packages/loader/test/loader.test.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/default-vite.config.ts
  packages/vite-plugin/test/fail-on-missing-pseudo/entrypoint.js
  packages/vite-plugin/test/fail-on-missing-pseudo/lingui.config.js
  packages/vite-plugin/test/fail-on-missing-pseudo/locale/en.po
  packages/vite-plugin/test/fail-on-missing-pseudo/locale/pseudo.po
  packages/vite-plugin/test/fail-on-missing-pseudo/vite.config.ts
  packages/vite-plugin/test/fail-on-missing/entrypoint.js
  packages/vite-plugin/test/fail-on-missing/lingui.config.js
  packages/vite-plugin/test/fail-on-missing/locale/en.po
  packages/vite-plugin/test/fail-on-missing/vite.config.ts
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/po-format/.linguirc
  packages/vite-plugin/test/po-format/lingui.config.js
Labels: :package: cli, :package: loader

tests
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

tests for catalogsMergePath + refactoring
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/cli/src/tests.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

fix: incorrect index for placeholders in useLingui macro
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
Labels: none

fix: incorrect index for placeholders in useLingui macro (#2204)
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
Labels: none

add docs
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: conf

fix
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/vite-plugin/src/index.ts
Labels: :package: conf

fix
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
Labels: none

remove editorconfig-checker
  website/.ecrc
  website/package.json
Labels: none

remove editorconfig-checker
  website/yarn.lock
Labels: none

debug test
  packages/loader/src/webpackLoader.ts
Labels: :package: loader

fix
  packages/vite-plugin/test/index.ts
Labels: none

remove debug
  packages/loader/src/webpackLoader.ts
Labels: :package: loader

docs(examples): Updates create react app to use lingui v5 (#2190)
  examples/create-react-app/.babelrc
  examples/create-react-app/package.json
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/en.po
  examples/create-react-app/yarn.lock
Labels: none

feat(babel-plugin-lingui-macro): allow to configure macro packages (#2196)
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/vite-plugin/src/index.ts
  website/.ecrc
  website/docs/ref/conf.md
  website/package.json
  website/yarn.lock
Labels: :package: conf

chore(release): published v5.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.3.0 [skip ci] (#2205)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs(examples): make example buildable and replace deprecated code (#2194)
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/app/[lang]/page.tsx
  examples/nextjs-swc/src/components/HomePage.tsx
  examples/nextjs-swc/src/locales/en.po
  examples/nextjs-swc/src/locales/es.po
  examples/nextjs-swc/src/locales/pseudo.po
  examples/nextjs-swc/src/locales/sr.po
  examples/nextjs-swc/yarn.lock
Labels: none
