Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

updates
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

docs: update migration guide for v6
  website/docs/releases/migration-6.md
Labels: none

docs: v6 release blog post
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
  website/blog/2026-02-25-announcing-lingui-6.0/social-card.png
Labels: none

update blog post
  website/blog/2026-02-25-announcing-lingui-6.0/deps.png
  website/blog/2026-03-20-announcing-lingui-6.0/deps-dark.png
  website/blog/2026-03-20-announcing-lingui-6.0/deps-light.png
  website/blog/2026-03-20-announcing-lingui-6.0/index.md
  website/blog/2026-03-20-announcing-lingui-6.0/social-card.png
Labels: none

fix link
  website/blog/2026-03-20-announcing-lingui-6.0/index.md
Labels: none

docs(examples): adds Gettext with React Webpack example (#2344)
  examples/react-webpack-gettext/.babelrc
  examples/react-webpack-gettext/.gitignore
  examples/react-webpack-gettext/README.md
  examples/react-webpack-gettext/lingui.config.js
  examples/react-webpack-gettext/package.json
  examples/react-webpack-gettext/public/index.html
  examples/react-webpack-gettext/src/App.css
  examples/react-webpack-gettext/src/App.tsx
  examples/react-webpack-gettext/src/i18n.ts
  examples/react-webpack-gettext/src/index.tsx
  examples/react-webpack-gettext/src/locales/cs.json
  examples/react-webpack-gettext/src/locales/cs.po
  examples/react-webpack-gettext/src/locales/en.json
  examples/react-webpack-gettext/src/locales/en.po
  examples/react-webpack-gettext/tsconfig.json
  examples/react-webpack-gettext/webpack.config.js
  examples/react-webpack-gettext/yarn.lock
  website/docs/examples.md
Labels: none

chore: add rules for react-hooks/exhaustive-deps in ESLint config
  packages/react/eslint.config.js
Labels: :package: react

chore: downgrade ESLint version to 9, to fix peerdeps warnings
  package.json
  packages/react/package.json
  yarn.lock
Labels: :package: react

chore: remove deprecated localeData from i18n
  packages/core/src/i18n.ts
  packages/core/src/index.ts
Labels: :package: core

chore: remove deprecated localeData from i18n (#2466)
  packages/core/src/i18n.ts
  packages/core/src/index.ts
Labels: :package: core

fix(react): refresh i18n context identity for React Compiler memoization (#2456)
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

chore: fix eslint config for react (#2449)
  eslint.config.js
  package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/typedPool.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
  packages/core/macro/browser.mjs
  packages/core/macro/index.cjs
  packages/core/macro/index.d.mts
  packages/core/macro/index.mjs
  packages/core/macro/index.test.ts
  packages/core/package.json
  packages/metro-transformer/src/expo/index.ts
  packages/metro-transformer/src/react-native/index.ts
  packages/react/.eslintrc
  packages/react/eslint.config.js
  packages/react/macro/browser.mjs
  packages/react/macro/index.cjs
  packages/react/macro/index.d.mts
  packages/react/macro/index.mjs
  packages/react/macro/index.test.ts
  packages/react/package.json
  packages/react/src/I18nProvider.tsx
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: :package: cli, :package: core, :package: plugin-extract, :package: react

fix(macro): add shims for macro executed in nodejs without transpilation
  packages/core/macro/index.mjs
  packages/react/macro/index.mjs
Labels: :package: core, :package: react

fix(translationIO): fix integration after ESM migration
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

fix(translationIO): fix integration after ESM migration (#2472)
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

fix: support vite 8
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  yarn.lock
Labels: none

fix(loader): support rspack and rsbuild peer dependencies
  packages/loader/package.json
  website/docs/ref/loader.md
Labels: :package: loader

fix(loader): yarn install
  yarn.lock
Labels: none

fix(loader): update header to clarify loader compatibility
  website/docs/ref/loader.md
Labels: none

apply prettier
  packages/vite-plugin/src/index.ts
Labels: none

fix: support vite 8 (#2474)
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  yarn.lock
Labels: none

chore(release): published v5.9.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.9.3 [skip ci] (#2476)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: support vite 8 (#2474)
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  yarn.lock
Labels: none

fix: really keep catalog extra from previous catalog
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

fix: really keep catalog extra from previous catalog (#2479)
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

fix: really keep catalog extra from previous catalog (#2479)
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

test: add unit tests for origin ordering
  packages/cli/src/api/catalog/extractFromFiles.test.ts
Labels: :package: cli

chore: run prettier
  packages/cli/src/api/catalog/extractFromFiles.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
Labels: :package: cli

chore(release): published v5.9.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.9.4 [skip ci] (#2483)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fixes
  packages/cli/src/api/catalog/extractFromFiles.test.ts
Labels: :package: cli

fix(macro): add shims for macro executed in nodejs without transpilation (#2471)
  packages/core/macro/index.mjs
  packages/react/macro/index.mjs
Labels: :package: core, :package: react

fix(cli): deterministic catalog merge when extracting with workers (#2481)
  packages/cli/src/api/catalog/extractFromFiles.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
Labels: :package: cli

chore(release): published v6.0.0-next.2
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.0.0-next.2 (#2485)
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

feat(vite-plugin): Vite 8 compatibility + linguiTransformerBabelPreset
  packages/core/macro/browser.mjs
  packages/core/macro/index.mjs
  packages/react/macro/browser.mjs
  packages/react/macro/index.mjs
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/linguiTransformerPreset.ts
  packages/vite-plugin/src/optionalTypes.d.ts
  packages/vite-plugin/test/lingui-transformer-preset.test.ts
  packages/vite-plugin/test/run-vite.ts
  packages/vite-plugin/test/transformer-babel-preset/custom-macro-id.lingui.config.js
  packages/vite-plugin/test/transformer-babel-preset/entrypoint.js
  packages/vite-plugin/test/transformer-babel-preset/lingui.config.js
  packages/vite-plugin/test/vite-plugin.test.ts
  packages/vite-plugin/tsconfig.json
  yarn.lock
Labels: :package: core, :package: react

lock
  yarn.lock
Labels: none

cleanup
  packages/vite-plugin/src/index.ts
Labels: none

docs: use Tailwind CSS for the main page, layout and styles improvements
  eslint.config.js
  website/docusaurus.config.ts
  website/package.json
  website/postcss.config.cjs
  website/src/components/Button.tsx
  website/src/components/Code.tsx
  website/src/components/Features.module.scss
  website/src/components/Features.tsx
  website/src/components/Header.module.scss
  website/src/components/Header.tsx
  website/src/components/PartnerBanner.module.scss
  website/src/components/PartnerBanner.tsx
  website/src/components/Users.module.scss
  website/src/components/Users.tsx
  website/src/components/Workflow.tsx
  website/src/components/call-to-action.tsx
  website/src/components/code.tsx
  website/src/components/lingui-workflow.tsx
  website/src/components/partner-banner.tsx
  website/src/components/site-footer.tsx
  website/src/components/ui/button.tsx
  website/src/css/custom.scss
  website/src/definitions.d.ts
  website/src/pages/index.tsx
  website/src/theme/Footer/index.js
  website/tsconfig.json
  website/yarn.lock
Labels: none
