Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

update script
  examples/react-native/package.json
Labels: none

add react-native export condition
  packages/core/package.json
  packages/react/package.json
Labels: :package: core, :package: react

feat(macro): make select macro choices strictly typed
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/core/macro/index.d.ts
  packages/react/macro/__typetests__/index.test-d.tsx
  packages/react/macro/index.d.ts
Labels: :package: core, :package: react

docs(macro): add docs for exhaustive select macro
  website/docs/ref/macro.mdx
Labels: none

bump
  package.json
  yarn.lock
Labels: none

fix(examples): move server function in another file
  examples/tanstack-start/src/functions/deferred.ts
  examples/tanstack-start/src/routes/deferred.tsx
Labels: none

fix(examples): use i18n instead of macro in server-side function
  examples/tanstack-start/src/routes/users.$userId.tsx
Labels: none

fix(examples): tanstack-start build issues (#2248)
  examples/tanstack-start/src/functions/deferred.ts
  examples/tanstack-start/src/routes/deferred.tsx
  examples/tanstack-start/src/routes/users.$userId.tsx
Labels: none

bump
  package.json
  yarn.lock
Labels: none

fix(macro): map injected imports to original statements
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
Labels: none

chore: use TSTyche for type testing (#2234)
  .github/workflows/main-suite.yml
  jest.config.types.js
  package.json
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/package.json
  packages/core/__typetests__/index.test-d.tsx
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/core/package.json
  packages/format-csv/__typetests__/index.test-d.ts
  packages/format-csv/__typetests__/tsconfig.json
  packages/format-csv/package.json
  packages/format-json/__typetests__/index.test-d.ts
  packages/format-json/__typetests__/tsconfig.json
  packages/format-json/package.json
  packages/format-po-gettext/__typetests__/index.test-d.ts
  packages/format-po-gettext/__typetests__/tsconfig.json
  packages/format-po-gettext/package.json
  packages/format-po/__typetests__/index.test-d.ts
  packages/format-po/__typetests__/tsconfig.json
  packages/format-po/package.json
  packages/macro/package.json
  packages/react/macro/__typetests__/index.test-d.tsx
  packages/react/package.json
  tstyche.config.json
  yarn.lock
Labels: :package: conf, :package: core, :package: macro, :package: react

update for https://github.com/lingui/js-lingui/pull/2252
  examples/react-native/metro.config.js
  website/docs/tutorials/react-native.md
Labels: none

fix(macro): map injected imports to original statements (#2252)
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
Labels: none

prettify src/components/Header.tsx
  website/src/components/Header.tsx
Labels: none

chore: update react-native example to Expo SDK 53 (#2232)
  examples/react-native/app.json
  examples/react-native/package.json
  examples/react-native/src/MainScreen.tsx
  examples/react-native/yarn.lock
  website/docs/tutorials/react-native.md
  website/src/components/Header.tsx
Labels: none

chore(release): published v5.3.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.3.2 [skip ci] (#2255)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: upgrade TSTyche
  package.json
  packages/conf/__typetests__/index.tst.ts
  packages/core/__typetests__/index.tst.ts
  packages/core/__typetests__/tsconfig.json
  packages/core/macro/__typetests__/index.tst.ts
  packages/format-csv/__typetests__/index.tst.ts
  packages/format-json/__typetests__/index.tst.ts
  packages/format-po-gettext/__typetests__/index.tst.ts
  packages/format-po/__typetests__/index.tst.ts
  packages/react/macro/__typetests__/index.tst.tsx
  tstyche.config.json
  yarn.lock
Labels: :package: conf, :package: core, :package: react

clean up
  eslint.config.mjs
  jest.config.js
  package.json
Labels: none

sequence
  eslint.config.mjs
Labels: none

ups..
  package.json
Labels: none

chore: upgrade TSTyche (#2258)
  eslint.config.mjs
  jest.config.js
  package.json
  packages/conf/__typetests__/index.tst.ts
  packages/core/__typetests__/index.tst.ts
  packages/core/__typetests__/tsconfig.json
  packages/core/macro/__typetests__/index.tst.ts
  packages/format-csv/__typetests__/index.tst.ts
  packages/format-json/__typetests__/index.tst.ts
  packages/format-po-gettext/__typetests__/index.tst.ts
  packages/format-po/__typetests__/index.tst.ts
  packages/react/macro/__typetests__/index.tst.tsx
  tstyche.config.json
  yarn.lock
Labels: :package: conf, :package: core, :package: react

fix(dependencies): [message-utils] move @messageformat/date-skeleton to dependencies
  packages/message-utils/package.json
Labels: none

fix: resolve yarn install warnings and synchronize dependencies
  .github/workflows/main-suite.yml
  eslint.config.mjs
  jest.config.js
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/detect-locale/src/detectors/__snapshots__/fromUrl.test.ts.snap
  packages/detect-locale/src/utils/cookie-getter.ts
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  test/typescript-nodenext-resolution/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore: move React ESLint config to monorepo root and add react-hooks plugin
  eslint.config.mjs
  package.json
  packages/react/.eslintrc
  packages/react/package.json
  yarn.lock
Labels: :package: react

chore: update React ESLint config to use spread configs syntax
  eslint.config.mjs
Labels: none

chore: update pseudolocale to ^2.0.0 and fix test expectations
  packages/cli/package.json
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/pseudoLocalize.test.ts
  yarn.lock
Labels: :package: cli

chore: update React ESLint config to remove unused settings
  eslint.config.mjs
Labels: none

fix(cli): remove unused dependency babel-plugin-macros
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

fix(cli): remove unused dependency pathe
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

fix(cli): remove unused dependency pkg-up
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

fix(cli): remove unused dependency inquirer
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

fix(cli): remove unused dependency babel-plugin-macros (#2266)
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

Devinxi Tanstack Start example
  examples/tanstack-start/.gitignore
  examples/tanstack-start/app.config.ts
  examples/tanstack-start/package.json
  examples/tanstack-start/postcss.config.mjs
  examples/tanstack-start/src/api.ts
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/functions/headers.ts
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/server.ts
  examples/tanstack-start/src/ssr.tsx
  examples/tanstack-start/src/styles/app.css
  examples/tanstack-start/src/utils/loggingMiddleware.tsx
  examples/tanstack-start/tailwind.config.mjs
  examples/tanstack-start/vite.config.ts
  examples/tanstack-start/yarn.lock
Labels: none

chore: replace chalk with picocolors
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/messages.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  packages/conf/src/makeConfig.ts
  scripts/verdaccio-release.ts
  yarn.lock
Labels: :package: cli, :package: conf

chore: replace ora with nanospinner
  packages/cli/package.json
  packages/cli/src/lingui-extract.ts
  yarn.lock
Labels: :package: cli

Share the same i18n instance in routes
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/users.$userId.tsx
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/server.ts
Labels: none

Revert "chore: replace ora with nanospinner"
  packages/cli/package.json
  packages/cli/src/lingui-extract.ts
  yarn.lock
Labels: :package: cli

fix: standardize repository field format across all packages
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/jest-mocks/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat: make docs img versioned, move from static to docs/assets
  website/docs/assets/Crowdin__js-lingui-vcs.png
  website/docs/assets/dynamic-loading-catalogs-1.png
  website/docs/assets/dynamic-loading-catalogs-2.png
  website/docs/assets/extractor-deps-scheme.svg
  website/docs/assets/extractor-glob-scheme.svg
  website/docs/assets/lingui-workflow.svg
  website/docs/assets/rn-component-nesting.png
  website/docs/assets/translation-lingui-plural-forms.png
  website/docs/assets/with-collaboration-tool.svg
  website/docs/assets/without-collaboration-tool.svg
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/guides/message-extraction.md
  website/docs/introduction.md
  website/docs/tools/crowdin.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/react-native.md
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
