Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

feat: Webpack 5 Loader Support (#714)
  packages/loader/src/index.js
Labels: :package: loader

docs: add typescript to dependencies of next.js example (#712)
  examples/next-js/package.json
  examples/next-js/yarn.lock
Labels: none

Update deprecated ref in react doc
  docs/ref/react.rst
Labels: none

docs: update deprecated ref in react doc (#717)
  docs/ref/react.rst
Labels: none

update packages
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: ignore engines during install on ci
  .circleci/config.yml
Labels: none

import setupI18n from core
  docs/releases/migration-3.rst
Labels: none

feat: add `lingui check` cli
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/check/locales/en.po
  packages/cli/src/api/fixtures/check/src/componentA/componentA.js
  packages/cli/src/api/fixtures/check/src/componentA/index.js
Labels: :package: cli

Fix typos
  docs/misc/react-intl.rst
Labels: none

docs: fix typos (#729)
  docs/misc/react-intl.rst
Labels: none

Support typescript 4 in package.json
  packages/cli/package.json
Labels: :package: cli

fix: accept typescript 4 as peer dependency (#732)
  packages/cli/package.json
Labels: :package: cli

chore: update packages
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: plugin-extract

test: add TZ env var to watch command
  package.json
Labels: none

chore: remove opencollective dependency
  package.json
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore: add TZ and NODE_ICU_DATA env vars for test commands
  package.json
Labels: none

chore: release v2.9.2
  package.json
Labels: none

chore: fix linter error
  packages/cli/src/api/formats/csv.ts
Labels: :package: cli

Add an ES module wrapper. With this wrapper, a Node.js based ES module can use the `named import`syntax. E.g. `import {i18n} ...`
  packages/core/npm/esm/index.js
  packages/core/npm/esm/package.json
  packages/core/package.json
Labels: :package: core

Add back support for pseudo-locale.
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix: add back support for pseudo-locale. (#741)
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

feat: make the extractor support Babel's default file extensions (#740)
  packages/cli/src/api/extract.test.ts
  packages/cli/src/api/extractors/babel.ts
Labels: :package: cli

feat: add an ES module wrapper (#737)
  packages/core/npm/esm/index.js
  packages/core/npm/esm/package.json
  packages/core/package.json
Labels: :package: core

chore: update packages
  package.json
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

Update packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

feat: file extension of ES modules will be .mjs (#734)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

chore: remove obsolete dependency - enzyme
  package.json
  scripts/jest/config.unit.js
  scripts/jest/env.js
  yarn.lock
Labels: none

chore: update packages
  package.json
  yarn.lock
Labels: none

chore: remove obsolete dependency - now
  .circleci/config.yml
  package.json
  yarn.lock
Labels: none

Update migration-3.rst
  docs/releases/migration-3.rst
Labels: none

Update showroom.rst
  docs/misc/showroom.rst
Labels: none

docs: add symbolovnik to showroon (#750)
  docs/misc/showroom.rst
Labels: none

docs: remove import of setupI18n from @lingui/core in migration-3.rst (#749)
  docs/releases/migration-3.rst
Labels: none

chore: update packages
  package.json
  packages/cli/package.json
  packages/conf/package.json
  yarn.lock
Labels: :package: cli, :package: conf

docs: update next.js example
  examples/next-js/.gitignore
  examples/next-js/README.md
  examples/next-js/lingui-example/components/Layout.module.css
  examples/next-js/lingui-example/components/Layout.tsx
  examples/next-js/lingui-example/i18n.ts
  examples/next-js/lingui-example/styles.css
  examples/next-js/locale/cs/messages.js
  examples/next-js/locale/cs/messages.po
  examples/next-js/locale/en/messages.js
  examples/next-js/locale/en/messages.po
  examples/next-js/package.json
  examples/next-js/pages/_app.tsx
  examples/next-js/pages/api/hello.ts
  examples/next-js/pages/examples.tsx
  examples/next-js/pages/index.module.css
  examples/next-js/pages/index.tsx
  examples/next-js/public/vercel.svg
  examples/next-js/public/zeit.svg
  examples/next-js/tsconfig.json
  examples/next-js/yarn.lock
Labels: none

docs: add example of plurals in next.js project
  examples/next-js/lingui-example/components/Layout.module.css
  examples/next-js/lingui-example/components/Layout.tsx
  examples/next-js/lingui-example/components/PluralExample.tsx
  examples/next-js/locale/cs/messages.js
  examples/next-js/locale/cs/messages.po
  examples/next-js/locale/en/messages.js
  examples/next-js/locale/en/messages.po
  examples/next-js/package.json
  examples/next-js/pages/examples.tsx
  examples/next-js/pages/index.module.css
  examples/next-js/pages/index.tsx
  examples/next-js/yarn.lock
Labels: none

chore: remove obsolete code
  packages/macro/srcLegacy/validation.js
Labels: :package: macro

test: add test case for trailing whitespace inside Plural
  packages/macro/test/jsx-plural.ts
Labels: :package: macro

feature: re-render element tree when locale changes
  docs/ref/react.rst
  examples/next-js/pages/_app.tsx
  examples/next-js/yarn.lock
  packages/react/src/I18nProvider.tsx
Labels: :package: react

chore: release v3.0.0-16
  package.json
Labels: none
