Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: add back NODE_ENV condition
  packages/react/src/I18nProvider.tsx
Labels: :package: react

chore: remove opencollective
  .github/FUNDING.yml
  README.md
Labels: none

chore: remove opencollective (#1733)
  .github/FUNDING.yml
  README.md
Labels: none

chore: strict ts config for react package (#1732)
  packages/core/src/index.ts
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
  packages/react/tsconfig.json
Labels: :package: core, :package: react

fix(webpack-loader): fix invalid dependencies have been reported by plugins
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/compiler.ts
  packages/loader/test/loader.test.ts
  packages/loader/test/not-known-catalog/.linguirc
  packages/loader/test/not-known-catalog/entrypoint.js
  packages/loader/test/not-known-catalog/locale/en.po
  packages/loader/test/relative-catalog-path/.linguirc
  packages/loader/test/relative-catalog-path/entrypoint.js
  packages/loader/test/relative-catalog-path/locale/en.po
  packages/loader/test/relative-catalog-path/locale/messages.pot
  website/docs/misc/i18next.md
  website/docs/ref/conf.md
  website/docs/ref/react.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
Labels: :package: cli, :package: loader

fix(webpack-loader): fix invalid dependencies have been reported by plugins
  packages/loader/test/compiler.ts
Labels: :package: loader

Update showroom.md with Palgakalkulaator.ee
  website/docs/misc/showroom.md
Labels: none

Update website/docs/misc/showroom.md
  website/docs/misc/showroom.md
Labels: none

docs: update showroom.md with Palgakalkulaator.ee (#1737)
  website/docs/misc/showroom.md
Labels: none

feature(react): introduce TransNoContext component for future RSC support
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

feature(react): introduce TransNoContext component for future RSC support (#1738)
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

feature(react): export TransNoContext component
  packages/react/src/Trans.tsx
  packages/react/src/index.ts
Labels: :package: react

fix(webpack-loader): fix invalid dependencies have been reported by p… (#1735)
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/compiler.ts
  packages/loader/test/loader.test.ts
  packages/loader/test/not-known-catalog/.linguirc
  packages/loader/test/not-known-catalog/entrypoint.js
  packages/loader/test/not-known-catalog/locale/en.po
  packages/loader/test/relative-catalog-path/.linguirc
  packages/loader/test/relative-catalog-path/entrypoint.js
  packages/loader/test/relative-catalog-path/locale/en.po
  packages/loader/test/relative-catalog-path/locale/messages.pot
  website/docs/misc/i18next.md
  website/docs/ref/conf.md
  website/docs/ref/react.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
Labels: :package: cli, :package: loader

feature(react): export TransNoContext component (#1739)
  packages/react/src/Trans.tsx
  packages/react/src/index.ts
Labels: :package: react

docs: new Crowdin logo
  website/docs/tools/crowdin.md
Labels: none

docs: new Crowdin logo (#1740)
  website/docs/tools/crowdin.md
Labels: none

chore(release): published v4.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: export ts types from detect-locale
  packages/detect-locale/package.json
Labels: none

fix: export ts types from detect-locale (#1742)
  packages/detect-locale/package.json
Labels: none

feature(react): separate entry point for RSC
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  packages/react/src/TransNoContext.tsx
  packages/react/src/index.ts
  packages/react/src/server.ts
Labels: :package: react

refactor: use useSyncExternalStore to subscribe for context updates
  packages/react/package.json
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  yarn.lock
Labels: :package: react

feature(react): separate entry point for RSC (#1743)
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  packages/react/src/TransNoContext.tsx
  packages/react/src/index.ts
  packages/react/src/server.ts
Labels: :package: react

refactor: use useSyncExternalStore to subscribe for context updates (#1746)
  packages/react/package.json
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  yarn.lock
Labels: :package: react

fix: ESM and CJS type definitions conflict
  packages/detect-locale/package.json
  yarn.lock
Labels: none

initial commit
  examples/rspack/.gitignore
  examples/rspack/LICENSE
  examples/rspack/README.md
  examples/rspack/demo.gif
  examples/rspack/index.html
  examples/rspack/lingui.config.ts
  examples/rspack/package-lock.json
  examples/rspack/package.json
  examples/rspack/rspack.config.js
  examples/rspack/src/Inbox.tsx
  examples/rspack/src/LocaleSwitcher.tsx
  examples/rspack/src/assets/react.svg
  examples/rspack/src/index.css
  examples/rspack/src/locales.ts
  examples/rspack/src/locales/en/messages.d.ts
  examples/rspack/src/locales/en/messages.po
  examples/rspack/src/locales/en/messages.ts
  examples/rspack/src/locales/fr/messages.d.ts
  examples/rspack/src/locales/fr/messages.po
  examples/rspack/src/locales/fr/messages.ts
  examples/rspack/src/main.tsx
  examples/rspack/src/react-env.d.ts
  examples/rspack/tsconfig.json
Labels: none

tidy(rspack): remove package-lock.json
  examples/rspack/package-lock.json
Labels: none

chore(size-limit): increase bundle-size budget for react package
  package.json
Labels: none

chore(size-limit): increase bundle-size budget for react package (#1753)
  package.json
Labels: none

Update examples/rspack/README.md
  examples/rspack/README.md
Labels: none

fmt(react-env.d.ts): convert tabs to spaces
  examples/rspack/src/react-env.d.ts
Labels: none

fmt(rspack.config.js): convert tabs to spaces
  examples/rspack/rspack.config.js
Labels: none

docs(examples.md): add link to Rspack with Babel
  website/docs/misc/examples.md
Labels: none

fmt(examplesmd): add new line at end of file
  website/docs/misc/examples.md
Labels: none

fmt(examples.md): remove trailing whitespace
  website/docs/misc/examples.md
Labels: none

feat: RSpack + Lingui Example (#1752)
  examples/rspack/.gitignore
  examples/rspack/LICENSE
  examples/rspack/README.md
  examples/rspack/demo.gif
  examples/rspack/index.html
  examples/rspack/lingui.config.ts
  examples/rspack/package.json
  examples/rspack/rspack.config.js
  examples/rspack/src/Inbox.tsx
  examples/rspack/src/LocaleSwitcher.tsx
  examples/rspack/src/assets/react.svg
  examples/rspack/src/index.css
  examples/rspack/src/locales.ts
  examples/rspack/src/locales/en/messages.d.ts
  examples/rspack/src/locales/en/messages.po
  examples/rspack/src/locales/en/messages.ts
  examples/rspack/src/locales/fr/messages.d.ts
  examples/rspack/src/locales/fr/messages.po
  examples/rspack/src/locales/fr/messages.ts
  examples/rspack/src/main.tsx
  examples/rspack/src/react-env.d.ts
  examples/rspack/tsconfig.json
  website/docs/misc/examples.md
Labels: none

chore(release): published v4.4.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Revert "refactor: use useSyncExternalStore to subscribe for context updates (#1746)"
  packages/react/package.json
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  yarn.lock
Labels: :package: react

Revert "refactor: use useSyncExternalStore to subscribe for context updates (#1746)" (#1755)
  packages/react/package.json
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  yarn.lock
Labels: :package: react

chore(release): published v4.4.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: add the ESLint plugin info
  website/docs/ref/eslint-plugin.md
  website/sidebars.ts
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
