Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

feat: implement locked catalog
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

chore(deps): updated babel-plugin-macros peer to v3
  packages/cli/package.json
  packages/macro/package.json
  yarn.lock
Labels: :package: cli, :package: macro

Update snowpack-plugin.rst
  docs/ref/snowpack-plugin.rst
Labels: none

docs: update snowpack-plugin.rst on dynamic imports (#1026)
  docs/ref/snowpack-plugin.rst
Labels: none

chore(deps): updated babel-plugin-macros peer to v3 (#1025)
  packages/cli/package.json
  packages/macro/package.json
  yarn.lock
Labels: :package: cli, :package: macro

fix(babel-plugin-extract-messages): extraction template string id & comment
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/macro/test/js-t.ts
Labels: :package: macro, :package: plugin-extract

fix: extract works with template string id's (#1027)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/macro/test/js-t.ts
Labels: :package: macro, :package: plugin-extract

chore(release): published v3.8.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: typescript loader config
  packages/conf/src/index.ts
Labels: :package: conf

fix: undefined interpolation on t macro
  packages/core/src/context.ts
Labels: :package: core

fix: undefined interpolation on t macro (#1030)
  packages/core/src/context.ts
Labels: :package: core

fix: typescript loader config (#1029)
  packages/conf/src/index.ts
Labels: :package: conf

fix: respect unicode chars in t macro
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: macro

fix: respect unicode chars in t macro (#1032)
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: macro

chore(release): published v3.8.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: improve compile log error if bad syntax on the string
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.ts
Labels: :package: cli

chore(release): published v3.8.5 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: correct unicode chars formatting
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: macro

fix: unicode chars were extracting with double slashes (#1035)
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: macro

chore(release): published v3.8.6 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: event emitter improvement
  packages/core/src/eventEmitter.test.ts
  packages/core/src/eventEmitter.ts
  packages/core/src/i18n.ts
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: core, :package: react

fix: hack unicode inteporlated for native environments
  packages/core/src/context.ts
  packages/core/src/i18n.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: core, :package: macro

fix: unicode chars in native environments + event emitter refactor (#1036)
  packages/core/src/context.ts
  packages/core/src/eventEmitter.test.ts
  packages/core/src/eventEmitter.ts
  packages/core/src/i18n.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: core, :package: macro, :package: react

chore: fix test
  packages/macro/src/macroJs.test.ts
Labels: :package: macro

chore(release): published v3.8.7 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: unicode char was not extracting correctly
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: macro

chore(release): published v3.8.8 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Revert "fix: event emitter improvement"
  packages/core/src/eventEmitter.test.ts
  packages/core/src/eventEmitter.ts
  packages/core/src/i18n.ts
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: core, :package: react

fix: event emitter refactor (reverted) (#1038)
  packages/core/src/eventEmitter.test.ts
  packages/core/src/eventEmitter.ts
  packages/core/src/i18n.ts
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: core, :package: react

chore(release): published v3.8.9 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: fix example webpack 5 nextjs
  examples/next-js/.babelrc
  examples/next-js/lingui-example/i18n.ts
  examples/next-js/next.config.js
  examples/next-js/package.json
  examples/next-js/tsconfig.json
  examples/next-js/yarn.lock
Labels: none

fix: webpack 5 @lingui/loader compatibility
  packages/loader/src/index.js
Labels: :package: loader

fix: loader works smoothly on webpack 5 & 4 (#1046)
  examples/next-js/.babelrc
  examples/next-js/lingui-example/i18n.ts
  examples/next-js/next.config.js
  examples/next-js/package.json
  examples/next-js/tsconfig.json
  examples/next-js/yarn.lock
  packages/loader/src/index.js
Labels: :package: loader

chore(release): published v3.8.10 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Add online ICU editor to documentation
  docs/ref/message-format.rst
Labels: none

fix: ESM dev entrypoint was causing unexpected behaviors
  packages/core/npm/esm/dev.js
  scripts/build/rollup.js
Labels: :package: core

fix: lineNumbers false was removing the entire origin
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

docs: Comparison with react-intl docs missing quotes
  docs/misc/react-intl.rst
Labels: none

docs: Comparison with react-intl docs missing quotes (#1061)
  docs/misc/react-intl.rst
Labels: none

chore(next-example): update lingui to 3.8.10 for support webpack5
  examples/next-js/yarn.lock
Labels: none
