Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat: extractors are configurable by lingui.config
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extract.test.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

chore: added docs
  docs/ref/conf.rst
Labels: none

feat: configurable and extendable extractors with Lingui config (#1065)
  docs/ref/conf.rst
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extract.test.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix: ESM dev entrypoint was causing unexpected behaviors (#1059)
  packages/core/npm/esm/dev.js
  scripts/build/rollup.js
Labels: :package: core

fix: lineNumbers false was removing the entire origin (#1060)
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

chore: minor corrections with exports
  packages/cli/src/api/extractors/babel.ts
  packages/detect-locale/npm/esm/index.js
  packages/react/npm/esm/index.js
Labels: :package: cli, :package: react

chore: more fixes pre-release
  packages/cli/src/api/extract.test.ts
  packages/detect-locale/npm/esm/index.js
  packages/react/npm/esm/index.js
Labels: :package: cli, :package: react

chore: prepare release
  packages/detect-locale/npm/esm/index.js
  packages/react/npm/esm/index.js
Labels: :package: react

chore(release): published v3.9.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: chore reduce size of esm packages
  package.json
  packages/core/npm/esm/dev.js
  packages/core/npm/esm/index.js
  packages/detect-locale/npm/esm/index.js
  packages/react/npm/esm/index.js
Labels: :package: core, :package: react

fix: reduce size of ESM packages (#1066)
  package.json
  packages/core/npm/esm/dev.js
  packages/core/npm/esm/index.js
  packages/detect-locale/npm/esm/index.js
  packages/react/npm/esm/index.js
Labels: :package: core, :package: react

Check for lineNumbers flag in po-gettext format
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

Add po-gettext-specific option to silence type error
  packages/cli/src/api/formats/index.ts
Labels: :package: cli

Use correct case for PO file header MIME-Version
  examples/create-react-app/src/locales/en/messages.po
  examples/js/src/locale/cs/messages.po
  examples/js/src/locale/en/messages.po
  examples/next-js/locale/cs/messages.po
  examples/next-js/locale/en/messages.po
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages.po
  packages/cli/src/api/formats/fixtures/messages_plural.po
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

fix: po-gettext format issues with CLI (#1073)
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

fix: use correct case for PO file header MIME-Version (#1074)
  examples/create-react-app/src/locales/en/messages.po
  examples/js/src/locale/cs/messages.po
  examples/js/src/locale/en/messages.po
  examples/next-js/locale/cs/messages.po
  examples/next-js/locale/en/messages.po
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages.po
  packages/cli/src/api/formats/fixtures/messages_plural.po
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

feat: remoteLoader introduced
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
  packages/loader/index.d.ts
  packages/loader/index.js
  packages/loader/package.json
  packages/loader/src/index.ts
  packages/loader/src/remoteLoader.test.ts
  packages/loader/src/remoteLoader.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/locale/es/messages.po
Labels: :package: cli, :package: loader

feat: load remote catalogs with remoteLoader() (#1080)
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
  packages/loader/index.d.ts
  packages/loader/index.js
  packages/loader/package.json
  packages/loader/src/index.ts
  packages/loader/src/remoteLoader.test.ts
  packages/loader/src/remoteLoader.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/locale/es/messages.po
Labels: :package: cli, :package: loader

chore(release): published v3.10.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: reverts reduce size of ESM packages (#1066)
  package.json
  packages/core/npm/esm/dev.js
  packages/core/npm/esm/index.js
  packages/detect-locale/npm/esm/index.js
  packages/react/npm/esm/index.js
Labels: :package: core, :package: react

chore(release): published v3.10.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: remoteLoader should return an object instead of export
  packages/cli/src/api/compile.ts
  packages/loader/src/remoteLoader.test.ts
  packages/loader/src/remoteLoader.ts
Labels: :package: cli, :package: loader

chore(release): published v3.10.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(core): add string return type to i18n._
  packages/core/src/i18n.ts
Labels: :package: core

Move property def into `conf` package
  packages/cli/src/api/formats/index.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

Add OkCupid to the showroom
  docs/misc/showroom.rst
Labels: none

chore: add OkCupid to the showroom (#1083)
  docs/misc/showroom.rst
Labels: none

Move property def into `conf` package (#1082)
  packages/cli/src/api/formats/index.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix: add string return type to i18n._ (#1081)
  packages/core/src/i18n.ts
Labels: :package: core

Update react-intl.rst
  docs/misc/react-intl.rst
Labels: none

docs: minor correction to react-intl (#1084)
  docs/misc/react-intl.rst
Labels: none

fix: remoteLoader pure functional on browser env
  package.json
  packages/loader/index.d.ts
  packages/loader/index.js
  packages/loader/src/index.ts
  packages/loader/src/remoteLoader.ts
  packages/remote-loader/CHANGELOG.md
  packages/remote-loader/README.md
  packages/remote-loader/index.js
  packages/remote-loader/npm/index.js
  packages/remote-loader/package.json
  packages/remote-loader/src/browserCompiler.ts
  packages/remote-loader/src/index.ts
  packages/remote-loader/src/minimalParser.ts
  packages/remote-loader/test/index.test.ts
  scripts/build/bundles.js
  yarn.lock
Labels: :package: loader

fix: remoteLoader pure functional on browser env (#1085)
  package.json
  packages/loader/index.d.ts
  packages/loader/index.js
  packages/loader/src/index.ts
  packages/loader/src/remoteLoader.ts
  packages/remote-loader/CHANGELOG.md
  packages/remote-loader/README.md
  packages/remote-loader/index.js
  packages/remote-loader/npm/index.js
  packages/remote-loader/package.json
  packages/remote-loader/src/browserCompiler.ts
  packages/remote-loader/src/index.ts
  packages/remote-loader/src/minimalParser.ts
  packages/remote-loader/test/index.test.ts
  scripts/build/bundles.js
  yarn.lock
Labels: :package: loader

chore: updated Readme of remote-loader
  packages/remote-loader/README.md
Labels: none

chore(release): published v3.10.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remote-loader/CHANGELOG.md
  packages/remote-loader/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: remoteLoader parse complex structures failed #1087
  packages/remote-loader/package.json
  packages/remote-loader/src/browserCompiler.ts
  packages/remote-loader/test/index.test.ts
  yarn.lock
Labels: none

chore(release): published v3.10.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remote-loader/CHANGELOG.md
  packages/remote-loader/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: 'compile --watch' not watching for correct file extention based on format
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix: 'compile --watch' not watching for correct file based on format (#1088)
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

Add extract-template for po-gettext format
  packages/cli/src/api/catalog.ts
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
