Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.3.3 [skip ci] (#2281)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(eventEmitter): restore removeListener for compatibility
  packages/core/src/eventEmitter.test.ts
  packages/core/src/eventEmitter.ts
Labels: :package: core

chore: replace cosmiconfig with lilconfig in configuration handling
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  yarn.lock
Labels: :package: conf

fix: add YAML support for configuration loading + add deprecation warning
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  yarn.lock
Labels: :package: conf

fix: update transformIgnorePatterns to include YAML support
  eslint.config.mjs
  jest.config.js
Labels: none

chore: add more tests for getConfig
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/fixtures/valid/.linguirc
  packages/conf/src/fixtures/valid/custom.config.js
  packages/conf/src/fixtures/valid/custom.config.ts
  packages/conf/src/fixtures/valid/lingui.config.cjs
  packages/conf/src/fixtures/valid/lingui.config.js
  packages/conf/src/fixtures/valid/lingui.config.mjs
  packages/conf/src/fixtures/valid/lingui.config.ts
  packages/conf/src/fixtures/valid/lingui.config.yaml
  packages/conf/src/fixtures/valid/lingui.config.yml
  packages/conf/src/fixtures/valid/package.json
  packages/conf/src/getConfig.test.ts
  packages/conf/src/getConfig.ts
  packages/conf/src/index.test.ts
Labels: :package: conf

fix: remove obsolete Jest snapshot for configuration tests
  packages/conf/src/__snapshots__/index.test.ts.snap
Labels: :package: conf

fix: move .linguirc to external folder to test
  packages/conf/src/fixtures/default/.linguirc
  packages/conf/src/getConfig.test.ts
  packages/conf/src/getConfig.ts
Labels: :package: conf

fix: remove metro peer dep from metro-transformer
  packages/metro-transformer/package.json
  yarn.lock
Labels: none

fix: remove metro peer dep from metro-transformer (#2287)
  packages/metro-transformer/package.json
  yarn.lock
Labels: none

feat(core): Add global formats options for setupI18n
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core

feat(macro): Add arg macro tests, docs and typings
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-defineMessage.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-defineMessage.test.ts
  packages/babel-plugin-lingui-macro/test/js-plural.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/core/macro/index.d.ts
  website/docs/ref/macro.mdx
Labels: :package: core

fix: remove @messageformat/date-skeleton from bundledDependencies
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.ts
Labels: none

chore: add homepage field to package.json for all packages
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/jest-mocks/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: add homepage field to package.json for all packages (#2294)
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/jest-mocks/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: add performance optimization docs
  website/docs/guides/performance-optimizations.md
  website/sidebars.ts
Labels: none

fix: remove `VFC`, `FC` type usage
  examples/rspack/src/react-env.d.ts
  packages/react/macro/index.d.ts
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
Labels: :package: react

docs: rename to Optimizing Bundle Size, add metro transformer
  website/docs/guides/optimizing-bundle-size.md
  website/sidebars.ts
Labels: none

docs: add llms.txt and llms-full.txt support
  website/docusaurus.config.ts
  website/package.json
  website/yarn.lock
Labels: none

fix: do not lint gitignored files
  website/package.json
Labels: none

docs: update readme
  README.md
Labels: none

feat: full concurrency for extract / compile commands
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

feat: add sorting to avoid flakiness
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/metro-transformer/test/metroTransformer.test.ts
Labels: :package: cli

docs: add llms.txt and llms-full.txt support (#2298)
  README.md
  website/docusaurus.config.ts
  website/package.json
  website/yarn.lock
Labels: none

docs: Readme updates
  README.md
  website/static/partner.svg
Labels: none

docs: Readme updates (#2300)
  README.md
  website/static/partner.svg
Labels: none

fix: remove `VFC`, `FC` type usage (#2290)
  examples/rspack/src/react-env.d.ts
  packages/react/macro/index.d.ts
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
Labels: :package: react

feat: full concurrency for extract / compile commands (#2299)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/metro-transformer/test/metroTransformer.test.ts
Labels: :package: cli

docs: add performance optimization docs (#2296)
  website/docs/guides/optimizing-bundle-size.md
  website/sidebars.ts
Labels: none

chore(deps-dev): bump Lerna from 8.1.9 to 8.2.4
  package.json
  yarn.lock
Labels: none

chore(deps-dev): bump Lerna from 8.1.9 to 8.2.4 (#2301)
  package.json
  yarn.lock
Labels: none

chore(release): published v5.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.4.0 [skip ci] (#2302)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

adjust code to the latest version
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/dynamic-macro-error/.linguirc
  packages/vite-plugin/test/dynamic-macro-error/entrypoint.js
  packages/vite-plugin/test/dynamic-macro-error/lingui.config.js
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/macro-usage/.linguirc
  packages/vite-plugin/test/macro-usage/lingui.config.js
  packages/vite-plugin/test/no-macro-error/.linguirc
  packages/vite-plugin/test/no-macro-error/lingui.config.js
Labels: none

fix: remove @messageformat/date-skeleton from bundledDependencies (#2293)
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.ts
Labels: none

feat: support labeled placeholders in the arg macro
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/core/macro/__typetests__/index.tst.ts
  packages/core/macro/index.d.ts
Labels: :package: core

chore(vite-plugin): add error handling for dynamic import of @lingui/core/macro (#2056)
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/dynamic-macro-error/entrypoint.js
  packages/vite-plugin/test/dynamic-macro-error/lingui.config.js
  packages/vite-plugin/test/dynamic-macro-error/locale/en.po
  packages/vite-plugin/test/dynamic-macro-error/vite.config.ts
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/macro-usage/.linguirc
  packages/vite-plugin/test/macro-usage/lingui.config.js
  packages/vite-plugin/test/no-macro-error/.linguirc
  packages/vite-plugin/test/no-macro-error/lingui.config.js
Labels: none

examples: update react native packages in the example
  examples/react-native/package.json
  examples/react-native/yarn.lock
Labels: none

use fix-deps
  examples/react-native/package.json
  examples/react-native/yarn.lock
Labels: none

docs: update react native packages in the example (#2305)
  examples/react-native/package.json
  examples/react-native/yarn.lock
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
