Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat: refactor loadAndActivate (#1609)
  examples/create-react-app/src/i18n.ts
  examples/nextjs-babel/src/i18n.ts
  examples/nextjs-swc/src/utils.ts
  examples/vite-project-react-babel/src/i18n.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core

fix(macro): Should not process non JSXElement nodes in JSX Macro (#1617)
  packages/macro/src/macroJsx.ts
  packages/macro/test/index.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

chore(release): published v4.0.0
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(config): show more clear error message when config is not found
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/getConfig.ts
  packages/conf/src/index.test.ts
  website/docs/tutorials/react.md
Labels: :package: conf

fix: react macro types
  packages/macro/index.d.ts
  packages/macro/package.json
  packages/react/src/Trans.tsx
  packages/react/src/index.ts
  yarn.lock
Labels: :package: macro, :package: react

chore: official v4 release (#1608)
  CHANGELOG.md
  README.md
  website/docusaurus.config.js
Labels: none

chore: import type testing APIs from `tsd-lite`
  package.json
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/package.json
  packages/core/__typetests__/index.test-d.tsx
  packages/format-csv/__typetests__/index.test-d.ts
  packages/format-csv/package.json
  packages/format-json/__typetests__/index.test-d.ts
  packages/format-json/package.json
  packages/format-po-gettext/__typetests__/index.test-d.ts
  packages/format-po-gettext/package.json
  packages/format-po/__typetests__/index.test-d.ts
  packages/format-po/package.json
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/package.json
  yarn.lock
Labels: :package: conf, :package: core, :package: macro

fix: format should follow locale order (#1619)
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
Labels: :package: core

feat(config): show more clear error message when config is not found (#1606)
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/getConfig.ts
  packages/conf/src/index.test.ts
  website/docs/tutorials/react.md
Labels: :package: conf

docs: add the v4 announcement blog post
  website/blog/2023-04-26-announcing-lingui-4.0/img/social-card.png
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/blog/authors.yml
  website/docs/releases/migration-4.md
  website/docusaurus.config.js
Labels: none

docs: add the v4 announcement blog post (#1624)
  website/blog/2023-04-26-announcing-lingui-4.0/img/social-card.png
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/blog/authors.yml
  website/docs/releases/migration-4.md
  website/docusaurus.config.js
Labels: none

fix(vue-extractor): don't crash when there is no <template> in an SFC
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/fixtures/functional.vue
  packages/extractor-vue/src/vue-extractor.ts
Labels: none

fix(vue-extractor): don't crash when there is no <template> in an SFC (#1623)
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/fixtures/functional.vue
  packages/extractor-vue/src/vue-extractor.ts
Labels: none

fix(vue-extractor): fix default export burden with /api/extractors/babel
  packages/cli/src/api/index.ts
  packages/extractor-vue/README.md
  packages/extractor-vue/src/vue-extractor.ts
  tsconfig.json
  website/docs/guides/custom-extractor.md
  website/docs/tutorials/extractor-vue.md
Labels: :package: cli

refactor(macro): show codeframe when error happened in macro
  packages/macro/src/index.ts
Labels: :package: macro

Update packages/macro/src/index.ts
  packages/macro/src/index.ts
Labels: :package: macro

Update packages/macro/src/index.ts
  packages/macro/src/index.ts
Labels: :package: macro

fix(vue-extractor): fix default export burden with /api/extractors/babel (#1626)
  packages/cli/src/api/index.ts
  packages/extractor-vue/README.md
  packages/extractor-vue/src/vue-extractor.ts
  tsconfig.json
  website/docs/guides/custom-extractor.md
  website/docs/tutorials/extractor-vue.md
Labels: :package: cli

refactor(macro): show codeframe when error happened in macro (#1628)
  packages/macro/src/index.ts
Labels: :package: macro

refactor: undo version changes
  packages/macro/package.json
  yarn.lock
Labels: :package: macro

docs: enhance the announcement blog post and other minor improvements
  README.md
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/docs/introduction.md
  website/docs/misc/resources.md
Labels: none

fix: react macro types (#1620)
  packages/macro/index.d.ts
  packages/react/src/Trans.tsx
  packages/react/src/index.ts
Labels: :package: macro, :package: react

docs: enhance the announcement blog post and other minor improvements (#1629)
  README.md
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/docs/introduction.md
  website/docs/misc/resources.md
Labels: none

docs: more rn updates
  website/docs/tutorials/react-native.md
Labels: none

docs: more rn updates
  website/docs/ref/macro.md
  website/docs/tutorials/react-native.md
Labels: none

docs: fix lint
  website/docs/misc/resources.md
  website/docs/tutorials/react-native.md
Labels: none

Add v4-tutorial to the examples directory
  examples/next-swc-tutorial.md
Labels: none

docs: RN docs self-review
  website/docs/tutorials/react-native.md
Labels: none

docs: metro version
  website/docs/tutorials/react-native.md
Labels: none

docs: metro version reword
  website/docs/tutorials/react-native.md
Labels: none

docs: slightly update the 'Comparison with react-intl' article
  website/docs/misc/react-intl.md
Labels: none

docs: slightly update the 'Comparison with react-intl' article (#1632)
  website/docs/misc/react-intl.md
Labels: none

docs: discord link in header + polish website styles
  website/docusaurus.config.js
  website/src/css/custom.scss
Labels: none

docs: discord link in header + polish website styles (#1635)
  website/docusaurus.config.js
  website/src/css/custom.scss
Labels: none

feat: add react-native demo
  examples/react-native/.gitignore
  examples/react-native/.prettierrc
  examples/react-native/.yarnrc.yml
  examples/react-native/App.tsx
  examples/react-native/README.md
  examples/react-native/app.json
  examples/react-native/assets/adaptive-icon.png
  examples/react-native/assets/favicon.png
  examples/react-native/assets/icon.png
  examples/react-native/assets/splash.png
  examples/react-native/babel.config.js
  examples/react-native/lingui.config.js
  examples/react-native/metro.config.js
  examples/react-native/package.json
  examples/react-native/src/Components.tsx
  examples/react-native/src/MainScreen.tsx
  examples/react-native/src/PaddedButton.tsx
  examples/react-native/src/locales/cs/messages.js
  examples/react-native/src/locales/cs/messages.po
  examples/react-native/src/locales/en/messages.js
  examples/react-native/src/locales/en/messages.po
  examples/react-native/tsconfig.json
  examples/react-native/yarn.lock
Labels: none

docs: links to examples
  website/docs/tutorials/react-native.md
Labels: none

docs: improve metro docs
  examples/react-native/metro.config.js
  website/docs/tutorials/react-native.md
Labels: none

chore: reformat
  examples/react-native/lingui.config.js
  examples/react-native/src/PaddedButton.tsx
Labels: none

chore: remove comments
  examples/react-native/src/MainScreen.tsx
Labels: none

chore: remove comments
  examples/react-native/src/MainScreen.tsx
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
