Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Improve React related docs
  docs/tutorials/react.rst
  docs/tutorials/setup-cra.rst
Labels: none

fix: enable add-locale with deprecation message (#652)
  docs/ref/cli.rst
  docs/tutorials/cli.rst
  packages/cli/src/lingui.ts
Labels: :package: cli

feat: improve macro typings (#651)
  packages/macro/index.d.ts
Labels: :package: macro

docs: update migration guide
  docs/releases/migration-3.rst
Labels: none

Add option to merge catalogs to single file
  docs/tutorials/cli.rst
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix babel plugin-syntax-jsx package name
  packages/cli/src/api/extractors/typescript.ts
Labels: :package: cli

fix: add missing formatOptions support and update types
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/index.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

feat: add missing tests for lingui formatter
  packages/cli/src/api/formats/__snapshots__/lingui.test.ts.snap
  packages/cli/src/api/formats/lingui.test.ts
Labels: :package: cli

feat: add suppot for formatOptions to po formatter and update tests
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

fix: update typings and snapshots
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/types.ts
Labels: :package: cli

fix babel plugin-syntax-jsx package name (#660)
  packages/cli/src/api/extractors/typescript.ts
Labels: :package: cli

fix: use path.basename to get catalog name
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore: release v3.0.0-11
  package.json
Labels: none

export MessageDescriptor type
  packages/core/src/index.ts
Labels: :package: core

remove unused import
  packages/core/src/i18n.ts
Labels: :package: core

fix: update default config snapshot
  packages/conf/src/__snapshots__/index.test.ts.snap
Labels: :package: conf

fix: type of compiled messages
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix: package name of make-plural
  docs/releases/migration-3.rst
Labels: none

fix: package name of make-plural (#672)
  docs/releases/migration-3.rst
Labels: none

fix: export MessageDescriptor interface in core package (#662)
  packages/core/src/i18n.ts
  packages/core/src/index.ts
Labels: :package: core

Update packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix: type of compiled messages (#671)
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

test: udpate snapshots
  packages/conf/src/__snapshots__/index.test.ts.snap
Labels: :package: conf

fix: get rid of circular imports in formats
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/formats/types.ts
Labels: :package: cli

fix: moves types to @lingui/conf
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/types.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

chore: add types for conf package
  packages/conf/index.d.ts
  packages/conf/package.json
Labels: :package: conf

fix: ignore incomplete types in tests
  packages/cli/src/api/catalog.ts
  packages/conf/src/index.test.ts
Labels: :package: cli, :package: conf

test: skip obsolete test, needs migration
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
Labels: :package: cli

Ignore undefined ICU format
  packages/core/src/context.ts
  packages/core/src/i18n.test.ts
Labels: :package: core

fix: fail gracefully when plurals are undefined in locale data
  packages/core/src/context.ts
  packages/core/src/i18n.test.ts
Labels: :package: core

fix: fail gracefully for wrong data and number formats
  packages/core/src/formats.ts
  packages/core/src/i18n.test.ts
Labels: :package: core

fix: fail gracefully for wrong use of elements in translation
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

Update package.json
  packages/macro/package.json
Labels: :package: macro

Update packages/macro/package.json
  packages/macro/package.json
Labels: :package: macro

chore: add missing dependency to @lingui/macro (#678)
  packages/macro/package.json
Labels: :package: macro

fix catalog imports in migration docs
  docs/releases/migration-3.rst
Labels: none

Fixes maybeNodeValue
  packages/macro/src/macroJsx.ts
Labels: :package: macro

docs: fix catalog imports in migration docs (#681)
  docs/releases/migration-3.rst
Labels: none

Fixes implementation
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix: preserve custom ID in Trans macro (#682)
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
