Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

fix: NODE_ENV=production crashes lingui extract #952
  packages/cli/src/api/extractors/babel.ts
Labels: :package: cli

Update catalog.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

Update catalog.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: message when translations are missing (#964)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix obsolete flag error when using extract [files]
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: obsolete flag disable when using extract [files] (#967)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore(release): published v3.5.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: fixed changelog scaped chars
  CHANGELOG.md
Labels: none

loader: accept webpack 5.x as a peer dependency
  packages/loader/package.json
Labels: :package: loader

fix(@lingui/loader): accept webpack 5.x as a peer dependency (#971)
  packages/loader/package.json
Labels: :package: loader

fix: config validation
  packages/conf/src/index.ts
Labels: :package: conf

fix: runtimeConfigModule config validation (#972)
  packages/conf/src/index.ts
Labels: :package: conf

fix: @lingui/macro types for global environments
  docs/guides/typescript.rst
  packages/macro/global.d.ts
  packages/macro/package.json
  scripts/build/babel.js
Labels: :package: macro

fix: @lingui/macro types for global environments (#973)
  docs/guides/typescript.rst
  packages/macro/global.d.ts
  packages/macro/package.json
  scripts/build/babel.js
Labels: :package: macro

chore(release): published v3.5.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

watch modes for extract and compile
  packages/cli/package.json
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  yarn.lock
Labels: :package: cli

chore: update examples @lingui packages
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  examples/js/package.json
  examples/js/yarn.lock
  examples/next-js/package.json
  examples/next-js/yarn.lock
Labels: none

fix https://github.com/lingui/js-lingui/pull/974/files/36bed746e78690c82ab15489818cf9b7f00dcc1f#r575856562
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

updated documentation - watch mode
  docs/ref/cli.rst
Labels: none

(docs:misc/tooling) Added entry for simpleen
  docs/misc/tooling.rst
Labels: none

chore: refactor to esm
  .eslintignore
  packages/core/npm/esm/index.js
  packages/core/npm/esm/package.json
  packages/core/package.json
  packages/detect-locale/npm/esm/index.js
  packages/detect-locale/npm/esm/package.json
  packages/detect-locale/package.json
  packages/react/package.json
  scripts/build/bundles.js
  scripts/build/index.js
  scripts/build/packaging.js
  scripts/build/rollup.js
  yarn.lock
Labels: :package: core, :package: react

docs: Added simpleen.io to tooling section (#978)
  docs/misc/tooling.rst
Labels: none

docs: Replace I18n render-prop component with useLingui hook
  docs/tutorials/react-patterns.rst
Labels: none

docs: Remove extra backquote
  docs/tutorials/react-patterns.rst
Labels: none

docs: Link common i18n patterns from react tutorial
  docs/tutorials/react.rst
Labels: none

docs: Fix broken links
  docs/misc/react-intl.rst
  docs/ref/macro.rst
  docs/tutorials/cli.rst
  docs/tutorials/react-patterns.rst
Labels: none

docs: fix broken links (#981)
  docs/misc/react-intl.rst
  docs/ref/macro.rst
  docs/tutorials/cli.rst
  docs/tutorials/react-patterns.rst
Labels: none

fix https://github.com/lingui/js-lingui/pull/974/files/6de36342e9e5f84c7d1dc1e3d07d410a4fa6cfed#r580458940
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

docs: Use just t macro instead of i18n._
  docs/tutorials/react-patterns.rst
Labels: none

docs: Fix syntax error in sample code
  docs/tutorials/react-patterns.rst
Labels: none

docs: Use just t outside React context
  docs/tutorials/react-patterns.rst
Labels: none

docs: Use function as a sample of lazy string-only translation
  docs/tutorials/react-patterns.rst
Labels: none

docs: Just pass a tagged message as props
  docs/tutorials/react-patterns.rst
Labels: none

feat: --watch mode for extract and compile (#974)
  docs/ref/cli.rst
  packages/cli/package.json
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  yarn.lock
Labels: :package: cli

chore: reverted yarn.lock
  packages/detect-locale/npm/esm/index.js
  packages/detect-locale/package.json
  packages/react/npm/esm/index.js
  packages/react/package.json
  yarn.lock
Labels: :package: react

feat: ship universal modules with ESM (#979)
  .eslintignore
  packages/core/npm/esm/index.js
  packages/core/npm/esm/package.json
  packages/core/package.json
  packages/detect-locale/npm/esm/index.js
  packages/detect-locale/npm/esm/package.json
  packages/detect-locale/package.json
  packages/react/npm/esm/index.js
  packages/react/package.json
  scripts/build/bundles.js
  scripts/build/index.js
  scripts/build/packaging.js
  scripts/build/rollup.js
Labels: :package: core, :package: react

docs: Update react patterns(#980)
  docs/tutorials/react-patterns.rst
  docs/tutorials/react.rst
Labels: none

chore(release): published v3.6.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

amend docs to clarify locale codes
  docs/ref/conf.rst
Labels: none

docs: clarify locale codes (#983)
  docs/ref/conf.rst
Labels: none
