Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

refactor(transltion-io): add typescript types
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

feat: clarify the order by `messageId` in v4 and support order by message
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

refactor(transltion-io): add typescript types (#1510)
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

feat(extractor): support TS experimental decorators
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/fixtures/collect-syntax-flow/lingui.config.js
  packages/cli/src/api/fixtures/collect-typescript-jsx/jsx-syntax.jsx
  packages/cli/src/api/fixtures/collect-typescript-jsx/lingui.config.js
  packages/cli/src/api/fixtures/collect-typescript-jsx/tsx-experimental-decorators.tsx
  packages/cli/src/api/fixtures/collect-typescript-jsx/tsx-syntax.tsx
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
  yarn.lock
Labels: :package: cli, :package: conf

Merge branch 'main' into next
  packages/react/src/Trans.tsx
Labels: :package: react

adddress comments
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  website/docs/ref/conf.md
Labels: :package: cli

remove extra new line
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
Labels: :package: cli

feat: clarify the order by `messageId` in v4 and support order by message (#1515)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

feat: change default orderBy to `message`
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-template-po-format/expected/messages.pot
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

Add the change of default orderBy in the migration guide
  website/docs/releases/migration-4.md
Labels: none

feat: change default orderBy to `message` (#1519)
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-template-po-format/expected/messages.pot
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  website/docs/ref/conf.md
  website/docs/releases/migration-4.md
Labels: :package: cli, :package: conf

test(experimental-extractor): update snapshots for new default message sorting
  packages/cli/test/extractor-experimental-clean/expected/about.page.en.po
  packages/cli/test/extractor-experimental-clean/expected/about.page.pl.po
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.messages.pot
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.en.po
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.po
Labels: :package: cli

test(experimental-extractor): update snapshots for new default message sorting (#1520)
  packages/cli/test/extractor-experimental-clean/expected/about.page.en.po
  packages/cli/test/extractor-experimental-clean/expected/about.page.pl.po
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.messages.pot
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.en.po
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.po
Labels: :package: cli

refactor(format): lazy load only used format implementation
  packages/cli/src/api/formats/index.ts
Labels: :package: cli

test: avoid using mocksFs in compile test. It breaks node's require()
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/cli/src/tests.ts
Labels: :package: cli

refactor(format): async context for formatters
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.test.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/formats/csv.test.ts
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
  packages/conf/src/types.ts
  packages/loader/package.json
  packages/loader/src/webpackLoader.ts
  packages/loader/test/.linguirc
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/compiler.js
  packages/loader/test/compiler.ts
  packages/loader/test/customConfig.json
  packages/loader/test/entrypoint.js
  packages/loader/test/loader.test.ts
  packages/snowpack-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: loader

refactor(format): remove `parse` from public api of formatters
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
  packages/conf/src/types.ts
Labels: :package: cli, :package: conf

refactor(format): fix build
  packages/conf/__typetests__/tsconfig.json
  packages/conf/tsconfig.json
  packages/macro/__typetests__/tsconfig.json
  packages/vite-plugin/tsconfig.json
Labels: :package: conf, :package: macro

feature(format): support for external formatters
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/formats/csv.test.ts
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/types.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/src/types.ts
  packages/loader/src/webpackLoader.ts
  packages/snowpack-plugin/src/index.ts
Labels: :package: cli, :package: conf, :package: loader

fix after merge
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-extract-experimental.ts
  yarn.lock
Labels: :package: cli

refactor(format): make formatters responsible only for serialize/parse
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/formats/__snapshots__/lingui.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/minimal.test.ts.snap
  packages/cli/src/api/formats/api/formatterWrapper.test.ts
  packages/cli/src/api/formats/api/formatterWrapper.ts
  packages/cli/src/api/formats/csv.test.ts
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.test.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/rethrownError.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/src/types.ts
Labels: :package: cli, :package: conf

fix: support pure expression choices
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
Labels: :package: macro

feat(extractor): support TS experimental decorators (#1517)
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/fixtures/collect-syntax-flow/lingui.config.js
  packages/cli/src/api/fixtures/collect-typescript-jsx/jsx-syntax.jsx
  packages/cli/src/api/fixtures/collect-typescript-jsx/lingui.config.js
  packages/cli/src/api/fixtures/collect-typescript-jsx/tsx-experimental-decorators.tsx
  packages/cli/src/api/fixtures/collect-typescript-jsx/tsx-syntax.tsx
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
  yarn.lock
Labels: :package: cli, :package: conf

code review changes
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

test: return catalog stats in determined order, to avoid flaky test
  packages/cli/src/api/catalog.ts
Labels: :package: cli

Update website/docs/ref/react.md
  website/docs/ref/react.md
Labels: none

refactor: address part of code review
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  website/docs/ref/react.md
Labels: :package: react

docs: I18nProvider updates
  packages/react/src/I18nProvider.test.tsx
  website/docs/ref/react.md
  website/sidebars.ts
Labels: :package: react

refactor: tests
  packages/react/src/I18nProvider.test.tsx
Labels: :package: react

refactor: remove forceRenderOnLocaleChange, export LinguiContext
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  packages/react/src/index.ts
Labels: :package: react

chore: better comment
  packages/react/src/I18nProvider.test.tsx
Labels: :package: react

docs: document I18nProvider changes
  website/docs/releases/migration-4.md
Labels: none

fix: do not unmount children of I18nProvider
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

feat: code updates
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

docs: single Trans tag
  website/docs/ref/react.md
Labels: none

Update website/docs/ref/react.md
  website/docs/ref/react.md
Labels: none

docs: I18nProvider updates
  website/docs/ref/react.md
Labels: none

fix(webpack-loader): support json catalogs. Improve coverage
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/utils.ts
  packages/loader/package.json
  packages/loader/src/webpackLoader.ts
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/compiler.ts
  packages/loader/test/json-format/.linguirc
  packages/loader/test/json-format/entrypoint.js
  packages/loader/test/json-format/locale/en.json
  packages/loader/test/loader.test.ts
  packages/loader/test/locale/es/messages.po
  packages/loader/test/po-format/.linguirc
  packages/loader/test/po-format/entrypoint.js
  packages/loader/test/po-format/locale/en.po
  website/docs/ref/loader.md
  yarn.lock
Labels: :package: cli, :package: loader

update tests and add a few for jsx
  packages/macro/src/macroJs.test.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
Labels: :package: macro

fix: expression only choices / select options (#1523)
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
Labels: :package: macro

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
