Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

actually merge in single comment
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

more extract tests
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

add tests for expand and fix
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

add all other tests
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

run prettier
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

fix dropping non plurals
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

fix items order
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

fix unnecessary ext
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

add docs
  website/docs/ref/catalog-formats.md
Labels: none

fix lint
  website/docs/ref/catalog-formats.md
Labels: none

fix(cli): process hang when error happend in extract
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

fix
  packages/cli/test/index.test.ts
Labels: :package: cli

fix(cli): process hang when error happend in extract (#2349)
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

fix(macro): correctly update bindings after transformation
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  yarn.lock
Labels: none

fix(macro): correctly update bindings after transformation (#2356)
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  yarn.lock
Labels: none

Upgrade example to Tanstack Start RC
  examples/tanstack-start/package.json
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/functions/deferred.ts
  examples/tanstack-start/src/functions/headers.ts
  examples/tanstack-start/src/functions/locale.ts
  examples/tanstack-start/src/functions/origin.ts
  examples/tanstack-start/src/global-middleware.ts
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/$lang/route.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/server.ts
  examples/tanstack-start/src/start.ts
  examples/tanstack-start/src/utils/posts.tsx
  examples/tanstack-start/vite.config.ts
  examples/tanstack-start/yarn.lock
Labels: none

Cleanup
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/$lang/content-bis.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/posts.$postId.tsx
  examples/tanstack-start/src/routes/posts.route.tsx
  examples/tanstack-start/src/routes/posts_.$postId.deep.tsx
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/start.ts
Labels: none

Use global start context
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
Labels: none

chore(release): published v5.5.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.5.2 [skip ci] (#2358)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: improve type of values accepted by date/time/number formats
  packages/core/src/formats.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.ts
  website/docs/ref/core.md
Labels: :package: core

Fix initI8n
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
Labels: none

Apply prettier
  examples/tanstack-start/src/functions/origin.ts
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/start.ts
  examples/tanstack-start/vite.config.ts
Labels: none

fix: improve type of values accepted by date/time/number formats
  packages/core/src/formats.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.ts
  website/docs/ref/core.md
Labels: :package: core

feat(experimental-extractor): reconsider includeDeps
  packages/cli/src/extract-experimental/buildIncludeDepsFilter.test.ts
  packages/cli/src/extract-experimental/buildIncludeDepsFilter.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.messages.pot
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental-template/fixtures/components/subpath-import.ts
  packages/cli/test/extractor-experimental-template/fixtures/pages/about.page.tsx
  packages/cli/test/extractor-experimental-template/lingui.config.ts
  packages/cli/test/extractor-experimental-template/package.json
  packages/cli/test/extractor-experimental-template/tsconfig.json
  packages/cli/test/index.test.ts
  packages/conf/src/types.ts
Labels: :package: cli, :package: conf

fix
  packages/cli/test/index.test.ts
Labels: :package: cli

apply path for threads
  .yarn/patches/threads-npm-1.7.0-c432dbb3e9.patch
  yarn.lock
Labels: none

implement vitest for cli, convert to esm
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/.vitest/setup.ts
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/__snapshots__/getCatalogs.test.ts.snap
  packages/cli/src/api/compile.ts
  packages/cli/src/api/extractWorkerPool.ts
  packages/cli/src/api/formats/formatterWrapper.test.ts
  packages/cli/src/api/resolveWorkersOptions.test.ts
  packages/cli/src/api/resolveWorkersOptions.ts
  packages/cli/src/extract-experimental/workers/extractWorker.ts
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.jiti.js
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.prod.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/workers/compileWorker.ts
  packages/cli/src/workers/compileWorkerWrapper.jiti.js
  packages/cli/src/workers/compileWorkerWrapper.prod.ts
  packages/cli/src/workers/extractWorker.ts
  packages/cli/src/workers/extractWorkerWrapper.jiti.js
  packages/cli/src/workers/extractWorkerWrapper.prod.ts
  packages/cli/test/index.test.ts
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  packages/cli/vitest.config.ts
  packages/jest-mocks/index.ts
  packages/message-utils/package.json
  packages/message-utils/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: :package: cli

replace require.main usages
  packages/cli/package.json
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  yarn.lock
Labels: :package: cli

rewrite formatter-po to esm
  packages/format-po/.vitest/setup.ts
  packages/format-po/package.json
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/__snapshots__/utils.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/tsconfig.json
  packages/format-po/vitest.config.ts
  yarn.lock
Labels: none

fix: improve type of values accepted by date/time/number formats (#2359)
  packages/core/src/formats.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.ts
  website/docs/ref/core.md
Labels: :package: core

feat(experimental-extractor): reconsider includeDeps (#2362)
  packages/cli/src/extract-experimental/buildIncludeDepsFilter.test.ts
  packages/cli/src/extract-experimental/buildIncludeDepsFilter.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.messages.pot
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental-template/fixtures/components/subpath-import.ts
  packages/cli/test/extractor-experimental-template/fixtures/pages/about.page.tsx
  packages/cli/test/extractor-experimental-template/lingui.config.ts
  packages/cli/test/extractor-experimental-template/package.json
  packages/cli/test/extractor-experimental-template/tsconfig.json
  packages/cli/test/index.test.ts
  packages/conf/src/types.ts
Labels: :package: cli, :package: conf

chore(release): published v5.6.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.6.0 [skip ci] (#2364)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

migrate format-csv package
  packages/format-csv/package.json
  packages/format-csv/src/__snapshots__/csv.test.ts.snap
  packages/format-csv/tsconfig.json
  packages/format-csv/vitest.config.ts
  packages/format-po-gettext/package.json
  yarn.lock
Labels: none

migrate react package
  packages/react/build.config.ts
  packages/react/macro/index.cjs
  packages/react/macro/index.d.cts
  packages/react/package.json
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/Trans.test.tsx
  packages/react/tsconfig.json
  packages/react/vitest.config.ts
  yarn.lock
Labels: :package: react

rewrite conf to esm
  packages/conf/package.json
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/tsconfig.json
  packages/conf/vitest.config.ts
  packages/jest-mocks/package.json
  yarn.lock
Labels: :package: conf

migrate core
  packages/core/build.config.ts
  packages/core/macro/index.cjs
  packages/core/macro/index.d.cts
  packages/core/package.json
  packages/core/src/eventEmitter.test.ts
  packages/core/src/i18n.test.ts
  packages/core/tsconfig.json
  packages/core/vitest.config.ts
  yarn.lock
Labels: :package: core

migrate po-gettext package
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/tsconfig.json
  packages/format-po-gettext/vitest.config.ts
  packages/format-po/.vitest/setup.ts
  packages/format-po/package.json
Labels: none

rewrite babel-plugin-lingui-macro to commonjs only
  packages/babel-plugin-lingui-macro/.vitest/code-serializer.js
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-defineMessage.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/babel-plugin-lingui-macro/tsconfig.json
  packages/babel-plugin-lingui-macro/vitest.config.ts
  packages/message-utils/compileMessage.js
  packages/message-utils/generateMessageId.js
  packages/message-utils/package.json
  yarn.lock
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
