Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(core/i18n/t): trim interpolation parameter names
  packages/core/src/i18n.t.ts
Labels: :package: core

refactor: message descriptor types for core and macro
  examples/nextjs-swc/src/components/Switcher.tsx
  packages/core/src/i18n.t.ts
  packages/core/src/i18n.ts
  packages/macro/global.d.ts
  packages/macro/index.d.ts
Labels: :package: core, :package: macro

test: add tests for new strict string interpolation typings
  packages/core/__typetests__/index.test-d.tsx
  packages/macro/__typetests__/index.test-d.tsx
Labels: :package: core, :package: macro

refactor: rename type I18nT to I18nTValues
  packages/core/src/i18n.ts
  packages/core/src/i18nTValues.ts
  packages/core/src/index.ts
Labels: :package: core

chore: yarn.lock type-fest
  yarn.lock
Labels: none

refactor: rename descriptor types
  examples/nextjs-swc/src/components/Switcher.tsx
  packages/core/src/i18n.t.ts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/react/src/TransNoContext.tsx
Labels: :package: core, :package: macro, :package: react

chore: remove unnecessary eslint-ignore
  packages/core/src/i18n.t.ts
Labels: :package: core

refactor: rename type I18nT to I18nTValues
  packages/core/src/i18n.t.ts
  packages/core/src/i18n.ts
Labels: :package: core

refactor: rename type _ExtractVars to ExtractVars
  packages/core/src/i18n.t.ts
Labels: :package: core

refactor(core/i18n.t): use wide record type for values in case of wide string type for a message
  packages/core/src/i18n.t.ts
Labels: :package: core

test(core/i18n.t): make the most complex test case even more complex
  packages/core/__typetests__/index.test-d.tsx
Labels: :package: core

feat(core/i18n.t/values): add formatters strict typing support
  packages/core/src/formats.ts
  packages/core/src/formatter.ts
  packages/core/src/i18n.t.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.ts
Labels: :package: core

test(core/i18n.t): formatter typings
  packages/core/__typetests__/index.test-d.tsx
Labels: :package: core

fix(core/i18n.t/values): replace all escaped symbols instead of just first one
  packages/core/src/i18n.t.ts
Labels: :package: core

test(core/i18n.t/values): ensure all escaped symbols in string are dropped
  packages/core/__typetests__/index.test-d.tsx
Labels: :package: core

chore(core/i18n.t/values): remove unnecessary condition in type ExtractVars
  packages/core/src/i18n.t.ts
Labels: :package: core

chore(core/i18n.t/values): write explanation comments at each line of type ExtractVars
  packages/core/src/i18n.t.ts
Labels: :package: core

chore(core/i18n.t/values): write explanation comments at each line of type ExtractBraceBody
  packages/core/src/i18n.t.ts
Labels: :package: core

chore(core/i18n/t): combine excessive overloads into one signature
  packages/core/src/i18n.ts
Labels: :package: core

chore(core/i18n/t): rename parameter 'id' to '_' in overloads
  packages/core/src/i18n.ts
Labels: :package: core

chore: update examples
  examples/nextjs-swc/README.md
  examples/nextjs-swc/package.json
  examples/nextjs-swc/yarn.lock
  examples/rspack/README.md
Labels: none

chore: update examples (#1847)
  examples/nextjs-swc/README.md
  examples/nextjs-swc/package.json
  examples/nextjs-swc/yarn.lock
  examples/rspack/README.md
Labels: none

fix: don't replace octothorpe coming from variable
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

fix: don't replace octothorpe coming from variable (#1850)
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

fix: compile should generate a TS file
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.ts
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

docs: update compile docs
  website/docs/ref/cli.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.md
Labels: none

docs: cli ref
  website/docs/ref/cli.md
Labels: none

docs: add Brave user to the main page
  website/src/components/Users.tsx
  website/static/img/users/brave.png
Labels: none

docs: add Brave user to the main page (#1853)
  website/src/components/Users.tsx
  website/static/img/users/brave.png
Labels: none

docs: add more TS tips
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.md
Labels: none

fix: compile should generate a TS file (#1851)
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.ts
  packages/cli/src/lingui-compile.ts
  website/docs/ref/cli.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.md
Labels: :package: cli

chore(release): published v4.7.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: main page updates
  website/docs/introduction.md
  website/src/components/Features.tsx
  website/src/components/Users.module.scss
  website/src/components/Users.tsx
  website/static/img/features/ai-ready.png
  website/static/img/features/free.svg
  website/static/img/users/graysky.png
  website/static/img/users/lenster.svg
  website/static/img/users/metamask.png
Labels: none

docs: main page updates (#1855)
  website/docs/introduction.md
  website/src/components/Features.tsx
  website/src/components/Users.module.scss
  website/src/components/Users.tsx
  website/static/img/features/ai-ready.png
  website/static/img/features/free.svg
  website/static/img/users/graysky.png
  website/static/img/users/lenster.svg
  website/static/img/users/metamask.png
Labels: none

support multiple locals in extract command
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-extract.ts
  website/docs/ref/cli.md
Labels: :package: cli

filter empty string in multiple locales
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

feat(macro): add useLingui macro
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/index.d.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/index.ts
  packages/macro/test/js-useLingui.ts
Labels: :package: macro

pre-process uselingui outside macro class
  packages/macro/index.d.ts
  packages/macro/package.json
  packages/macro/src/index.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-useLingui.ts
Labels: :package: macro

add useLingui test for multiple react components in the same file
  packages/macro/test/js-useLingui.ts
Labels: :package: macro

revert rimraf change
  packages/macro/package.json
Labels: :package: macro

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
