Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

pass formatter to pluralization function
  packages/core/src/context.ts
Labels: :package: core

fix: add fallback format
  packages/core/src/context.ts
Labels: :package: core

fix typescript error
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

merge template into catalogs during compile
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/pot-template/messages.pot
  packages/cli/src/api/fixtures/pot-template/pl.po
  packages/loader/package.json
  packages/loader/src/webpackLoader.ts
Labels: :package: cli, :package: loader

Improve macro CPU/memory usage
  packages/macro/src/index.ts
Labels: :package: macro

feat: Reduce @lingui/macro CPU and memory usage (#1298)
  packages/macro/src/index.ts
Labels: :package: macro

feat: Support GetText template files support during compile (#1296)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/pot-template/messages.pot
  packages/cli/src/api/fixtures/pot-template/pl.po
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/loader/package.json
  packages/loader/src/webpackLoader.ts
Labels: :package: cli, :package: loader

fix: Pass formatter to pluralization function (#1294)
  packages/core/src/context.ts
Labels: :package: core

fix: Make pseudolocal use the message AST instead of the key (#1293)
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/pseudoLocalize.test.ts
Labels: :package: cli

chore(release): published v3.15.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Propagate extraction failures
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

Update snapshot
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
Labels: :package: cli

Update catalog.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

Ignore unsupported files
  packages/cli/src/api/extractors/index.ts
Labels: :package: cli

Update tooling.rst
  docs/misc/tooling.rst
Labels: none

fix(types): `<Trans>`can have an `i18n` props
  packages/macro/index.d.ts
Labels: :package: macro

feat: allow extract to work with i18n._ calls not created from macro
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-without-macros-or-comments.js
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

fix(types): `<Trans>`can have an `i18n` props (#1308)
  packages/macro/index.d.ts
Labels: :package: macro

feat: `lingui extract` should fail with a non-zero exit code when there are extraction failures (#1299)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

feat: allow extract to work with i18n._ calls not created from macro (#1309)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-without-macros-or-comments.js
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

chore: update Stale Bot config [skip ci]
  .github/stale.yml
Labels: none

docs: fix Vercel deployment
  docs/Pipfile.lock
Labels: none

Add codecov.yml
  .github/codecov.yml
Labels: none

fix: Local development not working on Windows
  scripts/verdaccio-release.js
Labels: none

refactor(core) bump messageformat parser. Add TS types
  packages/core/package.json
  packages/core/src/context.ts
  packages/core/src/dev/compile.test.ts
  packages/core/src/dev/compile.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.ts
  packages/jest-mocks/index.ts
  yarn.lock
Labels: :package: core

ci: Upgrade CI/CD
  .github/workflows/deploy-main-docs.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  .github/workflows/publish-work.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  package.json
Labels: none

refactor() generate JSON compiled catalogs, remove code duplication, bump message-parser
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/core/src/compileMessage.test.ts
  packages/core/src/compileMessage.ts
  packages/core/src/dev/index.ts
  packages/core/src/index.ts
  packages/remote-loader/package.json
  packages/remote-loader/src/browserCompiler.ts
  packages/remote-loader/src/index.ts
  packages/remote-loader/test/index.test.ts
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
  scripts/build/modules.js
  yarn.lock
Labels: :package: cli, :package: core

ci: improve workflow_dispatch inputs for release workflow
  .github/workflows/release.yml
Labels: none

ci: improve workflow_dispatch inputs for release workflow (#1330)
  .github/workflows/release.yml
Labels: none

fix(conf) proper typings for LinguiConfig['runtimeConfigModule']
  packages/conf/index.d.ts
  packages/macro/src/index.ts
Labels: :package: conf, :package: macro

fix(conf) proper typings for LinguiConfig['runtimeConfigModule'] (#1329)
  packages/conf/index.d.ts
  packages/macro/src/index.ts
Labels: :package: conf, :package: macro

refactor(macro): make code strongly typed
  packages/macro/package.json
  packages/macro/src/icu.test.ts
  packages/macro/src/icu.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/src/utils.ts
  packages/macro/test/index.ts
  packages/macro/test/js-arg.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
  packages/macro/test/js-selectOrdinal.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
  packages/macro/test/jsx-selectOrdinal.ts
  packages/macro/test/jsx-trans.ts
  packages/macro/tsconfig.json
  yarn.lock
Labels: :package: macro

refactor() fix plural typings
  packages/core/src/i18n.ts
Labels: :package: core

refactor() remove outdated {pure} option and update tests
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/react/src/Trans.tsx
Labels: :package: cli, :package: react

refactor(macro): make code strongly typed (#1321)
  packages/macro/package.json
  packages/macro/src/icu.test.ts
  packages/macro/src/icu.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/src/utils.ts
  packages/macro/test/index.ts
  packages/macro/test/js-arg.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
  packages/macro/test/js-selectOrdinal.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
  packages/macro/test/jsx-selectOrdinal.ts
  packages/macro/test/jsx-trans.ts
  packages/macro/tsconfig.json
  yarn.lock
Labels: :package: macro

fix(macro): Extraction outputting empty objects
  packages/macro/src/index.ts
Labels: :package: macro

fix(macro): Extraction outputting empty objects (#1331)
  packages/macro/src/index.ts
Labels: :package: macro

fix: Dynamic versioning of internal packages
  package.json
  scripts/verdaccio-release.js
Labels: none

fix: Dynamic versioning of internal packages (#1332)
  package.json
  scripts/verdaccio-release.js
Labels: none

ci: fix the 'size-limit' workflow
  .github/workflows/size-limit.yml
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
