Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: run main suite also on window
  .github/workflows/main-suite.yml
Labels: none

Update docs/tutorials/cli.rst
  docs/tutorials/cli.rst
Labels: none

chore: win tests
  packages/cli/src/api/formats/po.test.ts
Labels: :package: cli

po-gettext: Fix issue with msgid generation (and incorrect docs)
  docs/ref/catalog-formats.rst
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages_plural.po
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

po-gettext: fix compiler erros
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

Update docs/ref/conf.rst
  docs/ref/conf.rst
Labels: none

chore: fix windows ci
  package.json
  packages/cli/src/api/formats/po.test.ts
  scripts/jest/config.integration.js
  scripts/jest/config.unit.js
  yarn.lock
Labels: :package: cli

chore: fixed commands not running correctly on windows env
  package.json
Labels: none

chore: utc snapshots
  packages/cli/src/api/formats/po.test.ts
Labels: :package: cli

chore: to utc string
  packages/cli/src/api/formats/po.test.ts
Labels: :package: cli

chore: avoid to run lint and codecov on windows
  .github/workflows/main-suite.yml
Labels: none

chore: remove old ci (#840)
  .circleci/config.yml
  .github/workflows/deploy-main-docs.yml
  .github/workflows/main-suite.yml
  appveyor.yml
  package.json
  packages/cli/src/api/formats/po.test.ts
  scripts/jest/config.integration.js
  scripts/jest/config.unit.js
  yarn.lock
Labels: :package: cli

Update docs/tutorials/cli.rst
  docs/tutorials/cli.rst
Labels: none

Remove message about manual change to message.json
  docs/tutorials/cli.rst
Labels: none

feat: enable pseudolocalization from pseudolocale folder (#836)
  docs/ref/conf.rst
  docs/tutorials/cli.rst
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/extract.test.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

chore(release): published v3.1.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: release v3.1.0
  package.json
Labels: none

chore: added token to deploy
  .github/workflows/release.yml
Labels: none

fix: t macro as function not extracting
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro, :package: plugin-extract

chore: update snapshot
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
Labels: :package: plugin-extract

fix: MessageDescriptor values type
  packages/core/src/i18n.ts
Labels: :package: core

chore: added token to deploy (#843)
  .github/workflows/release.yml
Labels: none

fix: MessageDescriptor values type (#848)
  packages/core/src/i18n.ts
Labels: :package: core

fix: add extract mark to message descriptor
  packages/macro/src/constants.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

fix: t macro as function not extracting (#846)
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/macro/src/constants.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro, :package: plugin-extract

Update migration-3.rst
  docs/releases/migration-3.rst
Labels: none

docs: fix location of date/number formatters (#850)
  docs/releases/migration-3.rst
Labels: none

Update cli.rst
  docs/tutorials/cli.rst
Labels: none

chore: hit cache only once
  packages/core/src/formats.ts
Labels: :package: core

refactor: hit formatter's cache only once (#852)
  packages/core/src/formats.ts
Labels: :package: core

fix: absolute path normalizer
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  examples/next-js/locale/cs/messages.po
  examples/next-js/locale/en/messages.po
  examples/next-js/package.json
  examples/next-js/yarn.lock
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

docs: update cli.rst react link (#851)
  docs/tutorials/cli.rst
Labels: none

make extractedComments explicit during extraction
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
Labels: :package: cli, :package: plugin-extract

Deal with multiple source comments in PO files
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/__snapshots__/lingui.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

Collect comment per message
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
Labels: :package: cli, :package: plugin-extract

Merge extractedComments accross files
  packages/cli/src/api/catalog.ts
Labels: :package: cli

Add multiple comments to test suite
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/collect/componentA/index.js
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

Add test for in file translation ID repetition with different comments
  packages/babel-plugin-extract-messages/src/index.ts
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
Labels: :package: cli, :package: plugin-extract

Update testing.rst
  docs/guides/testing.rst
Labels: none

docs: add loading plurals to testing.rst (#855)
  docs/guides/testing.rst
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
