Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: improve CLI documentation (#1878)
  README.md
  packages/cli/README.md
  vercel.json
  website/blog/2023-12-12-4k-stars/index.md
  website/docs/guides/plurals.md
  website/docs/guides/pseudolocalization.md
  website/docs/introduction.md
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/tutorials/cli.md
  website/docs/tutorials/react.md
  website/sidebars.ts
Labels: :package: cli

refactor(macro): macro to plugin (#1867)
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.ts
  packages/conf/src/types.ts
  packages/macro/package.json
  packages/macro/src/constants.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/src/plugin.ts
  packages/macro/test/fixtures/js-t-continuation-character.expected.js
  packages/macro/test/fixtures/js-t-var/.babelrc
  packages/macro/test/fixtures/js-t-var/js-t-var.expected.js
  packages/macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/macro/test/index.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
  packages/macro/test/js-selectOrdinal.ts
  packages/macro/test/js-t.ts
  packages/macro/test/js-useLingui.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
  packages/macro/test/jsx-selectOrdinal.ts
  packages/macro/test/jsx-trans.ts
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro, :package: plugin-extract

docs(examples): update examples with useLingui macro (#1875)
  examples/create-react-app/package.json
  examples/nextjs-babel/package.json
  examples/nextjs-babel/src/components/Layout.tsx
  examples/nextjs-babel/yarn.lock
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/pages/index.tsx
  examples/nextjs-swc/yarn.lock
Labels: none

chore(release): published v4.8.0-next.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v4.8.0-next.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(macro): add useLingui macro (#1859)
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.ts
  packages/conf/src/types.ts
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/index.d.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/index.ts
  packages/macro/test/js-useLingui.ts
  website/docs/introduction.md
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
Labels: :package: conf, :package: macro, :package: plugin-extract

feat(cli): support multiple locales in extract command (#1858)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-extract.ts
  website/docs/ref/cli.md
Labels: :package: cli

fix(macro): fix failure when macro meets function carrying (#1884)
  packages/macro/src/macroJs.ts
  packages/macro/src/plugin.ts
  packages/macro/test/js-useLingui.ts
Labels: :package: macro

docs: fix broken anchor
  website/docs/ref/conf.md
Labels: none

fix: compile json reference docs
  website/docs/ref/conf.md
Labels: none

refactor(macro): robust whitespace handling according to jsx spec
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/en.po
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.test.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/utils/cleanJSXElementLiteralChild.ts
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.js
  packages/babel-plugin-lingui-macro/test/jsx-trans.ts
Labels: none

fix: allow parentheses in catalog pathnames (#1792)
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

chore: run prettier
  packages/cli/src/api/catalog/getCatalogs.test.ts
Labels: :package: cli

refactor(macro): robust whitespace handling according to jsx spec (#1882)
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/en.po
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.test.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/utils/cleanJSXElementLiteralChild.ts
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.js
  packages/babel-plugin-lingui-macro/test/jsx-trans.ts
Labels: none

chore: compile messages to json (#1888)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  website/docs/ref/conf.md
Labels: :package: cli

fix: allow parentheses in catalog pathnames (#1890)
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

chore(release): published v4.7.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

ci: upgrade actions
  .github/workflows/main-suite.yml
  .github/workflows/release-test.yml
  .github/workflows/size-limit.yml
Labels: none

ci: upgrade actions (#1895)
  .github/workflows/main-suite.yml
  .github/workflows/release-test.yml
  .github/workflows/size-limit.yml
Labels: none

refactor(macro): remove whitespace cleaning from js macro
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/fixtures/js-t-continuation-character.js
  packages/babel-plugin-lingui-macro/test/js-t.ts
Labels: none

refactor(macro): explicitly mark symbols as deprecated
  packages/macro/index.d.ts
  packages/react/macro/index.d.ts
Labels: :package: macro, :package: react

Update Trans.tsx to 'use client'
  packages/react/src/Trans.tsx
Labels: :package: react

chore: bump date-fns from 2.16.1/2.29.3 to 3.6.0
  packages/cli/package.json
  packages/format-po/package.json
  yarn.lock
Labels: :package: cli

chore: bump date-fns from 2.16.1/2.29.3 to 3.6.0 (#1900)
  packages/cli/package.json
  packages/format-po/package.json
  yarn.lock
Labels: :package: cli

feat(react): add "use client" for react bundle
  packages/react/build.config.ts
Labels: :package: react

feat(react): add "use client" for react bundle (#1902)
  packages/react/build.config.ts
Labels: :package: react

refactor(macro): explicitly mark symbols as deprecated (#1898)
  packages/macro/index.d.ts
  packages/react/macro/index.d.ts
Labels: :package: macro, :package: react

chore(release): published v4.8.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

refactor(macro): remove whitespace cleaning from js macro (#1897)
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/fixtures/js-t-continuation-character.js
  packages/babel-plugin-lingui-macro/test/js-t.ts
Labels: none

docs: change the unnecessarily mocking tone of the React docs
  website/docs/tutorials/react.md
Labels: none

fix(react): process falsy values with JSX semantics
  packages/react/src/Trans.test.tsx
  packages/react/src/TransNoContext.tsx
Labels: :package: react

chore: remove the deprecated 'isTranslated' property
  packages/react/src/Trans.test.tsx
  packages/react/src/TransNoContext.tsx
Labels: :package: react

chore: remove the deprecated 'isTranslated' property (#1907)
  packages/react/src/Trans.test.tsx
  packages/react/src/TransNoContext.tsx
Labels: :package: react

fix(react): process falsy values with JSX semantics (#1906)
  packages/react/src/Trans.test.tsx
  packages/react/src/TransNoContext.tsx
Labels: :package: react

Nextjs example & docs
  examples/nextjs-rsc/.eslintrc.json
  examples/nextjs-rsc/.gitignore
  examples/nextjs-rsc/.prettierrc.js
  examples/nextjs-rsc/README.md
  examples/nextjs-rsc/globals.d.ts
  examples/nextjs-rsc/lingui.config.js
  examples/nextjs-rsc/next-env.d.ts
  examples/nextjs-rsc/next.config.js
  examples/nextjs-rsc/package.json
  examples/nextjs-rsc/public/favicon.ico
  examples/nextjs-rsc/public/vercel.svg
  examples/nextjs-rsc/src/app/[locale]/layout.tsx
  examples/nextjs-rsc/src/app/[locale]/page.tsx
  examples/nextjs-rsc/src/components/AboutText.tsx
  examples/nextjs-rsc/src/components/Developers.tsx
  examples/nextjs-rsc/src/components/I18nProvider.tsx
  examples/nextjs-rsc/src/components/Switcher.tsx
  examples/nextjs-rsc/src/locales/en.po
  examples/nextjs-rsc/src/locales/es.po
  examples/nextjs-rsc/src/locales/pseudo.po
  examples/nextjs-rsc/src/locales/sr.po
  examples/nextjs-rsc/src/middleware.ts
  examples/nextjs-rsc/src/styles/Index.module.css
  examples/nextjs-rsc/src/styles/globals.css
  examples/nextjs-rsc/src/utils.ts
  examples/nextjs-rsc/tsconfig.json
  examples/nextjs-rsc/yarn.lock
  website/docs/tutorials/nextjs.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react-rsc.md
  website/sidebars.ts
Labels: none

docs: change the unnecessarily mocking tone of the React docs (#1905)
  website/docs/tutorials/react.md
Labels: none

PR Review fixes
  examples/nextjs-rsc/next.config.js
  website/docs/tutorials/nextjs.md
Labels: none

Renames some more references to the examples
  examples/nextjs-app/yarn.lock
  examples/nextjs-pages/yarn.lock
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
Labels: none

chore(macro): snapshot testing
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-defineMessage.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.expected.js
  packages/babel-plugin-lingui-macro/test/index.ts
  packages/babel-plugin-lingui-macro/test/js-defineMessage.test.ts
  packages/babel-plugin-lingui-macro/test/js-defineMessage.ts
  packages/babel-plugin-lingui-macro/test/js-plural.test.ts
  packages/babel-plugin-lingui-macro/test/js-plural.ts
  packages/babel-plugin-lingui-macro/test/js-select.test.ts
  packages/babel-plugin-lingui-macro/test/js-select.ts
  packages/babel-plugin-lingui-macro/test/js-selectOrdinal.test.ts
  packages/babel-plugin-lingui-macro/test/js-selectOrdinal.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.ts
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-plural.ts
  packages/babel-plugin-lingui-macro/test/jsx-select.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-select.ts
  packages/babel-plugin-lingui-macro/test/jsx-selectOrdinal.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-selectOrdinal.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
Labels: none

test: test case for i18n catalog compilation in development mode 🧪
  packages/core/src/i18n.test.ts
  packages/react/src/Trans.test.tsx
Labels: :package: core, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
