Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs: add the ESLint plugin info (#1756)
  website/docs/ref/eslint-plugin.md
  website/sidebars.ts
Labels: none

docs: add the ESLint plugin announcement
  website/docusaurus.config.js
Labels: none

docs: add the ESLint plugin announcement (#1759)
  website/docusaurus.config.js
Labels: none

chore: bump unraw from 2.0.1 to 3.0.0
  packages/core/package.json
  yarn.lock
Labels: :package: core

chore: bump unraw from 2.0.1 to 3.0.0 (#1761)
  packages/core/package.json
  yarn.lock
Labels: :package: core

chore(build): update unbuild, and expose mts / mjs typings
  packages/babel-plugin-extract-messages/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/build.config.ts
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(build): update unbuild, and expose mts / mjs typings (#1751)
  packages/babel-plugin-extract-messages/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/build.config.ts
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(react): export react server sub-entry
  packages/react/package.json
  test/node-api-esm/index.js
Labels: :package: react

feat(react): export react server sub-entry (#1762)
  packages/react/package.json
  test/node-api-esm/index.js
Labels: :package: react

chore(release): published v4.5.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: enhance plugins' documentation
  website/docs/ref/eslint-plugin.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
Labels: none

docs: enhance plugins' documentation (#1763)
  website/docs/ref/eslint-plugin.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
Labels: none

refactor: use strict ts for core
  packages/core/src/essentials.test.ts
  packages/core/src/essentials.ts
  packages/core/src/eventEmitter.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/core/tsconfig.json
  packages/macro/src/icu.ts
  packages/macro/src/macroJs.ts
  packages/message-utils/src/compileMessage.ts
Labels: :package: core, :package: macro

refactor: fix package names
  packages/cli/test/extractor-experimental-clean/package.json
  packages/cli/test/extractor-experimental-template/package.json
Labels: :package: cli

refactor: fix _ signature
  packages/core/src/i18n.ts
Labels: :package: core

refactor: fix load() signature
  packages/core/__typetests__/index.test-d.tsx
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

refactor: format signatures
  packages/core/src/formats.ts
Labels: :package: core

refactor: use strict ts for core (#1764)
  packages/cli/test/extractor-experimental-clean/package.json
  packages/cli/test/extractor-experimental-template/package.json
  packages/core/__typetests__/index.test-d.tsx
  packages/core/src/essentials.test.ts
  packages/core/src/essentials.ts
  packages/core/src/eventEmitter.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/core/tsconfig.json
  packages/macro/src/icu.ts
  packages/macro/src/macroJs.ts
  packages/message-utils/src/compileMessage.ts
Labels: :package: cli, :package: core, :package: macro

docs: add info about Crowdin OTA
  website/docs/tools/crowdin.md
Labels: none

docs: add info about Crowdin OTA (#1770)
  website/docs/tools/crowdin.md
Labels: none

chore: deprecate isTranslated prop
  packages/react/src/TransNoContext.tsx
  website/docs/ref/react.md
Labels: :package: react

chore: deprecate isTranslated prop (#1772)
  packages/react/src/TransNoContext.tsx
  website/docs/ref/react.md
Labels: :package: react

Revert "docs: add the ESLint plugin announcement (#1759)"
  website/docusaurus.config.js
Labels: none

Revert "docs: add the ESLint plugin announcement (#1759)" (#1774)
  website/docusaurus.config.js
Labels: none

fix(experimental-extractor): fix ERR_IMPORT_ASSERTION_TYPE_MISSING issue
  packages/cli/src/extract-experimental/buildExternalizeFilter.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

fix(experimental-extractor): fix ERR_IMPORT_ASSERTION_TYPE_MISSING issue (#1775)
  packages/cli/src/extract-experimental/buildExternalizeFilter.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

feat(message-utils): make generateMessageId to be working in browser / lambda / etc
  packages/message-utils/package.json
  packages/message-utils/src/generateMessageId.ts
  yarn.lock
Labels: none

refactor(message-utils): extract tests for compileMessage fn
  packages/core/src/interpolate.test.ts
  packages/message-utils/src/compileMessage.test.ts
Labels: :package: core

docs: add explicit vs generated id doc. Move to non-global string-only translations
  website/docs/ref/macro.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/react-patterns.md
  website/sidebars.ts
Labels: none

feat(message-utils): make generateMessageId to be working in browser (#1776)
  packages/core/src/interpolate.test.ts
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/generateMessageId.ts
  yarn.lock
Labels: :package: core

Apply suggestions from code review
  website/docs/ref/macro.md
Labels: none

fix formatting
  website/docs/ref/macro.md
Labels: none

docs: add explicit vs generated id doc. Move to non-global string-only translations (#1777)
  website/docs/ref/macro.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/react-patterns.md
  website/sidebars.ts
Labels: none

docs: wording in react-patterns.md
  website/docs/tutorials/react-patterns.md
Labels: none

docs: wording in react-patterns.md (#1779)
  website/docs/tutorials/react-patterns.md
Labels: none

docs: fix typo in `i18n.load()` example
  website/docs/ref/core.md
Labels: none

docs: fix typo in `i18n.load()` example (#1780)
  website/docs/ref/core.md
Labels: none

Update react-intl.md
  website/docs/misc/react-intl.md
Labels: none

Update introduction.md
  website/docs/introduction.md
Labels: none

Update cli.md
  website/docs/tutorials/cli.md
Labels: none
