Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: add extract-template for po-gettext format (#1089)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

Add context to types
  packages/core/src/i18n.ts
  packages/macro/index.d.ts
  packages/macro/src/constants.ts
  packages/macro/src/macroJsx.ts
  packages/react/src/Trans.tsx
Labels: :package: core, :package: macro, :package: react

Extract, serialize, deserialize context prop
  packages/babel-plugin-extract-messages/src/index.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli, :package: plugin-extract

Update tests
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/duplicate-id.js
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/js-without-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-with-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-without-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-without-trans.js
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/core/src/i18n.test.ts
Labels: :package: cli, :package: core, :package: plugin-extract

Allow cloud synchronization services using a special configuration block, and add specific Translation.io sync process
  packages/cli/package.json
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

Reuse options.clean to clean unused segments from Translation.io (equivalent to sync_and_purge)
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

Create headers for target language POs, improve sync by only using Translation.io "source" segments and using context to deal with existing ID
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

docs: Don't use props in tutorial
  docs/tutorials/react.rst
Labels: none

docs: Use a tag instead of Link in tutorial
  docs/tutorials/react.rst
Labels: none

docs: Call Date#toLocaleDateString in tutorial
  docs/tutorials/react.rst
Labels: none

docs: Render to the container id="root" in tutorial
  docs/tutorials/react.rst
Labels: none

docs: Remove semicolon in tutorial code
  docs/tutorials/react.rst
Labels: none

docs: Default format is now po
  docs/tutorials/react.rst
Labels: none

docs: Assume that files are in the src directory
  docs/tutorials/react.rst
Labels: none

docs: Update imports in tutorial
  docs/tutorials/react.rst
Labels: none

docs: Now filename of compiled catalog is messages.js
  docs/tutorials/react.rst
Labels: none

docs: Fix string literals in tutorial
  docs/tutorials/react.rst
Labels: none

docs: Load plural data in tutorial
  docs/tutorials/react.rst
Labels: none

docs: Add import of Plural macro in tutorial
  docs/tutorials/react.rst
Labels: none

docs: Update final component of tutorial
  docs/tutorials/react.rst
Labels: none

docs: Explain about useLingui hook in tutorial
  docs/tutorials/react.rst
Labels: none

feat: Add debounce option to compile and extract CLI
  docs/ref/cli.rst
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

docs: Remove .js extension from import path
  docs/tutorials/react.rst
Labels: none

docs: Use object style argument in tutorial
  docs/tutorials/react.rst
Labels: none

docs: Add reference of I18n.date and I18n.number
  docs/ref/core.rst
Labels: none

docs: Remove usage of date macro from reference
  docs/ref/macro.rst
Labels: none

docs: Update transformation result of macros in reference
  docs/ref/macro.rst
Labels: none

No more "norwegian" as default language for headers
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

Fixes no files being found when cataglogs.include has more than one entry
  packages/cli/src/api/catalog.ts
Labels: :package: cli

Fix wrong detect whether a translation is plural
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

fix: handle the case fallbackLocales is false
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: fallbackLocales to false causing unexpected behaviour (#1123)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: wrong detect whether a translation is plural (#1119)
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

docs: Improve react tutorial (#1102)
  docs/tutorials/react.rst
Labels: none

fix: no files being found when catalogs.include has more than one entry (#1108)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

feat: Add debounce option to compile and extract CLI (#1101)
  docs/ref/cli.rst
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

docs: Update macro references (#1104)
  docs/ref/macro.rst
Labels: none

docs: Add reference of I18n.date and I18n.number (#1103)
  docs/ref/core.rst
Labels: none

fix(): extractors CLI validation and accept require and require.resolve
  packages/cli/src/api/extractors/index.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix(): keys with leading number was generating bad object keys
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
