Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: add macro options to issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

fix(extractor): fix extracting from random `i18n.` members
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

chore: add macro options to issue template (#1601)
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

fix(extractor): fix extracting from random `i18n.` members (#1602)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

fix(cli): allow import from ESM context, add tests
  packages/cli/package.json
  test/cli-version/index.js
  test/cli-version/package.json
  test/node-api-esm/index.js
  test/node-api-esm/package.json
  yarn.lock
Labels: :package: cli

fix(cli): allow import from ESM context, add tests (#1605)
  packages/cli/package.json
  test/cli-version/index.js
  test/cli-version/package.json
  test/node-api-esm/index.js
  test/node-api-esm/package.json
  yarn.lock
Labels: :package: cli

fix: wrong plural handling
  packages/core/src/interpolate.test.ts
Labels: :package: core

feat: add new package with vue extractor
  jest.config.js
  lerna.json
  packages/extractor-vue/README.md
  packages/extractor-vue/package.json
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/fixtures/test.vue
  packages/extractor-vue/src/index.ts
  packages/extractor-vue/src/vue-extractor.ts
  tsconfig.json
  yarn.lock
Labels: none

feat: fix ts support in vue template + setup script
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/fixtures/test.vue
  packages/extractor-vue/src/vue-extractor.ts
Labels: none

docs: remove announcement
  website/docusaurus.config.js
Labels: none

Merge branch 'main' into next
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

docs: v4 changelog
  CHANGELOG.md
Labels: none

fix: update readme after extractor changes that removes limitations
  packages/extractor-vue/README.md
  packages/extractor-vue/package.json
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/fixtures/test.vue
  website/docs/tutorials/extractor-vue.md
  website/sidebars.ts
  yarn.lock
Labels: none

feat: add new package with vue extractor (#1578)
  jest.config.js
  lerna.json
  packages/extractor-vue/README.md
  packages/extractor-vue/package.json
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/fixtures/test.vue
  packages/extractor-vue/src/index.ts
  packages/extractor-vue/src/vue-extractor.ts
  tsconfig.json
  website/docs/tutorials/extractor-vue.md
  website/sidebars.ts
  yarn.lock
Labels: none

refactor: remove notify param
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

refactor: loadAndActivate
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core

fix: specify vue-extractor files to be included in the npm package
  packages/extractor-vue/package.json
Labels: none

fix: specify vue-extractor files to be included in the npm package (#1610)
  packages/extractor-vue/package.json
Labels: none

fix: vue-extractor readme badges
  packages/extractor-vue/README.md
Labels: none

fix: vue-extractor readme badges (#1611)
  packages/extractor-vue/README.md
Labels: none

chore(release): published v4.0.0-next.8
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: fix wording
  website/docs/ref/core.md
Labels: none

refactor: update existing useLinguiInit calls
  examples/create-react-app/src/i18n.ts
  examples/nextjs-babel/src/i18n.ts
  examples/nextjs-swc/src/utils.ts
  examples/vite-project-react-babel/src/i18n.ts
Labels: none

docs: update loadAndActivate TSdoc
  packages/core/src/i18n.ts
Labels: :package: core

feat: setup eslint for react
  .eslintrc
  package.json
  packages/react/.eslintrc
  packages/react/package.json
  yarn.lock
Labels: :package: react

feat: react native docs
  website/docs/tutorials/react-native.md
Labels: none

wip
  website/docs/tutorials/react-native.md
Labels: none

wip
  website/docs/tutorials/react-native.md
Labels: none

refactor: tests
  website/docs/tutorials/react-native.md
Labels: none

docs: more updates
  website/docs/ref/macro.md
  website/docs/tutorials/react-native.md
Labels: none

docs: more updates
  website/docs/misc/resources.md
  website/docs/tutorials/react-native.md
Labels: none

refactor: add effect dep
  packages/react/src/I18nProvider.tsx
Labels: :package: react

docs(custom-formatter): update MessageType
  website/docs/guides/custom-formatter.md
Labels: none

docs(custom-formatter): update MessageType (#1615)
  website/docs/guides/custom-formatter.md
Labels: none

docs: remove v4 announcement from readme
  README.md
Labels: none

chore: setup eslint for react (#1613)
  .eslintrc
  package.json
  packages/react/.eslintrc
  packages/react/package.json
  packages/react/src/I18nProvider.tsx
  yarn.lock
Labels: :package: react

fix(macro): Should not process non JSXElement nodes in JSX Macro
  packages/macro/src/macroJsx.ts
  packages/macro/test/index.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix: formats should be locale-order sensitive
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
Labels: :package: core

refactor: remove default params
  packages/core/src/formats.ts
Labels: :package: core

refactor: use toBe test matcher
  packages/core/src/formats.test.ts
Labels: :package: core

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
