Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(vue-extractor): deprecate `vueExtractor` export in favor of `createVueExtractor`
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/index.ts
  packages/extractor-vue/src/vue-extractor.ts
  website/docs/ref/extractor-vue.md
Labels: :package: conf

Update packages/extractor-vue/src/vue-extractor.ts
  packages/extractor-vue/src/vue-extractor.ts
Labels: none

chore: set the minimum required node version to 22.19 (#2435)
  .github/workflows/docs-suite.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  .github/workflows/release-docs.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/version-bump.yml
  .nvmrc
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/test-utils/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix(eventEmitter)!: improve event handling and listener management (#2277)
  packages/core/__typetests__/eventEmitter.tst.ts
  packages/core/src/eventEmitter.test.ts
  packages/core/src/eventEmitter.ts
Labels: :package: core

feat!: use base64 urlsafe alphabet for id (#2438)
  packages/babel-plugin-extract-messages/test/__snapshots__/extract-messages.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental-template/expected/index.page.en.js
  packages/cli/test/extractor-experimental-template/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/message-utils/src/generateMessageId.node.ts
  packages/message-utils/src/generateMessageId.test.ts
  packages/message-utils/src/generateMessageId.ts
Labels: :package: cli, :package: plugin-extract

chore(vue-extractor): prettier
  packages/extractor-vue/src/extractor.test.ts
Labels: none

chore: delete unused deps across monorepo (#2440)
  package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/format-po/package.json
  packages/metro-transformer/package.json
  packages/remote-loader/package.json
  yarn.lock
Labels: :package: cli

chore: use node js native utils (#2441)
  packages/cli/package.json
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/extract-experimental/getEntryPoints.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
  yarn.lock
Labels: :package: cli

ci: re-enable windows tests
  .github/workflows/main-suite.yml
Labels: none

fix: cli inline sourcemap parsing (#2439)
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/fixtures/collect-inline-sourcemaps-charset/componentB.jsx
  packages/cli/src/api/fixtures/collect-inline-sourcemaps-multiple/componentB.jsx
  yarn.lock
Labels: :package: cli

feat(vue-extractor): add reactivity transform support for props destructuring (#2414)
  packages/extractor-vue/package.json
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/compile-script-setup.ts
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/fixtures/props-destructuring.vue
  packages/extractor-vue/src/index.ts
  packages/extractor-vue/src/vue-extractor.ts
  website/docs/ref/extractor-vue.md
  yarn.lock
Labels: none

chore: windows compatibility in tests
  .github/workflows/main-suite.yml
  packages/cli/src/api/getPathsForCompileWatcher.test.ts
  packages/cli/src/api/getPathsForExtractWatcher.test.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  packages/conf/tsconfig.json
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: :package: cli, :package: conf

prettier
  packages/cli/src/api/getPathsForCompileWatcher.test.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/conf/src/getConfig.ts
Labels: :package: cli, :package: conf

fix(macro): Ignore JSX comments when generating message ids (#2434)
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

fix(macro): Ignore JSX comments when generating message ids (#2434)
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

chore(release): published v5.9.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.9.1 [skip ci] (#2448)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: windows compatibility in tests (#2446)
  .github/workflows/main-suite.yml
  packages/cli/src/api/getPathsForCompileWatcher.test.ts
  packages/cli/src/api/getPathsForExtractWatcher.test.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  packages/conf/tsconfig.json
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: :package: cli, :package: conf

chore: remove blog post and links to blog from doc
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
  website/blog/2025-12-17-deprecating-intl-wrappers/social-card.jpg
  website/blog/authors.yml
  website/docs/ref/core.md
Labels: none

chore: clean up formatting in documentation and examples
  website/blog/authors.yml
  website/docs/ref/core.md
  website/docs/tutorials/react.md
Labels: none

chore: fix eslint for react project and update eslint to latest
  eslint.config.js
  package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/typedPool.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
  packages/metro-transformer/src/expo/index.ts
  packages/metro-transformer/src/react-native/index.ts
  packages/react/.eslintrc
  packages/react/package.json
  packages/react/src/I18nProvider.tsx
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: :package: cli, :package: plugin-extract, :package: react

chore: update BabelTypes import to use BabelTypesNamespace
  packages/babel-plugin-extract-messages/src/index.ts
Labels: :package: plugin-extract

chore: update unbuild version to 3.6.1 across multiple packages and update ora in root to 9.1.0
  package.json
  packages/conf/package.json
  packages/format-json/package.json
  packages/format-po/package.json
  packages/remote-loader/package.json
  yarn.lock
Labels: :package: conf

test(cli): add regression test for no-entry + worker-pool on next
  packages/cli/test/extractor-experimental-no-entries/existing/.gitkeep
  packages/cli/test/extractor-experimental-no-entries/expected/.gitkeep
  packages/cli/test/extractor-experimental-no-entries/lingui.config.ts
  packages/cli/test/extractor-experimental-no-entries/package.json
  packages/cli/test/index.test.ts
Labels: :package: cli

chore: update unbuild and ora in monorepo (#2450)
  package.json
  packages/conf/package.json
  packages/format-json/package.json
  packages/format-po/package.json
  packages/remote-loader/package.json
  yarn.lock
Labels: :package: conf

chore: refactor macro files to use ES module syntax and update package exports for core/react
  eslint.config.js
  packages/core/macro/browser.mjs
  packages/core/macro/index.cjs
  packages/core/macro/index.d.mts
  packages/core/macro/index.mjs
  packages/core/package.json
  packages/react/macro/browser.mjs
  packages/react/macro/index.cjs
  packages/react/macro/index.d.mts
  packages/react/macro/index.mjs
  packages/react/package.json
Labels: :package: core, :package: react

chore: update ESLint configuration for React, move it to react package
  eslint.config.js
  package.json
  packages/react/eslint.config.js
  packages/react/package.json
  yarn.lock
Labels: :package: react

chore: revert babel inports
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
Labels: :package: plugin-extract

chore: update import for prettier to use format function
  packages/babel-plugin-lingui-macro/test/macroTester.ts
Labels: none

docs: add announcement bar about the v6 pre-release
  website/docusaurus.config.ts
Labels: none

chore: fix duplicate import warnings in Babel plugin files
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
Labels: :package: plugin-extract

update
  website/docs/releases/migration-6.md
Labels: none

updates
  website/docs/releases/migration-6.md
Labels: none

update
  website/docs/releases/migration-6.md
Labels: none

update
  website/docs/releases/migration-6.md
Labels: none

update
  website/docs/releases/migration-6.md
Labels: none

updates regarding CRA
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/docs/examples.md
  website/docs/releases/migration-6.md
  website/docs/tutorials/react.md
Labels: none

wip
  website/docs/releases/migration-6.md
Labels: none

update
  website/docs/releases/migration-6.md
Labels: none

docs: v6 migration guide
  website/docs/releases/migration-6.md
  website/sidebars.ts
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
