Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

refactor: make community and examples static pages
  website/src/pages/community.md
  website/src/pages/examples.md
Labels: none

refactor: all blog images stored in the same folder
  website/blog/2023-04-26-announcing-lingui-4.0/extractor-deps-scheme.svg
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
Labels: none

feat: setup Docusaurus versioning with v4.x and current versions
  website/docusaurus.config.ts
  website/versions.json
Labels: none

chore: update dependencies and resolve peer dependency warnings
  website/package.json
  website/tsconfig.json
  website/yarn.lock
Labels: none

feat: add initial README for Lingui Documentation Website
  website/README.md
Labels: none

examples(tanstack-start): do not use global i18n in SSR app
  examples/tanstack-start/package.json
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/users.$userId.tsx
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/server.ts
  examples/tanstack-start/yarn.lock
Labels: none

examples(tanstack-start): parse cookie only when needed
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
Labels: none

examples(tanstack-start): remove unused imports
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/server.ts
Labels: none

examples(tanstack-start): add missing translations
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
Labels: none

examples(tanstack-start): hydrate catalog from server
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/deferred.tsx
Labels: none

fix: remove unraw dependency and add custom escape sequence decoder
  packages/core/package.json
  packages/core/src/escapeSequences.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.ts
  yarn.lock
Labels: :package: core

docs: update bundle size claims after dependency removal
  README.md
  website/docs/introduction.md
Labels: none

ci: update size limits for libraries
  package.json
Labels: none

test: add unit tests for escape sequence handling
  packages/core/src/escapeSequences.test.ts
Labels: :package: core

examples(tanstack-start): prefer using the `msg` macro
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/routes/deferred.tsx
Labels: none

fix: run prettier for new files
  packages/core/src/escapeSequences.test.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.ts
Labels: :package: core

fix: change pull request trigger to pull_request for size testing workflow
  .github/workflows/size-limit.yml
Labels: none

refactor: simplify decodeEscapeSequences function by removing unnecessary match parameter
  packages/core/src/escapeSequences.ts
Labels: :package: core

examples(tanstack-start): add URL-based localization
  examples/tanstack-start/src/functions/locale.ts
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/routes/$lang/content.tsx
  examples/tanstack-start/src/routes/$lang/route.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/users.index.tsx
Labels: none

examples(tanstack-start): apply prettier
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/functions/headers.ts
  examples/tanstack-start/src/functions/locale.ts
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/$lang/content.tsx
  examples/tanstack-start/src/routes/$lang/route.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/deferred.tsx
  examples/tanstack-start/src/routes/users.index.tsx
  examples/tanstack-start/src/utils/loggingMiddleware.tsx
  examples/tanstack-start/vite.config.ts
Labels: none

examples(tanstack-start): add content navigation
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/routes/$lang/content-bis.tsx
  examples/tanstack-start/src/routes/$lang/route.tsx
  examples/tanstack-start/src/routes/__root.tsx
Labels: none

test: add unit test for decoding escape sequences in uncompiled string messages
  packages/core/src/i18n.test.ts
Labels: :package: core

refactor: remove outdated community and examples documentation (move it to static page folder)
  website/versioned_docs/version-4.x/community.md
  website/versioned_docs/version-4.x/examples.md
  website/versioned_docs/version-4.x/misc/community.md
  website/versioned_docs/version-4.x/misc/examples.md
Labels: none

fix: remove redundant reference in React Server Components example
  website/versioned_docs/version-4.x/tutorials/react-rsc.md
Labels: none

style: run prettier for test file
  packages/core/src/i18n.test.ts
Labels: :package: core

fix: standardize repository field format across all packages (#2269)
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/jest-mocks/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: Add note about react compiler
  website/docs/installation.mdx
Labels: none

fix: remove unraw dependency (#2271)
  .github/workflows/size-limit.yml
  README.md
  package.json
  packages/core/package.json
  packages/core/src/escapeSequences.test.ts
  packages/core/src/escapeSequences.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/core/src/interpolate.ts
  website/docs/introduction.md
  yarn.lock
Labels: :package: core

style: fix prettier formatting for lingui-extract-template file
  packages/cli/src/lingui-extract-template.ts
Labels: :package: cli

chore: replace chalk with picocolors (#2268)
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/messages.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  packages/conf/src/makeConfig.ts
  scripts/verdaccio-release.ts
  yarn.lock
Labels: :package: cli, :package: conf

style: run prettier for documentation files and configuration
  website/README.md
  website/docusaurus.config.ts
  website/versioned_docs/version-4.x/ref/macro.mdx
  website/versioned_sidebars/version-4.x-sidebars.json
  website/versions.json
Labels: none

fix: add prism-react-renderer to website deps
  website/package.json
  website/yarn.lock
Labels: none

fix(eventEmitter): improve event handling and listener management
  packages/core/src/eventEmitter.test.ts
  packages/core/src/eventEmitter.ts
Labels: :package: core

chore: use new jsx transform
  babel.config.js
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.tsx
  packages/react/src/TransNoContext.tsx
  packages/react/src/TransRsc.tsx
  packages/react/src/format.tsx
  packages/react/tsconfig.json
Labels: :package: react

fix: update react 16 version in peerDependencies to support compatibility with new jsx transform
  packages/react/build.config.ts
  packages/react/package.json
  yarn.lock
Labels: :package: react

Move react compiler note from "Vite" to "Choosing a Transpiler" section
  website/docs/installation.mdx
Labels: none

chore: update vite peer dependence to include v7
  packages/vite-plugin/package.json
  yarn.lock
Labels: none

chore: update vite peer dependence to include v7 (#2280)
  packages/vite-plugin/package.json
  yarn.lock
Labels: none

docs: Add note about react compiler (#2272)
  website/docs/installation.mdx
Labels: none

chore(release): published v5.3.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react
