Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs: og image for examples page (#1930)
  website/docs/misc/examples.md
  website/static/img/og-image-examples.png
Labels: none

fix(core): pound symbol being replaced outside plural and selectordinal (#1928)
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

chore(release): published v4.10.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

add custom-po-file-header-attribute
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: none

exclude .scss files from build
  packages/cli/src/extract-experimental/bundleSource.ts
Labels: :package: cli

lint and update readme
  packages/format-po/README.md
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: none

fix: exclude .scss files from extract-experimental build (#1935)
  packages/cli/src/extract-experimental/bundleSource.ts
Labels: :package: cli

feat(format-po): configure header attributes in PO file formatter (#1934)
  packages/format-po/README.md
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: none

fix: default message extraction
  packages/cli/src/api/catalog/extractFromFiles.ts
Labels: :package: cli

test: message replace for same key
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-po-format/fixtures/file-a.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

test: include failing tests for complex argument cases
  packages/core/src/interpolate.test.ts
  packages/message-utils/src/compileMessage.test.ts
Labels: :package: core

fix: correctly handle multi digit complex argument cases
  packages/message-utils/src/compileMessage.ts
Labels: none

perf: replace regular expression with plain js
  packages/message-utils/src/compileMessage.ts
Labels: none

fix: default message extraction (#1936)
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-po-format/fixtures/file-a.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

fix(message-utils): correctly handle multi-digit complex argument cases (#1937)
  packages/core/src/interpolate.test.ts
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/compileMessage.ts
Labels: :package: core

chore(release): published v4.11.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: add publishConfig for CI
  packages/vue/package.json
Labels: none

fix: (lingui/core) i18n error if id is undefined
  packages/core/src/i18n.ts
Labels: :package: core

refactor(macro): use message descriptor for Trans (#1909)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-defineMessage.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: :package: plugin-extract

Add missing dependency @lingui/vite-plugin in instruction
  website/docs/tutorials/setup-vite.md
Labels: none

doc: add missing dependency @lingui/vite-plugin in instruction (#1939)
  website/docs/tutorials/setup-vite.md
Labels: none

fix: (lingui/core) i18n error if id is undefined - test case added
  packages/core/src/i18n.test.ts
Labels: :package: core

fix: (lingui/core) i18n error if id is undefined - test case - @ts-expect-error desc added
  packages/core/src/i18n.test.ts
Labels: :package: core

refactor js macro
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/ast.ts
  packages/babel-plugin-lingui-macro/src/icu.test.ts
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
  tsconfig.json
Labels: none

use lingui core internals for vue vt and trans macro
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/extractor-vue/src/vue-extractor.ts
  packages/vue/package.json
  packages/vue/src/common/Trans.test.ts
  packages/vue/src/common/Trans.ts
  packages/vue/src/common/predicates.test.ts
  packages/vue/src/common/predicates.ts
  packages/vue/src/common/vt.test.ts
  packages/vue/src/common/vt.ts
  packages/vue/src/compiler/transformTrans.ts
  packages/vue/src/compiler/transformVt.ts
  packages/vue/src/compiler/transformer.test.ts
  packages/vue/src/compiler/transformer.ts
  packages/vue/src/components/vt.ts
  packages/vue/src/extractor/__snapshots__/extractor.test.ts.snap
  packages/vue/src/extractor/extractor.test.ts
  packages/vue/src/extractor/extractor.ts
  packages/vue/src/extractor/fixtures/functional.vue
  packages/vue/src/extractor/fixtures/macro.vue
  packages/vue/src/extractor/fixtures/test.vue
  packages/vue/src/extractor/transformer.test.ts
  packages/vue/src/extractor/transformer.ts
  packages/vue/src/test/utils.ts
  yarn.lock
Labels: none

fix: (lingui/core) i18n error if id is undefined - test case refined
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

support vt transformation in interpolation
  packages/vue/src/common/predicates.ts
  packages/vue/src/common/types.ts
  packages/vue/src/compiler/transformVt.ts
  packages/vue/src/compiler/transformer.test.ts
  packages/vue/src/compiler/transformer.ts
Labels: none

fix: (lingui/core) i18n error if id is undefined (#1938)
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

WIP: Plural Element support
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/vue/src/common/Trans.ts
  packages/vue/src/compiler/transformTrans.ts
  packages/vue/src/compiler/transformVt.ts
  packages/vue/src/compiler/transformer.test.ts
  packages/vue/src/compiler/transformer.ts
Labels: none

remove Plural Element, implement support for inline ICU expression
  packages/babel-plugin-lingui-macro/src/ast.ts
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/vue/src/common/Trans.ts
  packages/vue/src/compiler/transformTrans.ts
  packages/vue/src/compiler/transformVt.ts
  packages/vue/src/compiler/transformer.test.ts
  packages/vue/src/compiler/transformer.ts
Labels: none

docs: update lingui.config.js to use ES modules
  website/docs/tutorials/react.md
Labels: none

a bit better code lens style in the function comments
  packages/vue/src/common/Trans.ts
Labels: none

chore: update nextjs example deps
  examples/nextjs-swc/README.md
  examples/nextjs-swc/lingui.config.js
  examples/nextjs-swc/next-env.d.ts
  examples/nextjs-swc/next.config.js
  examples/nextjs-swc/package.json
  examples/nextjs-swc/tsconfig.json
  examples/nextjs-swc/yarn.lock
Labels: none

feat: add nextjs app router example
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/app/[lang]/page.tsx
  examples/nextjs-swc/src/appRouterI18n.ts
  examples/nextjs-swc/src/components/Developers.tsx
  examples/nextjs-swc/src/components/HomePage.tsx
  examples/nextjs-swc/src/components/LinguiClientProvider.tsx
  examples/nextjs-swc/src/components/Switcher.tsx
  examples/nextjs-swc/src/locales/en.po
  examples/nextjs-swc/src/locales/es.po
  examples/nextjs-swc/src/locales/pseudo.po
  examples/nextjs-swc/src/locales/sr.po
  examples/nextjs-swc/src/middleware.ts
  examples/nextjs-swc/src/pages/[lang]/pages-router-demo/index.tsx
  examples/nextjs-swc/src/pages/_app.tsx
  examples/nextjs-swc/src/pagesRouterI18n.ts
  examples/nextjs-swc/src/withLingui.tsx
  examples/nextjs-swc/tsconfig.json
Labels: none

docs: react server components tutorial
  website/docs/misc/resources.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/setup-react.mdx
  website/sidebars.ts
Labels: none

docs: update lingui.config.js to use ES modules (#1941)
  website/docs/tutorials/react.md
Labels: none

docs(examples): add Remix Vite + Babel example
  examples/remix-vite-babel/.eslintrc.cjs
  examples/remix-vite-babel/.gitignore
  examples/remix-vite-babel/README.md
  examples/remix-vite-babel/app/entry.client.tsx
  examples/remix-vite-babel/app/entry.server.tsx
  examples/remix-vite-babel/app/locales/en.po
  examples/remix-vite-babel/app/locales/fr.po
  examples/remix-vite-babel/app/modules/lingui/config.ts
  examples/remix-vite-babel/app/modules/lingui/lingui.server.ts
  examples/remix-vite-babel/app/modules/lingui/lingui.tsx
  examples/remix-vite-babel/app/modules/lingui/remix.server.ts
  examples/remix-vite-babel/app/modules/lingui/utils.ts
  examples/remix-vite-babel/app/root.tsx
  examples/remix-vite-babel/app/routes/_index.tsx
  examples/remix-vite-babel/lingui.config.ts
  examples/remix-vite-babel/package.json
  examples/remix-vite-babel/tsconfig.json
  examples/remix-vite-babel/vite.config.ts
  examples/remix-vite-babel/yarn.lock
  website/docs/misc/examples.md
Labels: none

docs: more rsc docs
  website/docs/misc/examples.md
  website/docs/tutorials/react-rsc.md
Labels: none

chore(release): published v4.11.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: address review
  website/docs/tutorials/react-rsc.md
Labels: none
