Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(macro): add useLingui macro (#1859)
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.ts
  packages/conf/src/types.ts
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/index.d.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/index.ts
  packages/macro/test/js-useLingui.ts
  website/docs/introduction.md
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
Labels: :package: conf, :package: macro, :package: plugin-extract

refactor(macro): macro to plugin (#1867)
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.ts
  packages/conf/src/types.ts
  packages/macro/package.json
  packages/macro/src/constants.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/src/plugin.ts
  packages/macro/test/fixtures/js-t-continuation-character.expected.js
  packages/macro/test/fixtures/js-t-var/.babelrc
  packages/macro/test/fixtures/js-t-var/js-t-var.expected.js
  packages/macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/macro/test/index.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
  packages/macro/test/js-selectOrdinal.ts
  packages/macro/test/js-t.ts
  packages/macro/test/js-useLingui.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
  packages/macro/test/jsx-selectOrdinal.ts
  packages/macro/test/jsx-trans.ts
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro, :package: plugin-extract

chore(release): published v4.8.0-next.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs(examples): update examples with useLingui macro
  examples/create-react-app/package.json
  examples/nextjs-babel/package.json
  examples/nextjs-babel/src/components/Layout.tsx
  examples/nextjs-babel/yarn.lock
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/pages/index.tsx
  examples/nextjs-swc/yarn.lock
Labels: none

docs(examples): update examples with useLingui macro (#1875)
  examples/create-react-app/package.json
  examples/nextjs-babel/package.json
  examples/nextjs-babel/src/components/Layout.tsx
  examples/nextjs-babel/yarn.lock
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/pages/index.tsx
  examples/nextjs-swc/yarn.lock
Labels: none

chore(release): published v4.8.0-next.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(cli): support multiple locales in extract command (#1858)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-extract.ts
  website/docs/ref/cli.md
Labels: :package: cli

docs: minor update to RN docs
  website/docs/tutorials/react-native.md
  website/docusaurus.config.ts
Labels: none

docs: minor update to RN docs (#1877)
  website/docs/tutorials/react-native.md
  website/docusaurus.config.ts
Labels: none

docs: improve CLI documentation
  README.md
  packages/cli/README.md
  vercel.json
  website/blog/2023-12-12-4k-stars/index.md
  website/docs/guides/plurals.md
  website/docs/guides/pseudolocalization.md
  website/docs/introduction.md
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/tutorials/cli.md
  website/docs/tutorials/react.md
  website/sidebars.ts
Labels: :package: cli

refactor: improve error message in Trans
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

doc: add catalog merge path in lingui config reference
  website/docs/ref/conf.md
Labels: none

fix(docs): catalogs merge path default config
  website/docs/ref/conf.md
Labels: none

fix: prettier format for website/docs/ref
  website/docs/ref/conf.md
Labels: none

refactor(macro): split js and jsx macro into two packages
  examples/create-react-app/yarn.lock
  jest.config.js
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/react-macro/CHANGELOG.md
  packages/react-macro/README.md
  packages/react-macro/__typetests__/index.test-d.tsx
  packages/react-macro/__typetests__/tsconfig.json
  packages/react-macro/build.config.ts
  packages/react-macro/index.d.ts
  packages/react-macro/package.json
  packages/react-macro/src/index.test.ts
  packages/react-macro/src/index.ts
  packages/react-macro/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: :package: macro

refactor(macro): split macro
  jest.config.js
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-with-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-without-trans.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-plural-select-nested.js
  packages/babel-plugin-lingui-macro/test/index.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.ts
  packages/babel-plugin-lingui-macro/test/jsx-plural.ts
  packages/babel-plugin-lingui-macro/test/jsx-select.ts
  packages/babel-plugin-lingui-macro/test/jsx-selectOrdinal.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.ts
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/macro/package.json
  packages/react.macro/CHANGELOG.md
  packages/react.macro/README.md
  packages/react.macro/__typetests__/index.test-d.tsx
  packages/react.macro/__typetests__/tsconfig.json
  packages/react.macro/build.config.ts
  packages/react.macro/index.d.ts
  packages/react.macro/package.json
  packages/react.macro/src/index.test.ts
  packages/react.macro/src/index.ts
  packages/react.macro/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: macro, :package: plugin-extract

refactor(macro): update tests
  examples/nextjs-babel/src/pages/index.tsx
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/fixtures/collect-inline-sourcemaps/componentB.jsx
  packages/cli/src/api/fixtures/collect-typescript-jsx/macro.tsx
  packages/cli/test/extract-po-format/fixtures/file-b.tsx
  packages/cli/test/extract-template-po-format/fixtures/file-b.tsx
  packages/cli/test/extractor-experimental-clean/package.json
  packages/cli/test/extractor-experimental-template/expected/about.page.messages.pot
  packages/cli/test/extractor-experimental-template/fixtures/pages/about.page.tsx
  packages/cli/test/extractor-experimental-template/package.json
  website/src/components/Code.tsx
Labels: :package: cli

refactor(macro): update examples
  examples/create-react-app/src/App.tsx
  examples/nextjs-babel/src/components/Layout.tsx
  examples/nextjs-babel/src/pages/examples.tsx
  examples/nextjs-swc/src/components/AboutText.tsx
  examples/nextjs-swc/src/components/Developers.tsx
  examples/nextjs-swc/src/pages/index.tsx
  examples/react-native/src/MainScreen.tsx
  examples/rspack/src/Inbox.tsx
  examples/vite-project-react-babel/src/App.tsx
  examples/vite-project-react-swc/src/App.tsx
Labels: none

refactor(macro): fix validation issues
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/index.ts
Labels: none

refactor(macro): fix vite plugin and improve errors
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/index.ts
Labels: none

refactor(macro): cleanup
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/build.config.ts
Labels: none

refactor: improve error message in Trans (#1880)
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

fix(macro): fix failure when macro meets function carrying
  packages/macro/src/macroJs.ts
  packages/macro/src/plugin.ts
  packages/macro/test/js-useLingui.ts
Labels: :package: macro

Apply suggestions from code review
  website/docs/ref/conf.md
Labels: none

Update packages/macro/test/js-useLingui.ts
  packages/macro/test/js-useLingui.ts
Labels: :package: macro

fix(macro): fix failure when macro meets function carrying (#1884)
  packages/macro/src/macroJs.ts
  packages/macro/src/plugin.ts
  packages/macro/test/js-useLingui.ts
Labels: :package: macro

docs: fix broken anchor
  website/docs/ref/conf.md
Labels: none

docs: update example for catalogs merge path
  website/docs/ref/conf.md
Labels: none

docs: use diff in example of catalog merge path
  website/docs/ref/conf.md
Labels: none

Apply suggestions from code review
  website/docs/ref/conf.md
Labels: none

refactor(macro): @lingui/core/macro & @lingui/react/macro
  website/docs/introduction.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/releases/migration-3.md
  website/docs/releases/migration-4.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
Labels: none

refactor(macro): @lingui/core/macro & @lingui/react/macro
  packages/vite-plugin/test/index.ts
Labels: none

refactor(macro): @lingui/core/macro & @lingui/react/macro
  README.md
Labels: none

refactor(macro): @lingui/core/macro & @lingui/react/macro
  packages/core/package.json
  packages/macro/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: core, :package: macro, :package: react

docs: convert include option to string array
  website/docs/ref/conf.md
Labels: none

docs: add `catalogsMergePath` in Lingui Configuration (#1881)
  website/docs/ref/conf.md
Labels: none

fix(typo): Correct typo in build script of nextjs-swc example
  examples/nextjs-swc/package.json
Labels: none

fix(typo): Correct typo in build script of nextjs-swc example (#1885)
  examples/nextjs-swc/package.json
Labels: none

refactor(macro): @lingui/core/macro & @lingui/react/macro
  packages/babel-plugin-lingui-macro/package.json
Labels: none

chore: compile messages to json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  website/docs/ref/conf.md
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
