Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

ci: fix release-test worklfow
  .github/workflows/release-test.yml
  .github/workflows/size-limit.yml
Labels: none

test
  .github/verdaccio/config.yaml
Labels: none

ci: fix release-test worklfow (#2036)
  .github/verdaccio/config.yaml
  .github/workflows/release-test.yml
  .github/workflows/size-limit.yml
Labels: none

chore: set the minimum required node version to 20
  .github/workflows/main-suite.yml
  .github/workflows/release-test.yml
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/jest-mocks/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  website/docs/releases/migration-5.md
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix linting issues
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

fix
  .github/workflows/main-suite.yml
Labels: none

chore: set the minimum required node version to 20 (#2037)
  .github/workflows/main-suite.yml
  .github/workflows/release-test.yml
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/jest-mocks/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  website/docs/releases/migration-5.md
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

refactor(macro) split and expose internals to be used in Vue macro (#1976)
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/ast.ts
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/icu.test.ts
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
Labels: none

tests: update snapshots
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental-template/expected/index.page.en.js
  packages/cli/test/extractor-experimental-template/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/loader.test.ts
  packages/remote-loader/test/index.test.ts
  packages/vite-plugin/test/__snapshots__/index.ts.snap
Labels: :package: cli, :package: loader

feat: add setMessagesCompiler method
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/compileMessage.ts
Labels: :package: core

add packages
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/format-po/src/po.test.ts
  packages/loader/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix missing methods
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: :package: cli

docs: upgrade Docusaurus and other dependencies
  website/blog/authors.yml
  website/docs/ref/macro.mdx
  website/docs/releases/migration-3.md
  website/docs/tutorials/setup-react.mdx
  website/docusaurus.config.ts
  website/package.json
  website/yarn.lock
Labels: none

secong batch
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/babel-plugin-lingui-macro/vitest.config.mts
  packages/conf/vitest.config.mts
  packages/react/package.json
  packages/react/src/Trans.test.tsx
  packages/react/vitest.setup.ts
  yarn.lock
Labels: :package: conf, :package: react

fix plural forms on gettext functions
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

fix test - undefined case is not needed
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

wip
  package.json
  packages/babel-plugin-extract-messages/vitest.config.mts
  packages/core/vitest.config.mts
  vitest.workspace.mts
  vitest.workspace.ts
  yarn.lock
Labels: :package: core, :package: plugin-extract

docs: upgrade Docusaurus and other dependencies (#2038)
  website/blog/authors.yml
  website/docs/ref/macro.mdx
  website/docs/releases/migration-3.md
  website/docs/tutorials/setup-react.mdx
  website/docusaurus.config.ts
  website/package.json
  website/yarn.lock
Labels: none

docs: tweaks and fixes of Getting Started, Tutorials sections
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/ref/catalog-formats.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.mdx
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: none

wip
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/vitest.config.mts
  packages/babel-plugin-lingui-macro/vitest.config.mts
  packages/cli/package.json
  packages/cli/vitest.config.mts
  packages/conf/package.json
  packages/conf/vitest.config.mts
  packages/core/package.json
  packages/core/vitest.config.mts
  packages/detect-locale/package.json
  packages/detect-locale/vitest.config.mts
  packages/extractor-vue/package.json
  packages/extractor-vue/tsconfig.json
  packages/extractor-vue/vitest.config.mts
  packages/format-csv/package.json
  packages/format-csv/vitest.config.mts
  packages/format-json/package.json
  packages/format-json/vitest.config.mts
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/vitest.config.mts
  packages/format-po/package.json
  packages/format-po/vitest.config.mts
  packages/jest-mocks/package.json
  packages/loader/package.json
  packages/loader/vitest.config.mts
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/generateMessageId.test.ts
  packages/message-utils/vitest.config.mts
  packages/react/package.json
  packages/react/vitest.config.mts
  packages/remote-loader/package.json
  packages/remote-loader/vitest.config.mts
  packages/vite-plugin/package.json
  packages/vite-plugin/test/index.test.ts
  packages/vite-plugin/vitest.config.mts
  vitest.workspace.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

docs: tweaks and fixes of Getting Started, Tutorials sections (#2040)
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/ref/catalog-formats.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.mdx
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: none

prettier
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

handle if plural form not found
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

prettier again
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

oop added to wrong warning
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

address review
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
  packages/metro-transformer/package.json
  packages/metro-transformer/src/expo/index.ts
  website/docs/ref/cli.md
Labels: :package: cli

use require instead of import
  packages/metro-transformer/src/expo/index.ts
Labels: none

improve comment
  packages/metro-transformer/src/metroTransformer.ts
Labels: none

update docs
  website/docs/ref/catalog-formats.md
Labels: none

fix gettext section
  website/docs/ref/catalog-formats.md
Labels: none

add comment
  website/docs/ref/catalog-formats.md
Labels: none

rename to customICUPrefix
  packages/format-po-gettext/README.md
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  website/docs/ref/catalog-formats.md
Labels: none

wip: commonjs plugin for vite
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/vitest.config.mts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/vitest.config.mts
  packages/cli/src/api/extractors/index.ts
  packages/cli/vitest.config.mts
  packages/conf/vitest.config.mts
  packages/core/src/i18n.test.ts
  packages/core/vitest.config.mts
  packages/detect-locale/vitest.config.mts
  packages/extractor-vue/vitest.config.mts
  packages/format-csv/vitest.config.mts
  packages/format-json/vitest.config.mts
  packages/format-po-gettext/vitest.config.mts
  packages/format-po/vitest.config.mts
  packages/loader/tsconfig.json
  packages/loader/vitest.config.mts
  packages/message-utils/vitest.config.mts
  packages/react/vitest.config.mts
  packages/remote-loader/vitest.config.mts
  packages/vite-plugin/vitest.config.mts
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

feat: enable importAttributes and explicitResourceManagement for extractor feat: bump minimal @babel/parser version
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/extractors/babel.ts
  packages/macro/package.json
  yarn.lock
Labels: :package: cli, :package: macro, :package: plugin-extract

add warning if no compiler and message is not compiled
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

exclude remote loader from tests
  packages/remote-loader/test/index.test.ts
Labels: none

add documentation
  website/docs/ref/core.md
Labels: none

style(docs): minor refreshment of documentation styles
  website/src/components/Features.tsx
  website/src/components/Header.module.scss
  website/src/components/Header.tsx
  website/src/components/PartnerBanner.module.scss
  website/src/components/PartnerBanner.tsx
  website/src/components/Users.module.scss
  website/src/components/Users.tsx
  website/src/css/custom.scss
  website/src/pages/index.tsx
Labels: none

feat: enable importAttributes and explicitResourceManagement for extractor (#2009)
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/extractors/babel.ts
  packages/macro/package.json
  yarn.lock
Labels: :package: cli, :package: macro, :package: plugin-extract

update package json
  packages/metro-transformer/package.json
  yarn.lock
Labels: none
