Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

update
  README.md
  website/docusaurus.config.ts
Labels: none

update
  website/docs/releases/migration-6.md
Labels: none

chore: deprecate Intl wrapper helpers and document removal (#2386)
  packages/core/src/formats.ts
  packages/core/src/i18n.ts
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/ref/core.md
  website/docs/tutorials/react.md
Labels: :package: core

chore(release): published v6.0.0-next.0
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

test(cli): add regression test for no-entry + worker-pool on next (#2445)
  packages/cli/test/extractor-experimental-no-entries/existing/.gitkeep
  packages/cli/test/extractor-experimental-no-entries/expected/.gitkeep
  packages/cli/test/extractor-experimental-no-entries/lingui.config.ts
  packages/cli/test/extractor-experimental-no-entries/package.json
  packages/cli/test/index.test.ts
Labels: :package: cli

docs: v6 migration guide (#2424)
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/docs/examples.md
  website/docs/releases/migration-6.md
  website/docs/tutorials/react.md
  website/sidebars.ts
Labels: none

chore(release): published v6.0.0-next.0 (#2453)
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

docs: add announcement about the v6 pre-release (#2452)
  README.md
  website/docusaurus.config.ts
Labels: none

updates
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
  website/blog/2026-02-25-announcing-lingui-6.0/social-card.png
  website/docs/ref/macro.mdx
Labels: none

docs: v6 release blog post
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
  website/blog/2026-02-25-announcing-lingui-6.0/social-card.png
Labels: none

update
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

fix: revert macro exports and update test imports to avoid ts error
  packages/core/macro/index.d.mts
  packages/core/macro/index.test.ts
  packages/react/macro/index.d.mts
  packages/react/macro/index.test.ts
Labels: :package: core, :package: react

fix(react): refresh i18n context identity for React Compiler memoization
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

test(I18nProvider): add description for locale sync test in useLingui
  packages/react/src/I18nProvider.test.tsx
Labels: :package: react

fix(I18nProvider): update useState initialization to use a function for context creation
  packages/react/src/I18nProvider.tsx
Labels: :package: react

fix(I18nProvider): correct wording in comment about React memoization
  packages/react/src/I18nProvider.tsx
Labels: :package: react

use common wrapper for extractor implementation in experimental extractor
  packages/cli/src/extract-experimental/extractFromBundleAndWrite.ts
Labels: :package: cli

chore: createBabelExtractor factory and deprecate old usage
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

fixes
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
Labels: :package: cli, :package: conf

fix: extract performance caused by catalog sort
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: extract performance caused by catalog sort
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix
  packages/cli/src/api/catalog.test.ts
Labels: :package: cli

fix: extract performance caused by catalog sort (#2460)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: extract performance caused by catalog sort (#2461)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore(release): published v5.9.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.9.2 [skip ci] (#2462)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

refactor: `createBabelExtractor` factory and deprecate `extractorParserOptions` (#2458)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/extract-experimental/extractFromBundleAndWrite.ts
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

ci: remove `always-auth` from node setup in workflow files
  .github/workflows/main-suite.yml
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
Labels: none

ci: remove `always-auth` from node setup in workflow files (#2463)
  .github/workflows/main-suite.yml
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
Labels: none

chore(release): published v6.0.0-next.1
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.0.0-next.1 (#2464)
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

docs: add i18n with AI section to documentation
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
  website/docs/ai-tools.md
  website/docs/introduction.md
  website/sidebars.ts
Labels: none

update
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

update
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

docs: update blog post for Lingui 6.0 release, highlighting reduced package size and dependency count
  website/blog/2026-02-25-announcing-lingui-6.0/deps.png
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

update
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

update ph
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

updates
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
  website/blog/2026-02-25-announcing-lingui-6.0/social-card.png
  website/docs/ref/macro.mdx
Labels: none

update
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

fix
  website/docs/ai-tools.md
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
