Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs: missing space
  website/docs/tutorials/react-rsc.md
Labels: none

docs(examples): add example with translation from loader
  examples/remix-vite-babel/app/locales/en.po
  examples/remix-vite-babel/app/locales/fr.po
  examples/remix-vite-babel/app/routes/_index.tsx
Labels: none

docs(examples): add dynamic loading of catalog when locale changes
  examples/remix-vite-babel/app/root.tsx
Labels: none

docs: capitalize app router
  website/docs/tutorials/react-rsc.md
Labels: none

Handle context when syncing with Translation.io
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

Update logo + fix image link on Translation.io in docs/tools
  website/docs/tools/translation-io.md
Labels: none

docs(examples): nextjs app router example (#1944)
  examples/nextjs-swc/README.md
  examples/nextjs-swc/lingui.config.js
  examples/nextjs-swc/next-env.d.ts
  examples/nextjs-swc/next.config.js
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/app/[lang]/page.tsx
  examples/nextjs-swc/src/appRouterI18n.ts
  examples/nextjs-swc/src/components/Developers.tsx
  examples/nextjs-swc/src/components/HomePage.tsx
  examples/nextjs-swc/src/components/LinguiClientProvider.tsx
  examples/nextjs-swc/src/components/Switcher.tsx
  examples/nextjs-swc/src/locales/en.po
  examples/nextjs-swc/src/locales/es.po
  examples/nextjs-swc/src/locales/pseudo.po
  examples/nextjs-swc/src/locales/sr.po
  examples/nextjs-swc/src/middleware.ts
  examples/nextjs-swc/src/pages/[lang]/pages-router-demo/index.tsx
  examples/nextjs-swc/src/pages/_app.tsx
  examples/nextjs-swc/src/pagesRouterI18n.ts
  examples/nextjs-swc/src/withLingui.tsx
  examples/nextjs-swc/tsconfig.json
  examples/nextjs-swc/yarn.lock
Labels: none

docs: react server components tutorial (#1945)
  website/docs/misc/examples.md
  website/docs/misc/resources.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/setup-react.mdx
  website/sidebars.ts
Labels: none

docs: fix links in rsc tutorial
  website/docs/tutorials/react-rsc.md
Labels: none

docs: minor stuff
  website/docs/tutorials/react-rsc.md
Labels: none

docs: fix links in rsc tutorial (#1948)
  website/docs/tutorials/react-rsc.md
Labels: none

docs(examples): add Remix Vite + Babel example (#1946)
  examples/remix-vite-babel/.eslintrc.cjs
  examples/remix-vite-babel/.gitignore
  examples/remix-vite-babel/README.md
  examples/remix-vite-babel/app/entry.client.tsx
  examples/remix-vite-babel/app/entry.server.tsx
  examples/remix-vite-babel/app/locales/en.po
  examples/remix-vite-babel/app/locales/fr.po
  examples/remix-vite-babel/app/modules/lingui/config.ts
  examples/remix-vite-babel/app/modules/lingui/lingui.server.ts
  examples/remix-vite-babel/app/modules/lingui/lingui.tsx
  examples/remix-vite-babel/app/modules/lingui/remix.server.ts
  examples/remix-vite-babel/app/modules/lingui/utils.ts
  examples/remix-vite-babel/app/root.tsx
  examples/remix-vite-babel/app/routes/_index.tsx
  examples/remix-vite-babel/lingui.config.ts
  examples/remix-vite-babel/package.json
  examples/remix-vite-babel/tsconfig.json
  examples/remix-vite-babel/vite.config.ts
  examples/remix-vite-babel/yarn.lock
  website/docs/misc/examples.md
Labels: none

docs: update the Examples OG image
  website/static/img/og-image-examples.png
Labels: none

docs: update the Examples OG image (#1950)
  website/static/img/og-image-examples.png
Labels: none

Fix syntax (I had not run prettier)
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

fix(experimental-extractor): fix various bugs
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/extract-experimental/buildExternalizeFilter.test.ts
  packages/cli/src/extract-experimental/buildExternalizeFilter.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.en.po
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.po
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.en.po
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.po
  packages/cli/test/extractor-experimental/fixtures/constants/green.ts
  packages/cli/test/extractor-experimental/fixtures/constants/index.ts
  packages/cli/test/extractor-experimental/fixtures/constants/red.ts
  packages/cli/test/extractor-experimental/fixtures/pages/about.page.ts
  packages/cli/test/extractor-experimental/fixtures/pages/index.page.ts
  packages/cli/test/index.test.ts
  yarn.lock
Labels: :package: cli

feat(react): fix macro export conditions for NodeNext and Bundler resolutions
  packages/core/package.json
  packages/macro/package.json
  packages/react/package.json
  test/typescript-nodenext-resolution/index.ts
  test/typescript-nodenext-resolution/package.json
  yarn.lock
Labels: :package: core, :package: macro, :package: react

fix typings
  packages/macro/index.d.ts
  packages/react/macro/index.d.ts
Labels: :package: macro, :package: react

feat(react): fix macro export conditions for NodeNext and Bundler resolutions (#1915)
  packages/core/package.json
  packages/macro/index.d.ts
  packages/macro/package.json
  packages/react/macro/index.d.ts
  packages/react/package.json
  test/typescript-nodenext-resolution/index.ts
  test/typescript-nodenext-resolution/package.json
  yarn.lock
Labels: :package: core, :package: macro, :package: react

fix(cli): update translationIO service in CLI package (to handle context) (#1949)
  packages/cli/src/services/translationIO.ts
  website/docs/tools/translation-io.md
Labels: :package: cli

docs: add more info about Remix.run
  examples/remix-vite-babel/README.md
  website/docs/misc/resources.md
Labels: none

docs: add more info about Remix.run (#1960)
  examples/remix-vite-babel/README.md
  website/docs/misc/resources.md
Labels: none

Update cli.md
  website/docs/ref/cli.md
Labels: none

fix(experimental-extractor): fix various bugs (#1958)
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/extract-experimental/buildExternalizeFilter.test.ts
  packages/cli/src/extract-experimental/buildExternalizeFilter.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.en.po
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.po
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.en.po
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.po
  packages/cli/test/extractor-experimental/fixtures/constants/green.ts
  packages/cli/test/extractor-experimental/fixtures/constants/index.ts
  packages/cli/test/extractor-experimental/fixtures/constants/red.ts
  packages/cli/test/extractor-experimental/fixtures/pages/about.page.ts
  packages/cli/test/extractor-experimental/fixtures/pages/index.page.ts
  packages/cli/test/index.test.ts
  yarn.lock
Labels: :package: cli

fix: include type cast on ts compilation
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.ts
Labels: :package: cli

remove unnecessary type annotation
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.ts
Labels: :package: cli

fix: include type cast on ts compilation (#1962)
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.ts
Labels: :package: cli

fix: leave obsolete pristine for files not in extraction file set
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

feat: collect and print placeholders in Po files for better translation context
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-message-descriptor.js
  packages/conf/src/types.ts
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: conf, :package: plugin-extract

support many placeholders values
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-message-descriptor.js
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-po-format/fixtures/placeholders.ts
  packages/cli/test/index.test.ts
  packages/conf/src/types.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli, :package: conf, :package: plugin-extract

test(cli): check for consistent results with partial extracts
  packages/cli/test/extract-partial-consistency/existing/en.po
  packages/cli/test/extract-partial-consistency/expected/en.po
  packages/cli/test/extract-partial-consistency/fixtures/file-a.ts
  packages/cli/test/extract-partial-consistency/fixtures/file-b.tsx
  packages/cli/test/index.test.ts
Labels: :package: cli

fix: remove some comments & fix some TS errors
  packages/extractor-vue/src/vue-extractor.ts
  packages/vue/src/compiler/transformTrans.ts
  packages/vue/src/extractor/extractor.ts
Labels: none

feat(react): fix macro export conditions for NodeNext and Bundler resolutions (#1915)
  packages/core/package.json
  packages/macro/index.d.ts
  packages/macro/package.json
  packages/react/macro/index.d.ts
  packages/react/package.json
  test/typescript-nodenext-resolution/index.ts
  test/typescript-nodenext-resolution/package.json
  yarn.lock
Labels: :package: core, :package: macro, :package: react

fix(experimental-extractor): fix various bugs (#1958)
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/extract-experimental/buildExternalizeFilter.test.ts
  packages/cli/src/extract-experimental/buildExternalizeFilter.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.en.po
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.po
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.en.po
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.po
  packages/cli/test/extractor-experimental/fixtures/constants/green.ts
  packages/cli/test/extractor-experimental/fixtures/constants/index.ts
  packages/cli/test/extractor-experimental/fixtures/constants/red.ts
  packages/cli/test/extractor-experimental/fixtures/pages/about.page.ts
  packages/cli/test/extractor-experimental/fixtures/pages/index.page.ts
  packages/cli/test/index.test.ts
  yarn.lock
Labels: :package: cli

fix: typescript expected error on predicate call
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
Labels: none

fix: macroJst.test needed to follow refacto from previous commit
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
Labels: none

add limit for placeholder print and add more tests
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/__snapshots__/utils.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  packages/format-po/src/utils.test.ts
  packages/format-po/src/utils.ts
Labels: none

fix ts errors and tests
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
Labels: none

update readme and jsdoc
  packages/babel-plugin-extract-messages/src/index.ts
  packages/format-po/README.md
  packages/format-po/src/po.ts
Labels: :package: plugin-extract

prettier
  packages/vue/src/compiler/transformTrans.ts
Labels: none
