Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

feat(cli): add --silent flag to suppress non-error output
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/compile.test.ts
  website/docs/ref/cli.md
Labels: :package: cli

feat(cli): replace --verbose/--silent with --log-level
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/logger.ts
  packages/cli/src/api/workerLogger.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  website/docs/ref/cli.md
Labels: :package: cli

fix(cli): fix type errors and test failures from logLevel refactor
  packages/cli/src/api/logger.ts
  packages/cli/src/services/translationIO.test.ts
  packages/cli/test/index.test.ts
  website/docs/ref/cli.md
Labels: :package: cli

prettier
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

test(cli): add tests to improve logLevel patch coverage
  packages/cli/src/api/workerLogger.test.ts
  packages/cli/src/test/compile.test.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

test(cli): add performance test for catalog merge scalability
  packages/cli/src/api/catalog/mergeCatalog-performance.test.ts
Labels: :package: cli

fix: disappearing placeholder comments in partial extract (#2543)
  packages/cli/test/extract-partial-consistency/existing/en.po
  packages/cli/test/extract-partial-consistency/expected/en.po
  packages/cli/test/extract-partial-consistency/fixtures/file-a.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

feat: integrate pofile-ts as parser/serializer for po formatters
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/package.json
  packages/format-po/src/po.ts
  yarn.lock
Labels: none

snapshots
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po/src/__snapshots__/po.test.ts.snap
Labels: none

fix test
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

fix edge case test
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/fixtures/locales/existing/cs.po
  packages/cli/src/api/fixtures/locales/existing/en.po
Labels: :package: cli

fix: Ensure idPrefix is respected if idPrefixLeader unconfigured
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.test.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/macroTester.ts
Labels: none

style: format code
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.test.ts
Labels: none

chore: update tstyche to v7
  package.json
  packages/core/__typetests__/eventEmitter.tst.ts
  packages/react/macro/__typetests__/index.tst.tsx
  tstyche.json
  yarn.lock
Labels: :package: core, :package: react

feat: add lingui-set/lingui-reset comment directives (#2514)
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/linguiDirective.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.test.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/lingui-directive.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/conf/src/types.ts
  packages/core/macro/index.d.mts
  packages/react/macro/index.d.mts
  website/docs/guides/message-extraction.md
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
Labels: :package: conf, :package: core, :package: react

chore(release): published v6.1.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.1.0 [skip ci] (#2550)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

docs: context directives blog post
  website/blog/2026-05-22-lingui-context-directives/index.md
  website/blog/2026-05-22-lingui-context-directives/social-card.png
Labels: none

docs: context directives blog post (#2551)
  website/blog/2026-05-22-lingui-context-directives/index.md
  website/blog/2026-05-22-lingui-context-directives/social-card.png
Labels: none

move wrapJsxElementAsComponent
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
Labels: none

use generateUidIdentifier
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
Labels: none

example and docs
  examples/vite-project-solid/.gitignore
  examples/vite-project-solid/.prettierrc.json
  examples/vite-project-solid/index.html
  examples/vite-project-solid/lingui.config.ts
  examples/vite-project-solid/package.json
  examples/vite-project-solid/public/vite.svg
  examples/vite-project-solid/src/App.css
  examples/vite-project-solid/src/App.test.tsx
  examples/vite-project-solid/src/App.tsx
  examples/vite-project-solid/src/MsgExample.tsx
  examples/vite-project-solid/src/PluralExample.tsx
  examples/vite-project-solid/src/assets/lingui-logo.svg
  examples/vite-project-solid/src/assets/solid.svg
  examples/vite-project-solid/src/i18n.ts
  examples/vite-project-solid/src/index.css
  examples/vite-project-solid/src/locales/en.po
  examples/vite-project-solid/src/locales/pl.po
  examples/vite-project-solid/src/main.tsx
  examples/vite-project-solid/src/vite-env.d.ts
  examples/vite-project-solid/tsconfig.json
  examples/vite-project-solid/tsconfig.node.json
  examples/vite-project-solid/vite.config.ts
  examples/vite-project-solid/yarn.lock
  website/docs/examples.md
  website/docs/ref/solid.md
  website/docs/tutorials/solid.md
  website/sidebars.ts
Labels: none

feat: solidjs integration
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/solid/README.md
  packages/solid/build.config.ts
  packages/solid/macro/__typetests__/index.tst.tsx
  packages/solid/macro/browser.mjs
  packages/solid/macro/index.d.mts
  packages/solid/macro/index.mjs
  packages/solid/macro/index.test.ts
  packages/solid/package.json
  packages/solid/src/I18nProvider.test.tsx
  packages/solid/src/I18nProvider.tsx
  packages/solid/src/Trans.test.tsx
  packages/solid/src/Trans.tsx
  packages/solid/src/TransNoContext.tsx
  packages/solid/src/config.ts
  packages/solid/src/format.test.tsx
  packages/solid/src/format.tsx
  packages/solid/src/index.ts
  packages/solid/tsconfig.json
  packages/solid/vitest.config.ts
  website/docs/ref/conf.md
  yarn.lock
Labels: :package: conf, :package: plugin-extract

update babel deps
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  yarn.lock
Labels: :package: plugin-extract

format
  website/docs/ref/solid.md
  website/docs/tutorials/solid.md
Labels: none

fix: preserve dynamic ids in JSX macros
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

ci: harden workflow permissions and release installs
  .github/workflows/docs-suite.yml
  .github/workflows/main-suite.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
Labels: none

ci: pin workflow actions to commit SHAs
  .github/workflows/docs-suite.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/update-cldr-data.yml
  .github/workflows/version-bump.yml
Labels: none

ci: update codecov action to v6.0.1
  .github/workflows/main-suite.yml
Labels: none

docs: update Discord invite link
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  website/docs/community.md
  website/docs/releases/migration-4.md
  website/docusaurus.config.ts
  website/src/components/site-footer.tsx
Labels: none

docs: update Discord invite link (#2555)
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  website/docs/community.md
  website/docs/releases/migration-4.md
  website/docusaurus.config.ts
  website/src/components/site-footer.tsx
Labels: none

docs: use `linguiMacroSwcPlugin` helper in docs and examples
  examples/nextjs-swc/.yarnrc.yml
  examples/nextjs-swc/lingui.config.ts
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/tsconfig.json
  examples/nextjs-swc/yarn.lock
  examples/rspack/lingui.config.ts
  examples/rspack/package.json
  examples/rspack/tsconfig.json
  examples/rspack/yarn.lock
  examples/vite-project-react-swc/package.json
  examples/vite-project-react-swc/tsconfig.node.json
  examples/vite-project-react-swc/vite.config.ts
  examples/vite-project-react-swc/yarn.lock
  website/docs/installation.mdx
  website/docs/tutorials/react-rsc.md
Labels: none

chore: add dependabot configuration for GitHub Actions updates
  .github/dependabot.yml
Labels: none

chore: harden GitHub actions supply chain (#2554)
  .github/dependabot.yml
  .github/workflows/docs-suite.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/update-cldr-data.yml
  .github/workflows/version-bump.yml
Labels: none

docs: use `linguiMacroSwcPlugin` helper in docs and examples (#2556)
  examples/nextjs-swc/.yarnrc.yml
  examples/nextjs-swc/lingui.config.ts
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/tsconfig.json
  examples/nextjs-swc/yarn.lock
  examples/rspack/lingui.config.ts
  examples/rspack/package.json
  examples/rspack/tsconfig.json
  examples/rspack/yarn.lock
  examples/vite-project-react-swc/package.json
  examples/vite-project-react-swc/tsconfig.node.json
  examples/vite-project-react-swc/vite.config.ts
  examples/vite-project-react-swc/yarn.lock
  website/docs/installation.mdx
  website/docs/tutorials/react-rsc.md
Labels: none

Revert "fix: preserve dynamic ids in JSX macros"
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

fix: reject dynamic message ids
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.test.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-defineMessage.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-defineMessage.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/babel-plugin-lingui-macro/test/lingui-directive.test.ts
Labels: none

Fix CI
  packages/babel-plugin-lingui-macro/src/index.ts
Labels: none

feat: support typed message IDs (#2503)
  packages/core/__typetests__/index.tst.ts
  packages/core/__typetests__/typed-ids/index.tst.ts
  packages/core/__typetests__/typed-ids/lingui.d.ts
  packages/core/__typetests__/typed-ids/tsconfig.json
  packages/core/macro/index.d.mts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/react/macro/index.d.mts
  packages/react/src/TransNoContext.tsx
  tstyche.config.json
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/typed-message-ids.md
  website/sidebars.ts
Labels: :package: core, :package: react

add `tsconfig.typetest.json`
  packages/conf/__typetests__/tsconfig.json
  packages/core/__typetests__/tsconfig.json
  packages/core/macro/__typetests__/tsconfig.json
  packages/core/tsconfig.json
  packages/format-json/__typetests__/tsconfig.json
  packages/format-po-gettext/__typetests__/tsconfig.json
  packages/format-po/__typetests__/tsconfig.json
  packages/react/macro/__typetests__/tsconfig.json
  tsconfig.typetest.json
  tstyche.json
Labels: :package: conf, :package: core, :package: react
