Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

tutorials step 1
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
Labels: none

wip [skip ci]
  website/docs/guides/lazy-translations.md
  website/docs/ref/macro.mdx
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
  website/sidebars.ts
Labels: none

lazy translations
  vercel.json
  website/docs/guides/lazy-translations.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/releases/migration-4.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
  website/sidebars.ts
Labels: none

fix
  website/docs/tutorials/react-native.md
Labels: none

rearrangement
  website/docs/guides/lazy-translations.md
  website/docs/ref/react.md
  website/docs/tutorials/react.md
Labels: none

Apply suggestions from code review
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/message-extraction.md
  website/docs/guides/plurals.md
Labels: none

improvements
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/guides/message-extraction.md
Labels: none

add info about the default locale
  website/docs/guides/dynamic-loading-catalogs.md
Labels: none

improvements
  website/docs/installation.mdx
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react.md
Labels: none

macro tweaks
  website/docs/ref/macro.mdx
Labels: none

docs: Guides section improvements (#2063)
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/message-extraction.md
  website/docs/guides/message-format.md
  website/docs/guides/plurals.md
  website/docs/guides/pseudolocalization.md
  website/docs/guides/testing.md
  website/docs/releases/migration-4.md
Labels: none

docs: Resources section improvements (#2064)
  website/docs/misc/community.md
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/misc/resources.md
  website/docs/misc/showroom.md
  website/docs/misc/tooling.md
  website/docusaurus.config.ts
  website/src/components/Users.tsx
Labels: none

docs: improve the v5 migration guide
  website/docs/releases/migration-5.md
Labels: none

docs: improve Tooling and API Reference sections (#2065)
  website/docs/guides/custom-extractor.md
  website/docs/guides/custom-formatter.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/ref/extractor-vue.md
  website/docs/ref/loader.md
  website/docs/ref/locale-detector.md
  website/docs/ref/macro.mdx
  website/docs/ref/metro-transformer.mdx
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/sidebars.ts
Labels: none

docs: improve the v5 migration guide (#2077)
  website/docs/releases/migration-5.md
Labels: none

docs: Tutorials section improvements (#2075)
  vercel.json
  website/docs/guides/lazy-translations.md
  website/docs/installation.mdx
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/releases/migration-4.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
  website/sidebars.ts
Labels: none

feat(macro): make message stripping configurable via Babel options (#2054)
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

remove custom i18n
  website/docs/ref/macro.mdx
Labels: none

fix comments
  packages/format-po-gettext/src/plural-samples.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

prettier
  packages/format-po-gettext/src/plural-samples.ts
Labels: none

feat(format-po-gettext): respect Plural-Forms header (#2070)
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/format-po-gettext/src/plural-samples.ts
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  yarn.lock
Labels: none

chore: update READMEs
  README.md
  packages/cli/README.md
  packages/conf/README.md
  packages/core/README.md
  packages/detect-locale/README.md
  packages/extractor-vue/README.md
  packages/format-csv/README.md
  packages/format-json/README.md
  packages/format-po-gettext/README.md
  packages/format-po/README.md
  packages/loader/README.md
  packages/macro/README.md
  packages/message-utils/README.md
  packages/metro-transformer/README.md
  packages/react/README.md
  packages/vite-plugin/README.md
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: react

update
  website/docs/ref/macro.mdx
  website/docs/releases/migration-5.md
Labels: none

build(deps): use the latest Lerna version
  .prettierignore
  lerna.json
  package.json
  yarn.lock
Labels: none

chore(release): published v4.14.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(macro): deprecate custom i18n instance on `t` macro (#2059)
  packages/core/macro/index.d.ts
  website/docs/releases/migration-5.md
Labels: :package: core

chore: update READMEs (#2082)
  README.md
  packages/cli/README.md
  packages/conf/README.md
  packages/core/README.md
  packages/detect-locale/README.md
  packages/extractor-vue/README.md
  packages/format-csv/README.md
  packages/format-json/README.md
  packages/format-po-gettext/README.md
  packages/format-po/README.md
  packages/loader/README.md
  packages/macro/README.md
  packages/message-utils/README.md
  packages/metro-transformer/README.md
  packages/react/README.md
  packages/vite-plugin/README.md
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: react

build(deps): use the latest Lerna version (#2083)
  .prettierignore
  lerna.json
  package.json
  yarn.lock
Labels: none

chore(release): published v5.0.0-next.4
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Re-add `msg` to v4 -> v5 migration docs.
  website/docs/releases/migration-5.md
Labels: none

docs: re-add msg to v4 -> v5 migration docs (#2084)
  website/docs/releases/migration-5.md
Labels: none

Introducing Lingui JS Guru on Gurubase.io
  README.md
Labels: none

fix style
  README.md
Labels: none

feat: add defineConfig method
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/conf/src/defineConfig.ts
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
  website/docs/guides/custom-extractor.md
  website/docs/guides/custom-formatter.md
  website/docs/guides/pseudolocalization.md
  website/docs/installation.mdx
  website/docs/misc/i18next.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
  website/docs/ref/extractor-vue.md
Labels: :package: cli, :package: conf

docs: update visual assets
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/docs/guides/message-extraction.md
  website/docs/introduction.md
  website/docs/tools/introduction.md
  website/src/components/Code.module.scss
  website/src/components/Code.tsx
  website/src/components/Features.module.scss
  website/src/components/Features.tsx
  website/src/components/Workflow.tsx
  website/src/pages/index.tsx
  website/src/utils/useScript.ts
  website/static/img/docs/extractor-deps-scheme-dark.jpg
  website/static/img/docs/extractor-deps-scheme.jpg
  website/static/img/docs/extractor-deps-scheme.svg
  website/static/img/docs/extractor-glob-scheme-dark.jpg
  website/static/img/docs/extractor-glob-scheme.jpg
  website/static/img/docs/extractor-glob-scheme.svg
  website/static/img/docs/lingui-workflow.svg
  website/static/img/docs/with-collaboration-tool.png
  website/static/img/docs/with-collaboration-tool.svg
  website/static/img/docs/without-collaboration-tool.png
  website/static/img/docs/without-collaboration-tool.svg
Labels: none

guru badge moved to Support section
  README.md
Labels: none

docs: introducing Lingui JS Guru on Gurubase.io (#2085)
  README.md
Labels: none

docs: update visual assets (#2087)
  website/blog/2023-04-26-announcing-lingui-4.0/index.md
  website/docs/guides/message-extraction.md
  website/docs/introduction.md
  website/docs/tools/introduction.md
  website/src/components/Code.module.scss
  website/src/components/Code.tsx
  website/src/components/Features.module.scss
  website/src/components/Features.tsx
  website/src/components/Workflow.tsx
  website/src/pages/index.tsx
  website/src/utils/useScript.ts
  website/static/img/docs/extractor-deps-scheme-dark.jpg
  website/static/img/docs/extractor-deps-scheme.jpg
  website/static/img/docs/extractor-deps-scheme.svg
  website/static/img/docs/extractor-glob-scheme-dark.jpg
  website/static/img/docs/extractor-glob-scheme.jpg
  website/static/img/docs/extractor-glob-scheme.svg
  website/static/img/docs/lingui-workflow.svg
  website/static/img/docs/with-collaboration-tool.png
  website/static/img/docs/with-collaboration-tool.svg
  website/static/img/docs/without-collaboration-tool.png
  website/static/img/docs/without-collaboration-tool.svg
Labels: none

feat: add defineConfig method (#2086)
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/conf/src/defineConfig.ts
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
  website/docs/guides/custom-extractor.md
  website/docs/guides/custom-formatter.md
  website/docs/guides/pseudolocalization.md
  website/docs/installation.mdx
  website/docs/misc/i18next.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
  website/docs/ref/extractor-vue.md
Labels: :package: cli, :package: conf

docs: add Metro Transformer blog post
  website/blog/2024-11-20-metro-transformer/index.md
  website/blog/2024-11-20-metro-transformer/social-card.png
  website/blog/authors.yml
Labels: none
