Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: compilerBabelOptions warning with jest-validate (#938)
  packages/cli/src/api/compile.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix: Last scaped brackets were not unscaped
  packages/macro/src/macroJs.ts
Labels: :package: macro

chore: changed action
  .github/workflows/size-limit.yml
  package.json
Labels: none

chore: fi
  package.json
  yarn.lock
Labels: none

ci: Added compressed-size-action for testing size regressions (#939)
  .github/workflows/size-limit.yml
Labels: none

feat: compile to ts files
  docs/ref/conf.rst
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

feat: Lingui compiles to typescript files (#942)
  docs/guides/typescript.rst
  docs/ref/cli.rst
  docs/ref/conf.rst
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

docs: fixed deprecated docs of javascript tutorial
  docs/tutorials/javascript.rst
Labels: none

chore(release): published v3.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Add info about TS based config to docs.
  docs/ref/conf.rst
Labels: none

docs: Add info about TS based config to docs. (#943)
  docs/ref/conf.rst
Labels: none

feat: Introduced @lingui/snowpack-loader
  packages/cli/src/api/catalog.ts
  packages/snowpack-loader/README.md
  packages/snowpack-loader/index.js
  packages/snowpack-loader/package.json
  packages/snowpack-loader/src/index.ts
  packages/snowpack-loader/test/.linguirc
  packages/snowpack-loader/test/__snapshots__/index.ts.snap
  packages/snowpack-loader/test/index.ts
  packages/snowpack-loader/test/locale/cs/messages.po
  packages/snowpack-loader/test/locale/en/messages.po
  scripts/build/bundles.js
  yarn.lock
Labels: :package: cli

add lodash.get to @lingui/conf as dependency
  packages/conf/package.json
Labels: :package: conf

chore: added docs
  docs/index.rst
  docs/ref/snowpack-loader.rst
Labels: none

fix: @lingui/conf lodash.get dependency (#950)
  packages/conf/package.json
Labels: :package: conf

chore: replaced to snowpack-plugin
  docs/index.rst
  docs/ref/snowpack-loader.rst
  packages/snowpack-loader/test/__snapshots__/index.ts.snap
  packages/snowpack-plugin/README.md
  packages/snowpack-plugin/index.js
  packages/snowpack-plugin/package.json
  packages/snowpack-plugin/src/index.ts
  packages/snowpack-plugin/test/.linguirc
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
  packages/snowpack-plugin/test/index.ts
  packages/snowpack-plugin/test/locale/cs/messages.po
  packages/snowpack-plugin/test/locale/en/messages.po
  scripts/build/bundles.js
Labels: none

chore: renamed
  docs/ref/snowpack-plugin.rst
Labels: none

chore: accept also .json on snowpack plugin
  packages/snowpack-plugin/src/index.ts
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
Labels: none

Update docs/index.rst
  docs/index.rst
Labels: none

Update packages/snowpack-plugin/src/index.ts
  packages/snowpack-plugin/src/index.ts
Labels: none

Update docs/ref/snowpack-plugin.rst
  docs/ref/snowpack-plugin.rst
Labels: none

feat: Introduced @lingui/snowpack-plugin (#947)
  docs/index.rst
  docs/ref/snowpack-plugin.rst
  packages/cli/src/api/catalog.ts
  packages/snowpack-plugin/README.md
  packages/snowpack-plugin/index.js
  packages/snowpack-plugin/package.json
  packages/snowpack-plugin/src/index.ts
  packages/snowpack-plugin/test/.linguirc
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
  packages/snowpack-plugin/test/index.ts
  packages/snowpack-plugin/test/locale/cs/messages.po
  packages/snowpack-plugin/test/locale/en/messages.po
  scripts/build/bundles.js
  yarn.lock
Labels: :package: cli

fix: corrected defaultComponent typing
  packages/react/src/I18nProvider.tsx
Labels: :package: react

Corrected-documentation-typos
  docs/guides/optimized-components.rst
  docs/guides/plurals.rst
  docs/ref/core.rst
  docs/tutorials/cli.rst
  docs/tutorials/react-native.rst
  docs/tutorials/react.rst
  examples/create-react-app/src/App.tsx
  examples/create-react-app/src/locales/cs/messages.js
  examples/create-react-app/src/locales/cs/messages.po
  examples/create-react-app/src/locales/en/messages.js
  examples/create-react-app/src/locales/en/messages.po
  examples/next-js/lingui-example/i18n.ts
  examples/next-js/locale/cs/messages.po
  examples/next-js/locale/en/messages.po
  examples/next-js/pages/examples.tsx
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/lingui-compile.ts
  packages/react/src/format.test.tsx
Labels: :package: cli, :package: react

docs(setup-react): correct links to react and macro pages
  docs/tutorials/setup-react.rst
Labels: none

docs(setup-react): correct links to react and macro pages (#956)
  docs/tutorials/setup-react.rst
Labels: none

fix: I18nProvider defaultComponent typing (#953)
  packages/react/src/I18nProvider.tsx
Labels: :package: react

corrected typo
  docs/tutorials/cli.rst
Labels: none

fix(docs): documentation-typos (#955)
  docs/guides/optimized-components.rst
  docs/guides/plurals.rst
  docs/ref/core.rst
  docs/tutorials/cli.rst
  docs/tutorials/react-native.rst
  docs/tutorials/react.rst
  examples/create-react-app/src/App.tsx
  examples/create-react-app/src/locales/cs/messages.js
  examples/create-react-app/src/locales/cs/messages.po
  examples/create-react-app/src/locales/en/messages.js
  examples/create-react-app/src/locales/en/messages.po
  examples/next-js/lingui-example/i18n.ts
  examples/next-js/locale/cs/messages.po
  examples/next-js/locale/en/messages.po
  examples/next-js/pages/examples.tsx
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/lingui-compile.ts
  packages/react/src/format.test.tsx
Labels: :package: cli, :package: react

chore: fix pseudolocalize tests
  packages/cli/src/api/pseudoLocalize.test.ts
Labels: :package: cli

fix: <Select /> choices not extracted
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
Labels: :package: macro

fix: wrong prop type of Trans macro
  packages/macro/index.d.ts
Labels: :package: macro

fix: wrong typing of Trans macro component prop (#960)
  packages/macro/index.d.ts
Labels: :package: macro

fix: <Plural /> props on macro not exported
  packages/macro/src/macroJsx.ts
Labels: :package: macro

fix: React macros fixes (#958)
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
Labels: :package: cli, :package: macro

fix: <Select /> pseudolocalization
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/pseudoLocalize.ts
Labels: :package: cli

Fix prop naming in react pattern example
  docs/tutorials/react-patterns.rst
Labels: none

docs: Fix prop naming in react pattern example (#963)
  docs/tutorials/react-patterns.rst
Labels: none

Change addDelimiters name
  packages/cli/src/api/pseudoLocalize.ts
Labels: :package: cli

fix: <Select /> pseudolocalization (#961)
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/pseudoLocalize.ts
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
