Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(macro): support JSX macro inside conditional expressions (#1436)
  packages/macro/src/index.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
  packages/macro/tsconfig.json
Labels: :package: macro

docs: main page improvements (#1438)
  website/package.json
  website/src/components/Code.module.scss
  website/src/components/Code.tsx
  website/src/components/Features.module.scss
  website/src/components/Header.module.scss
  website/src/pages/index.tsx
  website/yarn.lock
Labels: none

refactor(conf): delete migrations for deprecated fields
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/migrations/__snapshots__/catalogMigration.test.ts.snap
  packages/conf/src/migrations/catalogMigration.test.ts
  packages/conf/src/migrations/catalogMigration.ts
  packages/conf/src/migrations/fallbackLanguageMigration.ts
  website/docs/releases/migration-4.md
Labels: :package: conf

Apply suggestions from code review
  website/docs/releases/migration-4.md
Labels: none

docs(swc-plugin): Fix `.swcrc` `jsc.experimental.plugins` structure
  website/docs/ref/swc-plugin.md
Labels: none

docs(swc-plugin): Fix `.swcrc` `jsc.experimental.plugins` structure (#1441)
  website/docs/ref/swc-plugin.md
Labels: none

refactor(conf): delete migrations for deprecated fields (#1439)
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/migrations/__snapshots__/catalogMigration.test.ts.snap
  packages/conf/src/migrations/catalogMigration.test.ts
  packages/conf/src/migrations/catalogMigration.ts
  packages/conf/src/migrations/fallbackLanguageMigration.ts
  website/docs/releases/migration-4.md
Labels: :package: conf

refactor: pass config directly to macro
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.ts
  packages/conf/src/migrations/setCldrParentLocales.ts
  packages/conf/src/types.ts
  packages/conf/tsconfig.json
  packages/macro/src/index.ts
Labels: :package: cli, :package: conf, :package: macro

refactor: pass config directly to macro (#1442)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.ts
  packages/conf/src/migrations/setCldrParentLocales.ts
  packages/conf/src/types.ts
  packages/conf/tsconfig.json
  packages/macro/src/index.ts
Labels: :package: cli, :package: conf, :package: macro

refactor: getTranslations, prepare for hash-based ids
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/getTranslationsForCatalog.test.ts
  packages/cli/src/api/getTranslationsForCatalog.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/conf/src/types.ts
  packages/snowpack-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
Labels: :package: cli, :package: conf

refactor: getTranslations, prepare for hash-based ids (#1443)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/getTranslationsForCatalog.test.ts
  packages/cli/src/api/getTranslationsForCatalog.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/conf/src/types.ts
  packages/snowpack-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
Labels: :package: cli, :package: conf

refactor() update commander + remove deprecated commands
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/utils.test.ts.snap
  packages/cli/src/api/utils.test.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-add-locale.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/lingui.ts
  yarn.lock
Labels: :package: cli

refactor() remove dead code
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

refactor: update commander + remove deprecated commands (#1444)
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/utils.test.ts.snap
  packages/cli/src/api/utils.test.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-add-locale.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/lingui.ts
  packages/cli/src/test/compile.test.ts
  yarn.lock
Labels: :package: cli

chore(): remove `full-icu` package, nodejs already has all icu included
  CONTRIBUTING.md
  package.json
  yarn.lock
Labels: none

fix: always honor `process.env.LINGUI_CONFIG`
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/src/getConfig.ts
  packages/macro/src/index.ts
Labels: :package: cli, :package: conf, :package: macro

chore(): remove `full-icu` package, nodejs already has all icu included (#1445)
  CONTRIBUTING.md
  package.json
  yarn.lock
Labels: none

fix: always honor `process.env.LINGUI_CONFIG` (#1447)
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/src/getConfig.ts
  packages/macro/src/index.ts
Labels: :package: cli, :package: conf, :package: macro

fix: fix build after merge
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

fix: fix build after merge (#1448)
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

feature(macro): hash based id for js macro
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/macro/package.json
  packages/macro/src/generateMessageId.test.ts
  packages/macro/src/generateMessageId.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/utils.ts
  packages/macro/test/fixtures/js-t-continuation-character.expected.js
  packages/macro/test/fixtures/js-t-var/js-t-var.expected.js
  packages/macro/test/index.ts
  packages/macro/test/js-arg.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
  packages/macro/test/js-selectOrdinal.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro, :package: plugin-extract

feature(macro): hash based id for jsx macro
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/macro/src/macroJsx.ts
  packages/macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/macro/test/index.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
  packages/macro/test/jsx-selectOrdinal.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro, :package: plugin-extract

test: add e2e test for extractor
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/compile.test.ts
  packages/cli/src/tests.ts
  packages/cli/test/.gitignore
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-po-format/fixtures/file-a.ts
  packages/cli/test/extract-po-format/fixtures/file-b.tsx
  packages/cli/test/extract-template-po-format/expected/messages.pot
  packages/cli/test/extract-template-po-format/fixtures/file-a.ts
  packages/cli/test/extract-template-po-format/fixtures/file-b.tsx
  packages/cli/test/index.test.ts
  scripts/jest/env.js
Labels: :package: cli

support context passed as tpl literal, fix PR suggestions
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/js-select.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: cli, :package: macro

update docs
  website/docs/guides/plurals.md
  website/docs/ref/macro.md
  website/docs/tutorials/react-patterns.md
Labels: none

feature(): remove outdated code related to runtime context
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/react/src/Trans.tsx
  packages/remote-loader/src/browserCompiler.ts
  packages/remote-loader/src/index.ts
Labels: :package: cli, :package: core, :package: react

Fix: id mismatch when `null` passed as context.
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/generateMessageId.test.ts
  packages/cli/src/api/generateMessageId.ts
  packages/cli/src/api/help.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-trans.ts
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/__snapshots__/index.ts.snap
Labels: :package: cli, :package: macro, :package: plugin-extract

support hash based ids in po formatter
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages.po
  packages/cli/src/api/formats/fixtures/messages_plural-4-letter.po
  packages/cli/src/api/formats/fixtures/messages_plural.po
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/__snapshots__/index.ts.snap
Labels: :package: cli

fix test
  packages/cli/src/api/formats/po.test.ts
Labels: :package: cli

move message id generator to cli/api
  packages/cli/src/api/generateMessageId.test.ts
  packages/cli/src/api/generateMessageId.ts
  packages/cli/src/api/index.ts
  packages/macro/package.json
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: cli, :package: macro

remove set/tz it outdated and cause test failures on windows
  jest.config.integration.js
  jest.config.js
  package.json
  yarn.lock
Labels: none

Apply suggestions from code review
  packages/macro/test/jsx-trans.ts
  website/docs/ref/macro.md
  website/docs/tutorials/react-patterns.md
Labels: :package: macro

fix(vite-plugin): ship in dual package format for compatibility with Vite
  packages/vite-plugin/package.json
  packages/vite-plugin/tsconfig.json
Labels: none

Apply suggestions from code review
  website/docs/ref/macro.md
Labels: none

Apply suggestions from code review
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/macro/test/jsx-trans.ts
  website/docs/ref/macro.md
  website/docs/tutorials/react-patterns.md
Labels: :package: cli, :package: macro

fix(vite-plugin): ship in dual package format for compatibility with Vite (#1450)
  packages/vite-plugin/package.json
  packages/vite-plugin/tsconfig.json
Labels: none

docs: update Crowdin links
  website/docs/misc/resources.md
  website/docs/tools/crowdin.md
  website/docs/tools/introduction.md
Labels: none

fix: exclude pseudo locale during sync
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

test(): fix few broken test cases, and improve noisy tests
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/fixtures/collect-invalid/invalid.js
  packages/cli/src/api/fixtures/collect-invalid/valid.js
  packages/jest-mocks/index.ts
  packages/snowpack-plugin/src/index.ts
  packages/snowpack-plugin/test/index.ts
Labels: :package: cli, :package: plugin-extract

use LinguiConfigNormalized instead
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
