Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

fix
  website/docs/ai-tools.md
Labels: none

update ph
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

update numbers
  website/blog/2026-04-10-announcing-lingui-6.0/index.md
Labels: none

fix link
  website/blog/2026-03-20-announcing-lingui-6.0/index.md
Labels: none

docs: update blog post for Lingui 6.0 release, highlighting reduced package size and dependency count
  website/blog/2026-02-25-announcing-lingui-6.0/deps.png
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

updates
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

improve Introduction
  website/docs/introduction.md
  website/static/img/docs/lingui-workflow.svg
Labels: none

update
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
Labels: none

docs: v6 release blog post
  website/blog/2026-02-25-announcing-lingui-6.0/index.md
  website/blog/2026-02-25-announcing-lingui-6.0/social-card.png
Labels: none

minor UI tweaks
  website/src/components/header.tsx
  website/src/components/ui/button.tsx
Labels: none

move the date
  website/blog/2026-04-16-announcing-lingui-6.0/deps-dark.png
  website/blog/2026-04-16-announcing-lingui-6.0/deps-light.png
  website/blog/2026-04-16-announcing-lingui-6.0/index.md
  website/blog/2026-04-16-announcing-lingui-6.0/social-card.png
Labels: none

fixes after review
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/introduction.md
  website/docs/ref/core.md
  website/docs/ref/macro.mdx
  website/docs/releases/migration-6.md
Labels: none

document descriptorFields in v6 migration
  website/docs/releases/migration-6.md
Labels: none

Update blog post and documentation to introduce configurable JSX placeholder names
  website/blog/2026-04-16-announcing-lingui-6.0/index.md
  website/docs/ref/swc-plugin.md
Labels: none

move the date
  website/blog/2026-04-22-announcing-lingui-6.0/deps-dark.png
  website/blog/2026-04-22-announcing-lingui-6.0/deps-light.png
  website/blog/2026-04-22-announcing-lingui-6.0/index.md
  website/blog/2026-04-22-announcing-lingui-6.0/social-card.png
Labels: none

minor text fix
  website/blog/2026-04-22-announcing-lingui-6.0/index.md
Labels: none

fixes
  website/docs/guides/message-extraction.md
  website/docs/ref/core.md
Labels: none

docs: v6 release blog post + docs enhancement (#2427)
  website/blog/2026-04-22-announcing-lingui-6.0/deps-dark.png
  website/blog/2026-04-22-announcing-lingui-6.0/deps-light.png
  website/blog/2026-04-22-announcing-lingui-6.0/index.md
  website/blog/2026-04-22-announcing-lingui-6.0/social-card.png
  website/docs/ai-tools.md
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/lazy-translations.md
  website/docs/guides/message-extraction.md
  website/docs/introduction.md
  website/docs/ref/core.md
  website/docs/ref/macro.mdx
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/releases/migration-6.md
  website/docs/tutorials/react-native.md
  website/sidebars.ts
  website/src/components/features.tsx
  website/src/components/header.tsx
  website/src/components/ui/button.tsx
  website/static/img/docs/lingui-workflow.svg
Labels: none

test
  .github/workflows/release-test.yml
Labels: none

test
  .github/workflows/release-test.yml
Labels: none

add comment
  .github/workflows/release-test.yml
Labels: none

ci: temporarily pin the verdaccio-memory version (#2525)
  .github/workflows/release-test.yml
Labels: none

docs: update README and blog for Lingui v6 release
  README.md
  website/blog/2026-04-22-announcing-lingui-6.0/index.md
  website/docusaurus.config.ts
Labels: none

versioning
  lerna.json
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

changelogs
  CHANGELOG.md
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/conf/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/detect-locale/CHANGELOG.md
  packages/extractor-vue/CHANGELOG.md
  packages/format-csv/CHANGELOG.md
  packages/format-json/CHANGELOG.md
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po/CHANGELOG.md
  packages/loader/CHANGELOG.md
  packages/message-utils/CHANGELOG.md
  packages/metro-transformer/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/vite-plugin/CHANGELOG.md
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

minor
  README.md
  website/docusaurus.config.ts
Labels: none

changelogs from v5
  CHANGELOG.md
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/conf/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/detect-locale/CHANGELOG.md
  packages/extractor-vue/CHANGELOG.md
  packages/format-csv/CHANGELOG.md
  packages/format-json/CHANGELOG.md
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po/CHANGELOG.md
  packages/loader/CHANGELOG.md
  packages/message-utils/CHANGELOG.md
  packages/metro-transformer/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/vite-plugin/CHANGELOG.md
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix discord link
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  website/docs/community.md
  website/docs/releases/migration-4.md
  website/docusaurus.config.ts
  website/src/components/site-footer.tsx
Labels: none

fix(vite-plugin): add missing peer deps for rolldown babel (#2498)
  packages/vite-plugin/package.json
  yarn.lock
Labels: none

docs: add the v5 link to the migration guide
  website/docs/releases/migration-6.md
Labels: none

docs: add the v5 link to the migration guide (#2527)
  website/docs/releases/migration-6.md
Labels: none

ęxamples: update nextjs-babel to next@16 lingui@6
  examples/nextjs-babel/lingui.config.ts
  examples/nextjs-babel/next-env.d.ts
  examples/nextjs-babel/next.config.js
  examples/nextjs-babel/next.config.ts
  examples/nextjs-babel/package.json
  examples/nextjs-babel/src/i18n.ts
  examples/nextjs-babel/src/locales/cs.po
  examples/nextjs-babel/src/locales/en.po
  examples/nextjs-babel/src/locales/pseudo.po
  examples/nextjs-babel/src/pages/_app.tsx
  examples/nextjs-babel/src/pages/examples.tsx
  examples/nextjs-babel/src/pages/index.tsx
  examples/nextjs-babel/tsconfig.json
  examples/nextjs-babel/yarn.lock
Labels: none

ci: use the latest version of verdaccio-memory
  .github/workflows/release-test.yml
Labels: none

ci: use the latest version of verdaccio-memory (#2529)
  .github/workflows/release-test.yml
Labels: none

fix(cli): declare files arguments
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

docs: add legacy docs mode for SEO-safe archived deployments
  website/docusaurus.config.ts
Labels: none

chore: update announcement bar, metadata and sitemap for legacy docs
  website/docusaurus.config.ts
Labels: none

chore: update announcement bar, metadata and sitemap for legacy docs
  website/docusaurus.config.ts
Labels: none

docs: update migration guides and footer links for v4 and v5 documentation
  website/docs/releases/migration-5.md
  website/docs/releases/migration-6.md
  website/src/components/site-footer.tsx
Labels: none

docs: update migration guides and footer links for v4 and v5 documentation (#2534)
  website/docs/releases/migration-5.md
  website/docs/releases/migration-6.md
  website/src/components/site-footer.tsx
Labels: none
