Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

fix(cli): declare files arguments (#2532)
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

docs: restructure tooling page into sections and expand third-party tool descriptions
  website/docs/misc/tooling.md
Labels: none

docs: restructure tooling page into sections and expand third-party tool descriptions (#2535)
  website/docs/misc/tooling.md
Labels: none

chore: update nextjs-babel example to next@16 lingui@6 (#2530)
  examples/nextjs-babel/lingui.config.ts
  examples/nextjs-babel/next-env.d.ts
  examples/nextjs-babel/next.config.js
  examples/nextjs-babel/next.config.ts
  examples/nextjs-babel/package.json
  examples/nextjs-babel/src/i18n.ts
  examples/nextjs-babel/src/locales/cs.po
  examples/nextjs-babel/src/locales/en.po
  examples/nextjs-babel/src/locales/pseudo.po
  examples/nextjs-babel/src/pages/_app.tsx
  examples/nextjs-babel/src/pages/examples.tsx
  examples/nextjs-babel/src/pages/index.tsx
  examples/nextjs-babel/tsconfig.json
  examples/nextjs-babel/yarn.lock
Labels: none

docs: dynamic bundle size badges (#2402)
  README.md
  website/docs/introduction.md
Labels: none

use generateUidIdentifier
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
Labels: none

example and docs
  examples/vite-project-solid/.gitignore
  examples/vite-project-solid/.prettierrc.json
  examples/vite-project-solid/index.html
  examples/vite-project-solid/lingui.config.ts
  examples/vite-project-solid/package.json
  examples/vite-project-solid/public/vite.svg
  examples/vite-project-solid/src/App.css
  examples/vite-project-solid/src/App.test.tsx
  examples/vite-project-solid/src/App.tsx
  examples/vite-project-solid/src/MsgExample.tsx
  examples/vite-project-solid/src/PluralExample.tsx
  examples/vite-project-solid/src/assets/lingui-logo.svg
  examples/vite-project-solid/src/assets/solid.svg
  examples/vite-project-solid/src/i18n.ts
  examples/vite-project-solid/src/index.css
  examples/vite-project-solid/src/locales/en.po
  examples/vite-project-solid/src/locales/pl.po
  examples/vite-project-solid/src/main.tsx
  examples/vite-project-solid/src/vite-env.d.ts
  examples/vite-project-solid/tsconfig.json
  examples/vite-project-solid/tsconfig.node.json
  examples/vite-project-solid/vite.config.ts
  examples/vite-project-solid/yarn.lock
  website/docs/examples.md
  website/docs/ref/solid.md
  website/docs/tutorials/solid.md
  website/sidebars.ts
Labels: none

feat: solidjs integration
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/solid/README.md
  packages/solid/build.config.ts
  packages/solid/macro/__typetests__/index.tst.tsx
  packages/solid/macro/browser.mjs
  packages/solid/macro/index.d.mts
  packages/solid/macro/index.mjs
  packages/solid/macro/index.test.ts
  packages/solid/package.json
  packages/solid/src/I18nProvider.test.tsx
  packages/solid/src/I18nProvider.tsx
  packages/solid/src/Trans.test.tsx
  packages/solid/src/Trans.tsx
  packages/solid/src/TransNoContext.tsx
  packages/solid/src/config.ts
  packages/solid/src/format.test.tsx
  packages/solid/src/format.tsx
  packages/solid/src/index.ts
  packages/solid/tsconfig.json
  packages/solid/vitest.config.ts
  website/docs/ref/conf.md
  yarn.lock
Labels: :package: conf, :package: plugin-extract

Support typed message IDs
  packages/core/__typetests__/index.tst.ts
  packages/core/__typetests__/typed-ids/index.tst.ts
  packages/core/__typetests__/typed-ids/lingui.d.ts
  packages/core/__typetests__/typed-ids/tsconfig.json
  packages/core/macro/index.d.mts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/react/macro/index.d.mts
  packages/react/src/TransNoContext.tsx
  tstyche.config.json
  website/docs/guides/typed-message-ids.md
  website/sidebars.ts
Labels: :package: core, :package: react

Fix review issues
  packages/core/src/i18n.ts
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/typed-message-ids.md
Labels: :package: core

Update website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/explicit-vs-generated-ids.md
Labels: none

Add MseeP.ai badge to README.md
  README.md
Labels: none

move wrapJsxElementAsComponent
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
Labels: none

update babel deps
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  yarn.lock
Labels: :package: plugin-extract

feat: add support for @lingui comment directive
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/linguiDirective.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/lingui-directive.test.ts
Labels: none

feat: throw on invalid @lingui directives + unset params on empty values
  packages/babel-plugin-lingui-macro/src/linguiDirective.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/lingui-directive.test.ts
Labels: none

feat: merge @lingui directive with previous unless `reset` param is used
  packages/babel-plugin-lingui-macro/src/linguiDirective.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/lingui-directive.test.ts
Labels: none

docs: add docs and examples for @lingui comment directive
  website/docs/guides/message-extraction.md
  website/docs/ref/macro.mdx
Labels: none

style: Run docs through prettier
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
Labels: none

style: Fix formatting using prettier
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
Labels: none

feat: Add optional macro.idPrefixLeader setting to to allow scoping of idPrefix
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/lingui-directive.test.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
Labels: :package: conf

refactor: split @lingui directive into separate lingui-set/lingui-reset directives
  packages/babel-plugin-lingui-macro/src/linguiDirective.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/lingui-directive.test.ts
  packages/core/macro/index.d.mts
  packages/react/macro/index.d.mts
  website/docs/guides/message-extraction.md
  website/docs/ref/macro.mdx
Labels: :package: core, :package: react

format
  website/docs/ref/solid.md
  website/docs/tutorials/solid.md
Labels: none

update yarn to 4.x
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
Labels: none

update yarn to 4.x
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
Labels: none

update vitest
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/vitest.config.ts
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/vitest.config.ts
  packages/cli/package.json
  packages/cli/vitest.config.ts
  packages/conf/package.json
  packages/conf/vitest.config.ts
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/detect-locale/package.json
  packages/detect-locale/vitest.config.ts
  packages/extractor-vue/package.json
  packages/extractor-vue/vitest.config.ts
  packages/format-csv/package.json
  packages/format-csv/vitest.config.ts
  packages/format-json/package.json
  packages/format-json/vitest.config.ts
  packages/format-po-gettext/package.json
  packages/format-po-gettext/vitest.config.ts
  packages/format-po/package.json
  packages/format-po/vitest.config.ts
  packages/loader/package.json
  packages/loader/vitest.config.ts
  packages/message-utils/package.json
  packages/message-utils/vitest.config.ts
  packages/metro-transformer/package.json
  packages/metro-transformer/vitest.config.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  packages/test-utils/package.json
  packages/test-utils/vitest.config.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/vitest.config.ts
  vitest.config.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

install unbuild from catalog
  .yarnrc.yml
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

update scripts
  package.json
Labels: none

fix
  .yarnrc.yml
Labels: none

fix: avoid throwing on object spreads in extractFromObjectExpression
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
Labels: :package: plugin-extract

fix: avoid throwing on object spreads in extractFromObjectExpression (#2538)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
Labels: :package: plugin-extract

regenerate yarn.lock on the website
  website/yarn.lock
Labels: none

perf(cli): speed up catalog merge key partitioning
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

style(cli): make catalog merge condition explicitly boolean
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

chore(release): published v6.0.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.0.1 [skip ci] (#2541)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix: add new semantics fall on missing with two options: resolved and catalog
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/messages.test.ts
  packages/cli/src/api/messages.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/loader.test.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/vite-plugin.test.ts
  website/docs/ref/cli.md
  website/docs/ref/loader.md
  website/docs/ref/vite-plugin.md
Labels: :package: cli, :package: loader

feat: enhance missing translation handling and add test for obsolete messages
  packages/cli/src/api/catalog/translations.ts
  packages/cli/src/test/check-missing.test.ts
Labels: :package: cli

feat(cli): add missing check modes
  packages/cli/src/api/catalog/getTranslationsForCatalog.test.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/catalog/translations.ts
  packages/cli/src/api/check/index.ts
  packages/cli/src/api/check/missing.ts
  packages/cli/src/api/check/sync.ts
  packages/cli/src/api/check/types.ts
  packages/cli/src/api/messages.ts
  packages/cli/src/lingui-check.ts
  packages/cli/src/test/check-cli.test.ts
  packages/cli/src/test/check-missing.test.ts
  packages/cli/src/test/check-registry.test.ts
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  website/docs/ref/cli.md
Labels: :package: cli

fix: disappearing placeholder comments in partial extract
  packages/cli/test/extract-partial-consistency/existing/en.po
  packages/cli/test/extract-partial-consistency/expected/en.po
  packages/cli/test/extract-partial-consistency/fixtures/file-a.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli
