Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs: add Greenlight to the showroom (#806)
  docs/misc/showroom.rst
Labels: none

fix: accept catalog paths without ending slas
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: accept catalog paths without ending slash (#812)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

docs: describe usage of t macro as a function
  docs/ref/macro.rst
Labels: none

Add `lingui extract-template` command
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui.ts
  packages/cli/src/tests.ts
Labels: :package: cli

docs: add lingui extract-template command
  docs/ref/cli.rst
Labels: none

test: Fix snapshot tests
  packages/cli/src/api/catalog.test.ts
Labels: :package: cli

test: Fix snapshot tests (#815)
  packages/cli/src/api/catalog.test.ts
Labels: :package: cli

test: Do not leak data between copyFixture calls
  packages/cli/src/tests.ts
Labels: :package: cli

feat: Allow extracting only specific locales
  docs/ref/cli.rst
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
Labels: :package: cli

feat: add cli option to extract only a specific locale (#816)
  docs/ref/cli.rst
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
Labels: :package: cli

Fix extracting with --overwrite
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: improved performance of formatters
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
Labels: :package: core

chore: improved tests
  packages/core/src/formats.test.ts
Labels: :package: core

chore: replaced to cached function
  packages/core/src/context.ts
Labels: :package: core

fix: improved performance of formatters (#818)
  packages/core/src/context.ts
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
Labels: :package: core

feat: startet introduced cldr fallback
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/types.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
  packages/loader/src/index.js
Labels: :package: cli, :package: conf, :package: loader

fix: introduced tests of fallbackLocales feature
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/types.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/fixtures/valid/.fallbacklocalesrc
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
  packages/core/src/formats.test.ts
Labels: :package: cli, :package: conf, :package: core

docs: improved docs to match new fallbackLocales
  docs/ref/conf.rst
Labels: none

fix: if locale has no fallback
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore: some minor fixes
  packages/cli/src/api/types.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

chore: resolved github review
  packages/cli/src/api/catalog.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

feat: use fallback locales from cldr (#820)
  docs/ref/conf.rst
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/types.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/fixtures/valid/.fallbacklocalesrc
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
  packages/core/src/formats.test.ts
  packages/loader/src/index.js
Labels: :package: cli, :package: conf, :package: core, :package: loader

fix: t macro as function typed
  packages/macro/index.d.ts
Labels: :package: macro

fix: add type for t macro as function (#821)
  packages/macro/index.d.ts
Labels: :package: macro

feat: lingui commands suggestion looks package.json
  packages/cli/src/api/help.ts
Labels: :package: cli

chore: fix nully value
  packages/cli/src/api/help.ts
Labels: :package: cli

feat: lookup lingui command suggestions in package.json (#823)
  packages/cli/src/api/help.ts
Labels: :package: cli

fix: dx on plurals not called
  packages/core/src/context.ts
Labels: :package: core

fix: show error when plurals aren't loaded (#824)
  packages/core/src/context.ts
Labels: :package: core

fix: exit 1 on strict mode of compile
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

Manual rebase of po-gettext onto main branch
  packages/cli/package.json
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages_plural.po
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  yarn.lock
Labels: :package: cli

fix: fix exit code on compile --strict errors (#825)
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

chore: add lerna
  lerna.json
  package.json
  yarn.lock
Labels: none

chore: starter version
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/jest-mocks/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

ci: introduced github workflows
  .github/workflows/deploy-main-docs.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  CONTRIBUTING.md
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: cli, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: skip ci introduced
  .github/workflows/deploy-main-docs.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  lerna.json
Labels: none

chore: only run coverage and release on matrix.node 12
  .github/workflows/main-suite.yml
Labels: none

ci: added lint pr title workflow
  .github/workflows/lint-pr-title.yml
Labels: none

chore: updated semantic pull request action
  .github/workflows/lint-pr-title.yml
Labels: none
