Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

address review
  packages/metro-transformer/package.json
  packages/metro-transformer/src/expo/index.ts
  packages/metro-transformer/src/react-native/index.ts
  website/docs/ref/metro-transformer.mdx
  yarn.lock
Labels: none

feat: add metro transformer (#1999)
  jest.config.integration.js
  jest.config.js
  package.json
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
  packages/conf/src/getConfig.ts
  packages/loader/src/webpackLoader.ts
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/README.md
  packages/metro-transformer/package.json
  packages/metro-transformer/src/expo/index.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/metro-transformer/src/react-native/index.ts
  packages/metro-transformer/src/types.ts
  packages/metro-transformer/test/__fixtures__/test-project/lingui.config.js
  packages/metro-transformer/test/__fixtures__/test-project/locales/cs/messages.po
  packages/metro-transformer/test/__fixtures__/test-project/locales/en/messages.po
  packages/metro-transformer/test/metroTransformer.test.ts
  website/docs/ref/cli.md
  website/docs/ref/loader.md
  website/docs/ref/metro-transformer.mdx
  website/docs/tutorials/react-native.md
  website/sidebars.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: loader

style(docs): minor refreshment of documentation styles
  website/src/components/Features.module.scss
  website/src/components/Features.tsx
  website/src/components/Header.module.scss
  website/src/components/Header.tsx
  website/src/components/PartnerBanner.module.scss
  website/src/components/PartnerBanner.tsx
  website/src/components/Users.module.scss
  website/src/components/Users.tsx
  website/src/css/custom.scss
  website/src/pages/index.tsx
Labels: none

docs: update ESLint plugin documentation
  website/docs/ref/eslint-plugin.md
Labels: none

chore(release): published v4.12.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: update ESLint plugin documentation (#2046)
  website/docs/ref/eslint-plugin.md
Labels: none

fix format
  website/docs/ref/catalog-formats.md
Labels: none

style(docs): minor refreshment of documentation styles (#2045)
  website/src/components/Features.module.scss
  website/src/components/Features.tsx
  website/src/components/Header.module.scss
  website/src/components/Header.tsx
  website/src/components/PartnerBanner.module.scss
  website/src/components/PartnerBanner.tsx
  website/src/components/Users.module.scss
  website/src/components/Users.tsx
  website/src/css/custom.scss
  website/src/pages/index.tsx
Labels: none

chore: use metro transformer in RN example
  examples/react-native/App.tsx
  examples/react-native/metro.config.js
  examples/react-native/package.json
  examples/react-native/src/MainScreen.tsx
  examples/react-native/src/locales/cs/messages.js
  examples/react-native/src/locales/cs/messages.po
  examples/react-native/src/locales/en/messages.js
  examples/react-native/src/locales/en/messages.po
  examples/react-native/src/po-types.d.ts
  examples/react-native/yarn.lock
  packages/metro-transformer/src/metroTransformer.ts
  website/docs/ref/core.md
  website/docs/ref/metro-transformer.mdx
Labels: none

docs: undo some changes
  website/docs/ref/core.md
Labels: none

fix: include pot
  examples/react-native/metro.config.js
Labels: none

feat: adds custom prefix support for gettext po (#2004)
  packages/format-po-gettext/README.md
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  website/docs/ref/catalog-formats.md
Labels: none

feat: add setMessagesCompiler method (#2035)
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental-template/expected/index.page.en.js
  packages/cli/test/extractor-experimental-template/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/loader.test.ts
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/compileMessage.ts
  packages/remote-loader/test/index.test.ts
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  website/docs/ref/core.md
Labels: :package: cli, :package: core, :package: loader

chore: update deps
  examples/react-native/package.json
  examples/react-native/yarn.lock
Labels: none

chore: use metro transformer in react native example (#2000)
  examples/react-native/App.tsx
  examples/react-native/metro.config.js
  examples/react-native/package.json
  examples/react-native/src/MainScreen.tsx
  examples/react-native/src/locales/cs/messages.js
  examples/react-native/src/locales/cs/messages.po
  examples/react-native/src/locales/en/messages.js
  examples/react-native/src/locales/en/messages.po
  examples/react-native/src/po-types.d.ts
  examples/react-native/yarn.lock
  packages/metro-transformer/src/metroTransformer.ts
  website/docs/ref/metro-transformer.mdx
Labels: none

chore(release): published v4.13.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: migration guide improvements
  website/docs/ref/catalog-formats.md
  website/docs/ref/macro.mdx
  website/docs/releases/migration-5.md
  website/docs/tutorials/setup-react.mdx
Labels: none

chore(release): published v5.0.0-next.2
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(macro): show codeframe of error in webpack
  packages/babel-plugin-lingui-macro/src/index.ts
Labels: none

fix: correctly handle a variable passed to the `t` macro
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
Labels: none

fix(macro): show codeframe of error in webpack (#2049)
  packages/babel-plugin-lingui-macro/src/index.ts
Labels: none

fix: correctly handle a variable passed to the `t` macro (#2048)
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
Labels: none

docs: improve catalog format options description
  website/docs/ref/catalog-formats.md
Labels: none

docs: improve catalog format options description (#2050)
  website/docs/ref/catalog-formats.md
Labels: none

chore(release): published v5.0.0-next.3
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat: remove deprecated extractBabelOptions
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
Labels: :package: conf

docs: update examples for v5
  examples/js/babel.config.js
  examples/js/package.json
  examples/js/yarn.lock
  examples/nextjs-babel/.babelrc
  examples/nextjs-babel/package.json
  examples/nextjs-babel/yarn.lock
  examples/nextjs-swc/next-env.d.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/yarn.lock
  examples/react-native/babel.config.js
  examples/react-native/package.json
  examples/react-native/yarn.lock
  examples/vite-project-react-babel/package.json
  examples/vite-project-react-babel/vite.config.ts
  examples/vite-project-react-babel/yarn.lock
  examples/vite-project-react-swc/package.json
  examples/vite-project-react-swc/yarn.lock
Labels: none

refactor: remove strings support from `LinguiConfig.extractors`
  packages/cli/src/api/extractors/index.ts
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/src/types.ts
  website/docs/releases/migration-5.md
Labels: :package: cli, :package: conf

feat: remove deprecated extractBabelOptions (#2051)
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
Labels: :package: conf

refactor: remove strings support from `LinguiConfig.extractors` (#2052)
  packages/cli/src/api/extractors/index.ts
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/src/types.ts
  website/docs/releases/migration-5.md
Labels: :package: cli, :package: conf

docs: update examples for v5 (#2053)
  examples/js/babel.config.js
  examples/js/package.json
  examples/js/yarn.lock
  examples/nextjs-babel/.babelrc
  examples/nextjs-babel/package.json
  examples/nextjs-babel/yarn.lock
  examples/nextjs-swc/next-env.d.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/yarn.lock
  examples/react-native/babel.config.js
  examples/react-native/package.json
  examples/react-native/yarn.lock
  examples/vite-project-react-babel/package.json
  examples/vite-project-react-babel/vite.config.ts
  examples/vite-project-react-babel/yarn.lock
  examples/vite-project-react-swc/package.json
  examples/vite-project-react-swc/yarn.lock
Labels: none

docs: @lingui/macro article refinement
  website/docs/ref/macro.mdx
Labels: none

test(cli): check for consistent results with partial extracts
  packages/cli/test/extract-partial-consistency/existing/en.po
  packages/cli/test/extract-partial-consistency/expected/en.po
  packages/cli/test/extract-partial-consistency/fixtures/file-a.ts
  packages/cli/test/extract-partial-consistency/fixtures/file-b.tsx
  packages/cli/test/index.test.ts
Labels: :package: cli

fix: leave obsolete pristine for files not in extraction file set
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

fix(extraction test): remove manual copies of 'existing'
  packages/cli/test/index.test.ts
Labels: :package: cli

feat(macro): make message stripping configurable via Babel options
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

docs: @lingui/macro article refinement
  website/docs/ref/macro.mdx
Labels: none

docs: @lingui/macro article refinement (#2055)
  website/docs/ref/macro.mdx
Labels: none

feat(vite-plugin): add error handling for dynamic import of @lingui/macro
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/dynamic-macro-error/.linguirc
  packages/vite-plugin/test/dynamic-macro-error/entrypoint.js
  packages/vite-plugin/test/dynamic-macro-error/locale/en.po
  packages/vite-plugin/test/dynamic-macro-error/vite.config.ts
  packages/vite-plugin/test/index.ts
Labels: none

docs: refactor installation instructions
  vercel.json
  website/docs/installation.mdx
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.mdx
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
