Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: types
  packages/cli/src/api/catalog.test.ts
  packages/conf/index.d.ts
Labels: :package: cli, :package: conf

revert: deprecated types
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/__snapshots__/stats.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/conf/index.d.ts
Labels: :package: cli, :package: conf

Revert "revert: deprecated types"
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/__snapshots__/stats.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/conf/index.d.ts
Labels: :package: cli, :package: conf

fix: refactored stats logs (#779)
  packages/cli/src/api/__snapshots__/stats.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/index.d.ts
  packages/jest-mocks/index.ts
Labels: :package: cli, :package: conf

add testing-information with react testing library
  docs/guides/testing.rst
Labels: none

docs: add testing-information with react testing library (#781)
  docs/guides/testing.rst
Labels: none

Fix syntax error on testing guide
  docs/guides/testing.rst
Labels: none

docs: fix syntax error on testing guide (#782)
  docs/guides/testing.rst
Labels: none

fix: keep decoded html entities
  docs/releases/migration-3.rst
  examples/next-js/yarn.lock
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix: keep decoded html entities (#783)
  docs/releases/migration-3.rst
  examples/next-js/yarn.lock
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

chore: release v3.0.0-23
  package.json
Labels: none

feat: introduced some initial client detectors
  packages/detect-locale/index.js
  packages/detect-locale/package.json
  packages/detect-locale/src/detectors/__snapshots__/fromUrl.test.ts.snap
  packages/detect-locale/src/detectors/fromCookie.test.ts
  packages/detect-locale/src/detectors/fromCookie.ts
  packages/detect-locale/src/detectors/fromNavigator.test.ts
  packages/detect-locale/src/detectors/fromNavigator.ts
  packages/detect-locale/src/detectors/fromStorage.test.ts
  packages/detect-locale/src/detectors/fromStorage.ts
  packages/detect-locale/src/detectors/fromUrl.test.ts
  packages/detect-locale/src/detectors/fromUrl.ts
  packages/detect-locale/src/index.test.ts
  packages/detect-locale/src/index.ts
  packages/detect-locale/src/utils/cookie-getter.test.ts
  packages/detect-locale/src/utils/cookie-getter.ts
  packages/detect-locale/src/utils/query-string.test.ts
  packages/detect-locale/src/utils/query-string.ts
Labels: none

fix: add missing type exports
  packages/react/src/I18nProvider.tsx
  packages/react/src/index.ts
Labels: :package: react

Added transwithhtml
  packages/babel-plugin-extract-messages/src/index.ts
Labels: :package: plugin-extract

WSPLA-323: added teans with html
  packages/babel-plugin-extract-messages/src/index.ts
Labels: :package: plugin-extract

feat: fromSubdomain, fromHtmlTag, fromPath
  packages/detect-locale/package.json
  packages/detect-locale/src/detectors/fromHtmlLang.test.ts
  packages/detect-locale/src/detectors/fromHtmlTag.ts
  packages/detect-locale/src/detectors/fromPath.test.ts
  packages/detect-locale/src/detectors/fromPath.ts
  packages/detect-locale/src/detectors/fromSubdomain.test.ts
  packages/detect-locale/src/detectors/fromSubdomain.ts
  packages/detect-locale/src/index.ts
Labels: none

chore: added node10 polyfill
  packages/detect-locale/src/detectors/fromHtmlTag.test.ts
  packages/detect-locale/src/index.ts
  packages/detect-locale/src/utils/globalThis.polyfill.js
Labels: none

chore: imprvovements
  packages/detect-locale/src/detectors/fromHtmlTag.ts
  packages/detect-locale/src/utils/cookie-getter.ts
Labels: none

chore: fix globalThis
  packages/detect-locale/src/utils/cookie-getter.test.ts
Labels: none

feat: introduced multipleDetect(): []
  packages/detect-locale/src/index.test.ts
  packages/detect-locale/src/index.ts
Labels: none

docs: added documentation
  docs/index.rst
  docs/ref/locale-detector.rst
  packages/detect-locale/src/detectors/fromStorage.test.ts
  packages/detect-locale/src/detectors/fromStorage.ts
Labels: none

fix: misspelling
  packages/detect-locale/src/detectors/fromStorage.ts
Labels: none

chore: run ci
  docs/ref/locale-detector.rst
Labels: none

chore: added to bundles.js @lingui/detect-locale
  scripts/build/bundles.js
Labels: none

chore: added size to docs
  docs/ref/locale-detector.rst
Labels: none

fix: import type declaration overrides @lingui/react
  packages/macro/src/index.ts
  packages/macro/test/index.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix: import type declaration overrides @lingui/react (#786)
  packages/macro/src/index.ts
  packages/macro/test/index.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

chore: release v3.0.0-24
  package.json
Labels: none

fix: deprecated methods of babel
  packages/macro/test/index.ts
Labels: :package: macro

fix: detect-locale publish
  packages/detect-locale/npm/index.js
Labels: none

chore: release v3.0.0-25
  package.json
Labels: none

wspla-323: changed package.json
  package.json
Labels: none

chore: rename master branch to main
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/_ext/edit_on_github.py
  docs/_ext/linguidocs.py
  packages/babel-plugin-extract-messages/README.md
  packages/cli/README.md
  packages/conf/README.md
  packages/core/README.md
  packages/loader/README.md
  packages/macro/README.md
  packages/react/README.md
  scripts/release.js
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: release v3.0.0
  package.json
Labels: none

chore: add app for automatic closing of stale issues
  .github/stale.yml
Labels: none

docs: add link to old docs
  docs/index.rst
Labels: none

docs: fix syntax warnings
  docs/guides/dynamic-loading-catalogs.rst
  docs/ref/locale-detector.rst
  docs/ref/react.rst
Labels: none

docs: update pitch examples
  docs/_static/pitch.js
  docs/_static/pitch_keys.js
  docs/_static/pitch_keys.png
  docs/_static/pitch_messages.js
  docs/_static/pitch_messages.png
Labels: none

docs: remove v3 pre-release warning
  docs/releases/migration-3.rst
Labels: none

docs: add codemods to migration guide
  docs/releases/migration-3.rst
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
