Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

ci: fix the 'size-limit' workflow (#1333)
  .github/workflows/size-limit.yml
Labels: none

docs: Fix syntax of extracted comments in PO files
  docs/ref/catalog-formats.rst
Labels: none

feat: Add 'getting-translation' event
  docs/ref/core.rst
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

Update docs/ref/catalog-formats.rst
  docs/ref/catalog-formats.rst
Labels: none

docs: Fix syntax of extracted comments in PO files (#1337)
  docs/ref/catalog-formats.rst
Labels: none

fix pr comments
  scripts/build/babel.ts
  scripts/build/packaging.ts
  scripts/build/rollup.ts
  scripts/build/utils.ts
Labels: none

fix(cli): catalogsMergePath doesn't merge catalogs
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

chore(size-limit) test esm packages and update size-limit dep
  package.json
  yarn.lock
Labels: none

fix(cli): {locale} and {name} replace only once in catalog path
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

Add namespace and compilerBabelOptions to writeCompiled() call
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

chore(size-limit) test esm packages and update size-limit dep (#1338)
  package.json
  yarn.lock
Labels: none

fix(cli): catalogsMergePath doesn't merge catalogs (#1341)
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix(cli): {locale} and {name} replace only once in catalog path (#1342)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

ci: fix the 'size-limit' workflow (2)
  .github/workflows/size-limit.yml
Labels: none

ci: fix the 'size-limit' workflow (2) (#1344)
  .github/workflows/size-limit.yml
Labels: none

chore(release): published v3.16.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

ci: fix git credentials in the 'release' workflow
  .github/workflows/release.yml
Labels: none

ci: fix git credentials in the 'release' workflow (#1345)
  .github/workflows/release.yml
Labels: none

fix(build) explicitly expose api/extractors
  .github/workflows/main-suite.yml
  package.json
  packages/cli/package.json
  scripts/test-node-api.js
Labels: :package: cli

fix(core) sub entry export for react-native
  packages/core/compile.entry.ts
  packages/core/compile.js
  packages/core/npm/compile.js
  packages/core/npm/index.js
  packages/core/package.json
  scripts/build/bundles.ts
Labels: :package: core

Update packages/core/compile.js
  packages/core/compile.js
Labels: :package: core

fix(core): sub entry export for react-native (#1350)
  packages/core/compile.entry.ts
  packages/core/compile.js
  packages/core/npm/compile.js
  packages/core/npm/index.js
  packages/core/package.json
  scripts/build/bundles.ts
Labels: :package: core

Apply suggestions from code review
  packages/cli/package.json
  scripts/test-node-api.js
Labels: :package: cli

fix(build): explicitly expose api/extractors (#1349)
  .github/workflows/main-suite.yml
  package.json
  packages/cli/package.json
  scripts/test-node-api.js
Labels: :package: cli

fix(cli): incorrect main entry in package.json
  packages/cli/package.json
Labels: :package: cli

fix(cli): incorrect main entry in package.json (#1351)
  packages/cli/package.json
Labels: :package: cli

ci: use separate GH token for publishing
  .github/workflows/release.yml
Labels: none

ci: use separate GH token for publishing (#1353)
  .github/workflows/release.yml
Labels: none

chore(verdaccio): more obvious way of clean working tree before verdaccio release
  scripts/verdaccio-release.js
Labels: none

chore(build): update typescript in tooling
  package.json
  packages/cli/package.json
  packages/core/src/compile/compileMessage.test.ts
  yarn.lock
Labels: :package: cli, :package: core

chore(build): update typescript in tooling (#1357)
  package.json
  packages/cli/package.json
  packages/core/src/compile/compileMessage.test.ts
  yarn.lock
Labels: :package: cli, :package: core

fix(build): Revert typescript update
  package.json
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

fix(build): Revert typescript update (#1362)
  package.json
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore(release): published v3.16.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs(): replace defaults -> message
  docs/misc/react-intl.rst
  docs/ref/catalog-formats.rst
  docs/ref/conf.rst
  docs/ref/core.rst
  docs/tutorials/react.rst
Labels: none

Resolve discussions
  README.md
  website/package.json
  website/src/definitions.d.ts
  website/src/pages/index.module.css
Labels: none

Update Algolia index
  .github/workflows/release-docs.yml
Labels: none

Remove the 'docs' subpath
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/guides/excluding-build-files.md
  website/docs/guides/optimized-components.md
  website/docs/guides/plurals.md
  website/docs/guides/pseudolocalization.md
  website/docs/guides/testing.md
  website/docs/guides/typescript.md
  website/docs/introduction.md
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/ref/loader.md
  website/docs/ref/macro.md
  website/docs/ref/react.md
  website/docs/ref/snowpack-plugin.md
  website/docs/releases/migration-3.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/cli.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docusaurus.config.js
  website/sidebars.ts
  website/src/components/Features.tsx
  website/src/components/Header.tsx
  website/tools/algolia/config.json
Labels: none

docs: replace old links
  CONTRIBUTING.md
  README.md
  examples/next-js/pages/index.tsx
  packages/babel-plugin-extract-messages/README.md
  packages/cli/README.md
  packages/cli/src/lingui-add-locale.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/README.md
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
  packages/core/README.md
  packages/loader/README.md
  packages/macro/README.md
  packages/react/README.md
  packages/remote-loader/src/index.ts
  packages/snowpack-plugin/README.md
  website/docs/introduction.md
  website/docs/tutorials/react.md
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Change links on the main page
  website/src/components/Header.tsx
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
