Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

feat: Pass props to I18nProvider.defaultComponent in Trans.render style (#1242)
  docs/ref/react.rst
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

docs: Replace Spectrum and Gitter with Discord (#1243)
  README.md
  docs/index.rst
  docs/misc/react-intl.rst
Labels: none

fix: Fix error read properties of undefined (#1239)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

Update README.md
  README.md
Labels: none

fix: Add extra package.json under `/esm`
  packages/core/npm/esm/dev.js
  packages/core/npm/esm/index.js
  packages/core/npm/esm/package.json
  packages/detect-locale/npm/esm/package.json
  packages/react/npm/esm/package.json
Labels: :package: core, :package: react

fix: JSX attribute parsing issue when using html entities (#1234)
  packages/macro/src/macroJsx.ts
  packages/macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
  packages/macro/test/jsx-selectOrdinal.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix: Add extra package.json under `/esm` (#1258)
  packages/core/npm/esm/dev.js
  packages/core/npm/esm/index.js
  packages/core/npm/esm/package.json
  packages/detect-locale/npm/esm/package.json
  packages/react/npm/esm/package.json
Labels: :package: core, :package: react

chore(release): published v3.14.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Try to add a trailing newline if the file had one
  packages/cli/src/api/formats/minimal.ts
Labels: :package: cli

add example for create-react-app-v5 * * * yarn
  examples/create-react-app-v5/.env
  examples/create-react-app-v5/.gitignore
  examples/create-react-app-v5/README.md
  examples/create-react-app-v5/lingui.config.js
  examples/create-react-app-v5/package.json
  examples/create-react-app-v5/public/index.html
  examples/create-react-app-v5/src/App.css
  examples/create-react-app-v5/src/App.test.tsx
  examples/create-react-app-v5/src/App.tsx
  examples/create-react-app-v5/src/i18n.ts
  examples/create-react-app-v5/src/index.css
  examples/create-react-app-v5/src/index.tsx
  examples/create-react-app-v5/src/locales/cs/messages.js
  examples/create-react-app-v5/src/locales/cs/messages.po
  examples/create-react-app-v5/src/locales/en/messages.js
  examples/create-react-app-v5/src/locales/en/messages.po
  examples/create-react-app-v5/src/logo.svg
  examples/create-react-app-v5/src/react-app-env.d.ts
  examples/create-react-app-v5/src/serviceWorker.ts
  examples/create-react-app-v5/src/setupTests.ts
  examples/create-react-app-v5/tsconfig.json
  examples/create-react-app-v5/yarn.lock
Labels: none

add documentation for cra5
  docs/ref/loader.rst
Labels: none

docs: removed the extra ` before :js:func
  docs/ref/react.rst
Labels: none

Update README.md
  README.md
Labels: none

Visible ts-jest incompatibility with lungui
  docs/guides/testing.rst
Labels: none

add support for oct escaping
  packages/core/src/context.ts
Labels: :package: core

add support for oct escaping
  packages/core/src/context.ts
Labels: :package: core

fix: extract-template async race issue
  packages/cli/src/lingui-extract-template.ts
Labels: :package: cli

fix: allow lingui compile to compile without plural
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix: allow lingui compile to compile without plural (#1280)
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix: extract-template async race issue (#1279)
  packages/cli/src/lingui-extract-template.ts
Labels: :package: cli

docs: Update README.md (#1270)
  README.md
Labels: none

docs: removed the extra ` before :js:func (#1267)
  docs/ref/react.rst
Labels: none

fix: Try to add a trailing newline if the file had one (#1260)
  packages/cli/src/api/formats/minimal.ts
Labels: :package: cli

feat: Switch to cosmiconfig-typescript-loader #1247
  packages/conf/package.json
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/fixtures/valid/custom.config.ts
  packages/conf/src/index.test.ts
  yarn.lock
Labels: :package: conf

test: Add tests on context with macro
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

improvement: Context mechanism
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/locales/existing/cs.json
  packages/cli/src/api/fixtures/locales/existing/cs.po
  packages/cli/src/api/fixtures/locales/existing/en.json
  packages/cli/src/api/fixtures/locales/existing/en.po
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/po.ts
  packages/loader/src/webpackLoader.ts
  packages/react/src/Trans.tsx
Labels: :package: cli, :package: loader, :package: react

fix: extraction when having more than one message with same context and id
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
Labels: :package: plugin-extract

fix: fallback to default locale with a context
  packages/cli/src/api/compile.ts
Labels: :package: cli

fix: clean obsolete messages with context
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: stats with context
  packages/cli/src/api/stats.test.ts
  packages/cli/src/api/stats.ts
Labels: :package: cli

docs: Add context example
  examples/create-react-app/package.json
  examples/create-react-app/src/App.tsx
  examples/create-react-app/src/locales/cs/messages.js
  examples/create-react-app/src/locales/cs/messages.po
  examples/create-react-app/src/locales/en/messages.js
  examples/create-react-app/src/locales/en/messages.po
Labels: none

Add "context" in doc
  docs/ref/catalog-formats.rst
  docs/ref/macro.rst
Labels: none

fix: add null undefined check
  packages/cli/src/lingui-extract-template.ts
Labels: :package: cli

fix: remove Node v10, add node v16, fix the fsPromises error
  .github/workflows/main-suite.yml
  packages/cli/package.json
  packages/cli/src/api/formats/minimal.ts
Labels: :package: cli

remove obsolete snapshot
  packages/conf/src/__snapshots__/index.test.ts.snap
Labels: :package: conf

try to fix vercel error
  docs/Makefile
  docs/Pipfile.lock
  docs/ref/conf.rst
Labels: none

add missing name to pipenv file
  docs/Makefile
  docs/Pipfile
  docs/Pipfile.lock
Labels: none

fix: use the 3.9 Python version in the 'deploy-docs' workflow
  .github/workflows/deploy-main-docs.yml
Labels: none

Make pseudoLocalization use the message AST instead of the key
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/pseudoLocalize.test.ts
Labels: :package: cli

CR & more tests
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/pseudoLocalize.test.ts
Labels: :package: cli
