Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: suggestive improvements
  website/docs/tutorials/react-patterns.md
Labels: none

Update explicit-vs-generated-ids.md
  website/docs/tutorials/explicit-vs-generated-ids.md
Labels: none

lint: apply prettier
  website/docs/tutorials/explicit-vs-generated-ids.md
Labels: none

docs: revert change
  website/docs/tutorials/explicit-vs-generated-ids.md
Labels: none

docs: fix typo in react-intl.md (#1783)
  website/docs/misc/react-intl.md
Labels: none

docs: suggestive improvements on introduction (#1784)
  website/docs/introduction.md
Labels: none

docs: suggestive improvements on cli (#1785)
  website/docs/tutorials/cli.md
Labels: none

docs: suggestive improvements on react patterns (#1786)
  website/docs/tutorials/react-patterns.md
Labels: none

docs: suggestive improvements on explicit-vs-generated-ids (#1787)
  website/docs/tutorials/explicit-vs-generated-ids.md
Labels: none

add macro syntax for t macro t`some.id``message`;
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/macro/src/macroJs.ts
Labels: :package: macro, :package: plugin-extract

add example of double template literal usage
  website/docs/ref/macro.md
Labels: none

change syntax to ``` t('some.id')`message` ```
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/macro/index.d.ts
  packages/macro/src/macroJs.ts
  website/docs/ref/macro.md
Labels: :package: macro, :package: plugin-extract

fix(cli): import type as type
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

docs: various docs improvements
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/guides/flow.md
  website/docs/guides/message-extraction.md
  website/docs/guides/typescript.md
  website/docs/introduction.md
  website/docs/ref/cli.md
  website/docs/tutorials/cli.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
Labels: none

chore: undo some changes
  website/docs/tutorials/cli.md
  website/docs/tutorials/explicit-vs-generated-ids.md
Labels: none

docs: cli wording change
  website/docs/guides/message-extraction.md
  website/docs/ref/cli.md
Labels: none

Update json.ts
  packages/format-json/src/json.ts
Labels: none

Update json.ts
  packages/format-json/src/json.ts
Labels: none

Update README.md
  packages/format-json/README.md
Labels: none

Update catalog.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix(cli): import type as type (#1802)
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

use Intl.Collator
  packages/cli/src/api/catalog.ts
Labels: :package: cli

Ensure consistent sorting in orderByMessage function
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore: remove parallel flag
  package.json
Labels: none

update yarn
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-3.7.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

trey to fix build attemp 1
  yarn.lock
Labels: none

trey to fix build attemp 2
  yarn.lock
Labels: none

remove parallel build
  package.json
Labels: none

chore: fix build (#1811)
  package.json
  yarn.lock
Labels: none

chore: node update in ci
  .github/workflows/docs-suite.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  .github/workflows/release-docs.yml
  .github/workflows/release.yml
Labels: none

prettier!
  packages/cli/src/api/catalog.ts
Labels: :package: cli

prettier!
  packages/format-json/src/json.ts
Labels: none

fix(cli): sorting issue when different locales are used on host machines (#1808)
  packages/cli/src/api/catalog.ts
Labels: :package: cli

docs: add partner banner
  website/src/components/Features.module.scss
  website/src/components/PartnerBanner.module.scss
  website/src/components/PartnerBanner.tsx
  website/src/pages/index.tsx
  website/tsconfig.json
Labels: none

docs: add partner banner (#1812)
  website/src/components/Features.module.scss
  website/src/components/PartnerBanner.module.scss
  website/src/components/PartnerBanner.tsx
  website/src/pages/index.tsx
  website/tsconfig.json
Labels: none

chore: wild try
  packages/cli/src/api/utils.ts
Labels: :package: cli

feat(format-json): ability to set indentation (#1807)
  packages/format-json/README.md
  packages/format-json/src/json.ts
Labels: none

chore: update actions
  .github/workflows/docs-suite.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  .github/workflows/release-docs.yml
  .github/workflows/release.yml
Labels: none

chore(release): published v4.6.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: make sure extra plugins are included
  packages/cli/src/api/extractors/babel.ts
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
