Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: Support comments inside JSX macros by ignoring empty jsx expressions
  packages/macro/src/icu.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix: Support comments inside JSX macros by ignoring empty jsx expressions (#685)
  packages/macro/src/icu.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

Fix typing for PO.Item in validateItems
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

add csv support
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  yarn.lock
Labels: :package: cli

clean up
  packages/cli/src/api/formats/csv.ts
Labels: :package: cli

switch to papaparse
  packages/cli/package.json
  packages/cli/src/api/formats/csv.ts
  yarn.lock
Labels: :package: cli

add csv test
  packages/cli/src/api/formats/__snapshots__/csv.test.ts.snap
  packages/cli/src/api/formats/csv.test.ts
  packages/cli/src/api/formats/fixtures/messages.csv
Labels: :package: cli

remove extra double quote
  packages/cli/src/api/formats/__snapshots__/csv.test.ts.snap
  packages/cli/src/api/formats/csv.test.ts
Labels: :package: cli

CLI: Explicitly sort directory listings
  packages/cli/src/api/extract.js
Labels: :package: cli

CLI: Explicitly sort directory listings
  packages/cli/src/api/extract.ts
Labels: :package: cli

Update react-int's rich text formatting example
  docs/misc/react-intl.rst
Labels: none

feat: add csv support (#693)
  packages/cli/package.json
  packages/cli/src/api/formats/__snapshots__/csv.test.ts.snap
  packages/cli/src/api/formats/csv.test.ts
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/fixtures/messages.csv
  packages/cli/src/api/formats/index.ts
  yarn.lock
Labels: :package: cli

feat: explicitly sort directory listings (#695)
  packages/cli/src/api/extract.ts
Labels: :package: cli

chore: release v3.0.0-12
  package.json
Labels: none

Use type instead of interface
  .eslintignore
  .eslintrc
  package.json
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/extractors/types.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/types.ts
  packages/cli/src/lingui-extract.ts
  packages/core/src/i18n.ts
  packages/macro/index.d.ts
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.tsx
  yarn.lock
Labels: :package: cli, :package: core, :package: macro, :package: react

Fix import of setupI18n
  docs/tutorials/react.rst
Labels: none

docs: fix import of setupI18n (#699)
  docs/tutorials/react.rst
Labels: none

feat: use type instead of interface (#698)
  .eslintignore
  .eslintrc
  package.json
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/extractors/types.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/types.ts
  packages/cli/src/lingui-extract.ts
  packages/core/src/i18n.ts
  packages/macro/index.d.ts
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.tsx
  yarn.lock
Labels: :package: cli, :package: core, :package: macro, :package: react

docs: update react-int's rich text formatting example (#696)
  docs/misc/react-intl.rst
Labels: none

feat: Explicitly sort directory listings (#694)
  packages/cli/src/api/extract.js
Labels: :package: cli

feat: add formatOptions
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/__snapshots__/lingui.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/formats/types.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/api/types.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/index.d.ts
  packages/conf/package.json
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix: fix typings after unsuccessul merge
  .eslintignore
  package.json
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/types.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

chore: update packages
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/po.test.ts
  packages/conf/package.json
  packages/core/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  scripts/build/rollup.js
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: release v3.0.0-13
  package.json
Labels: none

Plural bug demo
  examples/create-react-app/lingui.config.js
  examples/create-react-app/src/App.js
  examples/create-react-app/src/Test.js
  examples/create-react-app/src/i18n.config.js
  examples/create-react-app/src/locales/cs.json
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/en.json
  examples/create-react-app/src/locales/en.po
  examples/create-react-app/yarn.lock
Labels: none

Update plurals locale to ru
  examples/create-react-app/src/i18n.config.js
Labels: none

Expose React context
  packages/react/src/I18nProvider.tsx
  packages/react/src/index.ts
Labels: :package: react

Create PureI18nProvider instead of exposed context
  packages/react/src/I18nProvider.tsx
Labels: :package: react

Remove useI18n
  packages/react/src/I18nProvider.tsx
Labels: :package: react

Fix exports
  packages/react/src/index.ts
Labels: :package: react

Revert to interface to avoid conflicts
  packages/react/src/I18nProvider.tsx
Labels: :package: react

Remove PureProvider & update ref docs
  docs/ref/react.rst
  packages/react/src/I18nProvider.tsx
Labels: :package: react

Remove export
  packages/react/src/index.ts
Labels: :package: react

Prevent trimming defaults for Trans component in Production env
  packages/babel-plugin-transform-react/src/transformer.js
Labels: none

Fix tests. Replace env-production-remove-default with env-productionon-save-default. And fix jsx-trans-production
  packages/babel-plugin-transform-react/test/fixtures/env-production-remove-defaults/actual.js
  packages/babel-plugin-transform-react/test/fixtures/env-production-remove-defaults/expected.js
  packages/babel-plugin-transform-react/test/fixtures/env-production-save-defaults/actual.js
  packages/babel-plugin-transform-react/test/fixtures/env-production-save-defaults/expected.js
Labels: none

Update catalog.js
  packages/cli/src/api/catalog.ts
Labels: :package: cli

add typescript to dependencies
  examples/next-js/package.json
  examples/next-js/yarn.lock
Labels: none

Webpack 5: Import path Javascript Generator
  packages/loader/src/index.js
Labels: :package: loader

Update index.js
  packages/loader/src/index.js
Labels: :package: loader

feat: patch loader to support webpack 5
  packages/loader/src/index.js
Labels: :package: loader

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
