Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

feat: react native docs (#1506)
  examples/react-native/.gitignore
  examples/react-native/.prettierrc
  examples/react-native/.yarnrc.yml
  examples/react-native/App.tsx
  examples/react-native/README.md
  examples/react-native/app.json
  examples/react-native/assets/adaptive-icon.png
  examples/react-native/assets/favicon.png
  examples/react-native/assets/icon.png
  examples/react-native/assets/splash.png
  examples/react-native/babel.config.js
  examples/react-native/lingui.config.js
  examples/react-native/metro.config.js
  examples/react-native/package.json
  examples/react-native/src/Components.tsx
  examples/react-native/src/MainScreen.tsx
  examples/react-native/src/PaddedButton.tsx
  examples/react-native/src/locales/cs/messages.js
  examples/react-native/src/locales/cs/messages.po
  examples/react-native/src/locales/en/messages.js
  examples/react-native/src/locales/en/messages.po
  examples/react-native/tsconfig.json
  examples/react-native/yarn.lock
  website/docs/misc/resources.md
  website/docs/ref/macro.md
  website/docs/tutorials/react-native.md
Labels: none

docs: i18next comparison
  website/docs/misc/i18next.md
  website/sidebars.ts
Labels: none

docs: i18next comparison (#1637)
  website/docs/misc/i18next.md
  website/sidebars.ts
Labels: none

fix(cli): avoid crashing when adding custom extractors without default exports
  packages/cli/src/api/extractors/index.ts
Labels: :package: cli

docs: various improvements
  website/docs/introduction.md
  website/docs/ref/macro.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
Labels: none

chore: trans improvements
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  website/docs/ref/react.md
Labels: :package: react

docs: various improvements
  packages/format-po-gettext/README.md
  website/docs/ref/core.md
  website/docs/tutorials/react-patterns.md
Labels: none

docs: various improvements #2
  website/docs/ref/catalog-formats.md
  website/docs/ref/macro.md
  website/docs/tools/introduction.md
Labels: none

docs: context docs
  website/docs/ref/macro.md
  website/docs/tutorials/react-patterns.md
Labels: none

fix: just use require to import services - update services to be async and can be awaited
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

fix(message-utils): workaround package.json exports field
  packages/message-utils/compileMessage.js
  packages/message-utils/generateMessageId.js
  packages/message-utils/package.json
Labels: none

fix(message-utils): workaround package.json exports field (#1650)
  packages/message-utils/compileMessage.js
  packages/message-utils/generateMessageId.js
  packages/message-utils/package.json
Labels: none

fix: just use require to import services (#1647)
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

docs: various improvements (#1639)
  packages/format-po-gettext/README.md
  website/docs/introduction.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/core.md
  website/docs/ref/macro.md
  website/docs/tools/introduction.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
Labels: none

chore: trans improvements (#1643)
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  website/docs/ref/react.md
Labels: :package: react

chore: use ^version notation for peerDependencies
  packages/macro/package.json
  yarn.lock
Labels: :package: macro

chore: use ^version notation for peerDependencies (#1652)
  packages/macro/package.json
  yarn.lock
Labels: :package: macro

chore(release): published v4.1.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: md formatting
  website/docs/guides/plurals.md
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/locale-detector.md
  website/docs/ref/message-format.md
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/releases/migration-3.md
  website/docs/releases/migration-4.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.md
Labels: none

chore: fix yarn.lock
  yarn.lock
Labels: none

docs: md formatting (#1653)
  website/docs/guides/plurals.md
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/locale-detector.md
  website/docs/ref/message-format.md
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/releases/migration-3.md
  website/docs/releases/migration-4.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.md
Labels: none

chore: fix yarn.lock (#1655)
  yarn.lock
Labels: none

feature(webpack + vite): Ensure that bundlers respect catalog dependencies
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.ts
  packages/cli/src/api/catalog/getFallbackListForLocale.test.ts
  packages/cli/src/api/catalog/getFallbackListForLocale.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/index.ts
  packages/loader/src/webpackLoader.ts
  packages/vite-plugin/src/index.ts
Labels: :package: cli, :package: loader

feature(webpack + vite): Ensure that bundlers respect catalog dependencies (#1654)
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.ts
  packages/cli/src/api/catalog/getFallbackListForLocale.test.ts
  packages/cli/src/api/catalog/getFallbackListForLocale.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/index.ts
  packages/loader/src/webpackLoader.ts
  packages/vite-plugin/src/index.ts
Labels: :package: cli, :package: loader

chore: extend the npm keywords
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: extend the npm keywords (#1656)
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(message-utils): workaround package.json exports field for older runtimes
  packages/message-utils/compileMessage.js
  packages/message-utils/generateMessageId.js
Labels: none

fix(message-utils): workaround package.json exports field for older runtimes (#1657)
  packages/message-utils/compileMessage.js
  packages/message-utils/generateMessageId.js
Labels: none

ci: add life-cycle version hook to update yarn.lock during a release
  package.json
Labels: none

ci: add life-cycle version hook to update yarn.lock during a release (#1659)
  package.json
Labels: none

chore(release): published v4.1.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

test(verdacio-integration): use yarn berry command to update lingui deps
  .github/verdaccio/config.yaml
  scripts/verdaccio-integration.ts
Labels: none

test(verdacio-integration): fix 1
  .github/workflows/release-test.yml
Labels: none

test(verdacio-integration): fix 2
  .github/workflows/release-test.yml
Labels: none

fix(webpack + vite): fix dependency watching in loader
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/json-format/lingui.config.ts
  packages/loader/test/po-format/.linguirc
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/json-format/lingui.config.ts
  packages/vite-plugin/test/po-format/.linguirc
Labels: :package: cli, :package: loader

refactor(cli): add `pathe` to avoid inconsistence on win/posix
  packages/cli/package.json
  packages/cli/src/api/catalog/getCatalogDependentFiles.ts
  yarn.lock
Labels: :package: cli

fix(webpack + vite): fix dependency watching in loader (#1662)
  packages/cli/package.json
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.ts
  packages/loader/src/webpackLoader.ts
  packages/loader/test/json-format/lingui.config.ts
  packages/loader/test/po-format/.linguirc
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/json-format/lingui.config.ts
  packages/vite-plugin/test/po-format/.linguirc
  yarn.lock
Labels: :package: cli, :package: loader

chore(release): published v4.1.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: fallback to `other` only when undefined
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core

fix: fallback to `other` only when undefined (#1665)
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
Labels: :package: core
