Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(macro): JS macros don't strip non-essential props in production (#1389)
  packages/macro/src/macroJs.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-t.ts
  website/docs/ref/macro.md
Labels: :package: macro

chore: define package files for vite-plugin
  packages/vite-plugin/package.json
Labels: none

chore: define package files for vite-plugin (#1390)
  packages/vite-plugin/package.json
Labels: none

chore(release): published v3.17.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(build): undeclared dependencies
  packages/cli/package.json
  packages/macro/package.json
Labels: :package: cli, :package: macro

chore: update typescript
  package.json
  packages/cli/package.json
  test/typescript-nodenext-resolution/package.json
  yarn.lock
Labels: :package: cli

chore: set "noUnusedLocals": true
  packages/cli/src/api/formats/po-gettext.ts
  packages/core/src/i18n.test.ts
  packages/detect-locale/src/utils/query-string.ts
  scripts/test.ts
  tsconfig.json
Labels: :package: cli, :package: core

chore: set "noUnusedLocals": true (#1394)
  packages/cli/src/api/formats/po-gettext.ts
  packages/core/src/i18n.test.ts
  packages/detect-locale/src/utils/query-string.ts
  scripts/test.ts
  tsconfig.json
Labels: :package: cli, :package: core

fix(build): undeclared dependencies (#1391)
  packages/cli/package.json
  packages/macro/package.json
Labels: :package: cli, :package: macro

chore: update typescript (#1395)
  package.json
  packages/cli/package.json
  test/typescript-nodenext-resolution/package.json
  yarn.lock
Labels: :package: cli

chore: update babel
  examples/js/package.json
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/test/fixtures/js-t-continuation-character.expected.js
  packages/macro/test/fixtures/js-t-var/js-t-var.expected.js
  packages/macro/test/js-arg.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
  packages/macro/test/js-selectOrdinal.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-trans.ts
  packages/react/package.json
  scripts/build/babel.config.js
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: update babel (#1396)
  examples/js/package.json
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/test/fixtures/js-t-continuation-character.expected.js
  packages/macro/test/fixtures/js-t-var/js-t-var.expected.js
  packages/macro/test/js-arg.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
  packages/macro/test/js-selectOrdinal.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-trans.ts
  packages/react/package.json
  scripts/build/babel.config.js
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: setup husky + lint staged + prettier
  .eslintignore
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  package.json
  yarn.lock
Labels: none

chore: remove eslint-plugin-import as it useless in typescript projects
  .eslintrc
  package.json
  packages/cli/index.js
  packages/macro/test/types.ts
  yarn.lock
Labels: :package: cli, :package: macro

docs: add info about SWC Plugin
  website/docs/introduction.md
  website/docs/ref/macro.md
  website/docs/ref/swc-plugin.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.md
  website/sidebars.ts
Labels: none

docs: add info about SWC Plugin (#1392)
  website/docs/introduction.md
  website/docs/ref/macro.md
  website/docs/ref/swc-plugin.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.md
  website/sidebars.ts
Labels: none

chore: setup husky + lint staged + prettier (#1397)
  .eslintignore
  .eslintrc
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  package.json
  packages/cli/index.js
  packages/macro/test/types.ts
  yarn.lock
Labels: :package: cli, :package: macro

fix: Named components not working in Trans in @lingui/react
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
  website/docs/misc/react-intl.md
  website/docs/ref/react.md
Labels: :package: react

fix(conf): lazy load cosmiconfig's TypeScriptLoader
  packages/conf/package.json
  packages/conf/src/index.ts
Labels: :package: conf

Add tests for nested named components
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
Labels: :package: react

fix: Named components not working in Trans in @lingui/react (#1402)
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
  website/docs/misc/react-intl.md
  website/docs/ref/react.md
Labels: :package: react

chore(tests): collect coverage from all files, not only included in tests
  jest.config.js
Labels: none

fix(conf): lazy load cosmiconfig's TypeScriptLoader (#1403)
  packages/conf/package.json
  packages/conf/src/index.ts
Labels: :package: conf

chore(tests): collect coverage from all files, not only included in tests (#1406)
  jest.config.js
Labels: none

fix(compile): remove verbose output when using flow with template
  package.json
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
  packages/jest-mocks/index.ts
  yarn.lock
Labels: :package: cli, :package: conf

fix(compile): remove verbose output when using flow with template (#1388)
  package.json
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
  packages/jest-mocks/index.ts
  yarn.lock
Labels: :package: cli, :package: conf

ci: update Codecov configuration
  .github/codecov.yml
Labels: none

ci: update Codecov configuration (#1408)
  .github/codecov.yml
Labels: none

chore(release): published v3.17.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Fix param type for `missing` in `setupI18nProps`
  packages/core/src/i18n.ts
Labels: :package: core

update doc to use `locale` as well
  website/docs/ref/core.md
Labels: none

fix `lingui --version`
  packages/cli/src/lingui.ts
Labels: :package: cli

fix(cli): fix version command
  packages/cli/src/lingui.ts
Labels: :package: cli

fix(cli): fix version command (#1413)
  packages/cli/src/lingui.ts
Labels: :package: cli

update doc to use `locale` as well
  website/docs/ref/core.md
Labels: none

update one more place
  packages/core/src/i18n.ts
Labels: :package: core

Fix param type for `missing` in `setupI18nProps`
  packages/core/src/i18n.ts
Labels: :package: core

extract MissingHandler type to share across
  packages/core/src/i18n.ts
Labels: :package: core

ci: add 'verbose' option to 'codecov/codecov-action'
  .github/workflows/main-suite.yml
Labels: none

ci: add 'verbose' option to 'codecov/codecov-action' (#1418)
  .github/workflows/main-suite.yml
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
