Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

po-gettext: Update docs to reflect gettext's limitation regarding fractional numbers
  docs/ref/catalog-formats.rst
Labels: none

po-gettext: Fix incompatibility issue with node 10
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

fix: accept pseudolocalization in SelectOrdinal (#903)
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/pseudoLocalize.ts
Labels: :package: cli

po-gettext: Attempt fix text on windows
  packages/cli/src/api/formats/po-gettext.test.ts
Labels: :package: cli

feat: Implement gettext plurals for PO files (#677)
  docs/ref/catalog-formats.rst
  docs/ref/conf.rst
  packages/cli/package.json
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages_plural.po
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/conf/index.d.ts
  yarn.lock
Labels: :package: cli, :package: conf

chore: log promise error ci
  scripts/verdaccio-integration.js
Labels: none

chore: fix
  scripts/verdaccio-integration.js
Labels: none

feat: config accepts compilerBabelOptions
  docs/ref/conf.rst
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

chore: do default minimal jesc
  docs/ref/conf.rst
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

chore: fix lint
  packages/conf/src/index.ts
Labels: :package: conf

chore: updated snapshot
  packages/conf/src/__snapshots__/index.test.ts.snap
Labels: :package: conf

chore: improved ci integration
  examples/create-react-app/package.json
  packages/conf/src/index.ts
  scripts/verdaccio-integration.js
Labels: :package: conf

chore: updated snapshot
  packages/conf/src/__snapshots__/index.test.ts.snap
Labels: :package: conf

feat: config accepts compilerBabelOptions (#906)
  docs/ref/conf.rst
  examples/create-react-app/package.json
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
  scripts/verdaccio-integration.js
Labels: :package: cli, :package: conf

chore(release): published v3.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: prevent adding undefined msgid to messages
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
Labels: :package: plugin-extract

fix: prevent adding undefined msgid to messages (#915)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
Labels: :package: plugin-extract

added return types to functions returned by interpolate and context in core/cjs/context.ts
  packages/core/src/context.ts
Labels: :package: core

docs(configuration): fix formatting
  docs/ref/conf.rst
Labels: none

docs(configuration): fix formatting (#925)
  docs/ref/conf.rst
Labels: none

fix(detect-locale): esm import not published
  packages/detect-locale/npm/esm/index.js
  packages/detect-locale/npm/esm/package.json
Labels: none

Update typo in common i18n patterns doc
  docs/ref/macro.rst
Labels: none

docs: fix typo in macro doc (#929)
  docs/ref/macro.rst
Labels: none

Update Core Javascript docs for setupI18n
  docs/ref/core.rst
Labels: none

docs: remove reference of catalogs to setupI18n
  docs/ref/core.rst
Labels: none

docs: update core javascript docs for setupI18n (#931)
  docs/ref/core.rst
Labels: none

fix(detect-locale): ESM import not published (#926)
  packages/detect-locale/npm/esm/index.js
  packages/detect-locale/npm/esm/package.json
Labels: none

Use LINGUI_CONFIG env as fallback for extract
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

fix: Use LINGUI_CONFIG env as fallback for extract (#932)
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

fix: added return type to i18n._ (#922)
  packages/core/src/context.ts
Labels: :package: core

fix: compilerBabelOptions jest-validate
  packages/cli/src/api/compile.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

ci: add size-limit action
  .github/workflows/size-limit.yml
  package.json
  yarn.lock
Labels: none

chore: size testing
  .github/workflows/size-limit.yml
  package.json
Labels: none

chore: act?
  .github/workflows/size-limit.yml
Labels: none

chore: fix
  .github/workflows/size-limit.yml
Labels: none

chore: f
  .github/workflows/size-limit.yml
Labels: none

fix: version
  .github/workflows/size-limit.yml
Labels: none

chore: changed v
  .github/workflows/size-limit.yml
Labels: none

Support for TS config
  packages/conf/package.json
  packages/conf/src/index.ts
  yarn.lock
Labels: :package: conf

feat: Support lingui config in multiple formats (#941)
  packages/conf/package.json
  packages/conf/src/index.ts
  yarn.lock
Labels: :package: conf

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
