Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v6.6.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.6.0 [skip ci] (#2626)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix: remove lingui compile --fail-on-missing
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
  website/docs/ref/cli.md
Labels: :package: cli

bump pseudolocale
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

update package
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore: update the pseudolocale package (#2629)
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

docs: add Inkeep to users list
  website/src/components/users.tsx
  website/static/img/users/inkeep.png
Labels: none

docs: add Inkeep to users list (#2630)
  website/src/components/users.tsx
  website/static/img/users/inkeep.png
Labels: none

more test with compile step
  packages/core/src/runtime-macro.test.ts
Labels: :package: core

more test with compile step
  packages/core/src/runtime-macro.test.ts
Labels: :package: core

fix(babel-plugin-lingui-macro): restore `@babel/types` as a runtime dependency
  packages/babel-plugin-lingui-macro/package.json
  yarn.lock
Labels: none

chore: refine issue templates
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_documentation.yml
Labels: none

improvements
  .github/ISSUE_TEMPLATE/01_bug_report.yml
Labels: none

chore: refine issue templates (#2635)
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_documentation.yml
Labels: none

feat: add severity handling for missing translations and sync checks
  packages/cli/src/api/catalog/translations.ts
  packages/cli/src/api/check/index.ts
  packages/cli/src/api/check/sync.ts
  packages/cli/src/api/findings.ts
Labels: :package: cli

fix: handle breaking changes
  packages/cli/src/api/catalog/getTranslationsForCatalog.test.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/catalog/translations.ts
  packages/cli/test/extract-partial-consistency/expected/en.po
  packages/cli/test/extractor-experimental/expected-rolldown/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

refactor: simplify
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/catalog/translations.ts
  packages/cli/src/api/check/index.ts
  packages/cli/src/api/check/missing.ts
  packages/cli/src/api/check/sync.ts
  packages/cli/src/api/check/types.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/messages.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-check.ts
  packages/loader/src/webpackLoader.ts
  packages/vite-plugin/src/index.ts
Labels: :package: cli, :package: loader

refactor: remove severity from missing translation findings and sync checks
  packages/cli/src/api/catalog/translations.ts
  packages/cli/src/api/check/sync.ts
  packages/cli/src/api/findings.ts
Labels: :package: cli

fix: remove unused project paths from TypeScript resolver configuration
  eslint.config.js
Labels: none

Export types from @lingui/conf in index.ts
  packages/cli/src/index.ts
Labels: :package: cli

feat(cli): move the extractor toolchain to Babel 8
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  packages/solid/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/linguiTransformerPreset.ts
  yarn.lock
Labels: :package: cli, :package: plugin-extract

docs(ai-tools): agent skills section update
  website/docs/ai-tools.md
Labels: none

docs(ai-tools): agent skills section update (#2647)
  website/docs/ai-tools.md
Labels: none

docs: clarify jsx placeholder defaults
  website/docs/ref/conf.md
Labels: none

docs(conf): clarify JSX placeholder default collisions
  website/docs/ref/conf.md
Labels: none

docs(showroom): add Authier
  website/docs/misc/showroom.md
Labels: none

docs(showroom): add Authier (#2653)
  website/docs/misc/showroom.md
Labels: none

fix(core): prevent prototype pollution via __proto__ locale key in i18n.load
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

fix(core): prevent prototype pollution via __proto__ locale key in i18n.load (#2658)
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

docs: curate homepage users strip and showroom
  website/docs/misc/showroom.md
  website/src/components/users.tsx
  website/static/img/users/ansible.png
  website/static/img/users/fider.png
  website/static/img/users/flood.svg
  website/static/img/users/fluxer.png
  website/static/img/users/gamma.png
  website/static/img/users/gdevelop.png
  website/static/img/users/graysky.png
  website/static/img/users/metamask.png
  website/static/img/users/notesnook.png
  website/static/img/users/reactive-resume.png
  website/static/img/users/remirror.png
  website/static/img/users/superset.png
  website/static/img/users/zipkin.png
Labels: none

docs: curate homepage users strip and showroom (#2659)
  website/docs/misc/showroom.md
  website/src/components/users.tsx
  website/static/img/users/ansible.png
  website/static/img/users/fider.png
  website/static/img/users/flood.svg
  website/static/img/users/fluxer.png
  website/static/img/users/gamma.png
  website/static/img/users/gdevelop.png
  website/static/img/users/graysky.png
  website/static/img/users/metamask.png
  website/static/img/users/notesnook.png
  website/static/img/users/reactive-resume.png
  website/static/img/users/remirror.png
  website/static/img/users/superset.png
  website/static/img/users/zipkin.png
Labels: none

docs(readme): lead with what Lingui is and why source text stays in the code
  README.md
Labels: none

test(cli): add regression test for catalog wipe when experimental extractor crashes
  packages/cli/src/api/catalog.test.ts
  packages/cli/test/extractor-experimental-crash/existing/index.page.en.po
  packages/cli/test/extractor-experimental-crash/existing/index.page.pl.po
  packages/cli/test/extractor-experimental-crash/expected/index.page.en.po
  packages/cli/test/extractor-experimental-crash/expected/index.page.pl.po
  packages/cli/test/extractor-experimental-crash/fixtures/pages/index.page.ts
  packages/cli/test/extractor-experimental-crash/package.json
  packages/cli/test/index.test.ts
Labels: :package: cli

fix(cli): don't wipe existing catalogs when the experimental extractor crashes
  packages/cli/src/lingui-extract-experimental.ts
Labels: :package: cli

feat(core): add default global variables support to i18n instance
  packages/core/__typetests__/index.tst.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/react/src/I18nProvider.test.tsx
  packages/solid/src/I18nProvider.test.tsx
Labels: :package: core, :package: react

docs: align homepage copy with the README and add a FAQ with structured data
  README.md
  website/src/components/faq.tsx
  website/src/components/features.tsx
  website/src/components/header.tsx
  website/src/pages/index.tsx
Labels: none

docs: open the introduction with the definition and a design decisions section
  website/docs/introduction.md
  website/docusaurus.config.ts
Labels: none

docs: add at-a-glance tables to the comparison pages and list them in llms.txt
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docusaurus.config.ts
Labels: none

docs: title the Next.js tutorial for search and fill the bare front matters
  website/docs/guides/message-format.md
  website/docs/guides/monorepo.md
  website/docs/guides/optimizing-bundle-size.md
  website/docs/guides/testing.md
  website/docs/installation.mdx
  website/docs/misc/resources.md
  website/docs/misc/showroom.md
  website/docs/ref/extractor-vue.md
  website/docs/ref/loader.md
  website/docs/releases/migration-3.md
  website/docs/releases/migration-4.md
  website/docs/releases/migration-5.md
  website/docs/releases/migration-6.md
  website/docs/tools/crowdin.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
Labels: none

feat(conf): support pseudolocale extend character
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/conf/__typetests__/index.tst.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
