Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: bump native-tools to 0.1.6 (#2713)
  packages/cli/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli

perf(cli): write experimental extractor catalogs in worker pool (#2715)
  packages/cli/src/api/stats.ts
  packages/cli/src/api/typedPool.ts
  packages/cli/src/api/workerPools.ts
  packages/cli/src/extract-experimental/workers/extractWorker.ts
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.jiti.js
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.prod.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

chore(release): published v6.9.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.9.1 [skip ci] (#2716)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

docs(po-gettext): document Plural inside Trans limitation and the eslint rule
  website/docs/ref/catalog-formats.md
Labels: none

docs(po-gettext): document Plural inside Trans limitation and the eslint rule (#2717)
  website/docs/ref/catalog-formats.md
Labels: none

feat(core): add default global variables support to i18n instance
  packages/core/__typetests__/index.tst.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/react/src/I18nProvider.test.tsx
  packages/solid/src/I18nProvider.test.tsx
  website/docs/ref/core.md
Labels: :package: core, :package: react

docs(macro): drop the format prop Plural and SelectOrdinal do not have
  website/docs/ref/macro.mdx
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
