Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(docs): update size references for React components in README and introduction
  README.md
  package.json
  website/docs/introduction.md
Labels: none

fix: replace RenderFragment with RenderChildren in TransNoContext component
  packages/react/src/TransNoContext.tsx
Labels: :package: react

add tests for translation io
  packages/cli/src/services/translationIO.ts
  packages/cli/test/translationIO/fixtures/existing/es.po
  packages/cli/test/translationIO/fixtures/existing/fr.po
  packages/cli/test/translationIO/fixtures/source/en.po
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

refactor http api communication and test
  jest.config.js
  packages/cli/package.json
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/api-client.ts
  packages/cli/test/translationIO/translationIO.test.ts
  yarn.lock
Labels: :package: cli

fixes
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

add network errors tests
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

fixes
  packages/cli/src/services/translationIO.ts
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

use lingui formatter in translation io integration
  packages/cli/src/services/translationIO.ts
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

extract segment convertors into separate file
  packages/cli/src/services/fixtures/existing/es.po
  packages/cli/src/services/fixtures/existing/fr.po
  packages/cli/src/services/fixtures/source/en.po
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/segment-converters.test.ts
  packages/cli/src/services/translationIO/segment-converters.ts
Labels: :package: cli

use catalogs for path discovery instead of custom implementation
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/segment-converters.test.ts
  packages/cli/src/services/translationIO/segment-converters.ts
  packages/cli/src/services/translationIO/translationio-api.ts
Labels: :package: cli

enable sync many catalogs
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

add tests for multiple catalogs
  packages/cli/src/services/translationIO.test.ts
Labels: :package: cli

polish tests
  packages/cli/src/services/translationIO.test.ts
Labels: :package: cli

support 400 return status
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO/translationio-api.ts
Labels: :package: cli

improve po formatters
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: none

improve po formatters
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: none

improve po formatters
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
Labels: :package: cli

po formatters sanity
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

use extraction results in the translation io integration
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/segment-converters.test.ts
  packages/cli/src/services/translationIO/segment-converters.ts
Labels: :package: cli

print source message as translation for explicit id
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

po formatters sanity
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

feat(po-format): print source message as translation for explicit id (#2390)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

enable sync many catalogs
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

fixes
  packages/cli/src/services/translationIO.ts
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

add tests for translation io
  packages/cli/src/services/translationIO.ts
  packages/cli/test/translationIO/fixtures/existing/es.po
  packages/cli/test/translationIO/fixtures/existing/fr.po
  packages/cli/test/translationIO/fixtures/source/en.po
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

use catalogs for path discovery instead of custom implementation
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/segment-converters.test.ts
  packages/cli/src/services/translationIO/segment-converters.ts
  packages/cli/src/services/translationIO/translationio-api.ts
Labels: :package: cli

add tests for multiple catalogs
  packages/cli/src/services/translationIO.test.ts
Labels: :package: cli

polish tests
  packages/cli/src/services/translationIO.test.ts
Labels: :package: cli

use lingui formatter in translation io integration
  packages/cli/src/services/translationIO.ts
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

add network errors tests
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

extract segment convertors into separate file
  packages/cli/src/services/fixtures/existing/es.po
  packages/cli/src/services/fixtures/existing/fr.po
  packages/cli/src/services/fixtures/source/en.po
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/segment-converters.test.ts
  packages/cli/src/services/translationIO/segment-converters.ts
Labels: :package: cli

use extraction results in the translation io integration
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/segment-converters.test.ts
  packages/cli/src/services/translationIO/segment-converters.ts
Labels: :package: cli

support 400 return status
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO/translationio-api.ts
Labels: :package: cli

refactor http api communication and test
  jest.config.js
  packages/cli/package.json
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/api-client.ts
  packages/cli/test/translationIO/translationIO.test.ts
  yarn.lock
Labels: :package: cli

fixes
  packages/cli/test/translationIO/translationIO.test.ts
Labels: :package: cli

feat: allow passing custom orderBy function
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

fix(po-gettext): revert readable ICU comment
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.ts
  website/docs/ref/catalog-formats.md
Labels: none

fix(po-gettext): revert readable ICU comment (#2395)
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.ts
  website/docs/ref/catalog-formats.md
Labels: none

update baseline-browser-mapping and suppress warnings
  packages/babel-plugin-extract-messages/vitest.config.ts
  yarn.lock
Labels: :package: plugin-extract

remove outdated test
  packages/core/macro/index.d.cts
  test/typescript-nodenext-resolution/index.ts
  test/typescript-nodenext-resolution/package.json
  test/typescript-nodenext-resolution/tsconfig.json
Labels: :package: core

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
