Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

[@lingui/react] withI18n HOC now omits passed components i18n prop
  packages/react/src/I18nProvider.tsx
Labels: :package: react

chore: updated git-credentials func
  .github/workflows/next-sync.yml
  .github/workflows/release.yml
Labels: none

fix: export TransRenderProps from @lingui/react (#877)
  packages/react/src/index.ts
Labels: :package: react

fix: omit i18n prop in withI18n typescript interface (#879)
  packages/react/src/I18nProvider.tsx
Labels: :package: react

chore(release): published v3.2.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: fix release-workflow-checkout
  .github/workflows/release-test.yml
Labels: none

chore: updated examples
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  examples/js/package.json
  examples/js/yarn.lock
  examples/next-js/package.json
  examples/next-js/yarn.lock
Labels: none

feat: extract command accepts filter by files
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

fix: help command usage
  packages/cli/src/api/help.ts
Labels: :package: cli

chore: avoid using global
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore: add docs
  docs/ref/cli.rst
Labels: none

chore: changed release-test to run on main
  .github/workflows/release-test.yml
Labels: none

chore: updated snapshot
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
Labels: :package: cli

Update packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.test.ts
Labels: :package: cli

feat: extract messages from specific files (#881)
  .github/workflows/release-test.yml
  docs/ref/cli.rst
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  examples/js/package.json
  examples/js/yarn.lock
  examples/next-js/package.json
  examples/next-js/yarn.lock
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/help.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

fix: macro underscore type
  packages/macro/index.d.ts
Labels: :package: macro

fix: macro underscore type (#884)
  packages/macro/index.d.ts
Labels: :package: macro

fix: plural pseudolocalization
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/pseudoLocalize.ts
Labels: :package: cli

chore: CONTRIBUTING.md updated #886
  CONTRIBUTING.md
Labels: none

fix: formatters exceptions throw error
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

fix: select props typescript
  packages/macro/index.d.ts
Labels: :package: macro

Fix typos
  packages/macro/index.d.ts
Labels: :package: macro

fix: select prop types (#890)
  packages/macro/index.d.ts
Labels: :package: macro

fix: plural pseudolocalization with offset (#887)
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/pseudoLocalize.ts
Labels: :package: cli

fix: formatters exceptions throw error (#889)
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

docs: add information how to restore default registry
  CONTRIBUTING.md
Labels: none

chore: add information how to restore default registry (#891)
  CONTRIBUTING.md
Labels: none

Update deprecated srcPathDirs in Setup React docs
  docs/tutorials/setup-react.rst
Labels: none

docs: update deprecated srcPathDirs in Setup React docs (#893)
  docs/tutorials/setup-react.rst
Labels: none

feat: add support for runtimeConfigModule w/ Trans
  docs/ref/conf.rst
  packages/conf/src/index.ts
  packages/macro/src/index.ts
Labels: :package: conf, :package: macro

Update index.ts
  packages/macro/src/index.ts
Labels: :package: macro

docs: fix typos
  docs/guides/dynamic-loading-catalogs.rst
Labels: none

docs: fix dynamic loading catalogs install script (#896)
  docs/guides/dynamic-loading-catalogs.rst
Labels: none

fix: scaped literals double backslash
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

feat: add support for runtimeConfigModule w/ Trans (#895)
  docs/ref/conf.rst
  packages/conf/src/index.ts
  packages/macro/src/index.ts
Labels: :package: conf, :package: macro

fix: scaped literals double backslash formatting (#898)
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

po-gettext: Store context information in extracted comments section
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages_plural.po
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

po-gettext: Align API with regular po module
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

fix: pseudolocalize SelectOrdinal
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/pseudoLocalize.ts
Labels: :package: cli

po-gettext: Ignore CLDR plural cases that are not supported by gettext
  packages/cli/package.json
  packages/cli/src/api/formats/fixtures/messages_plural.po
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  yarn.lock
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
