Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

[766] compile should return true correctly if everything was fine
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix: compile returns correct status code (#767)
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

[409] updated docs about import/no-extraneous-dependencies
  docs/tutorials/setup-cra.rst
  docs/tutorials/setup-react.rst
Labels: none

docs: add macros as non-dev deps (#768)
  docs/tutorials/setup-cra.rst
  docs/tutorials/setup-react.rst
Labels: none

chore: refactored docs to fix some issues
  docs/guides/dynamic-loading-catalogs.rst
  docs/guides/excluding-build-files.rst
  docs/guides/monorepo.rst
  docs/guides/typescript.rst
  docs/index.rst
  docs/ref/core.rst
  docs/ref/macro.rst
  docs/ref/react.rst
  docs/tutorials/react-native.rst
Labels: none

Allow number properties in plurals macro
  packages/macro/index.d.ts
Labels: :package: macro

fix: allow number properties in plurals macro (#771)
  packages/macro/index.d.ts
Labels: :package: macro

Make clear that v3 migration pre-release
  docs/releases/migration-3.rst
Labels: none

docs: make clear that v3 migration pre-release (#772)
  docs/releases/migration-3.rst
Labels: none

docs: remove v3 migration docs as it's in pre-release
  docs/index.rst
  docs/releases/migration-3.rst
Labels: none

feat: added minimal create-react-app setup
  docs/tutorials/setup-cra.rst
  examples/create-react-app/.env
  examples/create-react-app/README.md
  examples/create-react-app/lingui.config.js
  examples/create-react-app/package.json
  examples/create-react-app/public/favicon.ico
  examples/create-react-app/public/index.html
  examples/create-react-app/public/manifest.json
  examples/create-react-app/src/App.css
  examples/create-react-app/src/App.js
  examples/create-react-app/src/App.test.js
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/App.tsx
  examples/create-react-app/src/LocaleSwitcher.css
  examples/create-react-app/src/LocaleSwitcher.js
  examples/create-react-app/src/i18n.config.js
  examples/create-react-app/src/i18n.ts
  examples/create-react-app/src/index.css
  examples/create-react-app/src/index.js
  examples/create-react-app/src/index.tsx
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/cs/messages.js
  examples/create-react-app/src/locales/cs/messages.po
  examples/create-react-app/src/locales/en.po
  examples/create-react-app/src/locales/en/messages.js
  examples/create-react-app/src/locales/en/messages.po
  examples/create-react-app/src/react-app-env.d.ts
  examples/create-react-app/src/serviceWorker.ts
  examples/create-react-app/src/setupTests.ts
  examples/create-react-app/tsconfig.json
  examples/create-react-app/yarn.lock
  packages/core/src/i18n.ts
Labels: :package: core

chore: removed strange import
  examples/create-react-app/src/App.tsx
Labels: none

feat: dynamic load catalogs
  examples/create-react-app/src/App.tsx
  examples/create-react-app/src/i18n.ts
  examples/create-react-app/src/index.tsx
Labels: none

fix: missing prop removed
  docs/ref/react.rst
Labels: none

fix: dynamic loading of catalogs
  docs/guides/dynamic-loading-catalogs.rst
Labels: none

fix: webpack loader docs
  docs/ref/loader.rst
Labels: none

fix: some misspelling
  docs/releases/migration-3.rst
Labels: none

fix: dont use setupI18n()
  examples/create-react-app/src/App.tsx
  examples/create-react-app/src/i18n.ts
  examples/create-react-app/src/index.tsx
Labels: none

fix: add to docs how to use i18n from core
  docs/guides/dynamic-loading-catalogs.rst
  docs/ref/react.rst
Labels: none

fix: beutify table
  docs/tutorials/react.rst
Labels: none

revert: i18n.ts change about optional params
  packages/core/src/i18n.ts
Labels: :package: core

fix: required options to date,number macro
  packages/core/src/i18n.ts
Labels: :package: core

fix: make options of date number macro optional (#773)
  packages/core/src/i18n.ts
Labels: :package: core

chore: release v3.0.0-21
  package.json
Labels: none

hotfix: i18n props and exported component
  packages/react/src/I18nProvider.tsx
  packages/react/src/index.ts
Labels: :package: react

hotfix: i18n props and exported component (#775)
  packages/react/src/I18nProvider.tsx
  packages/react/src/index.ts
Labels: :package: react

docs: update macro reference to latest version
  docs/ref/conf.rst
  docs/ref/macro.rst
Labels: none

docs: fixed examples in ref/macro
  docs/ref/macro.rst
Labels: none

* docs: update macro reference to latest version (#778)
  docs/ref/conf.rst
  docs/ref/macro.rst
Labels: none

docs: fix malformated table
  docs/ref/macro.rst
Labels: none

chore: cleanup setupI18n constructor
  packages/core/src/i18n.ts
Labels: :package: core

docs: move installation section to the top
  docs/ref/macro.rst
Labels: none

docs: update lingui/core docs
  docs/ref/core.rst
Labels: none

docs: update @lingui/react
  docs/ref/react.rst
Labels: none

docs: remove unsupported icu formats
  docs/ref/message-format.rst
Labels: none

docs: update loader docs
  docs/ref/loader.rst
Labels: none

docs: fix the import path of i18n instance
  docs/ref/core.rst
  docs/ref/macro.rst
  docs/ref/react.rst
Labels: none

docs: remove unused rfcs
  docs/index.rst
  docs/rfc/001_macros_message_descriptors.rst
  docs/rfc/002_catalogs.rst
  docs/rfc/003_per_locale_bundles.rst
  docs/rfc/toc.rst
Labels: none

fix: mockConfig autocomplete lingui config
  packages/jest-mocks/index.ts
Labels: none

fix: print stats for multiple catalogs
  packages/cli/src/api/__snapshots__/stats.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
