Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

package.json
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

don't read all locales when compile one - this imrove performance
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
Labels: :package: cli

avoid string concatenation in message id generation
  packages/message-utils/src/generateMessageId.ts
Labels: none

chore(release): published v5.5.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.5.0 [skip ci] (#2325)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

ci: trusted publishing
  .github/workflows/version-bump.yml
Labels: none

ci: trusted publishing (#2327)
  .github/workflows/version-bump.yml
Labels: none

ci: explicitly install NPM CLI in the release workflow
  .github/workflows/release.yml
Labels: none

ci: explicitly install NPM CLI in the release workflow (#2328)
  .github/workflows/release.yml
Labels: none

docs: Add Gamma to showroom.md
  website/docs/misc/showroom.md
Labels: none

docs: Add Gamma to showroom.md (#2329)
  website/docs/misc/showroom.md
Labels: none

refactor: avoid unnecessary object spreads in Trans
  packages/react/src/TransNoContext.tsx
  packages/react/src/format.ts
Labels: :package: react

refactor: enable strictNullChecks in conf package
  packages/cli/src/api/catalog/getFallbackListForLocale.ts
  packages/conf/src/getConfig.ts
  packages/conf/src/migrations/setCldrParentLocales.ts
  packages/conf/src/types.ts
  packages/conf/src/utils/replaceRootDir.ts
  packages/conf/tsconfig.json
Labels: :package: cli, :package: conf

refactor: avoid unnecessary object spreads in Trans (#2333)
  packages/react/src/TransNoContext.tsx
  packages/react/src/format.ts
Labels: :package: react

refactor: enable strictNullChecks in conf package (#2334)
  packages/cli/src/api/catalog/getFallbackListForLocale.ts
  packages/conf/src/getConfig.ts
  packages/conf/src/migrations/setCldrParentLocales.ts
  packages/conf/src/types.ts
  packages/conf/src/utils/replaceRootDir.ts
  packages/conf/tsconfig.json
Labels: :package: cli, :package: conf

feat: allow custom props in Trans macro
  packages/react/src/TransNoContext.tsx
Labels: :package: react

types
  packages/react/macro/index.d.ts
  packages/react/src/TransNoContext.tsx
Labels: :package: react

fix: orderByMessage should also order by context
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: orderByMessage should also order by context (#2337)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

build(deps-dev): bump Lerna to v9
  package.json
  yarn.lock
Labels: none

build(deps-dev): bump Lerna to v9 (#2339)
  package.json
  yarn.lock
Labels: none

chore(release): published v5.5.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.5.1 [skip ci] (#2340)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

ci: fix yarn global deprecation in release workflow
  .github/workflows/release.yml
Labels: none

ci: fix yarn global deprecation in release workflow (#2341)
  .github/workflows/release.yml
Labels: none

init example
  examples/react-webpack-gettext/.babelrc
  examples/react-webpack-gettext/.gitignore
  examples/react-webpack-gettext/README.md
  examples/react-webpack-gettext/lingui.config.js
  examples/react-webpack-gettext/package.json
  examples/react-webpack-gettext/public/index.html
  examples/react-webpack-gettext/src/App.css
  examples/react-webpack-gettext/src/App.tsx
  examples/react-webpack-gettext/src/i18n.ts
  examples/react-webpack-gettext/src/index.tsx
  examples/react-webpack-gettext/tsconfig.json
  examples/react-webpack-gettext/webpack.config.js
  examples/react-webpack-gettext/yarn.lock
Labels: none

using compile window
  examples/react-webpack-gettext/lingui.config.js
  examples/react-webpack-gettext/package.json
  examples/react-webpack-gettext/src/i18n.ts
  examples/react-webpack-gettext/src/locales/cs.js
  examples/react-webpack-gettext/src/locales/cs.po
  examples/react-webpack-gettext/src/locales/en.js
  examples/react-webpack-gettext/src/locales/en.po
Labels: none

actually json for more general example
  examples/react-webpack-gettext/lingui.config.js
  examples/react-webpack-gettext/package.json
  examples/react-webpack-gettext/public/index.html
  examples/react-webpack-gettext/src/i18n.ts
  examples/react-webpack-gettext/src/locales/cs.json
  examples/react-webpack-gettext/src/locales/cs.po
  examples/react-webpack-gettext/src/locales/en.json
  examples/react-webpack-gettext/webpack.config.js
Labels: none

like exactly the same
  examples/react-webpack-gettext/src/i18n.ts
Labels: none

some cleanup
  examples/react-webpack-gettext/README.md
  examples/react-webpack-gettext/src/locales/cs.js
  examples/react-webpack-gettext/src/locales/en.js
Labels: none

fix copy paste
  examples/react-webpack-gettext/package.json
  examples/react-webpack-gettext/src/locales/cs.json
  examples/react-webpack-gettext/src/locales/cs.po
Labels: none

add tests
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

mergeDuplicatePluralEntries
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

snapshot tests too
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

fix
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

prettier
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

lint
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

dont need options anymore
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

some more tests, better merging, expand wip
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

fix references
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.ts
Labels: none
