Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: refine generated IDs documentation (#2565)
  website/docs/guides/explicit-vs-generated-ids.md
Labels: none

chore: update vanilla js example to lingui v6
  examples/js/package.json
Labels: none

fix(po-format): set default `foldLength` to 0
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  website/docs/ref/catalog-formats.md
Labels: none

Apply suggestions from code review
  packages/cli/src/api/catalog.ts
Labels: :package: cli

refactor
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extractors/index.ts
Labels: :package: cli

fix(po-format): set default `foldLength` to 0 (#2567)
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  website/docs/ref/catalog-formats.md
Labels: none

fix code review comments
  benchmarks/CLAUDE.md
  benchmarks/src/utils/deterministic-random.ts
  benchmarks/src/utils/silence.ts
Labels: none

add more tests
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/collectWithBatchExtractor.test.ts
  packages/conf/__typetests__/index.tst.ts
Labels: :package: cli, :package: conf

feat(cli): add support for `BatchExtractor` (#2562)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/collectWithBatchExtractor.test.ts
  packages/cli/src/api/catalog/extractFromFiles.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/fixtures/collect/componentF.ts
  packages/cli/src/api/fixtures/collect/componentG.vue
  packages/conf/__typetests__/index.tst.ts
  packages/conf/src/types.ts
  packages/extractor-vue/src/vue-extractor.ts
Labels: :package: cli, :package: conf

chore(release): published v6.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.3.0 [skip ci] (#2570)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

feat(macro): set `/** i18n */` extraction mark instead of `/* i18n */`
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-defineMessage.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-placeholder.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/fixtures/js-t-continuation-character.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/js-t-var/js-t-var.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-plural-select-nested.expected.js
Labels: :package: plugin-extract

docs and rest usages
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-extract-messages/test/fixtures/js-message-descriptor.js
  packages/cli/src/api/fixtures/collect-invalid/valid.js
  packages/cli/src/api/fixtures/collect/$componentE/index.js
  packages/cli/src/api/fixtures/collect/(componentC)/index.js
  packages/cli/src/api/fixtures/collect/[componentD]/index.js
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/collect/componentA/index.js
  packages/cli/src/api/fixtures/collect/componentB.js
  packages/cli/src/api/fixtures/duplicate-id.js
  website/docs/guides/message-extraction.md
  website/docs/ref/macro.mdx
Labels: :package: cli, :package: plugin-extract

feat(macro): set `/** i18n */` extraction mark instead of `/* i18n */` (#2571)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-extract-messages/test/fixtures/js-message-descriptor.js
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-defineMessage.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-placeholder.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/lingui-directive.test.ts.snap
  packages/babel-plugin-lingui-macro/test/fixtures/js-t-continuation-character.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/js-t-var/js-t-var.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/cli/src/api/fixtures/collect-invalid/valid.js
  packages/cli/src/api/fixtures/collect/$componentE/index.js
  packages/cli/src/api/fixtures/collect/(componentC)/index.js
  packages/cli/src/api/fixtures/collect/[componentD]/index.js
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/collect/componentA/index.js
  packages/cli/src/api/fixtures/collect/componentB.js
  packages/cli/src/api/fixtures/duplicate-id.js
  website/docs/guides/message-extraction.md
  website/docs/ref/macro.mdx
Labels: :package: cli, :package: plugin-extract

reformat table
  website/docs/guides/message-extraction.md
Labels: none

feat(experimental-extractor): make a bundler configurable for experimental extractor, add rolldown
  packages/cli/package.json
  packages/cli/src/extract-experimental/buildContentFilter.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  packages/cli/src/extract-experimental/constants.ts
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/extractor-experimental/lingui.config.rolldown.ts
  packages/cli/test/index.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  yarn.lock
Labels: :package: cli, :package: conf

fix on windows
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
Labels: :package: cli

add hint about sourcemaps
  website/docs/guides/message-extraction.md
Labels: none

fix
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  packages/cli/src/lingui-extract-experimental.ts
Labels: :package: cli

add docs
  website/docs/guides/message-extraction.md
Labels: none

reformat table
  website/docs/guides/message-extraction.md
Labels: none

fix formatting issue
  website/docs/guides/message-extraction.md
Labels: none

fix
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
Labels: :package: cli

docs: refine landing page copy for clarity and consistency
  website/src/components/code.tsx
  website/src/components/features.tsx
  website/src/components/header.tsx
Labels: none

Update ts-expect-error message
  packages/solid/macro/__typetests__/index.tst.tsx
Labels: none

add a dynamic import to a test
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.en.po
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.po
  packages/cli/test/extractor-experimental/fixtures/components/dynamic.ts
  packages/cli/test/extractor-experimental/fixtures/pages/index.page.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

docs: refine landing page copy for clarity and consistency (#2574)
  website/src/components/code.tsx
  website/src/components/features.tsx
  website/src/components/header.tsx
Labels: none

Update comment style
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
Labels: none

update test to cover common chunks
  packages/cli/test/extractor-experimental/expected-rolldown/about.page.en.js
  packages/cli/test/extractor-experimental/expected-rolldown/about.page.en.po
  packages/cli/test/extractor-experimental/expected-rolldown/about.page.pl.js
  packages/cli/test/extractor-experimental/expected-rolldown/about.page.pl.po
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.en.js
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.en.po
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.pl.js
  packages/cli/test/extractor-experimental/expected-rolldown/index.page.pl.po
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.en.po
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.po
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.po
  packages/cli/test/extractor-experimental/fixtures/components/shared.ts
  packages/cli/test/extractor-experimental/fixtures/pages/about.page.ts
  packages/cli/test/extractor-experimental/fixtures/pages/index.page.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

Devinxi Tanstack Start example
  examples/tanstack-start/.gitignore
  examples/tanstack-start/app.config.ts
  examples/tanstack-start/package.json
  examples/tanstack-start/postcss.config.mjs
  examples/tanstack-start/src/api.ts
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/functions/headers.ts
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/server.ts
  examples/tanstack-start/src/ssr.tsx
  examples/tanstack-start/src/styles/app.css
  examples/tanstack-start/src/utils/loggingMiddleware.tsx
  examples/tanstack-start/tailwind.config.mjs
  examples/tanstack-start/vite.config.ts
  examples/tanstack-start/yarn.lock
Labels: none

fix(examples): use i18n instead of macro in server-side function
  examples/tanstack-start/src/routes/users.$userId.tsx
Labels: none

Upgrade example to Tanstack Start RC
  examples/tanstack-start/package.json
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/functions/deferred.ts
  examples/tanstack-start/src/functions/headers.ts
  examples/tanstack-start/src/functions/locale.ts
  examples/tanstack-start/src/functions/origin.ts
  examples/tanstack-start/src/global-middleware.ts
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/$lang/route.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/server.ts
  examples/tanstack-start/src/start.ts
  examples/tanstack-start/src/utils/posts.tsx
  examples/tanstack-start/vite.config.ts
  examples/tanstack-start/yarn.lock
Labels: none

examples(tanstack-start): add URL-based localization
  examples/tanstack-start/src/functions/locale.ts
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/routeTree.gen.ts
  examples/tanstack-start/src/routes/$lang/content.tsx
  examples/tanstack-start/src/routes/$lang/route.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/users.index.tsx
Labels: none

examples(tanstack-start): apply prettier
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/functions/headers.ts
  examples/tanstack-start/src/functions/locale.ts
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/$lang/content.tsx
  examples/tanstack-start/src/routes/$lang/route.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/deferred.tsx
  examples/tanstack-start/src/routes/users.index.tsx
  examples/tanstack-start/src/utils/loggingMiddleware.tsx
  examples/tanstack-start/vite.config.ts
Labels: none

examples(tanstack-start): remove unused imports
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/server.ts
Labels: none

Share the same i18n instance in routes
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/users.$userId.tsx
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/server.ts
Labels: none

examples(tanstack-start): do not use global i18n in SSR app
  examples/tanstack-start/package.json
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/i18n.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/users.$userId.tsx
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/server.ts
  examples/tanstack-start/yarn.lock
Labels: none

Cleanup
  examples/tanstack-start/src/modules/lingui/i18n.server.ts
  examples/tanstack-start/src/modules/lingui/lingui-middleware.ts
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/$lang/content-bis.tsx
  examples/tanstack-start/src/routes/__root.tsx
  examples/tanstack-start/src/routes/api/users.$id.ts
  examples/tanstack-start/src/routes/api/users.ts
  examples/tanstack-start/src/routes/posts.$postId.tsx
  examples/tanstack-start/src/routes/posts.route.tsx
  examples/tanstack-start/src/routes/posts_.$postId.deep.tsx
  examples/tanstack-start/src/routes/users.route.tsx
  examples/tanstack-start/src/start.ts
Labels: none

examples(tanstack-start): hydrate catalog from server
  examples/tanstack-start/src/client.tsx
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/modules/lingui/router-plugin.tsx
  examples/tanstack-start/src/router.tsx
  examples/tanstack-start/src/routes/deferred.tsx
Labels: none

examples(tanstack-start): prefer using the `msg` macro
  examples/tanstack-start/src/locales/en/messages.po
  examples/tanstack-start/src/locales/fr/messages.po
  examples/tanstack-start/src/routes/deferred.tsx
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
