Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Fix CI
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/solid/vitest.config.ts
Labels: none

fix: provide peer deps for workspace build tools
  .yarnrc.yml
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/detect-locale/src/detectors/fromCookie.ts
  packages/detect-locale/src/utils/cookie-getter.ts
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

test: add missing cookie retrieval tests for fromCookie and getCookie
  packages/detect-locale/src/detectors/fromCookie.test.ts
  packages/detect-locale/src/utils/cookie-getter.test.ts
Labels: none

add tests
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
Labels: none

perf(cli): speed up catalog merge key partitioning (#2540)
  packages/cli/src/api/catalog/mergeCatalog-performance.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

fix: provide peer deps for workspace build tools (#2557)
  .yarnrc.yml
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/detect-locale/src/detectors/fromCookie.test.ts
  packages/detect-locale/src/detectors/fromCookie.ts
  packages/detect-locale/src/utils/cookie-getter.test.ts
  packages/detect-locale/src/utils/cookie-getter.ts
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

docs
  website/docs/ref/catalog-formats.md
Labels: none

Update packages/format-po/src/po.ts
  packages/format-po/src/po.ts
Labels: none

chore: remove performance test as it's flaky on ci
  packages/cli/src/api/catalog/mergeCatalog-performance.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

Use runtimeConfigModule.Trans in babel extractor
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-extract-messages/test/fixtures/custom-runtime/jsx-with-macros.js
  packages/babel-plugin-extract-messages/test/fixtures/custom-runtime/lingui.config.js
  packages/cli/src/api/extractors/babel.ts
  yarn.lock
Labels: :package: cli, :package: plugin-extract

update docs
  website/docs/ref/catalog-formats.md
Labels: none

feat: integrate `pofile-ts` (#2548)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/fixtures/locales/existing/cs.po
  packages/cli/src/api/fixtures/locales/existing/en.po
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/package.json
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  website/docs/ref/catalog-formats.md
  yarn.lock
Labels: :package: cli

chore: remove performance test as it's flaky on ci (#2558)
  packages/cli/src/api/catalog/mergeCatalog-performance.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

chore: add benchmark
  benchmarks/.gitignore
  benchmarks/CLAUDE.md
  benchmarks/README.md
  benchmarks/package.json
  benchmarks/src/generate-fixtures.ts
  benchmarks/src/generators/js-file-generator.ts
  benchmarks/src/generators/jsx-file-generator.ts
  benchmarks/src/generators/message-pool.ts
  benchmarks/src/generators/po-catalog-generator.ts
  benchmarks/src/presets.ts
  benchmarks/src/reporters/console-reporter.ts
  benchmarks/src/reporters/json-reporter.ts
  benchmarks/src/run-benchmarks.ts
  benchmarks/src/scenarios/compile.bench.ts
  benchmarks/src/scenarios/extract-template.bench.ts
  benchmarks/src/scenarios/extract.bench.ts
  benchmarks/src/scenarios/macro-transform.bench.ts
  benchmarks/src/utils/config-builder.ts
  benchmarks/src/utils/deterministic-random.ts
  benchmarks/src/utils/silence.ts
  benchmarks/tsconfig.json
  examples/rspack/.yarnrc.yml
  examples/vite-project-react-swc/.yarnrc.yml
  package.json
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore: update tstyche to v7.0.0 (#2549)
  package.json
  packages/conf/__typetests__/tsconfig.json
  packages/core/__typetests__/eventEmitter.tst.ts
  packages/core/__typetests__/tsconfig.json
  packages/core/__typetests__/typed-ids/index.tst.ts
  packages/core/macro/__typetests__/tsconfig.json
  packages/core/tsconfig.json
  packages/format-json/__typetests__/tsconfig.json
  packages/format-po-gettext/__typetests__/tsconfig.json
  packages/format-po/__typetests__/tsconfig.json
  packages/react/macro/__typetests__/index.tst.tsx
  packages/react/macro/__typetests__/tsconfig.json
  tsconfig.typetest.json
  tstyche.config.json
  tstyche.json
  yarn.lock
Labels: :package: conf, :package: core, :package: react

fix ts issues
  benchmarks/src/generate-fixtures.ts
  benchmarks/src/reporters/console-reporter.ts
  benchmarks/src/run-benchmarks.ts
  benchmarks/src/scenarios/compile.bench.ts
  benchmarks/src/scenarios/extract-template.bench.ts
  benchmarks/src/scenarios/extract.bench.ts
  benchmarks/src/scenarios/macro-transform.bench.ts
Labels: none

chore(release): published v6.2.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.2.0 [skip ci] (#2559)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

more cases for macro transform in bench
  benchmarks/src/scenarios/macro-transform.bench.ts
Labels: none

placeholders in catalogs
  benchmarks/CLAUDE.md
  benchmarks/README.md
  benchmarks/src/generate-fixtures.ts
  benchmarks/src/generators/po-catalog-generator.ts
  benchmarks/src/run-benchmarks.ts
  benchmarks/src/utils/config-builder.ts
Labels: none

more realistic fixtures
  benchmarks/CLAUDE.md
  benchmarks/src/generators/js-file-generator.ts
  benchmarks/src/generators/jsx-file-generator.ts
  benchmarks/src/generators/message-pool.ts
Labels: none

change output
  benchmarks/package.json
  benchmarks/src/reporters/console-reporter.ts
  benchmarks/src/run-benchmarks.ts
  yarn.lock
Labels: none

separate generate from bench
  benchmarks/CLAUDE.md
  benchmarks/README.md
  benchmarks/package.json
  benchmarks/src/generate-fixtures.ts
  benchmarks/src/run-benchmarks.ts
Labels: none

show time in the bars
  benchmarks/src/reporters/console-reporter.ts
Labels: none

clean
  examples/rspack/.yarnrc.yml
  examples/vite-project-react-swc/.yarnrc.yml
Labels: none

spawn processes
  benchmarks/CLAUDE.md
  benchmarks/src/generate-fixtures.ts
  benchmarks/src/generators/po-catalog-generator.ts
  benchmarks/src/reporters/console-reporter.ts
  benchmarks/src/scenarios/compile.bench.ts
  benchmarks/src/scenarios/extract-template.bench.ts
  benchmarks/src/scenarios/extract.bench.ts
  benchmarks/src/scenarios/macro-transform.bench.ts
  benchmarks/src/utils/config-builder.ts
  benchmarks/src/utils/run-cli.ts
  packages/cli/package.json
Labels: :package: cli

fix: don't warn about idPrefixLeader in config
  packages/conf/src/makeConfig.ts
Labels: :package: conf

clean up
  benchmarks/src/utils/run-cli.ts
Labels: none

clean up
  benchmarks/src/utils/config-builder.ts
Labels: none

fix presentation
  benchmarks/src/reporters/console-reporter.ts
Labels: none

Fix vitest version
  packages/solid/package.json
  yarn.lock
Labels: none

fix: don't warn about idPrefixLeader in config (#2561)
  packages/conf/src/makeConfig.ts
Labels: :package: conf

clean up
  benchmarks/src/generators/po-catalog-generator.ts
Labels: none

Apply suggestions from code review
  benchmarks/CLAUDE.md
  benchmarks/src/generate-fixtures.ts
  benchmarks/src/run-benchmarks.ts
  benchmarks/src/utils/config-builder.ts
Labels: none

feat: add support for experimental swc batch extractor
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/collectWithBatchExtractor.test.ts
  packages/cli/src/api/extractors/index.ts
  packages/conf/src/types.ts
Labels: :package: cli, :package: conf

fix types
  packages/extractor-vue/src/vue-extractor.ts
Labels: none

clean up
  benchmarks/src/utils/config-builder.ts
Labels: none

merge usecase
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/collectWithBatchExtractor.test.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/fixtures/collect/componentF.ts
  packages/cli/src/api/fixtures/collect/componentG.vue
  packages/conf/src/types.ts
Labels: :package: cli, :package: conf

merge usecase
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/extractFromFiles.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/extractors/index.ts
Labels: :package: cli

docs: refine generated IDs documentation
  website/docs/guides/explicit-vs-generated-ids.md
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
