Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(po-formatter): save explicit id flag in comments instead of flags (#1574)
  examples/js/src/locale/cs/messages.po
  examples/js/src/locale/en/messages.po
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/fixtures/messages.po
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-template-po-format/expected/messages.pot
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/fixtures/messages_plural-4-letter.po
  packages/format-po-gettext/src/fixtures/messages_plural.po
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/fixtures/messages.po
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: :package: cli

fix: require should use cjs instead of mjs
  packages/detect-locale/package.json
Labels: none

feat(core): add new core api for node/js usage without macros
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-call-expression.js
  packages/babel-plugin-extract-messages/test/fixtures/node-call-expression-aliased.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core, :package: plugin-extract

fix: require should use cjs instead of mjs (#1576)
  packages/detect-locale/package.json
Labels: none

feat(core): add new core api for node/js usage without macros (#1564)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-call-expression.js
  packages/babel-plugin-extract-messages/test/fixtures/node-call-expression-aliased.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core, :package: plugin-extract

ci: fix release WF
  .github/workflows/release.yml
Labels: none

ci: fix release WF (#1577)
  .github/workflows/release.yml
Labels: none

chore(release): published v4.0.0-next.5
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(cli): produce TS typings for `@lingui/cli`
  package.json
  packages/cli/package.json
  packages/cli/src/.swcrc
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/lingui.ts
  packages/cli/tsconfig.build.json
  packages/conf/src/makeConfig.ts
  packages/conf/src/migrations/setCldrParentLocales.ts
  packages/conf/tsconfig.json
  packages/macro/package.json
  packages/message-utils/src/compileMessage.ts
  packages/message-utils/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro

refactor(macro)!: remove `arg` macro
  packages/macro/src/macroJs.ts
  packages/macro/test/index.ts
  packages/macro/test/js-arg.ts
  packages/macro/test/js-defineMessage.ts
Labels: :package: macro

refactor(cli/api): update pseudolocale package
  packages/cli/package.json
  packages/cli/src/api/pseudoLocalize.ts
  yarn.lock
Labels: :package: cli

chore(cli): produce TS typings for `@lingui/cli` (#1579)
  package.json
  packages/cli/package.json
  packages/cli/src/.swcrc
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/lingui.ts
  packages/cli/tsconfig.build.json
  packages/conf/src/makeConfig.ts
  packages/conf/src/migrations/setCldrParentLocales.ts
  packages/conf/tsconfig.json
  packages/macro/package.json
  packages/message-utils/src/compileMessage.ts
  packages/message-utils/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro

refactor(macro)!: remove `arg` macro (#1581)
  packages/macro/src/macroJs.ts
  packages/macro/test/index.ts
  packages/macro/test/js-arg.ts
  packages/macro/test/js-defineMessage.ts
Labels: :package: macro

refactor(cli/api): update pseudolocale package (#1582)
  packages/cli/package.json
  packages/cli/src/api/pseudoLocalize.ts
  yarn.lock
Labels: :package: cli

fix(cli/api): fix version of pseudolocale package
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

fix(cli/api): fix version of pseudolocale package (#1583)
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

refactor(cli/api): update pseudolocale package
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

refactor(cli/api): update pseudolocale package (#1585)
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

feat: support extracting from all forms of i18n._ / i18n.t calls
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-call-expression.js
  packages/babel-plugin-extract-messages/test/fixtures/node-call-expression-aliased.js
  packages/babel-plugin-extract-messages/test/fixtures/two-imports-renaming-esbuild.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/core/__typetests__/index.test-d.tsx
  packages/core/__typetests__/tsconfig.json
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core, :package: plugin-extract

docs(): add message extraction documentation
  website/docs/guides/message-extraction.md
  website/sidebars.ts
Labels: none

docs(): add experimental extractor docs
  website/docs/guides/message-extraction.md
Labels: none

docs: polish website styles + discord link in header
  website/docusaurus.config.js
  website/src/css/custom.scss
Labels: none

docs: add hook usage description to update `t` content on language change
  website/docs/tutorials/react-patterns.md
Labels: none

Apply suggestions from code review
  website/docs/guides/message-extraction.md
Labels: none

docs(message-extraction): add light/dark images to the repo
  website/docs/guides/message-extraction.md
  website/docs/ref/conf.md
  website/src/css/custom.scss
  website/static/img/docs/extractor-deps-scheme-dark.jpg
  website/static/img/docs/extractor-deps-scheme.jpg
  website/static/img/docs/extractor-glob-scheme-dark.jpg
  website/static/img/docs/extractor-glob-scheme.jpg
Labels: none

feat: support extracting from all forms of i18n._ / i18n.t calls (#1586)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-call-expression.js
  packages/babel-plugin-extract-messages/test/fixtures/node-call-expression-aliased.js
  packages/babel-plugin-extract-messages/test/fixtures/two-imports-renaming-esbuild.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/core/__typetests__/index.test-d.tsx
  packages/core/__typetests__/tsconfig.json
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  website/docs/guides/message-extraction.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/sidebars.ts
  website/src/css/custom.scss
  website/static/img/docs/extractor-deps-scheme-dark.jpg
  website/static/img/docs/extractor-deps-scheme.jpg
  website/static/img/docs/extractor-glob-scheme-dark.jpg
  website/static/img/docs/extractor-glob-scheme.jpg
Labels: :package: core, :package: plugin-extract

docs: improve message extraction doc
  website/docs/guides/message-extraction.md
Labels: none

docs: improve message extraction doc (#1591)
  website/docs/guides/message-extraction.md
Labels: none

fix: support array of react components in values
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

fix tests
  packages/react/src/format.ts
Labels: :package: react

add one more test case
  packages/react/src/Trans.test.tsx
Labels: :package: react

fix: support array of react components in values (#1593)
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  packages/react/src/format.ts
Labels: :package: react

docs: add references to the 'Message Extraction' guide
  website/docs/ref/cli.md
  website/docs/tutorials/cli.md
Labels: none

docs: add references to the 'Message Extraction' guide (#1594)
  website/docs/ref/cli.md
  website/docs/tutorials/cli.md
Labels: none

fix: fix ci warning on no key of element list
  packages/react/src/Trans.test.tsx
Labels: :package: react

fix: fix ci warning on no key of element list (#1595)
  packages/react/src/Trans.test.tsx
Labels: :package: react

chore(release): published v4.0.0-next.6
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: resolve package.json with relative path
  packages/cli/src/lingui.ts
Labels: :package: cli

fix: resolve package.json with relative path (#1597)
  packages/cli/src/lingui.ts
Labels: :package: cli

chore(release): published v4.0.0-next.7
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
