Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

fix snapshots
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.test.ts
Labels: :package: cli

fix snaphots
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/test/extract-template-po-format/expected/messages.pot
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: :package: cli

even stricter
  packages/cli/src/api/catalog.ts
Labels: :package: cli

even stricter
  packages/conf/src/makeConfig.ts
Labels: :package: conf

fix snapshot
  packages/conf/src/__snapshots__/index.test.ts.snap
Labels: :package: conf

rename jest-mocks to test-utils
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/test/compile.test.ts
  packages/cli/test/index.test.ts
  packages/conf/package.json
  packages/conf/src/index.test.ts
  packages/core/package.json
  packages/core/src/i18n.test.ts
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.test.ts
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/test-utils/index.test.ts
  packages/test-utils/index.ts
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
  packages/test-utils/vitest.config.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

rename jest-mocks to test-utils
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
Labels: :package: react

apply prettier to website
  website/yarn.lock
Labels: none

update to prettier v3 in snapshots
  package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-selectOrdinal.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  website/package.json
  yarn.lock
Labels: none

update vitest to v4
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/test-utils/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

bump pseudololocalize and cli-table
  packages/cli/package.json
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/pseudoLocalize.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/api/stats.ts
  yarn.lock
Labels: :package: cli

remove unused date-fns dep from cli package
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

update glob to latest
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore: bump pseudololocalize, cli-table, glob (#2415)
  packages/cli/package.json
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/pseudoLocalize.test.ts
  packages/cli/src/api/pseudoLocalize.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/api/stats.ts
  yarn.lock
Labels: :package: cli

chore: update chokidar@5
  packages/cli/package.json
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/getPathForCompileWatcher.ts
  packages/cli/src/api/getPathsForCompileWatcher.test.ts
  packages/cli/src/api/getPathsForExtractWatcher.test.ts
  packages/cli/src/api/getPathsForExtractWatcher.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  tsconfig.json
  yarn.lock
Labels: :package: cli

bump to es2023
  tsconfig.json
Labels: none

typo in name
  packages/cli/src/api/getPathsForCompileWatcher.test.ts
  packages/cli/src/api/getPathsForCompileWatcher.ts
  packages/cli/src/lingui-compile.ts
Labels: :package: cli

fix test
  packages/cli/src/api/getPathsForExtractWatcher.test.ts
Labels: :package: cli

fix regression
  packages/conf/src/makeConfig.ts
Labels: :package: conf

bump ora@9
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

clanup
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

chore: bump chokidar@5 & ora@9, bump to es2023 (#2416)
  packages/cli/package.json
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/getPathsForCompileWatcher.test.ts
  packages/cli/src/api/getPathsForCompileWatcher.ts
  packages/cli/src/api/getPathsForExtractWatcher.test.ts
  packages/cli/src/api/getPathsForExtractWatcher.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/src/makeConfig.ts
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf

feat!: remove deprecated typescript extractor
  packages/cli/package.json
  packages/cli/src/api/extractors/typescript.ts
Labels: :package: cli

chore: update prettier v3 import to use named format function
  packages/babel-plugin-lingui-macro/test/macroTester.ts
Labels: none

feat!: remove deprecated format as string and formatOptions
  examples/create-react-app/lingui.config.js
  examples/js/lingui.config.js
  examples/react-native/lingui.config.js
  examples/rspack/lingui.config.ts
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/extract-experimental/workers/extractWorker.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/test/compile.test.ts
  packages/cli/src/tests.ts
  packages/cli/test/extract-po-format/lingui.config.ts
  packages/cli/test/extract-template-po-format/lingui.config.ts
  packages/cli/test/extractor-experimental-clean/lingui.config.ts
  packages/cli/test/extractor-experimental-template/lingui.config.ts
  packages/cli/test/extractor-experimental/lingui.config.ts
  packages/cli/test/index.test.ts
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/loader/test/fail-on-compile-errors/lingui.config.js
  packages/loader/test/fail-on-missing-pseudo/lingui.config.js
  packages/loader/test/fail-on-missing/lingui.config.js
  packages/metro-transformer/test/__fixtures__/test-project/lingui.config.js
  packages/vite-plugin/test/dynamic-macro-error/lingui.config.js
  packages/vite-plugin/test/fail-on-compile-errors/lingui.config.js
  packages/vite-plugin/test/fail-on-missing-pseudo/lingui.config.js
  packages/vite-plugin/test/fail-on-missing/lingui.config.js
  packages/vite-plugin/test/macro-usage/lingui.config.js
  packages/vite-plugin/test/no-macro-error/lingui.config.js
  packages/vite-plugin/test/po-format/lingui.config.js
Labels: :package: cli, :package: conf, :package: loader

fix
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
Labels: :package: conf

fix
  packages/conf/src/makeConfig.ts
  packages/loader/test/not-known-catalog/.linguirc
  packages/loader/test/po-format/.linguirc
  packages/loader/test/po-format/lingui.config.js
  packages/loader/test/relative-catalog-path/.linguirc
Labels: :package: conf, :package: loader

fix
  test/node-api-esm/index.js
  test/node-api/index.js
Labels: none

test: update snapshots to use stringContaining for dynamic paths
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
Labels: :package: conf

chore: remove jest.config.js from ESLint ignored files
  eslint.config.mjs
Labels: none

chore: update package.json to remove jest keyword and correct repository directory
  packages/test-utils/package.json
Labels: none

feat!: remove deprecated typescript extractor (#2417)
  packages/cli/package.json
  packages/cli/src/api/extractors/typescript.ts
  test/node-api-esm/index.js
  test/node-api/index.js
Labels: :package: cli

chore!: replace cosmiconfig with lilconfig in configuration handling (#2286)
  eslint.config.mjs
  packages/conf/package.json
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/fixtures/default/.linguirc
  packages/conf/src/fixtures/valid/.linguirc
  packages/conf/src/fixtures/valid/custom.config.js
  packages/conf/src/fixtures/valid/custom.config.ts
  packages/conf/src/fixtures/valid/lingui.config.cjs
  packages/conf/src/fixtures/valid/lingui.config.js
  packages/conf/src/fixtures/valid/lingui.config.mjs
  packages/conf/src/fixtures/valid/lingui.config.ts
  packages/conf/src/fixtures/valid/package.json
  packages/conf/src/getConfig.test.ts
  packages/conf/src/getConfig.ts
  packages/conf/src/index.test.ts
  packages/test-utils/package.json
  yarn.lock
Labels: :package: conf

fix
  packages/conf/src/makeConfig.ts
Labels: :package: conf

fix
  packages/conf/src/__snapshots__/index.test.ts.snap
Labels: :package: conf

copy fixtures to in-project folder
  .gitignore
  packages/loader/test/loader.test.ts
Labels: :package: loader

remove outdated snapshots
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
Labels: :package: cli

fix typetest
  packages/conf/__typetests__/index.tst.ts
Labels: :package: conf

chore: replace threads with tinypool
  .yarn/patches/threads-npm-1.7.0-c432dbb3e9.patch
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/extractWorkerPool.ts
  packages/cli/src/api/typedPool.ts
  packages/cli/src/api/workerPools.ts
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.jiti.js
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.prod.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/workers/compileWorker.ts
  packages/cli/src/workers/compileWorkerWrapper.jiti.js
  packages/cli/src/workers/compileWorkerWrapper.prod.ts
  packages/cli/src/workers/extractWorkerWrapper.jiti.js
  packages/cli/src/workers/extractWorkerWrapper.prod.ts
  yarn.lock
Labels: :package: cli

fix typetest
  packages/conf/__typetests__/index.tst.ts
Labels: :package: conf
