Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: update yarn to berry, fix deps
  .github/workflows/docs-suite.yml
  .github/workflows/main-suite.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .gitignore
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  examples/create-react-app/.gitignore
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  examples/js/.gitignore
  examples/js/yarn.lock
  examples/next-js/.gitignore
  examples/next-js/yarn.lock
  package.json
  packages/conf/package.json
  packages/remote-loader/package.json
  packages/snowpack-plugin/package.json
  scripts/verdaccio-integration.js
  test/node-api/package.json
  test/typescript-nodenext-resolution/package.json
  website/.gitignore
  website/yarn.lock
  yarn.lock
Labels: :package: conf

chore: update yarn to berry, fix deps (#1478)
  .github/workflows/docs-suite.yml
  .github/workflows/main-suite.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .gitignore
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  examples/create-react-app/.gitignore
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  examples/js/.gitignore
  examples/js/yarn.lock
  examples/next-js/.gitignore
  examples/next-js/yarn.lock
  package.json
  packages/conf/package.json
  packages/remote-loader/package.json
  packages/snowpack-plugin/package.json
  scripts/verdaccio-integration.js
  test/node-api/package.json
  test/typescript-nodenext-resolution/package.json
  website/.gitignore
  website/yarn.lock
  yarn.lock
Labels: :package: conf

Fix typo in migration-4.md
  website/docs/releases/migration-4.md
Labels: none

docs: add announcement bar about the v4 pre-release
  website/docusaurus.config.js
Labels: none

docs: add announcement bar about the v4 pre-release (#1483)
  website/docusaurus.config.js
Labels: none

refactor: update LinguiConfig typings, add tsd test
  .github/workflows/main-suite.yml
  jest.config.types.js
  package.json
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/__typetests__/tsconfig.json
  packages/conf/package.json
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/__typetests__/tsconfig.json
  packages/macro/package.json
  tsconfig.json
  website/docs/guides/custom-extractor.md
  website/docs/releases/migration-4.md
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro

fix(macro): more precise check for macro with custom i18n
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

fix(macro): more precise check for macro with custom i18n (#1488)
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

Update migration-4.md
  website/docs/releases/migration-4.md
Labels: none

docs: Add Vite Setup guide
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: none

docs: Fix typo in migration-4.md (#1482)
  website/docs/releases/migration-4.md
Labels: none

refactor: update LinguiConfig typings, add tsd test (#1485)
  .github/workflows/main-suite.yml
  jest.config.types.js
  package.json
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/conf/__typetests__/index.test-d.tsx
  packages/conf/__typetests__/tsconfig.json
  packages/conf/package.json
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/__typetests__/tsconfig.json
  packages/macro/package.json
  tsconfig.json
  website/docs/guides/custom-extractor.md
  website/docs/releases/migration-4.md
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro

refactor(core): i18n.loadLocaleData() is deprecated. Intl.PluralRules used instead.
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/i18n.ts
  examples/js/src/ids.js
  examples/js/src/messages.js
  examples/next-js/lingui-example/i18n.ts
  packages/cli/package.json
  packages/cli/src/api/locales.test.ts
  packages/cli/src/api/locales.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/core/package.json
  packages/core/src/compile/compileMessage.test.ts
  packages/core/src/context.ts
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/guides/testing.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react.md
  yarn.lock
Labels: :package: cli, :package: core, :package: react

refactor(core): use normalized locales in plural rules
  packages/core/src/context.ts
  packages/core/src/formats.ts
Labels: :package: core

Apply suggestions from code review
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/setup-vite.md
Labels: none

docs(core): add migration notes for PluralRules
  website/docs/releases/migration-4.md
Labels: none

docs: Add Vite Setup guide (#1490)
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: none

refactor(core): use Intl.PluralRules (#1486)
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/i18n.ts
  examples/js/src/ids.js
  examples/js/src/messages.js
  examples/next-js/lingui-example/i18n.ts
  packages/cli/package.json
  packages/cli/src/api/locales.test.ts
  packages/cli/src/api/locales.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/core/package.json
  packages/core/src/compile/compileMessage.test.ts
  packages/core/src/context.ts
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/guides/testing.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/releases/migration-4.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react.md
  yarn.lock
Labels: :package: cli, :package: core, :package: react

chore(release): published v4.0.0-next.1
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/snowpack-plugin/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(extractor): allow i18._(foo.bar) without warning.
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

fix(extractor): allow i18._(foo.bar) without warning. (#1492)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

fix(react): remove deprecated defaultProps from Trans cmp
  packages/react/src/Trans.tsx
Labels: :package: react

feat(macro): support tagged templates in defineMessage + short alias
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/index.d.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-t.ts
  website/docs/ref/macro.md
  website/docs/tutorials/react-patterns.md
Labels: :package: macro, :package: plugin-extract

fix(react): remove deprecated defaultProps from Trans cmp (#1494)
  packages/react/src/Trans.tsx
Labels: :package: react

feat(macro): support tagged templates in defineMessage + short alias (#1495)
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/index.d.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-t.ts
  website/docs/ref/macro.md
  website/docs/tutorials/react-patterns.md
Labels: :package: macro, :package: plugin-extract

ref(experimental-extractor): read catalogs from experimental extractor config
  .prettierignore
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/extract-experimental/getEntryPoints.ts
  packages/cli/src/extract-experimental/getExperimentalCatalogs.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/extractor-experimental-template/expected/about.page.en.js
  packages/cli/test/extractor-experimental-template/expected/about.page.pl.js
  packages/cli/test/extractor-experimental-template/expected/index.page.en.js
  packages/cli/test/extractor-experimental-template/expected/index.page.pl.js
  packages/cli/test/extractor-experimental/expected/about.page.en.js
  packages/cli/test/extractor-experimental/expected/about.page.pl.js
  packages/cli/test/extractor-experimental/expected/index.page.en.js
  packages/cli/test/extractor-experimental/expected/index.page.pl.js
  packages/cli/test/index.test.ts
Labels: :package: cli

exclude actual snapshots from prettier
  .prettierignore
Labels: none

polishing extractor implementation
  .github/workflows/main-suite.yml
  packages/cli/src/extract-experimental/resolveCatalogPath.ts
  packages/cli/src/extract-experimental/resolveTemplatePath.test.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

add experimental warning banner
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/index.test.ts
  packages/conf/src/makeConfig.ts
Labels: :package: cli, :package: conf

docs: Improve grammar in migration-4.md
  website/docs/releases/migration-4.md
Labels: none

docs: Improve grammar in migration-4.md (#1499)
  website/docs/releases/migration-4.md
Labels: none

fix: do not ignore empty plural values
  packages/core/src/compile/compileMessage.test.ts
  packages/core/src/formats.ts
Labels: :package: core

feat: remove withI18n
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  packages/react/src/index.ts
Labels: :package: react

chore: dummy commit to rerun pipeline
  packages/core/src/compile/compileMessage.test.ts
Labels: :package: core

chore: increase coverage
  packages/core/src/compile/compileMessage.test.ts
Labels: :package: core

fix: hanging cli commands
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

docs: document withI18n removal
  website/docs/releases/migration-4.md
Labels: none

docs: remove withI18n
  website/docs/guides/optimized-components.md
  website/docs/guides/testing.md
  website/docs/misc/react-intl.md
  website/docs/ref/react.md
  website/sidebars.ts
Labels: none

fix: do not ignore empty plural values (#1504)
  packages/core/src/compile/compileMessage.test.ts
  packages/core/src/formats.ts
Labels: :package: core

feat: remove withI18n (#1503)
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  packages/react/src/index.ts
  website/docs/guides/optimized-components.md
  website/docs/guides/testing.md
  website/docs/misc/react-intl.md
  website/docs/ref/react.md
  website/docs/releases/migration-4.md
  website/sidebars.ts
Labels: :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
