Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

refactor(extractor): don't use intermediate catalogs
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/deep/all.js
  packages/babel-plugin-extract-messages/test/fixtures/duplicate-id-valid.js
  packages/babel-plugin-extract-messages/test/fixtures/duplicate-id.js
  packages/babel-plugin-extract-messages/test/fixtures/empty.js
  packages/babel-plugin-extract-messages/test/fixtures/js-call-expression.js
  packages/babel-plugin-extract-messages/test/fixtures/js-message-descriptor.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-without-macros.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/babel-plugin-extract-messages/tsconfig.json
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/__snapshots__/extract.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extract.test.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/duplicate-id.js
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/tsconfig.json
  packages/conf/index.d.ts
  packages/conf/src/index.ts
  tsconfig.json
Labels: :package: cli, :package: conf, :package: plugin-extract

docs(macro): update select example
  website/docs/ref/macro.md
Labels: none

refactor(extractor): don't use intermediate catalogs (#1358)
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/deep/all.js
  packages/babel-plugin-extract-messages/test/fixtures/duplicate-id-valid.js
  packages/babel-plugin-extract-messages/test/fixtures/duplicate-id.js
  packages/babel-plugin-extract-messages/test/fixtures/empty.js
  packages/babel-plugin-extract-messages/test/fixtures/js-call-expression.js
  packages/babel-plugin-extract-messages/test/fixtures/js-message-descriptor.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-without-macros.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/babel-plugin-extract-messages/tsconfig.json
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/__snapshots__/extract.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extract.test.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/duplicate-id.js
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/tsconfig.json
  packages/conf/index.d.ts
  packages/conf/src/index.ts
  tsconfig.json
Labels: :package: cli, :package: conf, :package: plugin-extract

docs(macro): update select example (#1421)
  website/docs/ref/macro.md
Labels: none

docs(config): encourage user to use js config instead of json
  website/docs/tools/introduction.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
Labels: none

docs(config): encourage user to use js config instead of json (#1423)
  website/docs/tools/introduction.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
Labels: none

fix snapshot writing
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

docs: update bundle size info
  README.md
  website/docs/introduction.md
Labels: none

docs: update bundle size info (#1424)
  README.md
  website/docs/introduction.md
Labels: none

fix: param name for `missing` in `setupI18nProps` (#1411)
  packages/core/src/i18n.ts
  website/docs/ref/core.md
Labels: :package: core

docs(): fix misusage in docs
  website/docs/guides/optimized-components.md
Labels: none

docs(): fix misusage in docs (#1425)
  website/docs/guides/optimized-components.md
Labels: none

fix: replace `transform` with `transformSync` for typescript extractor
  packages/cli/src/api/extractors/typescript.ts
Labels: :package: cli

feat(cli): Extract - Flatten ICU messages
  jest.config.integration.js
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/collect-flatten/component.js
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
  packages/core/flatten.entry.ts
  packages/core/flatten.js
  packages/core/package.json
  packages/core/src/flatten/flattenMessage.test.ts
  packages/core/src/flatten/flattenMessage.ts
  packages/core/src/flatten/index.ts
  packages/core/src/flatten/printICU.test.ts
  packages/core/src/flatten/printICU.ts
  scripts/build/bundles.ts
  test/node-api/index.js
  tsconfig.json
  website/docs/ref/cli.md
Labels: :package: cli, :package: core

Fix lint issues
  website/docs/ref/cli.md
Labels: none

refactor: no `console.error` on informational output
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

refactor: no `console.error` on informational output (#1429)
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

refactor(conf): split code, generate typings
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
  packages/conf/index.d.ts
  packages/conf/package.json
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/fixtures/fallback-locales/.linguirc
  packages/conf/src/fixtures/valid/.fallbacklocalesrc
  packages/conf/src/getConfig.ts
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/migrations/__snapshots__/catalogMigration.test.ts.snap
  packages/conf/src/migrations/catalogMigration.test.ts
  packages/conf/src/migrations/catalogMigration.ts
  packages/conf/src/migrations/fallbackLanguageMigration.ts
  packages/conf/src/migrations/setCldrParentLocales.ts
  packages/conf/src/types.ts
  packages/conf/src/utils/pathJoinPosix.ts
  packages/conf/src/utils/replaceRootDir.test.ts
  packages/conf/src/utils/replaceRootDir.ts
  packages/conf/tsconfig.json
  packages/jest-mocks/index.ts
  scripts/build/bundles.ts
  tsconfig.json
Labels: :package: cli, :package: conf

fix: chain extract on watched file changes
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

refactor(conf): split code, generate typings (#1415)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/compile.test.ts
  packages/cli/src/tests.ts
  packages/conf/index.d.ts
  packages/conf/package.json
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/fixtures/fallback-locales/.linguirc
  packages/conf/src/fixtures/valid/.fallbacklocalesrc
  packages/conf/src/getConfig.ts
  packages/conf/src/index.test.ts
  packages/conf/src/index.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/migrations/__snapshots__/catalogMigration.test.ts.snap
  packages/conf/src/migrations/catalogMigration.test.ts
  packages/conf/src/migrations/catalogMigration.ts
  packages/conf/src/migrations/fallbackLanguageMigration.ts
  packages/conf/src/migrations/setCldrParentLocales.ts
  packages/conf/src/types.ts
  packages/conf/src/utils/pathJoinPosix.ts
  packages/conf/src/utils/replaceRootDir.test.ts
  packages/conf/src/utils/replaceRootDir.ts
  packages/conf/tsconfig.json
  packages/jest-mocks/index.ts
  scripts/build/bundles.ts
  tsconfig.json
Labels: :package: cli, :package: conf

refactor(macro): more accurate typings for macro + testing
  .github/workflows/main-suite.yml
  package.json
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/macro/index.test-d.tsx
  packages/macro/package.json
  packages/macro/test/jsx-select.ts
  packages/macro/test/types.ts
  yarn.lock
Labels: :package: macro

refactor(cli): add TS typings remove code duplication in formats
  packages/cli/package.json
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/utils.ts
  yarn.lock
Labels: :package: cli

refactor(cli): add TS typings remove code duplication in formats (#1430)
  packages/cli/package.json
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/utils.ts
  yarn.lock
Labels: :package: cli

Apply suggestions from code review
  jest.config.js
  packages/macro/index.d.ts
  packages/macro/index.test-d.tsx
Labels: :package: macro

refactor(macro): more accurate typings for macro + testing (#1340)
  .github/workflows/main-suite.yml
  jest.config.js
  package.json
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/macro/index.test-d.tsx
  packages/macro/package.json
  packages/macro/test/jsx-select.ts
  packages/macro/test/types.ts
  yarn.lock
Labels: :package: macro

fix: chain extract on watched file changes (#1435)
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

refactor(extractor/babel): make opinionated settings for babel extractor
  examples/js/package.json
  package.json
  packages/babel-plugin-extract-messages/test/index.ts
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/detect.test.ts
  packages/cli/src/api/detect.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/api/fixtures/collect-syntax-flow/flow-syntax.js
  packages/cli/src/api/fixtures/collect-syntax-flow/lingui.config.js
  packages/cli/src/api/fixtures/collect-syntax-flow/ts-syntax.ts
  packages/cli/src/api/fixtures/collect-typescript-jsx/jsx-syntax.jsx
  packages/cli/src/api/fixtures/collect-typescript-jsx/lingui.config.js
  packages/cli/src/api/fixtures/collect-typescript-jsx/macro.tsx
  packages/cli/src/api/fixtures/collect-typescript-jsx/tsx-syntax.tsx
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/index.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-trans.ts
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro, :package: plugin-extract

docs(extractor): add docs and migration guide
  website/docs/guides/custom-extractor.md
  website/docs/guides/flow.md
  website/docs/guides/typescript.md
  website/docs/ref/conf.md
  website/docs/releases/migration-4.md
  website/sidebars.ts
Labels: none

feat(extractor): add deprecation warning for `extractBabelOptions` in conf
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
Labels: :package: conf

docs: remove `extractBabelOptions` from monorepo docs
  website/docs/guides/monorepo.md
Labels: none

Apply suggestions from code review
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  website/docs/guides/custom-extractor.md
  website/docs/ref/conf.md
  website/docs/releases/migration-4.md
Labels: :package: conf

Update test
  packages/macro/test/jsx-plural.ts
Labels: :package: macro

fix(macro): Trans inside Plural has leading whitespace
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-plural.ts
Labels: :package: macro

Add and update test
  packages/macro/src/macroJsx.test.ts
  packages/macro/test/jsx-plural.ts
Labels: :package: macro

Add info to the Migration guide
  website/docs/releases/migration-4.md
Labels: none

fix(macro): Trans inside Plural has leading whitespace (#1437)
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-plural.ts
  website/docs/releases/migration-4.md
Labels: :package: macro

feature(macro): support JSX macro inside conditional expressions
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

refactor(macro): pass down and manipulate with `path` instead of `node`
  packages/macro/src/index.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/tsconfig.json
Labels: :package: macro

refactor(macro): remove alreadyVisitedCache in favour of dedupe references from babel-macro-plugin
  packages/macro/src/index.ts
Labels: :package: macro

docs: main page improvements
  website/package.json
  website/src/components/Code.module.scss
  website/src/components/Code.tsx
  website/src/components/Features.module.scss
  website/src/components/Header.module.scss
  website/src/pages/index.tsx
  website/yarn.lock
Labels: none
