Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs: update Crowdin links (#1453)
  website/docs/misc/resources.md
  website/docs/tools/crowdin.md
  website/docs/tools/introduction.md
Labels: none

fix: exclude pseudo locale during sync (#1455)
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

test(): fix few broken test cases, and improve noisy tests (#1456)
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/fixtures/collect-invalid/invalid.js
  packages/cli/src/api/fixtures/collect-invalid/valid.js
  packages/jest-mocks/index.ts
  packages/snowpack-plugin/src/index.ts
  packages/snowpack-plugin/test/index.ts
Labels: :package: cli, :package: plugin-extract

feature(extractor): respect sourcemaps
  packages/babel-plugin-extract-messages/src/index.ts
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/fixtures/collect-inline-sourcemaps/componentB.jsx
  packages/conf/src/types.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: plugin-extract

feat(macro) support renamed identifiers in macro
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

docs: enhance the info about the context
  website/docs/ref/catalog-formats.md
  website/docs/ref/macro.md
  website/docs/releases/migration-4.md
Labels: none

Update website/docs/releases/migration-4.md
  website/docs/releases/migration-4.md
Labels: none

Revert "fix(vite-plugin): ship in dual package format for compatibility with Vite (#1450)"
  packages/vite-plugin/package.json
  packages/vite-plugin/tsconfig.json
Labels: none

fix(vite-plugin): change default export to named export
  packages/vite-plugin/README.md
  packages/vite-plugin/index.js
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/index.ts
  website/docs/ref/vite-plugin.md
Labels: none

docs: enhance the info about the context (#1457)
  website/docs/ref/catalog-formats.md
  website/docs/ref/macro.md
  website/docs/releases/migration-4.md
Labels: none

fix(vite-plugin): change default export to named export (#1465)
  packages/vite-plugin/README.md
  packages/vite-plugin/index.js
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/tsconfig.json
  website/docs/ref/vite-plugin.md
Labels: none

feature(extractor): respect sourcemaps (#1459)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/fixtures/collect-inline-sourcemaps/componentB.jsx
  packages/conf/src/types.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: plugin-extract

feat(macro) support renamed identifiers in macro (#1463)
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-plural.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

fix(vite): externalize macro imports.
  packages/vite-plugin/src/index.ts
Labels: none

chore(): eslint no-extraneous-dependencies
  .eslintrc
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/conf/package.json
  packages/core/package.json
  packages/macro/index.d.ts
  packages/macro/index.test-d.tsx
  packages/macro/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: macro, :package: plugin-extract, :package: react

fix(vite): externalize macro imports (#1466)
  packages/vite-plugin/src/index.ts
Labels: none

chore(release): published v3.17.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

ref(catalog): read template extension from formatter
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

ref(catalog): allow passing templatePath to catalog
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore(): eslint no-extraneous-dependencies (#1462)
  .eslintrc
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/conf/package.json
  packages/core/package.json
  packages/macro/index.d.ts
  packages/macro/index.test-d.tsx
  packages/macro/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: macro, :package: plugin-extract, :package: react

refactor(catalog): read template extension from formatter (#1468)
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

ref(catalog): split to separate files, add tests
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/__snapshots__/getCatalogs.test.ts.snap
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.test.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
  packages/cli/src/api/formats/csv.test.ts
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/api/types.ts
  packages/cli/src/api/utils.test.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
Labels: :package: cli

ref(catalog): split to separate files, add tests (#1467)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/__snapshots__/getCatalogs.test.ts.snap
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.test.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
  packages/cli/src/api/formats/csv.test.ts
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/api/types.ts
  packages/cli/src/api/utils.test.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
Labels: :package: cli

tests: update jest to 29
  .github/workflows/main-suite.yml
  jest.config.integration.js
  jest.config.js
  package.json
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/csv.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/lingui.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/conf/package.json
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/loader/test/loader.test.ts
  packages/remote-loader/test/index.test.ts
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  scripts/jest/env.js
  scripts/jest/setupTimezone.js
  yarn.lock
Labels: :package: cli, :package: conf, :package: loader, :package: plugin-extract

tests: update jest to 29 (#1470)
  .github/workflows/main-suite.yml
  jest.config.integration.js
  jest.config.js
  package.json
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/csv.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/lingui.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/__snapshots__/po.test.ts.snap
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/conf/package.json
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/loader/test/loader.test.ts
  packages/remote-loader/test/index.test.ts
  packages/snowpack-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  scripts/jest/env.js
  scripts/jest/setupTimezone.js
  yarn.lock
Labels: :package: cli, :package: conf, :package: loader, :package: plugin-extract

chore: set the minimum required node version to 16
  .github/workflows/main-suite.yml
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/snowpack-plugin/package.json
  packages/vite-plugin/package.json
  website/docs/releases/migration-4.md
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: set the minimum required node version to 16 (#1471)
  .github/workflows/main-suite.yml
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/snowpack-plugin/package.json
  packages/vite-plugin/package.json
  website/docs/releases/migration-4.md
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(): update nodejs typings
  package.json
  yarn.lock
Labels: none

chore(): update nodejs typings (#1472)
  package.json
  yarn.lock
Labels: none

chore(): use native FS methods instead of fs-extra
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/tests.ts
  yarn.lock
Labels: :package: cli

chore(): use native FS methods instead of fs-extra (#1473)
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/tests.ts
  yarn.lock
Labels: :package: cli

ref(macro): split js (core) and jsx (react) macro
  packages/cli/src/api/extractors/babel.ts
  packages/core/package.json
  packages/core/src/macro/index.ts
  packages/core/src/macro/macroJs.test.ts
  packages/core/src/macro/macroJs.ts
  packages/core/src/macro/types.test-d.tsx
  packages/core/src/macro/types.ts
  packages/macro-lib/package.json
  packages/macro-lib/src/constants.ts
  packages/macro-lib/src/icu.test.ts
  packages/macro-lib/src/icu.ts
  packages/macro-lib/src/index.ts
  packages/macro-lib/src/types.ts
  packages/macro-lib/src/utils.ts
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/macro/index.js
  packages/macro/index.test-d.tsx
  packages/macro/package.json
  packages/macro/src/index.ts
  packages/macro/src/utils.ts
  packages/macro/test/index.ts
  packages/react/package.json
  packages/react/src/macro/index.ts
  packages/react/src/macro/macroJsx.test.ts
  packages/react/src/macro/macroJsx.ts
  packages/react/src/macro/types.test-d.tsx
  packages/react/src/macro/types.ts
  tsconfig.json
Labels: :package: cli, :package: core, :package: macro, :package: react

chore() use jiti for ts config loading
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  yarn.lock
Labels: :package: conf

fix: allow passing any expression as custom i18n instance
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

chore() use jiti for ts config loading (#1474)
  packages/conf/package.json
  packages/conf/src/getConfig.ts
  yarn.lock
Labels: :package: conf

fix: allow passing any expression as custom i18n instance (#1475)
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

chore: update package.json version
  package.json
Labels: none

chore: upgrade lerna to v6.5.1
  package.json
  yarn.lock
Labels: none

chore: upgrade lerna to v6.5.1 (#1476)
  package.json
  yarn.lock
Labels: none

chore(release): published v4.0.0-next.0
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react
