Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(extractor): sort placeholders to keep them stable between runs
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/fixtures/collect-placeholders-sorting/a.ts
  packages/cli/src/api/fixtures/collect-placeholders-sorting/b.ts
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
Labels: :package: cli

fix(extractor): sort placeholders to keep them stable between runs (#2307)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/fixtures/collect-placeholders-sorting/a.ts
  packages/cli/src/api/fixtures/collect-placeholders-sorting/b.ts
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
Labels: :package: cli

Update babel.ts
  packages/cli/src/api/extractors/babel.ts
Labels: :package: cli

chore(release): published v5.4.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.4.1 [skip ci] (#2310)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat: implement multi-threading support for extraction and compilation processes
  jest.config.js
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/catalog/workers/README.md
  packages/cli/src/api/catalog/workers/compileMultiThread.ts
  packages/cli/src/api/catalog/workers/compileWorker.ts
  packages/cli/src/api/catalog/workers/extractFromFilesMultiThread.ts
  packages/cli/src/api/catalog/workers/extractWorker.ts
  packages/cli/src/api/catalog/workers/multiThread.test.ts
  packages/cli/src/api/catalog/workers/taskQueue.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/compile.test.ts
  packages/conf/src/types.ts
Labels: :package: cli, :package: conf

feat: support compile with multi thread
  packages/cli/package.json
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/workers/compileWorker.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
  packages/cli/src/workers/compileWorker.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/loader/src/webpackLoader.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/vite-plugin/src/index.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: loader

docs: add experimental.multiThread
  website/docs/ref/conf.md
Labels: none

feat: support multi thread extraction
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/workers/extractExperimentalWorker.ts
  packages/cli/src/workers/extractWorker.ts
  packages/cli/test/index.test.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

fix: type anno
  packages/cli/src/api/catalog/extractFromFiles.ts
Labels: :package: cli

fix: type lint
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/workers/compileWorker.ts
Labels: :package: cli

tests: add tests for different line endings
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

feat: add babel parser flag for import defer * as q from '...' (#2309)
  packages/cli/src/api/extractors/babel.ts
Labels: :package: cli

feat: apply limit to read
  packages/cli/src/api/utils.ts
Labels: :package: cli

fix: use utils readFile instead
  packages/cli/src/api/catalog/extractFromFiles.ts
Labels: :package: cli

feat(cli): revert experimental multithreading, support custom extractors
  package.json
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/extract-experimental/writeCatalogs.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/workers/compileWorker.ts
  packages/cli/src/workers/extractExperimentalWorker.ts
  packages/cli/src/workers/extractWorker.ts
  packages/cli/test/extract-po-format/lingui.config.ts
  packages/cli/test/extractor-experimental/lingui.config.ts
  packages/cli/test/index.test.ts
  packages/conf/package.json
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/getConfig.ts
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  yarn.lock
Labels: :package: cli, :package: conf

prettier
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
  packages/loader/src/webpackLoader.ts
Labels: :package: cli, :package: loader

tests: add tests for different line endings (#2315)
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

revert package.json changes
  package.json
Labels: none

extract seqeuntially if not multithreading
  packages/cli/src/api/catalog/extractFromFiles.ts
Labels: :package: cli

revert compile multithreading
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/lingui-compile.ts
  packages/loader/src/webpackLoader.ts
  packages/metro-transformer/src/metroTransformer.ts
  packages/vite-plugin/src/index.ts
Labels: :package: cli, :package: loader

feat(cli): add multithreading for lingui compile
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.test.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/compile/ProgramExit.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
  packages/cli/src/workers/compileWorker.ts
Labels: :package: cli

control compile workers from cli arguments
  packages/cli/src/api/ProgramExit.ts
  packages/cli/src/api/compile/ProgramExit.ts
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/api/logger.ts
  packages/cli/src/api/resolveWorkersOptions.test.ts
  packages/cli/src/api/resolveWorkersOptions.ts
  packages/cli/src/api/workerLogger.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
  packages/cli/src/workers/compileWorker.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

control multithreading in extract using cli args, add multithreading to extract-to-template
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/extractWorkerPool.ts
  packages/cli/src/api/resolveWorkersOptions.test.ts
  packages/cli/src/api/resolveWorkersOptions.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/test/compile.test.ts
  packages/cli/test/extract-template-po-format/lingui.config.ts
  packages/cli/test/index.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

optimize resource loading in workers
  packages/cli/src/api/compile/compileLocale.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/workers/compileWorker.ts
  packages/cli/src/workers/extractWorker.ts
Labels: :package: cli

add multithreading for experimental extractor
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/extract-experimental/extractFromBundleAndWrite.ts
  packages/cli/src/extract-experimental/workers/extractWorker.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/extractor-experimental-clean/lingui.config.ts
  packages/cli/test/extractor-experimental-template/lingui.config.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

revert readfile queuing
  packages/cli/src/api/utils.ts
Labels: :package: cli

fix build
  packages/cli/src/api/extractWorkerPool.ts
Labels: :package: cli

sort entries in experimental extractor stats
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

satisfy linter
  packages/cli/test/extractor-experimental-clean/package.json
  packages/cli/test/extractor-experimental-template/package.json
  packages/cli/test/extractor-experimental/package.json
Labels: :package: cli

satisfy linter
  packages/cli/src/tests.ts
  packages/cli/test/extract-po-format/lingui.config.ts
Labels: :package: cli

improve coverage
  packages/cli/src/test/__snapshots__/compile.test.ts.snap
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

fix cli argument params
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

add pnpm to contributing guide
  CONTRIBUTING.md
Labels: none

streamline --workers argument in cli
  packages/cli/src/api/resolveWorkersOptions.test.ts
  packages/cli/src/api/resolveWorkersOptions.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

streamline --workers argument in cli
  packages/cli/src/api/resolveWorkersOptions.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

cli logging fix
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

pass pool size arguments correctly
  packages/cli/src/api/extractWorkerPool.ts
  packages/cli/src/api/resolveWorkersOptions.test.ts
  packages/cli/src/api/resolveWorkersOptions.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

show elapsed time in cli commands
  packages/cli/package.json
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

add docs
  website/docs/ref/cli.md
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
