Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs: document require-comment, require-directive-reset and Oxlint support
  website/docs/ref/eslint-plugin.md
  website/docs/ref/macro.mdx
Labels: none

docs: document require-comment, require-directive-reset and Oxlint support (#2674)
  website/docs/ref/eslint-plugin.md
  website/docs/ref/macro.mdx
Labels: none

fix(cli): add translation as the last key of a new message
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

fix(react): substitute macro-accepted placeholder names in formatElements
  packages/react/src/format.test.tsx
  packages/react/src/format.tsx
Labels: :package: react

fix(react): substitute macro-accepted placeholder names in formatElements (#2680)
  packages/react/src/format.test.tsx
  packages/react/src/format.tsx
Labels: :package: react

chore(cli): drop issue references from key order comments
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

fix(babel-plugin-lingui-macro): restore `@babel/types` as a runtime dependency (#2634)
  packages/babel-plugin-lingui-macro/package.json
  yarn.lock
Labels: none

chore: cli benchmark
  benchmarks/.gitignore
  benchmarks/CLAUDE.md
  benchmarks/README.md
  benchmarks/package.json
  benchmarks/src/generate-fixtures.ts
  benchmarks/src/generators/js-file-generator.ts
  benchmarks/src/generators/jsx-file-generator.ts
  benchmarks/src/generators/message-pool.ts
  benchmarks/src/generators/po-catalog-generator.ts
  benchmarks/src/presets.ts
  benchmarks/src/reporters/console-reporter.ts
  benchmarks/src/reporters/json-reporter.ts
  benchmarks/src/run-benchmarks.ts
  benchmarks/src/scenarios/compile.bench.ts
  benchmarks/src/scenarios/extract-template.bench.ts
  benchmarks/src/scenarios/extract.bench.ts
  benchmarks/src/scenarios/macro-transform.bench.ts
  benchmarks/src/utils/config-builder.ts
  benchmarks/src/utils/run-cli.ts
  benchmarks/tsconfig.json
  package.json
  yarn.lock
Labels: none

chore(bench): switch to @lingui/native-tools and address review comments
  benchmarks/CLAUDE.md
  benchmarks/README.md
  benchmarks/package.json
  benchmarks/src/scenarios/macro-transform.bench.ts
  benchmarks/src/utils/config-builder.ts
  package.json
  yarn.lock
Labels: none

docs(monorepo): add scripts, two-catalog loading and useLingui examples
  website/docs/guides/monorepo.md
Labels: none

test(cli): drop the locale axis from the key order tests
  packages/cli/src/api/catalog/mergeCatalog.test.ts
Labels: :package: cli

fix(cli): resolve workers from caller source
  packages/cli/src/api/typedPool.test.ts
  packages/cli/src/api/typedPool.ts
Labels: :package: cli

fix(cli): add translation as the last key of a new message (#2677)
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

chore(release): published v6.8.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(release): published v6.8.0 [skip ci] (#2683)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

docs(guides): Translator-friendly Messages
  website/blog/2026-04-22-announcing-lingui-6.0/index.md
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/message-extraction.md
  website/docs/guides/pseudolocalization.md
  website/docs/guides/translator-friendly-messages.md
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
  website/docs/tutorials/react.md
  website/docs/tutorials/solid.md
  website/sidebars.ts
Labels: none

feat: use native macro transformer in experimental extractor
  packages/cli/package.json
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  yarn.lock
Labels: :package: cli

fixes
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
Labels: :package: cli

try to fix verdaccio
  .github/verdaccio/config.yaml
Labels: none

use mapOptions helper
  packages/cli/package.json
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  yarn.lock
Labels: :package: cli

feat(vite-plugin): add native macro transformer as opt-in plugin
  packages/vite-plugin/package.json
  packages/vite-plugin/src/buildMacroFilterRe.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/linguiTransformerPreset.ts
  packages/vite-plugin/test/__snapshots__/vite-plugin.test.ts.snap
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: none

feat: use native macro transformer in experimental extractor (#2685)
  .github/verdaccio/config.yaml
  packages/cli/package.json
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  yarn.lock
Labels: :package: cli

fix(solid): match macro-accepted placeholder names in formatElements
  packages/solid/src/format.test.tsx
  packages/solid/src/format.tsx
Labels: none

fix(solid): match macro-accepted placeholder names in formatElements (#2687)
  packages/solid/src/format.test.tsx
  packages/solid/src/format.tsx
Labels: none

fix(cli): resolve workers from caller source (#2682)
  packages/cli/src/api/typedPool.test.ts
  packages/cli/src/api/typedPool.ts
Labels: :package: cli

docs: rewrite the monorepo setup guide (#2667)
  website/docs/guides/monorepo.md
Labels: none

docs(guides): Translator-friendly Messages
  website/blog/2026-04-22-announcing-lingui-6.0/index.md
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/message-extraction.md
  website/docs/guides/pseudolocalization.md
  website/docs/guides/translator-friendly-messages.md
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
  website/docs/tutorials/react.md
  website/docs/tutorials/solid.md
  website/sidebars.ts
Labels: none

fixes
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/linguiTransformerPreset.ts
  packages/vite-plugin/test/__snapshots__/vite-plugin.test.ts.snap
  packages/vite-plugin/test/vite-plugin.test.ts
Labels: none

allow to configure macro transform on bundlers
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/macroTransformOptions.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
Labels: :package: cli

address PR comments
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  yarn.lock
Labels: :package: cli

feat(vite-plugin): add native macro transformer (#2686)
  packages/cli/src/extract-experimental/bundlers/esbuild.ts
  packages/cli/src/extract-experimental/bundlers/macroTransformOptions.ts
  packages/cli/src/extract-experimental/bundlers/rolldown.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/src/buildMacroFilterRe.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/linguiTransformerPreset.ts
  packages/vite-plugin/test/__snapshots__/vite-plugin.test.ts.snap
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: :package: cli

feat(core): add default global variables support to i18n instance
  packages/core/__typetests__/index.tst.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/react/src/I18nProvider.test.tsx
  packages/solid/src/I18nProvider.test.tsx
Labels: :package: core, :package: react

refactor(core): narrow Variables type and replace getters with functions
  packages/core/__typetests__/index.tst.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/react/src/I18nProvider.test.tsx
Labels: :package: core, :package: react

fix(format-po-gettext): write one msgstr per plural form of locale
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

refactor(cli): fold per-entry failure guard into the shared output check
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/lingui-extract-experimental.ts
Labels: :package: cli

fix(cli): don't wipe existing catalogs when the experimental extractor crashes
  packages/cli/src/lingui-extract-experimental.ts
Labels: :package: cli

fix(cli): skip writing shared output catalogs when a sibling entry fails to extract
  packages/cli/src/lingui-extract-experimental.ts
Labels: :package: cli

test(cli): add regression test for catalog wipe when experimental extractor crashes
  packages/cli/src/api/catalog.test.ts
  packages/cli/test/extractor-experimental-crash/existing/index.page.en.po
  packages/cli/test/extractor-experimental-crash/existing/index.page.pl.po
  packages/cli/test/extractor-experimental-crash/expected/index.page.en.po
  packages/cli/test/extractor-experimental-crash/expected/index.page.pl.po
  packages/cli/test/extractor-experimental-crash/fixtures/pages/index.page.ts
  packages/cli/test/extractor-experimental-crash/package.json
  packages/cli/test/index.test.ts
Labels: :package: cli

test(cli): add a crash test for when entryDir pattern has multiple files
  packages/cli/test/extractor-experimental-crash-shared-output/existing/fixtures/pages/messages.en.po
  packages/cli/test/extractor-experimental-crash-shared-output/existing/fixtures/pages/messages.pl.po
  packages/cli/test/extractor-experimental-crash-shared-output/expected/fixtures/pages/messages.en.po
  packages/cli/test/extractor-experimental-crash-shared-output/expected/fixtures/pages/messages.pl.po
  packages/cli/test/extractor-experimental-crash-shared-output/fixtures/pages/about.page.ts
  packages/cli/test/extractor-experimental-crash-shared-output/fixtures/pages/index.page.ts
  packages/cli/test/extractor-experimental-crash-shared-output/package.json
  packages/cli/test/index.test.ts
Labels: :package: cli

docs(guides): Translator-friendly Messages (#2684)
  website/blog/2026-04-22-announcing-lingui-6.0/index.md
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/message-extraction.md
  website/docs/guides/pseudolocalization.md
  website/docs/guides/translator-friendly-messages.md
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
  website/docs/tutorials/react.md
  website/docs/tutorials/solid.md
  website/sidebars.ts
Labels: none
