Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs: add lingui-rr integration to third-party modules (#2585)
  website/docs/misc/tooling.md
Labels: none

add deprecation warning & fix errors
  packages/conf/src/types.ts
  website/docs/guides/pseudolocalization.md
  website/docs/ref/conf.md
Labels: :package: conf

docs: add ElevenLabs to users list
  website/src/components/users.tsx
  website/static/img/users/elevenlabs.png
Labels: none

refactor: remove Brave from the users showcase list
  website/src/components/users.tsx
  website/static/img/users/brave.png
Labels: none

docs: add ElevenLabs to users list + remove Brave (#2593)
  website/src/components/users.tsx
  website/static/img/users/brave.png
  website/static/img/users/elevenlabs.png
Labels: none

feat(showroom): add Fluxer
  website/docs/misc/showroom.md
Labels: none

fix(cli): raise esbuild dependency floor
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore: fix prettier warnings
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/cli/src/services/translationIO/translationio-api.ts
  packages/conf/src/types.ts
  packages/react/src/TransNoContext.tsx
  packages/react/src/server.ts
Labels: :package: cli, :package: conf, :package: plugin-extract, :package: react

fix(loader): add non-null assertion for webpack Watching in test compiler
  packages/loader/test/compiler.ts
Labels: :package: loader

chore(release): published v6.5.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

fix(react): fallback to Object.create when Proxy is unavailable
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

docs: add deprecation and add vite rolldown docs
  packages/babel-plugin-lingui-macro/src/macro.ts
  website/docs/installation.mdx
Labels: none

fix format
  website/docs/installation.mdx
Labels: none

runtime js macro
  packages/core/src/runtime-macro.test.ts
  packages/core/src/runtime-macro.ts
Labels: :package: core

add more validation
  packages/core/src/runtime-macro.test.ts
  packages/core/src/runtime-macro.ts
Labels: :package: core

change t to msg
  packages/core/src/runtime-macro.test.ts
  packages/core/src/runtime-macro.ts
Labels: :package: core

update tests
  packages/core/src/runtime-macro.test.ts
Labels: :package: core

expand msg in msg
  packages/core/src/runtime-macro.test.ts
  packages/core/src/runtime-macro.ts
Labels: :package: core

block positional arguments entirely
  packages/core/src/runtime-macro.test.ts
  packages/core/src/runtime-macro.ts
Labels: :package: core

docs: improve SEO meta tags across the website
  website/docs/introduction.md
  website/docusaurus.config.ts
  website/src/components/header.tsx
  website/src/pages/index.tsx
Labels: none

fix(cli): preserve bracketed names in catalog globs
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/getPathsForExtractWatcher.test.ts
  packages/cli/src/api/getPathsForExtractWatcher.ts
Labels: :package: cli

test(cli): use fixture helper for catalog glob tests
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/getPathsForExtractWatcher.test.ts
Labels: :package: cli

fix(babel-plugin-lingui-macro): unwrap non-null assertion (`x!`) and `satisfies` in placeholders
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
Labels: none

fix(babel-plugin-lingui-macro): unwrap non-null assertion (`x!`) and `satisfies` in placeholders (#2622)
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
Labels: none

docs: improve SEO meta tags across the website (#2620)
  website/docs/introduction.md
  website/docusaurus.config.ts
  website/src/components/header.tsx
  website/src/pages/index.tsx
Labels: none

feat(babel-plugin): support Babel 8 via peer dependencies
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: plugin-extract

fix: improved error message for "useLingui hook was used without I18nProvider"
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  packages/solid/src/I18nProvider.tsx
  packages/solid/src/Trans.test.tsx
  packages/solid/src/Trans.tsx
Labels: :package: react

clean up
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
Labels: none

fix: improved error message for "useLingui hook was used without I18nProvider" (#2624)
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  packages/solid/src/I18nProvider.tsx
  packages/solid/src/Trans.test.tsx
  packages/solid/src/Trans.tsx
Labels: :package: react

feat(babel-plugin): support Babel 8 via peer dependencies (#2623)
  packages/babel-plugin-extract-messages/test/extract-messages.test.ts
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: plugin-extract

fix(cli): handle route groups in catalog globs
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/getPathsForExtractWatcher.test.ts
Labels: :package: cli

add comparison with compile time macro
  packages/core/src/runtime-macro.test.ts
Labels: :package: core

add comparison with compile time macro
  packages/core/src/runtime-macro.test.ts
Labels: :package: core

fix(cli): preserve bracketed names in catalog globs (#2621)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/getPathsForExtractWatcher.test.ts
  packages/cli/src/api/getPathsForExtractWatcher.ts
Labels: :package: cli

add comparison with compile time macro
  packages/core/src/runtime-macro.test.ts
Labels: :package: core

feat(babel-plugin-lingui-macro): add nested `msg` and `t` support
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-plural.test.ts
  packages/babel-plugin-lingui-macro/test/js-select.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
Labels: none

add more test cases
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
Labels: none

add more test cases
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
Labels: none

update snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
Labels: none

feat(babel-plugin-lingui-macro): add nested `msg` and `t` support (#2625)
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-select.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-plural.test.ts
  packages/babel-plugin-lingui-macro/test/js-select.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
Labels: none
