Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: use vercel packages
  vercel-deploy-docs.sh
  vercel.json
Labels: none

docs: add vercel deployment scripts
  vercel-deploy-docs.sh
  vercel.json
Labels: none

docs: use vercel with zero-config
  Pipfile.lock
  docs/Pipfile
  docs/Pipfile.lock
  docs/vercel-build.sh
  package.json
  vercel.json
Labels: none

docs: use vercel with zero-config
  Pipfile.lock
  docs/Pipfile
  docs/Pipfile.lock
  docs/vercel-build.sh
  package.json
  vercel.json
Labels: none

docs: update pipfile to require python 3.8
  docs/Pipfile
  docs/Pipfile.lock
Labels: none

docs: update pipfile to require python 3.8
  docs/Pipfile
  docs/Pipfile.lock
Labels: none

docs: update link to 2.x docs
  docs/index.rst
Labels: none

chore: remove obsolete scripts
  scripts/legacy/deploy-docs.sh
  scripts/legacy/discover.js
Labels: none

docs: add link to 2.x docs
  README.md
Labels: none

test: fix import causing re-triggering other test suit
  packages/cli/src/api/__snapshots__/stats.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/tests.ts
Labels: :package: cli

docs: update create-react-app example
  examples/create-react-app/package.json
  examples/create-react-app/src/locales/cs/messages.po
  examples/create-react-app/src/locales/en/messages.po
  examples/create-react-app/tsconfig.json
  examples/create-react-app/yarn.lock
Labels: none

docs: update next.js example
  examples/next-js/package.json
  examples/next-js/yarn.lock
Labels: none

docs: update js example
  examples/js/package.json
  examples/js/yarn.lock
Labels: none

chore: support React 17
  packages/react/package.json
Labels: :package: react

chore: include React 17 in valid peer dependencies
  package.json
Labels: none

Revert "chore: include React 17 in valid peer dependencies"
  package.json
Labels: none

Allow null override for default component
  packages/react/src/Trans.tsx
Labels: :package: react

Fix indentation
  packages/react/src/Trans.tsx
Labels: :package: react

Improve English
  packages/react/src/Trans.test.tsx
Labels: :package: react

Add tests for null props
  packages/react/src/Trans.test.tsx
Labels: :package: react

fix: allow null override for default component (#799)
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
Labels: :package: react

test: add failing test case
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: don't normalize absolute paths on windows
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix: keep absolute catalog include path on Windows (#802)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore: fix yarn registry in next.js example
  examples/next-js/yarn.lock
Labels: none

fix: force return type of Trans component
  packages/react/src/Trans.tsx
Labels: :package: react

chore: release v3.0.1
  package.json
Labels: none

docs: add 3.0.1 changelog
  CHANGELOG.md
Labels: none

fix: fix type of I18nContext
  packages/react/src/I18nProvider.tsx
Labels: :package: react

fix: remove obsolete TransRenderType from macro
  packages/macro/index.d.ts
Labels: :package: macro

fix: add missing types to Trans component
  packages/react/src/Trans.tsx
Labels: :package: react

docs: add 3.0.2 changelog
  CHANGELOG.md
Labels: none

chore: release v3.0.2
  package.json
Labels: none

fix: allow multiple paths in catalog.include
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/collect/componentB.js
Labels: :package: cli

fix: allow multiple paths in catalog.include (#803)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/collect/componentB.js
Labels: :package: cli

docs: add 3.0.3 changelog
  CHANGELOG.md
Labels: none

chore: release v3.0.3
  package.json
Labels: none

wip: add base semantic release config
  release.config.js
Labels: none

Add Greenlight to the list of users
  docs/misc/showroom.rst
Labels: none

feat: accept t as function
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
