Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(format-po-gettext): bad return during mapping with `serializePlurals`
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

test(format-po-gettext): add non-plural test
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/fixtures/messages_plural.po
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

fix(format-po-gettext): bad return during mapping with `serializePlurals` (#1707)
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/fixtures/messages_plural.po
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

feat: Add relative tests
  packages/core/src/formats.test.ts
Labels: :package: core

docs: minor improvements to RN docs
  website/docs/misc/resources.md
  website/docs/tutorials/react-native.md
Labels: none

chore: update react package deps
  packages/react/package.json
  yarn.lock
Labels: :package: react

chore: update react package deps (#1710)
  packages/react/package.json
  yarn.lock
Labels: :package: react

docs: minor improvements to RN docs (#1709)
  website/docs/misc/resources.md
  website/docs/tutorials/react-native.md
Labels: none

docs: add a note about lingui and raw format IDs in the migration guide
  website/docs/ref/catalog-formats.md
  website/docs/releases/migration-4.md
Labels: none

docs: update Tools section
  website/docs/tools/crowdin.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
Labels: none

resolve discussions
  website/docs/releases/migration-4.md
Labels: none

docs: update Tools section (#1712)
  website/docs/tools/crowdin.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
Labels: none

docs: add a note about lingui and raw format IDs in the migration guide (#1711)
  website/docs/ref/catalog-formats.md
  website/docs/releases/migration-4.md
Labels: none

chore: enable the rn app to consume sources for development
  CONTRIBUTING.md
  examples/react-native/README.md
  examples/react-native/app.json
  examples/react-native/metro.config.js
  examples/react-native/package.json
  examples/react-native/tsconfig.json
  examples/react-native/yarn.lock
  packages/core/package.json
  packages/react/package.json
Labels: :package: core, :package: react

chore: undo some changes
  examples/react-native/metro.config.js
  examples/react-native/package.json
  examples/react-native/tsconfig.json
  examples/react-native/yarn.lock
  packages/core/package.json
  packages/react/package.json
Labels: :package: core, :package: react

docs: document using the RN app for package development
  examples/react-native/README.md
Labels: none

docs: better wording
  CONTRIBUTING.md
Labels: none

feat: allow comment prop on react Trans component
  packages/react/src/Trans.tsx
Labels: :package: react

docs: update documentation for comment prop on react Trans component
  website/docs/ref/react.md
Labels: none

feat(extractor): expose extractFromFileWithBabel function for better flexibility
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/index.ts
Labels: :package: cli

feat(vite-plugin): report user-friendly error when macro used without transformation
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/macro-usage/.linguirc
  packages/vite-plugin/test/macro-usage/entrypoint.js
  packages/vite-plugin/test/macro-usage/locale/en.po
  packages/vite-plugin/test/macro-usage/vite.config.ts
  packages/vite-plugin/test/no-macro-error/.linguirc
  packages/vite-plugin/test/no-macro-error/entrypoint.js
  packages/vite-plugin/test/no-macro-error/locale/en.po
  packages/vite-plugin/test/no-macro-error/vite.config.ts
  yarn.lock
Labels: none

feat(vite-plugin): report user-friendly error when macro used without transformation (#1720)
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/__snapshots__/index.ts.snap
  packages/vite-plugin/test/index.ts
  packages/vite-plugin/test/macro-usage/.linguirc
  packages/vite-plugin/test/macro-usage/entrypoint.js
  packages/vite-plugin/test/macro-usage/locale/en.po
  packages/vite-plugin/test/macro-usage/vite.config.ts
  packages/vite-plugin/test/no-macro-error/.linguirc
  packages/vite-plugin/test/no-macro-error/entrypoint.js
  packages/vite-plugin/test/no-macro-error/locale/en.po
  packages/vite-plugin/test/no-macro-error/vite.config.ts
  yarn.lock
Labels: none

feat: allow comment prop on react Trans component (#1718)
  packages/react/src/Trans.tsx
  website/docs/ref/react.md
Labels: :package: react

chore: enable the RN example app to consume sources for development (#1714)
  CONTRIBUTING.md
  examples/react-native/README.md
  examples/react-native/app.json
  examples/react-native/metro.config.js
  examples/react-native/package.json
  examples/react-native/yarn.lock
Labels: none

feat(extractor): expose extractFromFileWithBabel function for better flexibility (#1719)
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/index.ts
Labels: :package: cli

chore(release): published v4.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Clean unused code in `relative`
  packages/core/src/formats.ts
Labels: :package: core

Bind `relative` to `i18n` instance
  packages/core/src/i18n.ts
Labels: :package: core

Remove `isDate`
  packages/core/src/formats.ts
Labels: :package: core

feat: memoizable react translations
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: :package: react

docs: improve plural docs
  website/docs/guides/plurals.md
Labels: none

chore: update deps in RN example
  examples/react-native/package.json
  examples/react-native/yarn.lock
Labels: none

docs: improve plural docs (#1723)
  website/docs/guides/plurals.md
Labels: none

chore: update deps in RN example (#1722)
  examples/react-native/package.json
  examples/react-native/yarn.lock
Labels: none

docs: document the _ fn from useLingui
  website/docs/ref/react.md
  website/docs/tutorials/react-patterns.md
Labels: none

docs: fix lint
  website/docs/ref/react.md
  website/docs/tutorials/react-patterns.md
Labels: none

docs: fix link
  website/docs/releases/migration-3.md
Labels: none

docs: fix lint
  website/docs/releases/migration-3.md
Labels: none

feat: memoizable react translations (#1721)
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  website/docs/ref/react.md
  website/docs/tutorials/react-patterns.md
Labels: :package: react

chore: strict ts config for react package
  packages/core/src/index.ts
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.test.tsx
  packages/react/src/Trans.tsx
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
  packages/react/tsconfig.json
Labels: :package: core, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
