Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

remove outdated test
  yarn.lock
Labels: none

Revert "fix: use makePathRegexSafe with globSync (#2242)"
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

chore: remove YAML support
  jest.config.js
  packages/conf/package.json
  packages/conf/src/fixtures/valid/lingui.config.yaml
  packages/conf/src/fixtures/valid/lingui.config.yml
  packages/conf/src/getConfig.test.ts
  packages/conf/src/getConfig.ts
  yarn.lock
Labels: :package: conf

revert: "fix: use makePathRegexSafe with globSync (#2242)" (#2396)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

feat: allow passing custom orderBy function (#2394)
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/conf/src/types.ts
  website/docs/ref/conf.md
Labels: :package: cli, :package: conf

chore(release): published v5.8.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.8.0 [skip ci] (#2397)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix
  packages/core/macro/index.d.cts
Labels: :package: core

fix: keep catalog extra from previous catalog
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

fix: keep catalog extra from previous catalog (#2399)
  packages/cli/src/api/catalog/mergeCatalog.test.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
Labels: :package: cli

chore: new jsx transform (#2387)
  README.md
  babel.config.js
  package.json
  packages/react/build.config.ts
  packages/react/package.json
  packages/react/src/I18nProvider.tsx
  packages/react/src/Trans.tsx
  packages/react/src/TransNoContext.tsx
  packages/react/src/TransRsc.tsx
  packages/react/src/format.tsx
  packages/react/tsconfig.json
  tsconfig.json
  website/docs/introduction.md
  yarn.lock
Labels: :package: react

feat(message-utils): separate browser/node exports for generateMessageId
  packages/message-utils/package.json
  packages/message-utils/src/constants.ts
  packages/message-utils/src/generateMessageId.node.ts
  packages/message-utils/src/generateMessageId.test.ts
  packages/message-utils/src/generateMessageId.ts
  yarn.lock
Labels: none

docs: dynamic bundle size badges
  README.md
  website/docs/introduction.md
Labels: none

fix typo in react-intl comparison doc
  website/docs/misc/react-intl.md
Labels: none

chore: update deprecation plan for Intl wrappers in documentation
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

chore: remove redundant note about warning post for deprecated Intl APIs
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

chore: add example output for formatOrderSummary and PriceLine functions
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

chore: remove FAQ section regarding Intl wrappers deprecation
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

chore: remove section on React hooks for Intl wrappers deprecation
  website/blog/2025-12-17-deprecating-intl-wrappers/index.md
Labels: none

docs: fix typo in react-intl comparison doc (#2403)
  website/docs/misc/react-intl.md
Labels: none

chore(dependencies): revert bump version for js-sha256
  packages/message-utils/package.json
  yarn.lock
Labels: none

docs: update bundle size badges for core library and React components, migrate to bundlejs.com
  README.md
  website/docs/introduction.md
Labels: none

test: update snapshot to use stringContaining for resolvedConfigPath
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/getConfig.test.ts
Labels: :package: conf

fix(jsx-macro): skip unsopported attributes on Plural / Select
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-select.test.ts
Labels: none

fix(jsx-macro): skip unsopported attributes on Plural / Select (#2407)
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-select.test.ts
Labels: none

feat(message-utils): separate browser/node exports for generateMessageId (#2401)
  packages/message-utils/package.json
  packages/message-utils/src/constants.ts
  packages/message-utils/src/generateMessageId.node.ts
  packages/message-utils/src/generateMessageId.test.ts
  packages/message-utils/src/generateMessageId.ts
Labels: none

refactor: align translationio integration with code standarts (#2388)
  jest.config.js
  packages/cli/package.json
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/fixtures/existing/es.po
  packages/cli/src/services/fixtures/existing/fr.po
  packages/cli/src/services/fixtures/source/en.po
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/segment-converters.test.ts
  packages/cli/src/services/translationIO/segment-converters.ts
  packages/cli/src/services/translationIO/translationio-api.ts
  yarn.lock
Labels: :package: cli

chore(release): published v5.9.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

test(translationIO): update snapshot to match dynamic versioning in integration tests
  packages/cli/src/services/translationIO.test.ts
Labels: :package: cli

test(translationIO): update snapshot to match dynamic versioning in integration tests (#2410)
  packages/cli/src/services/translationIO.test.ts
Labels: :package: cli

chore(release): published v5.9.0 [skip ci] (#2409)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

migrate changes merged from main
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/src/services/translationIO/segment-converters.test.ts
  packages/cli/src/services/translationIO/segment-converters.ts
  packages/react/src/Trans.test.tsx
  packages/react/tsconfig.json
Labels: :package: cli, :package: react

Apply suggestions from code review
  package.json
Labels: none

enable strictNullChecks in message-utils
  packages/message-utils/src/compileMessage.ts
  packages/message-utils/src/generateMessageId.test.ts
  packages/message-utils/tsconfig.json
Labels: none

enable strictNullChecks for vite-plugin
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/test/vite-plugin.test.ts
  packages/vite-plugin/tsconfig.json
Labels: none

infer types for LinguiConfigNormalized from default config
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
Labels: :package: conf

enable noUncheckedIndexedAccess in cli
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/catalog/mergeCatalog.ts
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/services/translationIO.test.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/tsconfig.json
Labels: :package: cli

migrate po-formatter to strictNullChecks
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  packages/format-po/tsconfig.json
Labels: none

enable strictNullChecks for webpack loader
  packages/loader/src/webpackLoader.ts
  packages/loader/test/compiler.ts
  packages/loader/test/loader.test.ts
  packages/loader/tsconfig.json
Labels: :package: loader

enable strictNullChecks for extractor vue
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/vue-extractor.ts
  packages/extractor-vue/tsconfig.json
  packages/metro-transformer/tsconfig.json
Labels: none
