Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(extractor): support `decoratorAutoAccessors` and improve documentation
  packages/cli/src/api/extractors/babel.ts
  website/docs/guides/custom-extractor.md
Labels: :package: cli

feat(macro): deprecate custom i18n instance on `t` macro
  packages/core/macro/index.d.ts
  website/docs/ref/macro.mdx
  website/docs/releases/migration-5.md
Labels: :package: core

feat(extractor): support `decoratorAutoAccessors` and improve documentation (#2058)
  packages/cli/src/api/extractors/babel.ts
  website/docs/guides/custom-extractor.md
Labels: :package: cli

fix(extraction test): remove manual copies of 'existing'
  packages/cli/test/index.test.ts
Labels: :package: cli

docs: refactor installation instructions
  vercel.json
  website/docs/installation.mdx
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.mdx
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: none

minor update
  website/docs/ref/core.md
  website/docs/ref/react.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react.md
Labels: none

docs: prettify sync & collaboration tools section
  website/docs/tools/crowdin.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
  website/sidebars.ts
  website/static/img/docs/Crowdin__js-lingui-cli.png
  website/static/img/docs/translation-lingui-logo.png
Labels: none

resolve discussions
  website/docs/installation.mdx
Labels: none

reorder headings
  website/docs/installation.mdx
Labels: none

docs: prettify sync & collaboration tools section (#2061)
  website/docs/tools/crowdin.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
  website/sidebars.ts
  website/static/img/docs/Crowdin__js-lingui-cli.png
  website/static/img/docs/translation-lingui-logo.png
Labels: none

docs: improve introduction
  website/docs/introduction.md
Labels: none

docs: improve introduction (#2062)
  website/docs/introduction.md
Labels: none

refactor(macro): remove redundant case for extract and stripMessageField both true
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

test(macro): remove obsolete snapshots
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
Labels: none

Apply suggestions from code review
  website/docs/installation.mdx
  website/docs/ref/conf.md
Labels: none

fix heading links
  website/docs/installation.mdx
Labels: none

minor fixes
  website/docs/installation.mdx
Labels: none

fix(extract): when files are used, don't overwrite obsolete (#1964)
  packages/cli/src/api/catalog/mergeCatalog.ts
  packages/cli/test/extract-partial-consistency/existing/en.po
  packages/cli/test/extract-partial-consistency/expected/en.po
  packages/cli/test/extract-partial-consistency/fixtures/file-a.ts
  packages/cli/test/extract-partial-consistency/fixtures/file-b.tsx
  packages/cli/test/index.test.ts
Labels: :package: cli

add package
  packages/format-po-gettext/package.json
  yarn.lock
Labels: none

generate instead of commit json
  packages/format-po-gettext/src/cldr-samples.json
  packages/format-po-gettext/src/plural_samples.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

docs: refactor installation instructions (#2060)
  vercel.json
  website/docs/installation.mdx
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.mdx
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: none

docs: Guides section improvements
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/guides/explicit-vs-generated-ids.md
  website/docs/guides/message-extraction.md
  website/docs/guides/message-format.md
  website/docs/guides/plurals.md
  website/docs/guides/pseudolocalization.md
  website/docs/guides/testing.md
  website/docs/releases/migration-4.md
Labels: none

docs: Resources section improvements
  website/docs/misc/community.md
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/misc/resources.md
  website/docs/misc/showroom.md
  website/docs/misc/tooling.md
  website/docusaurus.config.ts
  website/src/components/Users.tsx
Labels: none

discussions
  website/docs/misc/i18next.md
Labels: none

docs: improve Tooling and API Reference sections
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/ref/extractor-vue.md
  website/docs/ref/loader.md
  website/docs/ref/locale-detector.md
  website/docs/ref/metro-transformer.mdx
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/sidebars.ts
Labels: none

configuration
  website/docs/ref/conf.md
Labels: none

core
  website/docs/ref/conf.md
  website/docs/ref/core.md
Labels: none

refactor renameKeys and add tests
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/format-po-gettext/src/plural_samples.ts
Labels: none

temp disable rules
  packages/format-po-gettext/src/plural_samples.ts
Labels: none

refactor fillRange and add tests
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/format-po-gettext/src/plural_samples.ts
Labels: none

add createSamples test
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/format-po-gettext/src/plural_samples.ts
Labels: none

dont need compiled functions
  packages/format-po-gettext/src/plural_samples.ts
Labels: none

run prettier
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/format-po-gettext/src/plural_samples.ts
Labels: none

add final test
  packages/format-po-gettext/src/plural-samples.test.ts
Labels: none

change to use function
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

fix prettier
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

custom extractor and formatter
  website/docs/guides/custom-extractor.md
  website/docs/guides/custom-formatter.md
Labels: none

fix name
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/format-po-gettext/src/plural-samples.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

docs: update react native guide according to example
  website/docs/tutorials/react-native.md
Labels: none

docs: update react native guide according to example (#2071)
  website/docs/tutorials/react-native.md
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
