Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs: 4k stars blog post
  website/blog/2023-12-12-4k-stars/img/social-card.png
  website/blog/2023-12-12-4k-stars/index.md
Labels: none

docs: updates to IDs comparison
  website/docs/tutorials/explicit-vs-generated-ids.md
Labels: none

docs: cli and versioning catalogs updates
  website/docs/guides/excluding-build-files.md
  website/docs/ref/loader.md
  website/docs/tutorials/cli.md
Labels: none

docs: fix link
  website/docs/tutorials/cli.md
Labels: none

chore: update node in ci (#1813)
  .github/workflows/docs-suite.yml
  .github/workflows/main-suite.yml
  .github/workflows/next-sync.yml
  .github/workflows/release-docs.yml
  .github/workflows/release.yml
  packages/cli/src/api/utils.ts
Labels: :package: cli

Update website/docs/tutorials/cli.md
  website/docs/tutorials/cli.md
Labels: none

fix: double render due to wrong assertion
  examples/nextjs-swc/src/utils.ts
Labels: none

docs: 4k stars blog post (#1818)
  website/blog/2023-12-12-4k-stars/img/social-card.png
  website/blog/2023-12-12-4k-stars/index.md
Labels: none

fix: double render due to wrong assertion (#1817)
  examples/nextjs-swc/src/utils.ts
Labels: none

fix: support parentheses in catalog pathname
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

added test for parentheses in a catalog pathname
  packages/cli/src/api/catalog/getCatalogs.test.ts
Labels: :package: cli

fix: allow parentheses in catalog pathnames (#1820)
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

Update website/docs/tutorials/cli.md
  website/docs/tutorials/cli.md
Labels: none

docs: various docs improvements (#1781)
  website/docs/guides/dynamic-loading-catalogs.md
  website/docs/guides/excluding-build-files.md
  website/docs/guides/flow.md
  website/docs/guides/message-extraction.md
  website/docs/guides/typescript.md
  website/docs/introduction.md
  website/docs/ref/cli.md
  website/docs/ref/loader.md
  website/docs/tutorials/cli.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
Labels: none

docs: update users list
  website/src/components/Users.tsx
  website/static/img/users/bluesky.png
Labels: none

docs: update users list (#1822)
  website/src/components/Users.tsx
  website/static/img/users/bluesky.png
Labels: none

docs: fix link in the format-po readme
  packages/format-po/README.md
Labels: none

docs: fix link in the format-po readme (#1823)
  packages/format-po/README.md
  packages/format-po/src/po.ts
Labels: none

fix: double render due to wrong assertion
  examples/nextjs-babel/src/i18n.ts
Labels: none

chore: update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

fix: double render due to wrong assertion (#1824)
  examples/nextjs-babel/src/i18n.ts
Labels: none

chore: update PULL_REQUEST_TEMPLATE.md (#1825)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

feat(vite-plugin): add support for vite@5
  packages/vite-plugin/package.json
  yarn.lock
Labels: none

feat(vite-plugin): add support for vite@5 (#1827)
  packages/vite-plugin/package.json
  yarn.lock
Labels: none

fix: warnings about invalid dependencies on Windows
  packages/loader/src/webpackLoader.ts
Labels: :package: loader

fix: warnings about invalid dependencies on Windows (#1828)
  packages/loader/src/webpackLoader.ts
Labels: :package: loader

chore(release): published v4.7.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: add pnpm code blocks
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Labels: none

chore: format docusaurus config
  website/docusaurus.config.js
Labels: none

docs: add pnpm code blocks (#1831)
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Labels: none

docs: update resources and tooling sections
  website/docs/misc/resources.md
  website/docs/misc/showroom.md
  website/docs/misc/tooling.md
  website/sidebars.ts
Labels: none

docs: update resources and tooling sections (#1832)
  website/docs/misc/resources.md
  website/docs/misc/showroom.md
  website/docs/misc/tooling.md
  website/sidebars.ts
Labels: none

docs: update Tooling section
  website/docs/misc/resources.md
  website/docs/misc/tooling.md
Labels: none

docs: update Tooling section (#1835)
  website/docs/misc/resources.md
  website/docs/misc/tooling.md
Labels: none

fix(core): use named instead of default export for unraw lib
  packages/core/src/interpolate.ts
Labels: :package: core

fix(core): use named instead of default export for unraw lib (#1837)
  packages/core/src/interpolate.ts
Labels: :package: core

feat(core/i18n/t): Precise typing for message parameters
  packages/core/src/i18n.t.ts
  packages/core/src/i18n.ts
  packages/core/src/index.ts
  packages/react/src/TransNoContext.tsx
Labels: :package: core, :package: react

feat(core/i18n/t): take into account escape characters
  packages/core/src/i18n.t.ts
Labels: :package: core

feat(core/i18n/t): only allow omit values param object if message string contains no params
  packages/core/src/i18n.t.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
Labels: :package: core

chore(core/i18n/t): use type-fest lib instead of manually declared utility types
  packages/core/package.json
  packages/core/src/i18n.t.ts
  yarn.lock
Labels: :package: core
