Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

support returning null when processing useLingui
  packages/macro/src/index.ts
Labels: :package: macro

feat(macro): useLingui implementation and tests
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.ts
  packages/conf/src/types.ts
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/index.d.ts
  packages/macro/src/index.ts
  packages/macro/test/__snapshots__/index.ts.snap
  packages/macro/test/index.ts
  packages/macro/test/js-useLingui.ts
Labels: :package: conf, :package: macro, :package: plugin-extract

feat(macro): expect error without snapshot
  packages/macro/test/__snapshots__/index.ts.snap
  packages/macro/test/index.ts
Labels: :package: macro

docs: update docs for useLingui
  website/docs/introduction.md
  website/docs/ref/conf.md
  website/docs/ref/macro.md
  website/docs/ref/react.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
Labels: none

docs: upgrade to Docusaurus v3
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/releases/migration-3.md
  website/docs/releases/migration-4.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docusaurus.config.ts
  website/package.json
  website/src/components/Features.tsx
  website/tsconfig.json
  website/yarn.lock
Labels: none

docs: upgrade to Docusaurus v3 (#1861)
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/releases/migration-3.md
  website/docs/releases/migration-4.md
  website/docs/tools/introduction.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docusaurus.config.ts
  website/package.json
  website/src/components/Features.tsx
  website/tsconfig.json
  website/yarn.lock
Labels: none

Apply suggestions from code review
  packages/macro/src/index.ts
  website/docs/ref/react.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
Labels: :package: macro

pr comment changes
  packages/macro/test/index.ts
Labels: :package: macro

correctly pass custom useLingui name
  packages/macro/src/index.ts
  packages/macro/test/js-useLingui.ts
Labels: :package: macro

docs: add twitter announcement bar
  website/docusaurus.config.ts
Labels: none

docs: add twitter announcement bar (#1863)
  website/docusaurus.config.ts
Labels: none

docs: search engine optimization
  website/docs/guides/custom-extractor.md
  website/docs/guides/custom-formatter.md
  website/docs/guides/message-extraction.md
  website/docs/guides/plurals.md
  website/docs/guides/pseudolocalization.md
  website/docs/introduction.md
  website/docs/misc/examples.md
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/ref/eslint-plugin.md
  website/docs/ref/locale-detector.md
  website/docs/ref/macro.md
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/cli.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
  website/docusaurus.config.ts
Labels: none

remove keywords
  website/docs/guides/custom-extractor.md
  website/docs/guides/custom-formatter.md
  website/docs/guides/message-extraction.md
  website/docs/guides/plurals.md
  website/docs/guides/pseudolocalization.md
  website/docs/introduction.md
  website/docs/misc/examples.md
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/ref/eslint-plugin.md
  website/docs/ref/locale-detector.md
  website/docs/ref/macro.md
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/cli.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
Labels: none

docs: search engine optimization (#1865)
  website/docs/guides/custom-extractor.md
  website/docs/guides/custom-formatter.md
  website/docs/guides/message-extraction.md
  website/docs/guides/plurals.md
  website/docs/guides/pseudolocalization.md
  website/docs/introduction.md
  website/docs/misc/examples.md
  website/docs/misc/i18next.md
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/cli.md
  website/docs/ref/conf.md
  website/docs/ref/core.md
  website/docs/ref/eslint-plugin.md
  website/docs/ref/locale-detector.md
  website/docs/ref/macro.md
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/tutorials/cli.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
  website/docusaurus.config.ts
Labels: none

Apply suggestions from code review
  website/docs/tutorials/react.md
Labels: none

refactor(macro): change docs
  website/docs/tutorials/react.md
Labels: none

docs: various changes
  README.md
  packages/extractor-vue/README.md
  vercel.json
  website/docs/guides/message-format.md
  website/docs/guides/plurals.md
  website/docs/ref/extractor-vue.md
  website/docs/ref/macro.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: none

feat(macro): add useLingui macro (#1859)
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.ts
  packages/conf/src/types.ts
  packages/macro/__typetests__/index.test-d.tsx
  packages/macro/index.d.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/index.ts
  packages/macro/test/js-useLingui.ts
  website/docs/introduction.md
  website/docs/ref/conf.md
  website/docs/ref/macro.md
  website/docs/ref/react.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
Labels: :package: conf, :package: macro, :package: plugin-extract

refactor(macro): refactor useLingui transform, add more comments
  packages/macro/src/macroJs.ts
Labels: :package: macro

refactor(macro): run macro tests twice for macro and for plugin
  packages/macro/test/index.ts
Labels: :package: macro

refactor(macro): fix incorrect exports definition
  packages/macro/package.json
Labels: :package: macro

refactor(macro): add both transforms tests for validations
  packages/macro/test/index.ts
Labels: :package: macro

refactor(macro): remove processedNodes, since it's not needed anymore
  packages/macro/src/plugin.ts
Labels: :package: macro

refactor(macro): add more complicated test cases
  packages/macro/test/js-t.ts
Labels: :package: macro

refactor(macro): use babel plugin instead of macro in extractor and tests
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/index.ts
  packages/cli/package.json
  packages/cli/src/api/extractors/babel.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/migrations/normalizeRuntimeConfigModule.test.ts
  packages/conf/src/migrations/normalizeRuntimeConfigModule.ts
  packages/conf/src/types.ts
  packages/macro/package.json
  packages/macro/src/plugin.ts
  packages/macro/test/fixtures/js-t-var/.babelrc
  packages/macro/test/fixtures/js-t-var/js-t-var.expected.js
  packages/macro/test/index.ts
  packages/macro/test/jsx-trans.ts
  tsconfig.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro, :package: plugin-extract

refactor(macro): use uniq identifiers for inserted statements
  packages/macro/src/plugin.ts
  packages/macro/test/fixtures/js-t-continuation-character.expected.js
  packages/macro/test/fixtures/jsx-plural-select-nested.expected.js
  packages/macro/test/js-plural.ts
  packages/macro/test/js-select.ts
  packages/macro/test/js-selectOrdinal.ts
  packages/macro/test/js-t.ts
  packages/macro/test/js-useLingui.ts
  packages/macro/test/jsx-plural.ts
  packages/macro/test/jsx-select.ts
  packages/macro/test/jsx-selectOrdinal.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

refactor(macro): fix macro test
  packages/macro/test/jsx-trans.ts
Labels: :package: macro

refactor(macro): use babel-plugin style instead of macro
  packages/babel-plugin-extract-messages/test/fixtures/js-with-macros.js
  packages/macro/src/constants.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/src/plugin.ts
  packages/macro/test/index.ts
  packages/macro/test/js-defineMessage.ts
  packages/macro/test/js-t.ts
  packages/macro/test/js-useLingui.ts
  packages/macro/test/jsx-select.ts
  packages/macro/test/jsx-trans.ts
Labels: :package: macro, :package: plugin-extract

refactor(macro): fix integration tests
  packages/macro/test/index.ts
Labels: :package: macro

refactor(macro): revert
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

add trimming to locales
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

trim before filtering
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

chore(release): published v4.8.0-next.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

refactor(macro): add tests for #1797 issue
  packages/cli/test/extractor-experimental-1797/expected/locales/_app.page/en.po
  packages/cli/test/extractor-experimental-1797/expected/locales/_app.page/pl.po
  packages/cli/test/extractor-experimental-1797/expected/locales/index.page/en.po
  packages/cli/test/extractor-experimental-1797/expected/locales/index.page/pl.po
  packages/cli/test/extractor-experimental-1797/fixtures/components/AboutText.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/components/Developers.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/components/Switcher.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/pages/_app.page.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/pages/index.page.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/styles/Index.module.css
  packages/cli/test/extractor-experimental-1797/fixtures/styles/globals.css
  packages/cli/test/extractor-experimental-1797/fixtures/utils.ts
  packages/cli/test/extractor-experimental-1797/package.json
  packages/cli/test/extractor-experimental-1797/tsconfig.json
  packages/cli/test/index.test.ts
  packages/macro/package.json
Labels: :package: cli, :package: macro

Apply suggestions from code review
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-vite.md
Labels: none

refactor(macro): use workspace schema for dev lingui deps
  packages/babel-plugin-extract-messages/package.json
  yarn.lock
Labels: :package: plugin-extract

add babel-swc mdx tabs
  website/docs/guides/message-extraction.md
  website/docs/guides/plurals.md
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/releases/migration-3.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.mdx
Labels: none

Revert "refactor(macro): add tests for #1797 issue"
  packages/cli/test/extractor-experimental-1797/expected/locales/_app.page/en.po
  packages/cli/test/extractor-experimental-1797/expected/locales/_app.page/pl.po
  packages/cli/test/extractor-experimental-1797/expected/locales/index.page/en.po
  packages/cli/test/extractor-experimental-1797/expected/locales/index.page/pl.po
  packages/cli/test/extractor-experimental-1797/fixtures/components/AboutText.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/components/Developers.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/components/Switcher.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/pages/_app.page.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/pages/index.page.tsx
  packages/cli/test/extractor-experimental-1797/fixtures/styles/Index.module.css
  packages/cli/test/extractor-experimental-1797/fixtures/styles/globals.css
  packages/cli/test/extractor-experimental-1797/fixtures/utils.ts
  packages/cli/test/extractor-experimental-1797/package.json
  packages/cli/test/extractor-experimental-1797/tsconfig.json
  packages/cli/test/index.test.ts
  packages/macro/package.json
Labels: :package: cli, :package: macro

support transforming member expressions to args
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: macro

docs: various changes (#1870)
  README.md
  packages/extractor-vue/README.md
  vercel.json
  website/docs/guides/message-extraction.md
  website/docs/guides/message-format.md
  website/docs/guides/plurals.md
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
  website/docs/ref/extractor-vue.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/releases/migration-3.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-react.mdx
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
