Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

Update website/blog/2024-11-20-metro-transformer/index.md
  website/blog/2024-11-20-metro-transformer/index.md
Labels: none

docs: add Metro Transformer blog post (#2088)
  website/blog/2024-11-20-metro-transformer/index.md
  website/blog/2024-11-20-metro-transformer/social-card.png
  website/blog/authors.yml
Labels: none

docs: update Metro social card
  website/blog/2024-11-20-metro-transformer/social-card.png
Labels: none

docs: update Metro social card (#2089)
  website/blog/2024-11-20-metro-transformer/social-card.png
Labels: none

chore(release): published v5.0.0-next.5
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

discussions
  website/blog/2024-11-25-announcing-lingui-5.0/index.md
  website/docs/releases/migration-5.md
Labels: none

update social card
  website/blog/2024-11-25-announcing-lingui-5.0/img/social-card.png
Labels: none

docs: v5 release blog post
  website/blog/2024-11-25-announcing-lingui-5.0/img/social-card.png
  website/blog/2024-11-25-announcing-lingui-5.0/index.md
  website/docusaurus.config.ts
  website/package.json
  website/yarn.lock
Labels: none

minor tweaks
  website/blog/2024-11-25-announcing-lingui-5.0/index.md
Labels: none

defineConfig
  website/blog/2024-11-28-announcing-lingui-5.0/index.md
  website/blog/2024-11-28-announcing-lingui-5.0/social-card.png
Labels: none

Don't report pseudolocalization stats
  packages/cli/src/api/stats.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

fix: don't report statistics for pseudo locale (#2094)
  packages/cli/src/api/stats.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

build(deps): fix metro transformer deps
  packages/metro-transformer/package.json
  yarn.lock
Labels: none

build(deps): fix metro transformer deps (#2097)
  packages/metro-transformer/package.json
  yarn.lock
Labels: none

chore(release): published v4.14.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

test: fix failed test after merging main
  packages/cli/test/index.test.ts
Labels: :package: cli

docs: v5 release blog post (#2079)
  website/blog/2024-11-28-announcing-lingui-5.0/index.md
  website/blog/2024-11-28-announcing-lingui-5.0/social-card.png
  website/docs/releases/migration-5.md
  website/docusaurus.config.ts
  website/package.json
  website/yarn.lock
Labels: none

chore: official v5 release
  CHANGELOG.md
  lerna.json
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  website/docusaurus.config.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: official v5 release (#2099)
  CHANGELOG.md
  lerna.json
  package.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  website/docusaurus.config.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: update v5 social card
  website/blog/2024-11-28-announcing-lingui-5.0/social-card.png
Labels: none

docs: update v5 social card (#2100)
  website/blog/2024-11-28-announcing-lingui-5.0/social-card.png
Labels: none

feat: add basic solidjs support
  .eslintignore
  jest.config.js
  package.json
  packages/solid/.babelrc.json
  packages/solid/.eslintrc
  packages/solid/CHANGELOG.md
  packages/solid/README.md
  packages/solid/babel.config.js
  packages/solid/build.config.ts
  packages/solid/package.json
  packages/solid/src/I18nProvider.test.tsx
  packages/solid/src/I18nProvider.tsx
  packages/solid/src/Trans.test.tsx
  packages/solid/src/Trans.tsx
  packages/solid/src/TransNoContext.tsx
  packages/solid/src/format.test.tsx
  packages/solid/src/format.tsx
  packages/solid/src/index.ts
  packages/solid/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: none

feat: build solid plugin with vite
  packages/solid/build.config.ts
  packages/solid/package.json
  packages/solid/src/I18nProvider.tsx
  packages/solid/src/TransNoContext.tsx
  packages/solid/vite.config.js
  yarn.lock
Labels: none

fix: return original `@typescript-eslint/parser` version, add `vite build` to package.json
  package.json
  packages/solid/package.json
  yarn.lock
Labels: none

fix: add babel-preset-solid, remove duplicated .babelrc.json
  packages/solid/.babelrc.json
  packages/solid/package.json
  yarn.lock
Labels: none

feat: add macro support for @lingui/solid
  packages/solid/README.md
  packages/solid/macro/__typetests__/index.test-d.tsx
  packages/solid/macro/__typetests__/tsconfig.json
  packages/solid/macro/index.d.ts
  packages/solid/macro/index.js
  packages/solid/macro/index.test.ts
  packages/solid/package.json
  yarn.lock
Labels: none

fix: add tsd to solid/package.json
  packages/solid/package.json
  yarn.lock
Labels: none

feat: add @lingui/solid/macro
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
Labels: none

feat: add ph() and explicit labels for placeholders
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/core/macro/index.d.ts
  packages/react/macro/__typetests__/index.test-d.tsx
  packages/react/macro/index.d.ts
Labels: :package: core, :package: react

feat: add new tests to solid plugin
  packages/react/src/Trans.test.tsx
  packages/solid/src/I18nProvider.tsx
  packages/solid/src/Trans.test.tsx
  packages/solid/src/TransNoContext.tsx
  packages/solid/src/format.tsx
  tsconfig.json
Labels: :package: react

fix: remove broken line
  packages/react/src/Trans.test.tsx
Labels: :package: react

fix: remove bad autocompletion import
  packages/solid/src/Trans.test.tsx
Labels: none

fix: ^1.6.0 for peer solid-js
  packages/solid/package.json
Labels: none

fix: ^1.6.0 for peer solid-js (yarn.lock)
  yarn.lock
Labels: none

feat: add support for @lingui/solid in extractor
  packages/babel-plugin-extract-messages/src/index.ts
Labels: :package: plugin-extract

fix: skip packages/solid/macro/__typetests__ from lint
  packages/solid/tsconfig.json
Labels: none

docs: add v4 documentation link
  website/docs/releases/migration-5.md
Labels: none

feat(vite-plugin): add support for vite@6
  packages/vite-plugin/package.json
  yarn.lock
Labels: none

chore(yarn): dedupe lock file
  yarn.lock
Labels: none

docs: add v4 documentation link (#2107)
  website/docs/releases/migration-5.md
Labels: none
