Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

chore: improved commit-lint
  .commitlintrc.yml
  .github/workflows/lint-pr-title.yml
  package.json
  yarn.lock
Labels: none

Revert "chore: improved commit-lint"
  .commitlintrc.yml
  .github/workflows/lint-pr-title.yml
  package.json
  yarn.lock
Labels: none

chore: add detect-locale to coverage folder
  packages/core/src/formats.test.ts
  scripts/jest/config.unit.js
Labels: :package: core

chore: add release workflow
  .github/workflows/release.yml
Labels: none

po-gettext: Improve code and tests
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/conf/index.d.ts
Labels: :package: cli, :package: conf

po-gettext: Add docs
  docs/ref/catalog-formats.rst
  docs/ref/conf.rst
Labels: none

po-gettext: Fix TS errors in test
  packages/cli/src/api/formats/po-gettext.test.ts
Labels: :package: cli

Add typescript to next example dependencies
  examples/next-js/lingui.config.js
  examples/next-js/package.json
  examples/next-js/yarn.lock
Labels: none

fix: mandatory ext on @lingui/loader
  docs/ref/loader.rst
  packages/loader/src/index.js
Labels: :package: loader

chore: because
  packages/loader/src/index.js
Labels: :package: loader

chore: add @lingui/loader to cra-example
  docs/ref/loader.rst
  packages/loader/src/index.js
Labels: :package: loader

Revert "chore: add @lingui/loader to cra-example"
  docs/ref/loader.rst
  packages/loader/src/index.js
Labels: :package: loader

chore: added to example
  examples/create-react-app/package.json
  examples/create-react-app/src/i18n.ts
Labels: none

docs: add typescript to next example dependencies (#829)
  examples/next-js/lingui.config.js
  examples/next-js/package.json
  examples/next-js/yarn.lock
Labels: none

Update docs/ref/loader.rst
  docs/ref/loader.rst
Labels: none

Improve @lingui/cli installation description in README.md
  packages/cli/README.md
Labels: :package: cli

fix: mandatory ext on @lingui/loader (#831)
  docs/ref/loader.rst
  examples/create-react-app/package.json
  examples/create-react-app/src/i18n.ts
  packages/loader/src/index.js
Labels: :package: loader

Remove lingui add locales from Readme
  packages/cli/README.md
Labels: :package: cli

Fix typo
  packages/cli/README.md
Labels: :package: cli

Remove unused types and migrate types from types file
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/types.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/formats/types.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/api/types.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
Labels: :package: cli

Remove semicolons
  packages/cli/src/api/compile.ts
  packages/cli/src/api/stats.ts
Labels: :package: cli

Enable pseudolocalization from pseudolocale folder
  docs/ref/conf.rst
  docs/tutorials/cli.rst
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/extract.test.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract.ts
Labels: :package: cli

Improve documentation
  docs/ref/conf.rst
  docs/tutorials/cli.rst
Labels: none

docs: improve @lingui/cli installation description in README.md (#832)
  packages/cli/README.md
Labels: :package: cli

refactor: remove types file (#835)
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/compile.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/types.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.test.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/formats/types.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/api/types.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
Labels: :package: cli

chore: remove node on python build
  .github/workflows/deploy-main-docs.yml
Labels: none

chore: lint only on lts
  .github/workflows/main-suite.yml
Labels: none

chore: node-version latest on release
  .github/workflows/release.yml
Labels: none

chore: let lingui bot create the pull rquest
  .github/workflows/next-sync.yml
Labels: none

fix: cache
  .github/workflows/main-suite.yml
  .github/workflows/release.yml
Labels: none

chore: improved release input name
  .github/workflows/next-sync.yml
  .github/workflows/release.yml
Labels: none

chore: changed git action to use github token
  .github/workflows/next-sync.yml
  .github/workflows/release.yml
Labels: none

Add information about compile order
  docs/tutorials/cli.rst
Labels: none

Ensure makeContext() gets called in useEffect hook
  packages/react/src/I18nProvider.tsx
Labels: :package: react

Improve render logic on async
  packages/react/src/I18nProvider.tsx
Labels: :package: react

Add a warning when I18nProvider does not render
  packages/react/src/I18nProvider.tsx
Labels: :package: react

chore: changed to GH_TOKEN
  .github/workflows/next-sync.yml
  .github/workflows/release.yml
Labels: none

fix: ensure render of I18nProvider in async scenarios (#839)
  packages/react/src/I18nProvider.tsx
Labels: :package: react

ci: removed old ci
  .circleci/config.yml
  appveyor.yml
Labels: none

chore: add setup/node to deploy docs
  .github/workflows/deploy-main-docs.yml
Labels: none
