Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

slight changes in types
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/typedPool.ts
  packages/cli/src/api/workerPools.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
Labels: :package: cli

chore: get rid of date-fns
  packages/format-po/package.json
  packages/format-po/src/po.ts
  packages/format-po/src/utils.test.ts
  packages/format-po/src/utils.ts
  yarn.lock
Labels: none

cleanup
  packages/format-po/src/utils.test.ts
Labels: none

chore: get rid of date-fns (#2421)
  packages/format-po/package.json
  packages/format-po/src/po.ts
  packages/format-po/src/utils.test.ts
  packages/format-po/src/utils.ts
  yarn.lock
Labels: none

chore: remove deprecated @lingui/macro package
  examples/remix-vite-babel/app/modules/lingui/lingui.tsx
  examples/remix-vite-babel/app/routes/_index.tsx
  examples/rspack/package.json
  examples/rspack/yarn.lock
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/cli/test/extract-partial-consistency/fixtures/file-a.ts
  packages/cli/test/extract-partial-consistency/fixtures/file-b.tsx
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/macro/CHANGELOG.md
  packages/macro/README.md
  packages/macro/index.d.ts
  packages/macro/index.js
  packages/macro/package.json
  packages/macro/tsconfig.json
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro

chore: remove deprecated @lingui/macro package (#2422)
  examples/remix-vite-babel/app/modules/lingui/lingui.tsx
  examples/remix-vite-babel/app/routes/_index.tsx
  examples/rspack/package.json
  examples/rspack/yarn.lock
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/cli/test/extract-partial-consistency/fixtures/file-a.ts
  packages/cli/test/extract-partial-consistency/fixtures/file-b.tsx
  packages/conf/src/__snapshots__/getConfig.test.ts.snap
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/macro/CHANGELOG.md
  packages/macro/README.md
  packages/macro/index.d.ts
  packages/macro/index.js
  packages/macro/package.json
  packages/macro/tsconfig.json
  packages/vite-plugin/test/vite-plugin.test.ts
  yarn.lock
Labels: :package: cli, :package: conf, :package: macro

chore(cli): replace threads with tinypool (#2420)
  .yarn/patches/threads-npm-1.7.0-c432dbb3e9.patch
  package.json
  packages/cli/package.json
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/extractWorkerPool.ts
  packages/cli/src/api/typedPool.ts
  packages/cli/src/api/workerPools.ts
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.jiti.js
  packages/cli/src/extract-experimental/workers/extractWorkerWrapper.prod.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/workers/compileWorker.ts
  packages/cli/src/workers/compileWorkerWrapper.jiti.js
  packages/cli/src/workers/compileWorkerWrapper.prod.ts
  packages/cli/src/workers/extractWorkerWrapper.jiti.js
  packages/cli/src/workers/extractWorkerWrapper.prod.ts
  yarn.lock
Labels: :package: cli

use workspace protocol in cli
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

use workspace protocol and move macro plugin as dev dependency
  packages/babel-plugin-lingui-macro/package.json
  packages/core/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: core, :package: loader, :package: react

remove `@babel/runtime` as direct dependency
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/loader/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: react

remove cycle
  packages/babel-plugin-lingui-macro/package.json
  yarn.lock
Labels: none

chore: use workspace protocol, reconsider peerDeps (#2426)
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: react

refactor: modernize format-po-gettext
  packages/format-po-gettext/gettext-plurals.json
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/fixtures/messages_plural-4-letter.po
  packages/format-po-gettext/src/fixtures/messages_plural.po
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/format-po-gettext/src/plural-samples.ts
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po-gettext/src/utils/checkCldr.test.ts
  packages/format-po-gettext/src/utils/mapGettextPlurals2Icu.test.ts
  packages/format-po-gettext/src/utils/mapGettextPlurals2Icu.ts
  packages/format-po-gettext/src/utils/parseExamples.test.ts
  packages/format-po-gettext/src/utils/parseExamples.ts
  packages/format-po-gettext/src/utils/parsePluralFormsHeader.test.ts
  packages/format-po-gettext/src/utils/parsePluralFormsHeader.ts
  packages/format-po-gettext/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: none

add gh workflow
  .github/workflows/update-cldr-data.yml
Labels: none

revert
  packages/format-po-gettext/src/fixtures/messages_plural-4-letter.po
  packages/format-po-gettext/src/fixtures/messages_plural.po
  packages/format-po-gettext/src/po-gettext.test.ts
  yarn.lock
Labels: none

debug for wf
  .github/workflows/update-cldr-data.yml
Labels: none

add prettier
  .github/workflows/update-cldr-data.yml
Labels: none

remove debug
  .github/workflows/update-cldr-data.yml
Labels: none

Apply suggestions from code review
  .github/workflows/update-cldr-data.yml
Labels: none

feat(vue-extractor): add reactivity transform support for props destructuring
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/extractor.test.ts
  packages/extractor-vue/src/fixtures/props-destructuring.vue
  packages/extractor-vue/src/vue-extractor.ts
Labels: :package: conf

docs(vue-extractor): update extractor-vue documentation
  website/docs/ref/extractor-vue.md
Labels: none

feat(vue-extractor): move script compilation logic into separate file
  packages/extractor-vue/src/compile-script-setup.ts
  packages/extractor-vue/src/vue-extractor.ts
Labels: none

chore: run prettier on touched files
  packages/conf/src/makeConfig.ts
  packages/extractor-vue/src/extractor.test.ts
Labels: :package: conf

chore: add missing newline at end of props-destructuring.vue
  packages/extractor-vue/src/fixtures/props-destructuring.vue
Labels: none

chore: update commander to version 14.0.2
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore: add .nvmrc file with Node.js version 20
  .nvmrc
Labels: none

chore: update .gitignore to include .lingui directory
  .gitignore
Labels: none

chore: enable native ESM for development
  eslint.config.js
  package.json
  packages/babel-plugin-lingui-macro/.vitest/serializer.ts
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/vitest.config.ts
  packages/cli/.vitest/serializer.ts
  packages/cli/vitest.config.ts
  packages/detect-locale/package.json
  packages/extractor-vue/package.json
  packages/format-json/package.json
  packages/loader/package.json
  packages/metro-transformer/package.json
  packages/remote-loader/package.json
  scripts/jest/env.js
  scripts/jest/setupTimezone.js
  scripts/jest/stripAnsiSerializer.js
  test/node-api/package.json
  yarn.lock
Labels: :package: cli, :package: loader

refactor: modernize format-po-gettext (#2428)
  .github/workflows/update-cldr-data.yml
  packages/format-po-gettext/gettext-plurals.json
  packages/format-po-gettext/package.json
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/format-po-gettext/src/plural-samples.ts
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/format-po-gettext/src/utils/checkCldr.test.ts
  packages/format-po-gettext/src/utils/mapGettextPlurals2Icu.test.ts
  packages/format-po-gettext/src/utils/mapGettextPlurals2Icu.ts
  packages/format-po-gettext/src/utils/parseExamples.test.ts
  packages/format-po-gettext/src/utils/parseExamples.ts
  packages/format-po-gettext/src/utils/parsePluralFormsHeader.test.ts
  packages/format-po-gettext/src/utils/parsePluralFormsHeader.ts
  packages/format-po-gettext/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: none

chore: update commander to version 14.0.2 (#2429)
  .gitignore
  .nvmrc
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore: change package type from module to commonjs for babel-plugin-lingui-macro, metro-transformer, and remote-loader
  packages/babel-plugin-lingui-macro/package.json
  packages/metro-transformer/package.json
  packages/remote-loader/package.json
Labels: none

chore: update package.json files to use exports field and remove outdated entries
  packages/babel-plugin-lingui-macro/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/message-utils/compileMessage.js
  packages/message-utils/generateMessageId.js
  packages/message-utils/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/test-utils/package.json
  packages/vite-plugin/package.json
Labels: :package: conf, :package: core, :package: loader, :package: react

chore: add moduleResolution option to tsconfig.json
  packages/conf/__typetests__/tsconfig.json
Labels: :package: conf

chore: remove tsconfig.json from type tests
  packages/conf/__typetests__/tsconfig.json
Labels: :package: conf

chore: delete exports types
  packages/cli/package.json
  packages/conf/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: loader, :package: react

Revert "chore: delete exports types"
  packages/cli/package.json
  packages/conf/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: loader, :package: react

chore: update package.json files to set declaration option to "node16" and simplify exports structure
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/build.config.ts
  packages/core/package.json
  packages/detect-locale/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/metro-transformer/package.json
  packages/react/package.json
  packages/remote-loader/package.json
  packages/vite-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: plugin-extract, :package: react

chore(vue-extractor): update imports and snapshots
  packages/extractor-vue/package.json
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/extractor-vue/src/fixtures/props-destructuring.vue
  packages/extractor-vue/src/vue-extractor.ts
  yarn.lock
Labels: none

fix verdacio script
  package.json
  scripts/verdaccio-release.ts
  yarn.lock
Labels: none

chore: remove CRA, write tests for vite-babel example
  .github/verdaccio/.yarnrc.yml
  .github/workflows/release-test.yml
  examples/create-react-app/.babelrc
  examples/create-react-app/.env
  examples/create-react-app/.gitignore
  examples/create-react-app/README.md
  examples/create-react-app/lingui.config.js
  examples/create-react-app/package.json
  examples/create-react-app/public/index.html
  examples/create-react-app/src/App.css
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/App.tsx
  examples/create-react-app/src/i18n.ts
  examples/create-react-app/src/index.css
  examples/create-react-app/src/index.tsx
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/en.po
  examples/create-react-app/src/logo.svg
  examples/create-react-app/src/react-app-env.d.ts
  examples/create-react-app/src/serviceWorker.ts
  examples/create-react-app/src/setupTests.ts
  examples/create-react-app/tsconfig.json
  examples/create-react-app/yarn.lock
  examples/vite-project-react-babel/lingui.config.ts
  examples/vite-project-react-babel/package.json
  examples/vite-project-react-babel/src/App.test.tsx
  examples/vite-project-react-babel/src/App.tsx
  examples/vite-project-react-babel/src/MsgExample.tsx
  examples/vite-project-react-babel/src/PluralExample.tsx
  examples/vite-project-react-babel/src/locales/en.po
  examples/vite-project-react-babel/src/locales/pl.po
  examples/vite-project-react-babel/src/main.tsx
  examples/vite-project-react-babel/tsconfig.json
  examples/vite-project-react-babel/tsconfig.node.json
  examples/vite-project-react-babel/vite.config.ts
  examples/vite-project-react-babel/yarn.lock
Labels: none
