Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(): unicode chars were removed from .po files when extracting
  packages/conf/index.d.ts
  packages/conf/src/index.ts
  packages/core/src/context.ts
  packages/core/src/i18n.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: conf, :package: core, :package: macro

fix(): sideEffects false for shrink bundle size a bit
  package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/react/package.json
  packages/remote-loader/package.json
Labels: :package: conf, :package: core, :package: react

fix(): sideEffects to false for shrinking bundle size (#1129)
  package.json
  packages/conf/package.json
  packages/core/package.json
  packages/detect-locale/package.json
  packages/react/package.json
  packages/remote-loader/package.json
Labels: :package: conf, :package: core, :package: react

fix(): unicode chars were removed from .po files when extracting (#1125)
  packages/conf/index.d.ts
  packages/conf/src/index.ts
  packages/core/src/context.ts
  packages/core/src/i18n.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: conf, :package: core, :package: macro

fix(): extractors CLI validation and accept require and require.resolve (#1126)
  packages/cli/src/api/extractors/index.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix(): keys with leading number was generating bad object keys (#1127)
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/cli/src/api/compile.test.ts
  packages/cli/src/api/compile.ts
Labels: :package: cli

fix(): fix testing suite #1098
  packages/conf/index.d.ts
  packages/conf/src/index.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.ts
Labels: :package: conf, :package: macro

Resolve Lint warnings, fix some weird non-breaking space
  packages/cli/src/services/translationIO.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

Fix relative path to get correct Lingui version
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

Replace `item.obsolete` with `item['obsolete']` to fix lint warning
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

Trigger error when Translation.io is configured with a format different than PO
  packages/cli/src/services/translationIO.ts
Labels: :package: cli

fix(): country-coded language breaks plurals with po-gettext
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages_plural-4-letter.po
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

feat: Cloud service providers & Translation.io (#1107)
  packages/cli/package.json
  packages/cli/src/lingui-extract.ts
  packages/cli/src/services/translationIO.ts
  packages/conf/index.d.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

fix(): country-coded language breaks plurals with po-gettext (#1131)
  packages/cli/src/api/formats/__snapshots__/po-gettext.test.ts.snap
  packages/cli/src/api/formats/fixtures/messages_plural-4-letter.po
  packages/cli/src/api/formats/po-gettext.test.ts
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

chore(release): published v3.11.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remote-loader/CHANGELOG.md
  packages/remote-loader/package.json
  packages/snowpack-plugin/CHANGELOG.md
  packages/snowpack-plugin/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore: added publish step to npm ci
  .github/workflows/publish-work.yml
  packages/remote-loader/package.json
  packages/snowpack-plugin/package.json
Labels: none

fix(): cli and conf needed hotfix for #1110
  examples/create-react-app/lingui.config.js
  examples/create-react-app/package.json
  examples/create-react-app/src/locales/cs/messages.js
  examples/create-react-app/src/locales/cs/messages.po
  examples/create-react-app/src/locales/en/messages.po
  examples/create-react-app/yarn.lock
  packages/cli/src/api/extractors/index.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.ts
Labels: :package: cli, :package: conf

chore(release): published v3.11.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Add missing babel properties to config validation
  packages/conf/src/index.ts
Labels: :package: conf

Add browserslistConfigFile & browserslistEnv
  packages/conf/src/index.ts
Labels: :package: conf

Docs: Fix some Sphinx warnings and fix one example MessageFormat comment (missing offset:1).
  docs/ref/conf.rst
  docs/ref/core.rst
  docs/ref/macro.rst
  docs/ref/snowpack-plugin.rst
  docs/releases/migration-3.rst
Labels: none

Create page on "Sync & Collaboration Tools" and translation process, and page on "Translation.io"
  docs/index.rst
  docs/tools/introduction.rst
  docs/tools/translation-io.rst
  docs/tools/translation-lingui-logo.png
  docs/tools/translation-lingui-plural-forms.png
  docs/tools/with-collaboration-tool.png
  docs/tools/without-collaboration-tool.png
Labels: none

feat(macro): Add support for passing custom i18n instance
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

docs: 2 new pages: "Sync & Collaboration Tools" and "Translation.io" (#1138)
  docs/index.rst
  docs/ref/conf.rst
  docs/ref/core.rst
  docs/ref/macro.rst
  docs/ref/snowpack-plugin.rst
  docs/releases/migration-3.rst
  docs/tools/introduction.rst
  docs/tools/translation-io.rst
  docs/tools/translation-lingui-logo.png
  docs/tools/translation-lingui-plural-forms.png
  docs/tools/with-collaboration-tool.png
  docs/tools/without-collaboration-tool.png
Labels: none

fix: Add missing babel properties to config validation (#1135)
  packages/conf/src/index.ts
Labels: :package: conf

feat(types): add examples and documentation to types
  packages/macro/global.d.ts
  packages/macro/index.d.ts
Labels: :package: macro

docs: document custom instance support
  docs/ref/macro.rst
Labels: none

feat(macro): Add support for passing custom i18n instance (#1139)
  docs/ref/macro.rst
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

fix(#1137): configPath is passed through babel-plugin-extract-messages
  packages/babel-plugin-extract-messages/src/index.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
Labels: :package: cli, :package: plugin-extract

fix(#1137): configPath is passed through babel-plugin-extract-messages (#1140)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
Labels: :package: cli, :package: plugin-extract

chore(release): published v3.12.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(types): correct types for macro with custom i18n instance
  packages/macro/global.d.ts
  packages/macro/index.d.ts
Labels: :package: macro

feat(macro): allow custom i18n instance with
  docs/ref/macro.rst
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

fix(types): correct types for macro with custom i18n instance (#1141)
  docs/ref/macro.rst
  packages/macro/global.d.ts
  packages/macro/index.d.ts
  packages/macro/src/macroJs.ts
  packages/macro/test/js-t.ts
Labels: :package: macro

chore(release): published v3.12.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix: correct types of macro with custom instance and fixed local typings
  packages/macro/global.d.ts
  packages/macro/test/types.ts
  packages/react/src/Trans.test.tsx
  tsconfig.json
Labels: :package: macro, :package: react

fix: stripping origin if line numbers already strippped
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

add same fix to pot format
  packages/cli/src/api/formats/po-gettext.ts
Labels: :package: cli

fix: stripping origin if line numbers already strippped (#1143)
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.test.ts
  packages/cli/src/api/formats/po.ts
Labels: :package: cli

chore: ignore global.d.ts
  packages/macro/global.d.ts
Labels: :package: macro

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
