Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

feat(vite-plugin): add support for vite@6 (#2108)
  packages/vite-plugin/package.json
  yarn.lock
Labels: none

chore: fix size testing failing
  package.json
Labels: none

ci: fix size testing failing (#2112)
  package.json
Labels: none

feat(react): add support for React 19
  packages/react/package.json
  yarn.lock
Labels: :package: react

feat(react): add support for React 19 (#2111)
  packages/react/package.json
  yarn.lock
Labels: :package: react

chore(release): published v5.1.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

build(deps): fix peerDependencies
  packages/core/package.json
  packages/macro/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: core, :package: macro, :package: react

build(deps): fix peerDependencies (#2115)
  packages/core/package.json
  packages/macro/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: core, :package: macro, :package: react

feat: support short/default/long/full date time formats
  jest.config.js
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.test.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/message-utils/build.config.ts
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/compileMessage.ts
  yarn.lock
Labels: :package: core

chore(release): published v5.1.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.1.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

chore(release): published v5.1.2 [skip ci] (#2125)
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/CHANGELOG.md
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/metro-transformer/CHANGELOG.md
  packages/metro-transformer/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

Allow empty translations for pseudo locale in
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

Remove object shorthand for consistency
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

feat: support short/default/long/full date time formats
  jest.config.js
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.test.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/message-utils/build.config.ts
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/compileMessage.ts
  yarn.lock
Labels: :package: core

feat: add meaningful error when locale is not set
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/vite-plugin/test/macro-usage/entrypoint.js
Labels: :package: core

fix: don't use anything from "@babel/types" in runtime
  packages/babel-plugin-extract-messages/src/index.ts
Labels: :package: plugin-extract

chore: update typescript
  package.json
  packages/cli/tsconfig.build.json
  packages/react/src/TransNoContext.tsx
  yarn.lock
Labels: :package: cli, :package: react

chore: update eslint
  .eslintignore
  .eslintrc
  eslint.config.mjs
  package.json
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/js-defineMessage.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/help.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/src/makeConfig.ts
  packages/core/__typetests__/index.test-d.tsx
  packages/core/src/essentials.ts
  packages/core/src/i18n.ts
  packages/detect-locale/src/detectors/fromSubdomain.ts
  packages/detect-locale/src/utils/cookie-getter.ts
  packages/format-po-gettext/src/plural-samples.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: react

examples: update for next 15
  examples/nextjs-swc/next.config.js
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/initLingui.tsx
  examples/nextjs-swc/src/pagesRouterI18n.ts
  examples/nextjs-swc/src/withLingui.tsx
  examples/nextjs-swc/yarn.lock
Labels: none

docs: update for next 15 (#2073)
  examples/nextjs-swc/next.config.js
  examples/nextjs-swc/next.config.ts
  examples/nextjs-swc/package.json
  examples/nextjs-swc/src/app/[lang]/app-router-demo/page.tsx
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/initLingui.tsx
  examples/nextjs-swc/src/pagesRouterI18n.ts
  examples/nextjs-swc/src/withLingui.tsx
  examples/nextjs-swc/yarn.lock
Labels: none

fix: Allow empty translations for pseudo locale in compile --strict (#2129)
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

feat: add meaningful error when locale is not set (#2131)
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/vite-plugin/test/macro-usage/entrypoint.js
Labels: :package: core

fix: don't use anything from "@babel/types" in runtime (#2132)
  packages/babel-plugin-extract-messages/src/index.ts
Labels: :package: plugin-extract

chore: update eslint
  .eslintignore
  .eslintrc
  eslint.config.mjs
  package.json
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/js-defineMessage.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/help.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/src/makeConfig.ts
  packages/core/__typetests__/index.test-d.tsx
  packages/core/src/essentials.ts
  packages/core/src/i18n.ts
  packages/detect-locale/src/detectors/fromSubdomain.ts
  packages/detect-locale/src/utils/cookie-getter.ts
  packages/format-po-gettext/src/plural-samples.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: react

feat: support short/default/long/full date time formats
  jest.config.js
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.test.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/message-utils/build.config.ts
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/compileMessage.ts
  yarn.lock
Labels: :package: core

chore: update ESLint (#2133)
  .eslintignore
  .eslintrc
  eslint.config.mjs
  package.json
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macro.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/js-defineMessage.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/macroTester.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/src/api/catalog/getTranslationsForCatalog.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/help.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/src/makeConfig.ts
  packages/core/__typetests__/index.test-d.tsx
  packages/core/src/essentials.ts
  packages/core/src/i18n.ts
  packages/detect-locale/src/detectors/fromSubdomain.ts
  packages/detect-locale/src/utils/cookie-getter.ts
  packages/format-po-gettext/src/plural-samples.ts
  packages/format-po-gettext/src/po-gettext.ts
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: react

wip
  package.json
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
  packages/cli/src/api/__snapshots__/compile.test.ts.snap
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/format-json/package.json
  packages/format-po-gettext/src/plural-samples.test.ts
  packages/vite-plugin/test/__snapshots__/index.test.ts.snap
  vitest.workspace.ts
  yarn.lock
Labels: :package: cli, :package: conf

chore: update typescript
  package.json
  packages/cli/tsconfig.build.json
  packages/react/src/TransNoContext.tsx
  yarn.lock
Labels: :package: cli, :package: react

wip
  packages/core/src/i18n.test.ts
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/loader/package.json
  packages/loader/test/__snapshots__/loader.test.ts.snap
  packages/loader/test/loader.js
  packages/loader/test/loader.test.ts
  packages/loader/vitest.config.mts
  packages/message-utils/src/compileMessage.test.ts
  packages/remote-loader/test/index.test.ts
  yarn.lock
Labels: :package: core, :package: loader

chore: update typescript (#2134)
  package.json
  packages/cli/tsconfig.build.json
  packages/react/src/TransNoContext.tsx
  yarn.lock
Labels: :package: cli, :package: react

feat: add ph() and explicit labels for placeholders
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/core/macro/index.d.ts
  packages/react/macro/__typetests__/index.test-d.tsx
  packages/react/macro/index.d.ts
Labels: :package: core, :package: react

support `as` TS expression
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
Labels: none

support labeled expressions in macro methods arguments
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-defineMessage.test.ts
  packages/babel-plugin-lingui-macro/test/js-plural.test.ts
  packages/babel-plugin-lingui-macro/test/js-select.test.ts
  packages/babel-plugin-lingui-macro/test/js-selectOrdinal.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-select.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-selectOrdinal.test.ts
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/core/macro/index.d.ts
Labels: :package: core

support labeled expressions in macro methods arguments
  packages/react/macro/__typetests__/index.test-d.tsx
  packages/react/macro/index.d.ts
Labels: :package: react

Fix a mistake in the stripMessageField instructions on v5 launch post
  website/blog/2024-11-28-announcing-lingui-5.0/index.md
Labels: none

feat: add ph() and explicit labels for placeholders (#2092)
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-t.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-plural.test.ts.snap
  packages/babel-plugin-lingui-macro/test/__snapshots__/jsx-trans.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-defineMessage.test.ts
  packages/babel-plugin-lingui-macro/test/js-plural.test.ts
  packages/babel-plugin-lingui-macro/test/js-select.test.ts
  packages/babel-plugin-lingui-macro/test/js-selectOrdinal.test.ts
  packages/babel-plugin-lingui-macro/test/js-t.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-plural.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-select.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-selectOrdinal.test.ts
  packages/babel-plugin-lingui-macro/test/jsx-trans.test.ts
  packages/core/macro/__typetests__/index.test-d.tsx
  packages/core/macro/index.d.ts
  packages/react/macro/__typetests__/index.test-d.tsx
  packages/react/macro/index.d.ts
Labels: :package: core, :package: react

feat: support short/default/long/full date time formats (#2117)
  jest.config.js
  packages/core/src/formats.test.ts
  packages/core/src/formats.ts
  packages/core/src/i18n.test.ts
  packages/core/src/interpolate.test.ts
  packages/core/src/interpolate.ts
  packages/message-utils/build.config.ts
  packages/message-utils/package.json
  packages/message-utils/src/compileMessage.test.ts
  packages/message-utils/src/compileMessage.ts
  yarn.lock
Labels: :package: core

chore: fix prettier warnings
  packages/cli/src/lingui-compile.ts
  packages/cli/src/test/compile.test.ts
Labels: :package: cli

fix lint command
  package.json
Labels: none

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*
