Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

docs: add Documenso user to the main page (#1995)
  website/src/components/Users.tsx
  website/static/img/users/documenso.png
Labels: none

fix for windows
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
Labels: :package: cli

fix windows issues
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/src/extract-experimental/resolveTemplatePath.test.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

windows wip
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/test/index.test.ts
Labels: :package: cli

fix(cli): add pnpm detection to command suggestions (#1989)
  packages/cli/src/api/help.ts
Labels: :package: cli

docs: Update extractor-vue.md (#1991)
  website/docs/ref/extractor-vue.md
Labels: none

chore(release): published v4.11.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

windows wip
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/lingui-extract-experimental.ts
Labels: :package: cli

lingui loader and vite plugin windows tests
  packages/loader/test/loader.test.ts
  packages/vite-plugin/test/index.ts
Labels: :package: loader

chore: update glob to v11 (#1994)
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/extract-experimental/getEntryPoints.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/test/index.test.ts
  yarn.lock
Labels: :package: cli

docs: minor tweaks and improvements
  website/docs/ref/cli.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-rsc.md
  website/src/components/Header.tsx
Labels: none

docs: minor tweaks and improvements (#1997)
  website/docs/ref/cli.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-rsc.md
  website/src/components/Header.tsx
Labels: none

fix: escape nested brackets
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

chore: prettier format
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

fix: windows incompatibilities
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/src/extract-experimental/resolveTemplatePath.test.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
  packages/loader/test/loader.test.ts
  packages/vite-plugin/test/index.ts
Labels: :package: cli, :package: loader

Apply suggestions from code review
  website/docs/ref/macro.mdx
  website/docs/releases/migration-5.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/setup-react.mdx
Labels: none

prettier
  website/docs/tutorials/setup-react.mdx
Labels: none

doc fix
  website/docs/tutorials/setup-vite.md
Labels: none

docs: add SWC compatibility note for Vite guide
  website/docs/tutorials/setup-vite.md
Labels: none

docs: add SWC compatibility note for Vite guide (#2002)
  website/docs/tutorials/setup-vite.md
Labels: none

fix: escape nested brackets (#2001)
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
Labels: :package: cli

fix: windows incompatibilities (#1996)
  packages/cli/src/api/catalog/getCatalogDependentFiles.test.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/extract-experimental/bundleSource.ts
  packages/cli/src/extract-experimental/resolveTemplatePath.test.ts
  packages/cli/src/lingui-compile.ts
  packages/cli/src/lingui-extract-experimental.ts
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/test/index.test.ts
  packages/loader/test/loader.test.ts
  packages/vite-plugin/test/index.ts
Labels: :package: cli, :package: loader

add custom prefix support
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

add tests
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

substr is deprecated
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

run prettier
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

update readme
  packages/format-po-gettext/README.md
Labels: none

use cldr plurals
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

adds tests
  packages/format-po-gettext/src/__snapshots__/po-gettext.test.ts.snap
  packages/format-po-gettext/src/po-gettext.test.ts
Labels: none

feat: allow to use useLingui with only i18n
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/test/__snapshots__/js-useLingui.test.ts.snap
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
Labels: none

fix number formatting
  website/docs/ref/catalog-formats.md
Labels: none

add docs
  packages/format-po-gettext/README.md
  website/docs/ref/catalog-formats.md
Labels: none

feat(format-po-gettext): respect Plural-Forms header
  packages/format-po-gettext/src/cldr-samples.json
  packages/format-po-gettext/src/po-gettext.test.ts
  packages/format-po-gettext/src/po-gettext.ts
Labels: none

docs: update for v5 (#1992)
  website/.remarkrc.mjs
  website/docs/guides/typescript.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/releases/migration-5.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.mdx
  website/docs/tutorials/setup-vite.md
Labels: none

Extra details about i18next + better lingui examples
  website/docs/misc/i18next.md
Labels: none

return a single node when applicable
  packages/react/src/format.ts
Labels: :package: react

add test
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

fix prettier
  packages/react/src/Trans.test.tsx
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

fix: run type tests in test:all
  package.json
Labels: none

remove `assert`
  packages/react/src/format.test.tsx
Labels: :package: react
