Repository lingui/js-lingui, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

.github/labeler.yml:

":package: cli": packages/cli/**/*
":package: conf": packages/conf/**/*
":package: core": packages/core/**/*
":package: loader": packages/loader/**/*
":package: macro": packages/macro/**/*
":package: plugin-extract": packages/babel-plugin-extract-messages/**/*
":package: react": packages/react/**/*

remove runtime vt function
  packages/vue/src/components/vt.ts
Labels: none

add vue-vite-plugin
  packages/vue/package.json
  packages/vue/src/compiler/index.ts
  packages/vue/src/compiler/transformTrans.ts
  packages/vue/src/compiler/transformVt.ts
  packages/vue/src/compiler/transformer.ts
  packages/vue/src/plugins/lingui.ts
  packages/vue/src/vite-plugin/core-macros-plugin.ts
  packages/vue/src/vite-plugin/index.ts
  yarn.lock
Labels: none

feat: collect and print placeholders in Po files for better translation context (#1965)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/js-message-descriptor.js
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-po-format/fixtures/placeholders.ts
  packages/cli/test/index.test.ts
  packages/conf/src/types.ts
  packages/extractor-vue/src/__snapshots__/extractor.test.ts.snap
  packages/format-po/README.md
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/__snapshots__/utils.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
  packages/format-po/src/utils.test.ts
  packages/format-po/src/utils.ts
Labels: :package: cli, :package: conf, :package: plugin-extract

chore(release): published v4.11.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/babel-plugin-extract-messages/CHANGELOG.md
  packages/babel-plugin-extract-messages/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/conf/CHANGELOG.md
  packages/conf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/detect-locale/CHANGELOG.md
  packages/detect-locale/package.json
  packages/extractor-vue/CHANGELOG.md
  packages/extractor-vue/package.json
  packages/format-csv/CHANGELOG.md
  packages/format-csv/package.json
  packages/format-json/CHANGELOG.md
  packages/format-json/package.json
  packages/format-po-gettext/CHANGELOG.md
  packages/format-po-gettext/package.json
  packages/format-po/CHANGELOG.md
  packages/format-po/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/macro/CHANGELOG.md
  packages/macro/package.json
  packages/message-utils/CHANGELOG.md
  packages/message-utils/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

docs: initial draft of the Lingui v5 migration guide
  website/docs/releases/migration-5.md
  website/sidebars.ts
Labels: none

fix: fixes after merging main into next
  packages/cli/package.json
  packages/macro/package.json
  yarn.lock
Labels: :package: cli, :package: macro

fix: fixes after mergin main into next (2)
  examples/create-react-app/package.json
  examples/create-react-app/yarn.lock
  packages/babel-plugin-lingui-macro/package.json
  yarn.lock
Labels: none

docs: initial draft of the Lingui v5 migration guide (#1968)
  website/docs/releases/migration-5.md
  website/sidebars.ts
Labels: none

chore(release): published v5.0.0-next.0
  lerna.json
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-lingui-macro/package.json
  packages/cli/package.json
  packages/conf/package.json
  packages/core/package.json
  packages/extractor-vue/package.json
  packages/format-csv/package.json
  packages/format-json/package.json
  packages/format-po-gettext/package.json
  packages/format-po/package.json
  packages/loader/package.json
  packages/macro/package.json
  packages/message-utils/package.json
  packages/react/package.json
  packages/vite-plugin/package.json
  yarn.lock
Labels: :package: cli, :package: conf, :package: core, :package: loader, :package: macro, :package: plugin-extract, :package: react

fix(experimental-extractor): change default loader to tsx
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  packages/cli/test/extractor-experimental/fixtures/pages/index.page.ts
Labels: :package: cli

fix(experimental-extractor): change default loader to tsx (#1971)
  packages/cli/src/extract-experimental/linguiEsbuildPlugin.ts
  packages/cli/test/extractor-experimental/fixtures/pages/index.page.ts
Labels: :package: cli

refactor(macro) split and expose internals to be used in Vue macro
  packages/babel-plugin-lingui-macro/package.json
  packages/babel-plugin-lingui-macro/src/ast.ts
  packages/babel-plugin-lingui-macro/src/constants.ts
  packages/babel-plugin-lingui-macro/src/icu.test.ts
  packages/babel-plugin-lingui-macro/src/icu.ts
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsAst.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/messageDescriptorUtils.ts
  packages/babel-plugin-lingui-macro/test/js-useLingui.test.ts
Labels: none

fix: remove default export
  packages/vue/src/vite-plugin/index.ts
Labels: none

fix: transformer signature has changed
  packages/vue/src/compiler/transformer.ts
  packages/vue/src/extractor/extractor.ts
  packages/vue/src/test/utils.ts
Labels: none

chore(cli): updgrade cli-table version to licensed version
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore(cli): updgrade cli-table version to licensed version (#1977)
  packages/cli/package.json
  yarn.lock
Labels: :package: cli

chore: split multi line comments
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-po-format/fixtures/file-b.tsx
  packages/cli/test/index.test.ts
Labels: :package: cli

chore: trim comment slice before filter
  packages/cli/src/api/catalog/extractFromFiles.ts
Labels: :package: cli

feat(react): preserve newlines during string formatting
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: :package: react

fix(extract): escape special regex characters used in file-based routing systems when files are passed in options
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/collect/$componentE/index.js
  packages/cli/src/api/fixtures/collect/(componentC)/index.js
  packages/cli/src/api/fixtures/collect/[componentD]/index.js
  packages/cli/src/api/utils.test.ts
  packages/cli/src/api/utils.ts
Labels: :package: cli

fix(extract): escape special regex characters used in file-based routing systems when files are passed in options (#1984)
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/fixtures/collect/$componentE/index.js
  packages/cli/src/api/fixtures/collect/(componentC)/index.js
  packages/cli/src/api/fixtures/collect/[componentD]/index.js
  packages/cli/src/api/utils.test.ts
  packages/cli/src/api/utils.ts
Labels: :package: cli

chore: introduce getI18nInstance to nextjs example
  examples/nextjs-swc/src/app/[lang]/layout.tsx
  examples/nextjs-swc/src/appRouterI18n.ts
  examples/nextjs-swc/src/withLingui.tsx
Labels: none

Revert "chore: trim comment slice before filter"
  packages/cli/src/api/catalog/extractFromFiles.ts
Labels: :package: cli

Revert "chore: split multi line comments"
  packages/cli/src/api/catalog/extractFromFiles.ts
  packages/cli/test/extract-po-format/expected/en.po
  packages/cli/test/extract-po-format/expected/pl.po
  packages/cli/test/extract-po-format/fixtures/file-b.tsx
  packages/cli/test/index.test.ts
Labels: :package: cli

chore(format-po): split multi line comments
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: none

fix(cli): add pnpm detection to command suggestions
  packages/cli/src/api/help.ts
Labels: :package: cli

fix(extractor): fix warning when `key` used on macros
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

Update extractor-vue.md
  website/docs/ref/extractor-vue.md
Labels: none

chore(format-po): split multi line comments (#1980)
  packages/format-po/src/__snapshots__/po.test.ts.snap
  packages/format-po/src/po.test.ts
  packages/format-po/src/po.ts
Labels: none

fix(extractor): fix warning when `key` used on macros (#1990)
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/index.ts
Labels: :package: plugin-extract

fix(cli): run prettier
  packages/cli/src/api/help.ts
Labels: :package: cli

chore: fix linting errors
  website/docs/ref/extractor-vue.md
Labels: none

docs: update for v5
  website/docs/guides/typescript.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/releases/migration-5.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react-rsc.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-react.mdx
  website/docs/tutorials/setup-vite.md
Labels: none

docs: disable remark-lint-code-block-style because it's gives false-positive
  website/.remarkrc.mjs
Labels: none

prettier
  website/docs/ref/macro.mdx
  website/docs/tutorials/setup-react.mdx
Labels: none

chore: fix linting errors
  website/docs/ref/extractor-vue.md
Labels: none

chore: update glob to v11
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/catalog/getCatalogs.test.ts
  packages/cli/src/api/catalog/getCatalogs.ts
  packages/cli/src/extract-experimental/getEntryPoints.ts
  packages/cli/src/services/translationIO.ts
  packages/cli/test/index.test.ts
  yarn.lock
Labels: :package: cli

bring backslashes to unix type
  packages/cli/src/api/catalog.test.ts
Labels: :package: cli

bring backslashes to unix type
  packages/cli/src/api/utils.ts
Labels: :package: cli

docs: add Documenso user to the main page
  website/src/components/Users.tsx
  website/static/img/users/documenso.png
Labels: none
