Repository lingui/js-lingui, pull requests merged in 2018-06, with the labels that each got.

#230 Order extracted messages alphabetically by message ID
  packages/cli/src/api/__snapshots__/extract.test.js.snap
  packages/cli/src/api/extract.js
  packages/cli/src/api/extract.test.js
  packages/cli/src/lingui-extract.js
Labels: new feature, package: lingui-cli

#228 Typescript extractor
  .all-contributorsrc
  README.md
  docs/guides/typescript.rst
  packages/cli/package.json
  packages/cli/src/api/extractors/typescript.js
  packages/cli/src/lingui-compile.js
  packages/cli/test/fixtures/typescript/core.ts
  packages/cli/test/fixtures/typescript/react.tsx
  packages/cli/test/index.js
  packages/typescript-extract-messages/index.js
  packages/typescript-extract-messages/package.json
  packages/typescript-extract-messages/src/index.js
  packages/typescript-extract-messages/test/__snapshots__/index.js.snap
  packages/typescript-extract-messages/test/fixtures/empty.js
  packages/typescript-extract-messages/test/fixtures/js/all.js
  packages/typescript-extract-messages/test/fixtures/js/integration.js
  packages/typescript-extract-messages/test/fixtures/jsx/all.js
  packages/typescript-extract-messages/test/fixtures/jsx/deep/all.js
  packages/typescript-extract-messages/test/fixtures/jsx/duplicate-id-valid.js
  packages/typescript-extract-messages/test/fixtures/jsx/duplicate-id.js
  packages/typescript-extract-messages/test/fixtures/jsx/integration-with-aliases.js
  packages/typescript-extract-messages/test/fixtures/jsx/integration.js
  packages/typescript-extract-messages/test/fixtures/jsx/with-react.js
  packages/typescript-extract-messages/test/fixtures/jsx/without-lingui.js
  packages/typescript-extract-messages/test/fixtures/noop/actual.js
  packages/typescript-extract-messages/test/fixtures/noop/expected.js
  packages/typescript-extract-messages/test/index.js
  scripts/build/results.json
  yarn.lock
Labels: env: typescript, package: lingui-cli

#235 Remove obsolete files when extracting messages
  packages/babel-plugin-extract-messages/src/index.js
  packages/cli/src/api/formats/utils/locales.js
Labels: bug, package: plugin-extract
