Repository lingui/js-lingui, pull requests merged in 2018-07, with the labels that each got.

#243 React native docs
  .all-contributorsrc
  CONTRIBUTING.md
  README.md
  docs/index.rst
  docs/tutorials/javascript.rst
  docs/tutorials/react-native.rst
  docs/tutorials/react.rst
  docs/tutorials/rn-component-nesting.png
Labels: documentation

#248 Support both babel 6.x and 7.x
  README.md
  docs/tutorials/cli.rst
  docs/tutorials/react.rst
  examples/webpack-react-babel-7/.babelrc
  examples/webpack-react-babel-7/.gitignore
  examples/webpack-react-babel-7/locale/cs/messages.json
  examples/webpack-react-babel-7/locale/en/messages.json
  examples/webpack-react-babel-7/locale/fr/messages.json
  examples/webpack-react-babel-7/package.json
  examples/webpack-react-babel-7/public/index.html
  examples/webpack-react-babel-7/src/App.js
  examples/webpack-react-babel-7/src/Usecases/Children.js
  examples/webpack-react-babel-7/src/Usecases/Children.test.js
  examples/webpack-react-babel-7/src/Usecases/ElementAttributes.js
  examples/webpack-react-babel-7/src/Usecases/ElementAttributes.test.js
  examples/webpack-react-babel-7/src/Usecases/Formats.js
  examples/webpack-react-babel-7/src/Usecases/Formats.test.js
  examples/webpack-react-babel-7/src/Usecases/NeverUpdate.js
  examples/webpack-react-babel-7/src/Usecases/NeverUpdate.test.js
  examples/webpack-react-babel-7/src/Usecases/PureComponent.js
  examples/webpack-react-babel-7/src/Usecases/PureComponent.test.js
  examples/webpack-react-babel-7/src/Usecases/__snapshots__/Children.test.js.snap
  examples/webpack-react-babel-7/src/Usecases/__snapshots__/Formats.test.js.snap
  examples/webpack-react-babel-7/src/index.js
  examples/webpack-react-babel-7/webpack.config.js
  examples/webpack-react-babel-7/yarn.lock
  packages/cli/package.json
  scripts/jest/config.integration.js
Labels: env: babel 7, package: cli

#249 Add support for locales (aka culture)
  .gitignore
  appveyor.yml
  circle.yml
  examples/webpack-react/src/Usecases/__snapshots__/Children.test.js.snap
  examples/webpack-react/src/Usecases/__snapshots__/Formats.test.js.snap
  package.json
  packages/core/src/context.js
  packages/core/src/dev/compile.test.js
  packages/core/src/formats.js
  packages/core/src/i18n.js
  packages/core/src/i18n.test.js
  packages/core/src/index.js
  packages/core/src/select.js
  packages/core/src/select.test.js
  packages/react/src/DateFormat.test.js
  packages/react/src/I18nProvider.js
  packages/react/src/I18nProvider.test.js
  packages/react/src/Select.js
  packages/react/src/Select.test.js
  packages/react/src/createFormat.js
  scripts/build/results.json
  yarn.lock
Labels: new feature, package: core, package: react
