Repository lingui/js-lingui, pull requests merged in 2019-06, with the labels that each got.

#513 Refactor active/load events
  .circleci/config.yml
  Pipfile
  docs/ref/core.rst
  docs/releases/migration-3.rst
  examples/react/lingui.config.js
  examples/react/src/App.js
  examples/react/src/helpers/Navigation.js
  examples/react/src/i18n.config.js
  examples/react/src/locales/cs.po
  examples/react/src/locales/en.po
  now-deploy-docs.sh
  now.json
  package.json
  packages/core/src/eventEmitter.test.ts
  packages/core/src/eventEmitter.ts
  packages/core/src/i18n.test.ts
  packages/core/src/i18n.ts
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
  scripts/jest/config.unit.js
  yarn.lock
Labels: ⚠️breaking change, 💡new feature, 📦 core

#518 Fix typo in dev/compile.js
  packages/core/src/dev/compile.js
Labels: 📖 documentation

#520 test: Add tests to check for escape apostrophes
  packages/cli/src/api/compile.test.ts
  packages/core/src/i18n.test.ts
Labels: 📦 core

#516 (docs:misc/tooling) Added storybook-addon within docs/misc/tooling.rst
  docs/misc/tooling.rst
Labels: 📖 documentation
