Repository lingui/js-lingui, pull requests merged in 2020-10, with the labels that each got.

#750 Update showroom.rst
  docs/misc/showroom.rst
Labels: hacktoberfest, 📖 documentation

#749 Update migration-3.rst - `setupI18n` is not exported by @lingui/react anymore
  docs/releases/migration-3.rst
Labels: hacktoberfest, triage: accepted, 📖 documentation

#675 Fail gracefully for wrong use of elements in translation
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: hacktoberfest, triage: accepted, 💡new feature, 📦 react

#654 Improve React related docs
  docs/tutorials/react.rst
  docs/tutorials/setup-cra.rst
Labels: hacktoberfest, help wanted, 📖 documentation

#756 feat: introduced withI18n
  docs/releases/migration-3.rst
  packages/react/src/I18nProvider.test.tsx
  packages/react/src/I18nProvider.tsx
Labels: hacktoberfest, triage: accepted, 📦 react

#754 568 merge catalogs
  docs/tutorials/cli.rst
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-compile.ts
  packages/conf/index.d.ts
  packages/conf/src/index.ts
Labels: hacktoberfest, 💡new feature, 📦 cli

#762 fix: fix children with same key, uniqueId
  packages/react/src/format.test.tsx
  packages/react/src/format.ts
Labels: hacktoberfest, 🐞bug, 📦 react

#767 [766] compile should return true correctly if everything was fine
  packages/cli/src/lingui-compile.ts
Labels: hacktoberfest, 🐞bug, 📦 cli

#771 Allow number properties in plurals macro
  packages/macro/index.d.ts
Labels: hacktoberfest, 🐞bug, 📦 macro

#772 Make clear that v3 migration pre-release
  docs/releases/migration-3.rst
Labels: hacktoberfest, 📖 documentation

#773 fix: required options to date, number macro
  packages/core/src/i18n.ts
Labels: hacktoberfest, 🐞bug, 📦 core

#769 docs: refactored docs to match latest spec
  docs/guides/dynamic-loading-catalogs.rst
  docs/guides/excluding-build-files.rst
  docs/guides/monorepo.rst
  docs/guides/typescript.rst
  docs/index.rst
  docs/ref/core.rst
  docs/ref/loader.rst
  docs/ref/macro.rst
  docs/ref/react.rst
  docs/releases/migration-3.rst
  docs/tutorials/react-native.rst
  docs/tutorials/react.rst
  docs/tutorials/setup-cra.rst
  examples/create-react-app/.env
  examples/create-react-app/README.md
  examples/create-react-app/lingui.config.js
  examples/create-react-app/package.json
  examples/create-react-app/public/favicon.ico
  examples/create-react-app/public/index.html
  examples/create-react-app/public/manifest.json
  examples/create-react-app/src/App.css
  examples/create-react-app/src/App.js
  examples/create-react-app/src/App.test.js
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/App.tsx
  examples/create-react-app/src/LocaleSwitcher.css
  examples/create-react-app/src/LocaleSwitcher.js
  examples/create-react-app/src/i18n.config.js
  examples/create-react-app/src/i18n.ts
  examples/create-react-app/src/index.css
  examples/create-react-app/src/index.js
  examples/create-react-app/src/index.tsx
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/cs/messages.js
  examples/create-react-app/src/locales/cs/messages.po
  examples/create-react-app/src/locales/en.po
  examples/create-react-app/src/locales/en/messages.js
  examples/create-react-app/src/locales/en/messages.po
  examples/create-react-app/src/react-app-env.d.ts
  examples/create-react-app/src/serviceWorker.ts
  examples/create-react-app/src/setupTests.ts
  examples/create-react-app/tsconfig.json
  examples/create-react-app/yarn.lock
Labels: hacktoberfest, 📖 documentation

#778 Update macro reference to latest version
  docs/ref/conf.rst
  docs/ref/macro.rst
Labels: 📖 documentation

#779 fix: refactored stats logs
  packages/cli/src/api/__snapshots__/stats.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/stats.test.ts
  packages/cli/src/api/stats.ts
  packages/cli/src/lingui-extract.ts
  packages/conf/index.d.ts
  packages/jest-mocks/index.ts
Labels: hacktoberfest, 💡new feature

#781 add testing-information with react testing library
  docs/guides/testing.rst
Labels: hacktoberfest, 📖 documentation

#782 Fix syntax error on testing guide
  docs/guides/testing.rst
Labels: hacktoberfest, 📖 documentation

#784 feat: introduced some initial client detectors
  docs/index.rst
  docs/ref/locale-detector.rst
  packages/detect-locale/index.js
  packages/detect-locale/package.json
  packages/detect-locale/src/detectors/__snapshots__/fromUrl.test.ts.snap
  packages/detect-locale/src/detectors/fromCookie.test.ts
  packages/detect-locale/src/detectors/fromCookie.ts
  packages/detect-locale/src/detectors/fromHtmlTag.test.ts
  packages/detect-locale/src/detectors/fromHtmlTag.ts
  packages/detect-locale/src/detectors/fromNavigator.test.ts
  packages/detect-locale/src/detectors/fromNavigator.ts
  packages/detect-locale/src/detectors/fromPath.test.ts
  packages/detect-locale/src/detectors/fromPath.ts
  packages/detect-locale/src/detectors/fromStorage.test.ts
  packages/detect-locale/src/detectors/fromStorage.ts
  packages/detect-locale/src/detectors/fromSubdomain.test.ts
  packages/detect-locale/src/detectors/fromSubdomain.ts
  packages/detect-locale/src/detectors/fromUrl.test.ts
  packages/detect-locale/src/detectors/fromUrl.ts
  packages/detect-locale/src/index.test.ts
  packages/detect-locale/src/index.ts
  packages/detect-locale/src/utils/cookie-getter.test.ts
  packages/detect-locale/src/utils/cookie-getter.ts
  packages/detect-locale/src/utils/globalThis.polyfill.js
  packages/detect-locale/src/utils/query-string.test.ts
  packages/detect-locale/src/utils/query-string.ts
  scripts/build/bundles.js
Labels: hacktoberfest, 💡new feature
