Repository lingui/js-lingui, pull requests merged in 2023-02, with the labels that each got.

#1358 refactor(extractor)!: don't use intermediate catalogs
  packages/babel-plugin-extract-messages/package.json
  packages/babel-plugin-extract-messages/src/index.ts
  packages/babel-plugin-extract-messages/test/__snapshots__/index.ts.snap
  packages/babel-plugin-extract-messages/test/fixtures/deep/all.js
  packages/babel-plugin-extract-messages/test/fixtures/duplicate-id-valid.js
  packages/babel-plugin-extract-messages/test/fixtures/duplicate-id.js
  packages/babel-plugin-extract-messages/test/fixtures/empty.js
  packages/babel-plugin-extract-messages/test/fixtures/js-call-expression.js
  packages/babel-plugin-extract-messages/test/fixtures/js-message-descriptor.js
  packages/babel-plugin-extract-messages/test/fixtures/jsx-without-macros.js
  packages/babel-plugin-extract-messages/test/index.ts
  packages/babel-plugin-extract-messages/tsconfig.json
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/__snapshots__/extract.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/extract.test.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/api/fixtures/collect/componentA/componentA.js
  packages/cli/src/api/fixtures/duplicate-id.js
  packages/cli/src/api/formats/csv.ts
  packages/cli/src/api/formats/index.ts
  packages/cli/src/api/formats/lingui.ts
  packages/cli/src/api/formats/minimal.ts
  packages/cli/src/api/formats/po-gettext.ts
  packages/cli/src/api/formats/po.ts
  packages/cli/src/api/utils.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/tsconfig.json
  packages/conf/index.d.ts
  packages/conf/src/index.ts
  tsconfig.json
Labels: ⚠️ breaking change, v4

#1424 docs: update bundle size info
  README.md
  website/docs/introduction.md
Labels: 📖 documentation

#1425 docs(): fix misusage in docs
  website/docs/guides/optimized-components.md
Labels: 📖 documentation

#1367 refactor(extractor/babel)!: sealed, non-fragile babel extractor options
  examples/js/package.json
  package.json
  packages/babel-plugin-extract-messages/test/index.ts
  packages/cli/package.json
  packages/cli/src/api/__snapshots__/catalog.test.ts.snap
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/api/detect.test.ts
  packages/cli/src/api/detect.ts
  packages/cli/src/api/extractors/babel.ts
  packages/cli/src/api/extractors/index.ts
  packages/cli/src/api/extractors/typescript.ts
  packages/cli/src/api/fixtures/collect-syntax-flow/flow-syntax.js
  packages/cli/src/api/fixtures/collect-syntax-flow/lingui.config.js
  packages/cli/src/api/fixtures/collect-syntax-flow/ts-syntax.ts
  packages/cli/src/api/fixtures/collect-typescript-jsx/jsx-syntax.jsx
  packages/cli/src/api/fixtures/collect-typescript-jsx/lingui.config.js
  packages/cli/src/api/fixtures/collect-typescript-jsx/macro.tsx
  packages/cli/src/api/fixtures/collect-typescript-jsx/tsx-syntax.tsx
  packages/cli/src/lingui-extract-template.ts
  packages/cli/src/lingui-extract.ts
  packages/cli/src/tests.ts
  packages/conf/src/__snapshots__/index.test.ts.snap
  packages/conf/src/index.test.ts
  packages/conf/src/makeConfig.ts
  packages/conf/src/types.ts
  packages/macro/src/index.ts
  packages/macro/src/macroJs.test.ts
  packages/macro/src/macroJs.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/index.ts
  packages/macro/test/js-t.ts
  packages/macro/test/jsx-trans.ts
  tsconfig.json
  website/docs/guides/custom-extractor.md
  website/docs/guides/flow.md
  website/docs/guides/monorepo.md
  website/docs/guides/typescript.md
  website/docs/ref/conf.md
  website/docs/releases/migration-4.md
  website/sidebars.ts
  yarn.lock
Labels: ⚠️ breaking change, v4

#1436 feat(macro): support JSX macro inside conditional expressions
  packages/macro/src/index.ts
  packages/macro/src/macroJsx.test.ts
  packages/macro/src/macroJsx.ts
  packages/macro/test/jsx-trans.ts
  packages/macro/tsconfig.json
Labels: v4
