Repository lingui/js-lingui, pull requests merged in 2024-03, with the labels that each got.

#1870 docs: various changes
  README.md
  packages/extractor-vue/README.md
  vercel.json
  website/docs/guides/message-extraction.md
  website/docs/guides/message-format.md
  website/docs/guides/plurals.md
  website/docs/misc/react-intl.md
  website/docs/ref/catalog-formats.md
  website/docs/ref/conf.md
  website/docs/ref/extractor-vue.md
  website/docs/ref/macro.mdx
  website/docs/ref/react.md
  website/docs/ref/swc-plugin.md
  website/docs/ref/vite-plugin.md
  website/docs/releases/migration-3.md
  website/docs/tools/translation-io.md
  website/docs/tutorials/explicit-vs-generated-ids.md
  website/docs/tutorials/javascript.md
  website/docs/tutorials/react-native.md
  website/docs/tutorials/react-patterns.md
  website/docs/tutorials/react.md
  website/docs/tutorials/setup-cra.md
  website/docs/tutorials/setup-react.md
  website/docs/tutorials/setup-react.mdx
  website/docs/tutorials/setup-vite.md
  website/sidebars.ts
Labels: 📖 documentation

#1858 feat(cli): support multiple locales in extract command
  packages/cli/src/api/catalog.test.ts
  packages/cli/src/api/catalog.ts
  packages/cli/src/lingui-extract.ts
  website/docs/ref/cli.md
Labels: 📦 cli

#1881 docs: add `catalogsMergePath` in Lingui Configuration
  website/docs/ref/conf.md
Labels: 📖 documentation

#1882 refactor(macro): robust whitespace handling according to jsx spec
  examples/create-react-app/src/App.test.tsx
  examples/create-react-app/src/locales/cs.po
  examples/create-react-app/src/locales/en.po
  packages/babel-plugin-lingui-macro/src/index.ts
  packages/babel-plugin-lingui-macro/src/macroJs.test.ts
  packages/babel-plugin-lingui-macro/src/macroJs.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.test.ts
  packages/babel-plugin-lingui-macro/src/macroJsx.ts
  packages/babel-plugin-lingui-macro/src/utils/cleanJSXElementLiteralChild.ts
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.expected.js
  packages/babel-plugin-lingui-macro/test/fixtures/jsx-keep-forced-newlines.js
  packages/babel-plugin-lingui-macro/test/jsx-trans.ts
Labels: ⚠️ breaking change
